---
layout: monument.ejs
name: Curumim
categoria: escultura
tags: []

data_inaug: 1979-03-23
data_circa: true
altura: 1.95
largura: 
peso: 
material: [
	Bronze
]

autores: [
	Pedro Correia de Araújo
]

local: 
bairro: Lagoa
lat: -22.9637
lon: -43.2099

imrj: 475
wikidata: Q67203984
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Tânia Rêgo (28 de fevereiro de 2023),
			via <a href="https://agenciabrasil.ebc.com.br/foto/2023-02/estatua-do-curumim-na-lagoa-rodrigo-de-freitas-1677607800">Agência
			Brasil</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<blockquote>
		Para o embelezamento da Lagoa Rodrigo de Freitas vai ser colocada perto ao
		Clube Piraqué e do lado da Avenida Borges de Medeiros, uma estátua de
		bronze, com 1,95 m de altura, da autoria do escultor Pedro Correia de
		Araújo: um jovem índio curumim, pescando de arco e flecha, recordando os
		primitivos habitantes da região da Lagoa – cujo nome indígena era
		Sacopemapã – e uma atividade que, aos poucos, vai desaparecendo na área: a
		pesca. A escultura foi doada a cidade pela Esusa, empresa que executou as
		obras de urbanização, saneamento e embelezamento da Lagoa.
	</blockquote>
	<cite>
		— S.n. (8 de março de 1979).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=030015_09&pesq=curumim&pagfis=135590">Esculturas
		doadas ao Rio são colocadas no Parque da Catacumba por helicóptero</a>.
		<i>Jornal do Brasil</i>, p.14 [via Hemeroteca Digital da Biblioteca Nacional].
	</cite>
	<p>
		A escultura foi inaugurada em algum ponto entre 8 e 23 de março de 1979 –
		uma reportagem do dia 8 usa "vai ser colocada" e outra, de 24 de março, já
		diz "foi inaugurada".<sup>1</sup>
	</p>
	<p>
		Segundo Vera Dias, do IMRJ, a escultura foi vandalizada em múltiplas
		ocasiões: em 2005, 2007 e 2008. A obra foi revitalizada e reinstalada em 2
		de setembro de 2011, em outra pedra na Lagoa.<sup>2</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (24 de março de 1979).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=004120&pesq=curumim&pagfis=183930">Expressas</a>.
			<i>Manchete</i>, p.105 [via Hemeroteca Digital da Biblioteca Nacional].
		</li>
		<li>
			Vera Dias (18 de abril de 2012).
			<a href="https://web.archive.org/web/20211216225701/http://ashistoriasdosmonumentosdorio.blogspot.com/2012/04/curumim-o-indiozinho-da-lagoa-rodrigo.html">Curumim
			- O indiozinho da Lagoa Rodrigo de Freitas</a>. <i>As histórias dos
			monumentos do Rio de Janeiro</i> [via Wayback Machine].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure class="sideways">
		<a href="gallery-1979-full.jpg" data-llb-src="href">
			<img src="gallery-1979.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (23 de fevereiro de 1979),
				<i>Um Bronze na Lagoa, presente da ESUSA</i>. <i>O Globo</i>, p.14,
				via <a href="https://oglobo.globo.com/acervo/">Acervo O Globo</a>.
			</p>
		</figcaption>
	</figure>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2> -->
</section>