---
layout: monument.ejs
name: Busto de Chico Mendes
categoria: busto
tags: [
	"preliminar"
]
series: [
	Parque Natural Municipal Chico Mendes
]

data_inaug: 
altura: 
largura: 
material: []
autores: []

local: Parque Natural Municipal Chico Mendes
bairro: Recreio dos Bandeirantes
lat: -23.02256
lon: -43.47192

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Marcelo Calvet (31 de maio de 2014),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:BustoParque.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há placas no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
FRANCISCO ALVES MENDES FILHO CHICO MENDES
Líder sindical seringalista ambiental brasileiro, nasceu em 1944 em Xapuri, Acre
e faleceu em 22 de dezembro de 1988.

Defensor da floresta e dos direitos dos seringueiros, ele organizou os trabalhadores para
protegerem o ambiente, suas casas e famílias contra a violência e a destruição.

Transformando em símbolo da luta para defender a Amazônia e os povos da floresta,
Chico Mendes era um homem à frente de seu tempo,um homem que construiu um amplo
processo civilizatório.

O Parque Natural Municipal Chico Mendes foi criado em 1989, recebendo este nome em
homenagem a este defensor da natureza.

«No começo pensei que estivesse lutando para salvar seringueiras, depois pensei que
estava lutando para salvar a floresta Amazônica. Agora percebo que estou lutando
pela humanidade»

( Chico Mendes )</pre>
	<pre class="inscription-text">
DOAÇÃO
LIONS RECREIO

AMOR
<small>ASSOCIAÇÃO DE MORADORES
OBRA DO AMOR PERFEITO</small></pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>