---
layout: monument.ejs
name: Incerteza
categoria: escultura
tags: [
	possui escrita,
	possui panorama,
	"pessoa"
]
series: [
	"Parque da Catacumba"
]

data_inaug: 1979-03-14
altura: 
largura: 
material: Bronze

autores: Marmura (Rosa Maria Rothier Duarte)

local: Parque da Catacumba
bairro: Lagoa
lat: -22.97237
lon: -43.20179

imrj: 465
wikidata: Q67203965
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (15 de junho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Incerteza_de_Marmura,_Parque_da_Catacumba_(junho_2023).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		É atualmente a escultura de número 26 das 32 expostas no Parque da Catacumba,
		e foi uma das 24 inauguradas junto com o parque, em 14 de março de
		1979.<sup>1</sup> A escultura em si é datada de 1954, e o IMRJ credita a
		empresa João Fortes Engenharia pela doação da obra à Prefeitura.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (15 de março de 1979). "<i>Tamoyo inaugura Parque da
			Catacumba e Arquivo do Rio</i>". <i>O Globo</i>, p.17 [via
			<a href="https://oglobo.globo.com/acervo/">Acervo O Globo</a>].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1979-full.jpg" data-llb-src="href">
			<img src="gallery-1979.jpg">
		</a>
		<figcaption>
			<p>
				Reportagem sobre a inauguração do parque, listando as esculturas lá
				presentes
			</p>
			<p class="credits">
				Reportagem: S.n. (15 de março de 1979). "<i>Tamoyo inaugura Parque da
				Catacumba e Arquivo do Rio</i>". <i>O Globo</i>, p.17 [via
				<a href="https://oglobo.globo.com/acervo/">Acervo O Globo</a>].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023a-full.jpg" data-llb-src="href">
			<img src="gallery-2023a.jpg">
		</a>
		<figcaption>
			<p>Assinatura</p>
			<p class="credits">
				Foto: Matheus Avellar (15 de junho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Incerteza_de_Marmura,_Parque_da_Catacumba_(junho_2023)_(assinatura).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023b-full.jpg" data-llb-src="href">
			<img src="gallery-2023b.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (15 de junho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Incerteza_de_Marmura,_Parque_da_Catacumba_(junho_2023)_(placa).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<%- makePanorama(arguments[0], "Praça da Incerteza", "Matheus Avellar (15 de junho de 2023)") %>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Marmura
1954</pre>
	<p>
		Também há uma placa próxima ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
[QR code: <a href="https://qrgo.page.link/jiFwf">qrgo.page.link/jiFwf</a>]

Incerteza

Marmura
1979</pre>
	<p>
		O QR code leva a um
		<a href="https://drive.google.com/file/d/1uPdSOTVK4ni1kb9boy09meATmpUcA_HG/view">link
		do Google Drive</a>, de autoria de Ana Luiza Piza e datado do final de 2020,
		onde se encontra <a href="Marmura.pdf">um arquivo PDF</a> 
		contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Marmura (Rosa Maria Rothier Duarte)
<i>Incerteza</i>, bronze

São João del Rei, Minas Gerais

Escultora e pintora. Como professora de Artes Visuais, no Instituto de Belas
Artes, ocupa a cadeira da Academia Brasileira de Belas Artes cujo patrono
fora o pintor Boticelli. Participa da exposição coletiva no Salão Municipal
no Museu de Belas Artes/RJ, em 1954, com artistas como Anna Letycia,
Bustamante Sá, Francisco Stockinger, Ruben Breitman, entre outros. Sua
escultura Anseio, considerada audaciosa, e que representa um sensual
corpo feminino com uma anatomia perfeita, ganha o prêmio de viagem
ao estrangeiro no LXI Salão Nacional de Belas Artes/RJ, em 1956. A artista
é considerada a escultora do sentimento, pelo jornalista Milton Mattos,
do periódico Ilustração Brasileira. A escultura Incerteza, datada de 1954,
representa uma figura humana sentada numa postura de recolhimento,
introspectiva, com o olhar direcionado para baixo, e seu realismo parece
atingir a interioridade psicológica da figura representada.</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>