---
layout: monument.ejs
name: Ragazza Brasileira
alt_names: []
categoria: escultura
tags: []
series: [
	"PUC-Rio"
]

data_inaug: 1991-12-17
altura: 
largura: 
material: Cimento

autores: [ Roberto Gramigna ]

local: PUC-Rio
bairro: Gávea
lat: -22.97913
lon: -43.2337

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Mylena Lucciola (27 de junho de 2023).
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
			Arquivo pessoal.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Originalmente exposta no Solar Grandjean de Montigny, o Museu Universitário
		da PUC-Rio, na exposição "Esculturas" de Roberto Gramigna, de 17 de dezembro
		de 1991 a 1 de fevereiro de 1992.<sup>1:[p.19]</sup> A escultura foi doada
		à universidade durante a exposição, em 1 de janeiro de 1992, pelo próprio
		artista,<sup>1:[pp.19–21]</sup> passando a ser parte da exposição permanente
		do Solar.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Cláudia Cristina Ferreira de Freitas (julho de 2019).
			<a href="http://nucleodememoria.vrac.puc-rio.br/sites/default/files/documentos/producao-nucleo/pibic/duas-venus-negras-para-esculpir-uma-historia-resistencia/relatorio-duas-venus-negras-para-esculpir-uma-historia.pdf">Duas
			Vênus negras para esculpir uma história de resistência</a>. <i>Departamento
			de História, PUC-Rio</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma placa próxima ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>