---
layout: monument.ejs
name: Marco Maçônico do Galeão
categoria: marco
tags: [
	"preliminar"
]
series: [
	Maçonaria
]

data_inaug: 2006-08-18
altura: 
largura: 
material: 

autores: [ Alberto Neves Borges ]

local: Estrada do Galeão
bairro: Galeão
lat: -22.83073
lon: -43.2365

imrj: 
wikidata: 
---

<figure>
	<!-- <a href="photo.jpg" data-llb-src="href"> -->
		<img src="thumb.jpg">
	<!-- </a> -->
	<figcaption>
		<p class="credits">
			Foto: <a href="https://maps.app.goo.gl/EpqV91AKDHmByMRa6">Google Street
			View</a> (julho de 2023).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Comemoração ao jubileu de prata (25 anos) da inauguração da "Loja Universo"
		(nº 2110) da maçonaria carioca, fundada em 25 de agosto de 1981.<sup>1</sup>
		Provavelmente inaugurada no ano do jubileu, em 2006; contudo, a data não
		está explicitada na fonte.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Abel Tolentino de O. Junior (s.d.).
			<a href="https://www.masonic.com.br/monumentos/ilhagov.htm">Monumentos
			Maçônicos - Ilha do Governador - RJ</a>. <i>Loja Maçônica Luz no
			Horizonte</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>