---
layout: monument.ejs
name: Verão
categoria: escultura
tags: [
	"preliminar"
]
series: [
	Estações do Ano,
	Passeio Público
]

data_inaug: 
altura: 
largura: 
material: Ferro
autores: [ Mathurin Moreau ]

local: Passeio Público
bairro: Lapa
lat: -22.91293
lon: -43.17696

imrj: 117
wikidata: Q67210525

tombado_nome: Decreto 19.011/2000
tombado_desc: "Art. 1º Ficam tombados definitivamente [...] \
	elementos decorativos de ferro fundido: [...] \
	CENTRO: PASSEIO PÚBLICO - 3 estátuas: A Primavera, O Verão e O Outono, de
	Mathurin Moreau"
tombado_quote: true
tombado_url: https://www.rio.rj.gov.br/dlstatic/10112/4722991/4121993/180DECRETO19011ConjuntodePecasdeArtedeFerroFundido.pdf
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Estela Neto (11 de setembro de 2022),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:Ver%C3%A3o_do_Passeio_P%C3%BAblico_-_Rio_de_Janeiro_-_20220911130450.JPG">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>