---
layout: monument.ejs
name: Estátua de Marielle Franco
categoria: estátua
tags: [
	"possui escrita"
]
series: [
	Praça Mário Lago
]

data_inaug: 2022-07-27
data_circa: 
altura: 1.75
largura: 
peso: 
material: [
	Bronze
]

autores: [
	Edgar Duvivier (filho)
]
homenageados: Marielle Franco

local: Praça Mário Lago (ou Buraco do Lume)
bairro: Centro
lat: -22.90618
lon: -43.17639

imrj: 1479
wikidata: Q113330437
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Parzeus (28 de julho de 2022),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>, via
			<a href="https://commons.wikimedia.org/wiki/File:Est%C3%A1tua_Marielle_Franco_-_Buraco_do_Lume,_28-07-2022_11.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Estátua em tamanho real em homenagem à vereadora Marielle Franco
		(27/07/1979–14/03/2018), assassinada em 2018, inaugurada no que seria seu
		aniversário de 43 anos de idade, em 2022.<sup>1</sup> A obra, iniciativa
		do Instituto Marielle Franco, foi inaugurada na Praça Mário Lago (ou Buraco
		do Lume), local onde Marielle costumava conversar com seus
		eleitores.<sup>2</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Vladimir Platonow, Aline Leal (ed.) (27 de julho de 2022).
			<a href="https://agenciabrasil.ebc.com.br/geral/noticia/2022-07/marielle-franco-ganha-estatua-no-centro-do-rio-de-janeiro">Marielle
			Franco ganha estátua no centro do Rio de Janeiro</a>. <i>Agência Brasil</i>.
		</li>
		<li>
			Chico Reguera, Hélter Duarte (27 de julho de 2022).
			<a href="https://g1.globo.com/rj/rio-de-janeiro/noticia/2022/07/27/estatua-de-marielle-franco-e-inaugurada-no-centro-do-rio.ghtml">Estátua
			de Marielle é inaugurada no Centro do Rio: 'Dia de ressignificar a nossa
			dor', diz irmã</a>. <i>G1</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2022a-full.jpg" data-llb-src="href">
			<img src="gallery-2022a.jpg">
		</a>
		<figcaption>
			<p>Placa próxima à estátua</p>
			<p class="credits">
				Foto: Parzeus (28 de julho de 2022),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
				via
				<a href="https://commons.wikimedia.org/wiki/File:Est%C3%A1tua_Marielle_Franco_-_Buraco_do_Lume,_28-07-2022_09.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2022b-full.jpg" data-llb-src="href">
			<img src="gallery-2022b.jpg">
		</a>
		<figcaption>
			<p>Inauguração da estátua</p>
			<p class="credits">
				Foto: Alexandre Cerqueira / ComCat (27 de julho de 2022),
				<a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY-NC-SA 2.0</a>,
				via
				<a href="https://flickr.com/photos/catcomm/52245152667/">Flickr</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Rio
Prefeitura
Conservação

Marielle Franco
(1979-2018)

Mulher negra, favelada, LGBTQIA+ e defensora dos Direitos Humanos.
Vereadora do Rio de Janeiro, eleita com 46.502 votos, brutalmente
assassinada em 14 de março de 2018 por lutar por uma sociedade mais justa.

Esta escultura só foi possível graças a uma campanha de financiamento
coletivo do Instituto Marielle Franco, que contou com o apoio de 640 pessoas.

"Eu sou porque nós somos"
Filosofia Africana Ubuntu

Eduardo Paes
Prefeito da Cidade do Rio de Janeiro

Edgar Duvivier
Escultor

Rio de Janeiro, julho de 2022</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Veja mais</h2>
	<ol>
		<li>
			Laura Rocha (17 de julho de 2022).
			<a href="https://g1.globo.com/rj/rio-de-janeiro/noticia/2022/07/17/estatua-de-marielle-vai-ser-inaugurada-no-centro-este-mes-referencias-sobre-quem-construiu-e-move-esse-pais-diz-irma.ghtml">Estátua
			de Marielle vai ser inaugurada no Centro este mês: 'Referências sobre quem
			construiu e move esse país', diz irmã</a>. <i>G1</i>.
		</li>
		<li>
			Comunidades Catalisadoras (27 de julho de 2022).
			<a href="https://flickr.com/photos/catcomm/albums/72177720300869231">Inauguração
			da estátua de Marielle Franco</a>. <i>Flickr</i>.
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]); %>