---
layout: monument.ejs
name: Marco de Inauguração da Cabine Policial na Praça Afonso Pena
categoria: marco

tags: [
	"possui escrita"
]
series: [
	"Praça Afonso Pena",
	"Lions Clube"
]

data_inaug: 2004-03-27
altura: 
largura: 
material: 

autores: []

local: Praça Afonso Pena
bairro: Tijuca
lat: -22.91836
lon: -43.21798

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (13 de agosto de 2024).
		</p>
	</figcaption>
</figure>
<section class="description">
	<!--<p></p>-->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2024-full.jpg" data-llb-src="href">
			<img src="gallery-2024.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (13 de agosto de 2024).
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
A conunidade tijucana agradece envaidecida aos senhores que fizeram
o sonho de se tornar realidade em nossa Praça Afonso Pena, construindo a
cabine de alvenaria da Polícia Militar.

Cesar Maia
Prefeito

Solange Amaral
Secretária Municipal de Habitação

Luiz Humberto Côrtes Barros
Subprefeito da Tijuca e Vila Isabel

Werber Guttemberg Collyer
Comandante do 6º Batalhão da Polícia Militar

João Gomes André
Presidente do Lions Club RJ Engenho Velho

Luiz Alberto Cristiano
Presidente da Associação Recreativa e Cultural
dos Amigos da Praça Afonos Pena - ARCAPENA

Rio de Janeiro, 27 de março de 2004


L. C. R. J. Engenho Velho
Lions
International

ArcaPena

Prefeitura</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<!--<h2>Veja mais</h2>
	<ol></ol>-->
</section>
<%- makeOthersFromSeries(arguments[0]); %>
