---
layout: monument.ejs
name: Marco de Inauguração da Praça Procurador-Geral Eduardo Seabra Fagundes
categoria: marco
tags: [
	"possui escrita"
]
series: []

data_inaug: 2021-11-12
altura: 
largura: 
material: 
autores: []

local: Praça Procurador-Geral Eduardo Seabra Fagundes
bairro: Centro
lat: -22.904
lon: -43.17478

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (22 de julho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Marco_de_Inaugura%C3%A7%C3%A3o_da_Pra%C3%A7a_Procurador-Geral_Eduardo_Seabra_Fagundes_(julho_2023)_(amplo).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Marco de inauguração da praça em homenagem a Eduardo Seabra Fagundes
		(07/05/1936–25/11/2019), Procurador-Geral do Estado e presidente do Conselho
		Federal da OAB, além de militante defensor dos direitos humanos na época
		da ditadura militar.
	</p>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (22 de julho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Marco_de_Inaugura%C3%A7%C3%A3o_da_Pra%C3%A7a_Procurador-Geral_Eduardo_Seabra_Fagundes_(julho_2023).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Rio
Prefeitura

Praça Procurador-Geral
Eduardo Seabra Fagundes
1936 - 2019

Procurador do Estado, Advogado e
Presidente do Conselho Federal da OAB.
Símbolo da Redemocratização do País.

Eduardo Paes
Prefeito da Cidade do Rio de Janeiro

Rio de Janeiro, novembro de 2021
Decreto RIO n° 49.560 de 6 de outubro de 2021</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			S.n. (12 de novembro de 2021).
			<a href="https://pge.rj.gov.br/imprensa/noticias/2021/11/pge-rj-e-oab-rj-inauguram-praca-em-homenagem-a-memoria-de-eduardo-seabra-fagundes">PGE-RJ
			e OAB-RJ Inauguram Praça em Homenagem à Memória de Eduardo Seabra
			Fagundes</a>. <i>Procuradoria Geral do Estado do Rio de Janeiro</i>.
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]); %>