---
layout: monument.ejs
name: Estátua de Teixeira Soares
categoria: estátua
tags: [
	"preliminar"
]

data_inaug: 1930
altura: 
largura: 
material: 

autores: []

local: Praça São Judas Tadeu
bairro: Cosme Velho
lat: -22.94055
lon: -43.19823

imrj: 510
wikidata: Q67204964
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Donatas Dabravolskas (31 de agosto de 2022),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:Teixeira_Soares_-_Rio_de_Janeiro_-_20220831170210.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
<!--
Foto (07/07/1960):
https://memoria.bn.br/DocReader/DocReader.aspx?bib=110523_06&pagfis=5056
-->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição abaixo da escultura contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Ao grande engenheiro
      Dr
João Teixeira Soares

Monumento erigido por um
grupo de admiradores
e amigos e iniciativa da
revista das estradas
     de ferro

    MCMXXX</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
