---
layout: monument.ejs
name: Busto
categoria: busto
tags: [
	"preliminar",
	possui escrita
]
series: [
	"UFRJ"
]

data_inaug: 
altura: 
largura: 
material: 
autores: []

local: Centro de Ciências da Saúde
bairro: Cidade Universitária
lat: -22.84186
lon: -43.23358

imrj: 
wikidata: 
---

<figure>
	<!-- <a href="photo.jpg" data-llb-src="href"> -->
		<img src="thumb.jpg">
	<!-- </a> -->
	<figcaption>
		<p class="credits">
			Foto: Renato Mariz (fevereiro de 2023),
			via <a href="https://goo.gl/maps/yD2KGWy6YV8oK2Zq8">Google Maps</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p></p>
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>