---
layout: monument.ejs
name: Busto de Júlio de Noronha
categoria: busto
tags: [
	"preliminar",
	"possui escrita"
]
series: [
	"Praça Júlio de Noronha"
]

data_inaug:
altura: 
largura: 
material: []
autores: []

local: Praça Júlio de Noronha
bairro: Leme
lat: -22.96212
lon: -43.16505

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (30 de abril de 2024)
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2024-full.jpg" data-llb-src="href">
			<img src="gallery-2024.jpg">
		</a>
		<figcaption>
			<p>Assinatura no busto</p>
			<p class="credits">
				Foto: Matheus Avellar (30 de abril de 2024)
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no pedestal do monumento contém o seguinte texto:
	</p>
	<pre class="inscription-text">
Almirante
Júlio Cesar
de Noronha
1845/1923

Herói da Guerra
do Paraguai
e Ministro da
Marinha no
Governo de
Rodrigues Alves</pre>
	<p>
		Há também uma inscrição no próprio busto com o seguinte texto:
	</p>
	<pre class="inscription-text">
A. Braga
1988</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>