---
layout: monument.ejs
name: Escultura no Palácio do Catete
categoria: escultura
tags: [
	"preliminar"
]
series: [
	Palácio do Catete
]

data_inaug: 
altura: 
largura: 
material: 

autores: []

local: Jardins do Palácio do Catete
bairro: Flamengo
lat: -22.92625
lon: -43.17392

imrj: 
wikidata: 
---

<!-- <figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: .
		</p>
	</figcaption>
</figure> -->
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
<!-- 
?
https://commons.wikimedia.org/wiki/File:Arte_tardo-ellenistica,_statua_di_giovane_donna,_150-30_ac._ca,_da_magnesia.JPG
https://commons.wikimedia.org/wiki/File:Est%C3%A0tua_femenina._L%C3%ADvia.jpg
https://commons.wikimedia.org/wiki/File:Livia_seduta_rappresentata_come_cerere,_1-50_dc_ca,_da_augusteo_di_roselle,_02.JPG
 -->
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>
