---
layout: monument.ejs
name: Fidelidade na Praça Afonso Pena
categoria: escultura
tags: [
	"preliminar",
	"possui escrita",
	"sem descrição"
]
series: [
	"Praça Afonso Pena"
]

data_inaug: 1957-01-20
altura: 
largura: 
material: Bronze
autores: [
	Benevenuto Berna
]

local: Praça Afonso Pena
bairro: Tijuca
lat: -22.91809
lon: -43.21799

imrj: 721
wikidata: Q67203897

tombado_nome: Lei 2.832/1999
tombado_desc: "Ficam tombados [...], localizados na Praça Afonso Pena, \
	no bairro da Tijuca, [...] uma escultura de dois cães denominada Fidelidade."
tombado_quote: yes
tombado_url: https://mail.camara.rj.gov.br/APL/Legislativos/contlei.nsf/e9589b9aabd9cac8032564fe0065abb4/6e735e26b1810a94032576ac00733914
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Estela Neto (19 de setembro de 2023),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:Fidelidade_-_Rio_de_Janeiro_-_20230919082657.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<blockquote>
		[...] grupo escultural que tomou o nome de «Fidelidade», representado por
		um cão policial, de orelhas à escuta, atento, simbolizando a vigilância, e
		um galgo, em posição de descanço, simbolizando a nobreza canina.
	</blockquote>
	<cite>
		— S.n. (9 de dezembro de 1954).
		<a href="http://memoria.bn.br/DocReader/093718_03/37186">Reservadas no
		Orçamento Municipal Grandes Verbas para Fins Culturais</a>.
		<i>Diario de Noticias</i>, segunda seção, p.5 [via Hemeroteca Digital
		da Biblioteca Nacional].
	</cite>
	<p>
		Em reportagem de 1954, o <i>Diario de Noticias</i> relata que o conjunto
		escultural foi encomendado pelo então prefeito (1931–1934, 1935–1936) Pedro
		Ernesto circa 1934. O conjunto era originalmente destinado a um cemitério de
		cães de estimação, "nas proximidades do morro do Telégrafo".<sup>1</sup>
	</p>
	<p>
		Devido à Intentona Comunista, em novembro de 1935, a subsequente prisão de
		Pedro Ernesto em abril de 1936, por sua solidarização com movimentos
		populares progressitas, e a morte de Pedro Ernesto em 1942, o projeto da
		escultura foi deixado de lado. Segundo a reportagem, a escultura não havia
		sido fundida em bronze ainda, nem tampouco houve pagamento.<sup>1</sup>
	</p>
	<p>
		Um dos herdeiros do escultor, Ariosto Berna, entrou em contato com a
		Prefeitura, visando aprovietar uma onda de investimentos em cultura, para
		que a obra fosse terminada e compensada. O então vereador (1950–1958)
		Frederico Trotta "apresentou uma indicação, incluindo verba de
		Cr$&nbsp;400.000,00 justamente com a finalidade de completar o trabalho
		iniciado e colocá-lo no devido lugar".<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (9 de dezembro de 1954).
			<a href="http://memoria.bn.br/DocReader/093718_03/37186">Reservadas no
			Orçamento Municipal Grandes Verbas para Fins Culturais</a>.
			<i>Diario de Noticias</i>, segunda seção, pp.1, 5 [via Hemeroteca Digital
			da Biblioteca Nacional].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1954-full.jpg" data-llb-src="href">
			<img src="gallery-1954.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: S.n. (9 de dezembro de 1954).
				<a href="http://memoria.bn.br/DocReader/093718_03/37182">Reservadas no
				Orçamento Municipal Grandes Verbas para Fins Culturais</a>.
				<i>Diario de Noticias</i>, segunda seção, p.1 [via Hemeroteca Digital
				da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição na base do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Fidelidade
Concepção de
Benevenuto Berna
Inspiração do
Dr Pedro Ernesto
Erigida por iniciativa
do vereador
Frederico Trotta
Inaugurada na gestão
do prefeito embaixador
Francisco Negrão de Lima
20-1-1957</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>