---
layout: monument.ejs
name: Marco de Revitalização de São Gonçalo do Amarante
categoria: marco
tags: [
	"possui escrita",
	"sem galeria",
	"sem imagem"
]
series: [
	"Bairro Maravilha Oeste"
]

data_inaug: 2015-03-29
altura: 
largura: 
material: 
autores: []

local: Rua São Gonçalo do Amarante
bairro: Jacarepaguá
lat: -22.96912
lon: -43.42415

imrj: 
wikidata: 
---

<figure>
	<!-- <a href="photo.jpg" data-llb-src="href"> -->
		<img src="thumb.jpg">
	<!-- </a> -->
	<figcaption>
		<p class="credits">
			Foto: <a href="https://maps.app.goo.gl/sEw34nGkc6wgUx8u6">Google Street View</a>
			(março de 2021).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Marco em comemoração às obras de revitalização de São Gonçalo do Amarante,
		como parte do projeto Bairro Maravilha Oeste.
	</p>
	<blockquote>
		Em São Gonçalo do Amarante, no Camorim, cinco ruas foram contempladas com
		424 metros de drenagem, 500 metros de esgoto, 900 metros de água potável,
		2.830 metros quadrados de pavimentação em concreto e 1.132 metros de calçada.
	</blockquote>
	<cite>
		— Ricardo Albuquerque (29 de março de 2015).
		<a href="https://www.rio.rj.gov.br/web/guest/exibeconteudo?id=5272244">Obras
		do Bairro Maravilha revitalizam comunidades de Jacarepaguá e Vargem Grande</a>.
		<i>Prefeitura da Cidade do Rio de Janeiro</i>.
	</cite>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
<!-- 	<h2>Galeria</h2>
	<figure>
		<a href="gallery-xxx-full.jpg" data-llb-src="href">
			<img src="gallery-xxx.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: 
			</p>
		</figcaption>
	</figure> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
BAIRRO MARAVILHA
SÃO GONÇALO DO AMARANTES

RIO
PREFEITURA

EDUARDO PAES
Prefeito da Cidade do Rio de Janeiro

PEDRO PAULO CARVALHO
Secretário Executivo de Coordenação
e Ações de Governo

ALEXANDRE PINTO
Secretário Municipal de Obras

LUÍS CARLOS DA ROCHA
Coordenador Geral de Obras

INAUGURADO EM 29 DE MARÇO DE 2015</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>