---
layout: monument.ejs
name: Busto de Pedro Paulo Bruno
categoria: busto
tags: [
	"possui escrita",
	"sem descrição",
	"sem galeria"
]

data_inaug: 1948-11-14
altura: 
largura: 
material: Bronze

autores: [
	Paulo Mazzucchelli
]

local: Praça Pintor Pedro Bruno
bairro: Paquetá
lat: -22.7625
lon: -43.1072

imrj: 1156
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Andrevruas (18 de janeiro de 2011),
			<a href="https://creativecommons.org/licenses/by/3.0/deed.en">CC-BY-3.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Pedrobruno.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p></p>
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento, contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
  Paquetá
     a
Pedro Bruno
O poeta da cor
das arvores
e dos passaros</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			S.n. (4 de maio de 2023). <a href="https://prefeitura.rio/conservacao/prefeitura-inaugura-jardim-e-escultura-em-homenagem-ao-compositor-aldir-blanc/">
			Prefeitura inaugura jardim e escultura em homenagem ao compositor Aldir
			Blanc</a>. <i>Prefeitura do Rio</i>.
		</li>
	</ol>
</section>
