---
layout: monument.ejs
name: Busto de General Osório
categoria: busto
tags: [
	"possui escrita",
	"sem descrição"
]
series: [
	"Praça General Osório",
	"General Osório"
]

data_inaug: 2002-05-10
altura: 
largura: 
material: 
autores: []

local: Praça General Osório
bairro: Ipanema
lat: -22.98503
lon: -43.19811

imrj: 362
wikidata: Q67210360
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (19 de agosto de 2023) via
			<a href="https://commons.wikimedia.org/wiki/File:Busto_de_General_Os%C3%B3rio_na_Pra%C3%A7a_General_Os%C3%B3rio_(Rio_de_Janeiro)_01.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Busto de Manoel Luís Osório, Marquês do Herval (10/05/1808–04/10/1879),
		mais conhecido como General Osório. Segundo Vera Dias, do IMRJ, o busto
		foi inaugrado em 2002, na data de aniversário do general.
	</p>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa na base do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Gen Manoel Luis Osório
Marquês de Herval

Homenagem

<a href="https://www.eb.mil.br/web/central-de-conteudos/fhe-poupex"
title="Fundação Habitacional do Exército">FHE / Poupex</a>
<small title="Arsenal de Guerra do Rio"><a href="https://www.agr.eb.mil.br/historico">AGR</a></small></pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>