---
layout: monument.ejs
name: Chafariz da Praça Saens Peña
categoria: chafariz
tags: []

data_inaug: 1947-11-19
altura: 
largura: 
material: 

autores: [
	José Silva Azevedo Neto
]

local: Praça Saens Peña
bairro: Tijuca
lat: -22.924712
lon: -43.232697

imrj: 784
wikidata: Q67204035
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Estela Neto (8 de setembro de 2022),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Chafariz_da_Pra%C3%A7a_Saens_Pena_-_Rio_de_Janeiro_-_20220908130946.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Inaugurado depois das obras de renovação da Praça Saens Peña, projeto do então
		diretor do Departamento de Parques da Prefeitura, José Silva Azevedo Neto.<sup>1</sup>
	</p>
	<p>
		A Praça Saens Peña foi inaugurada no dia 19 de novembro de
		1947.<sup>1,2</sup> IMRJ alega inauguração do chafariz em si 3 dias depois,
		no dia 22, mas não consegui confirmar essa data; então, assumo inauguração
		junto com a praça.
	</p>
	<p>
		O chafariz esteve quebrado por alguns anos até ser religado em dezembro de
		2021.<sup>3</sup> Menos de uma semana depois, ele foi vandalizado e parou de
		funcionar novamente – mas foi prontamente restaurado dia 3 de janeiro de
		2022.<sup>4</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (19 de novembro de 1947).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=348970_04&pagfis=49480">O
			Comércio da Praça Saenz Pena ao Governo</a>. <i>A Noite</i>, segundo
			caderno, p.7, via Hemeroteca Digital da Biblioteca Nacional.
		</li>
		<li>
			S.n. (18 de novembro de 1947).
			<a href="https://acervo.oglobo.globo.com/consulta-ao-acervo/?navegacaoPorData=194019471118C&edicao=Vespertina">Pronto
			mais um trecho da Avenida Brasil</a>. <i>O Globo</i>, edição vespertina,
			p.3.
		</li>
		<li>
			S.n. (29 de dezembro de 2021).
			<a href="https://prefeitura.rio/conservacao/chafariz-da-praca-saens-pena-volta-a-funcionar-apos-ficar-quatro-anos-desligado/">Chafariz
			da Praça Saens Peña volta a funcionar após ficar quatro anos desligado</a>.
			<i>Secretaria Municipal de Conservação</i>.
		</li>
		<li>
			S.n. (4 de janeiro de 2022).
			<a href="https://prefeitura.rio/conservacao/chafariz-da-praca-saens-pena-volta-a-funcionar-apos-sofrer-vandalismo/">Chafariz
			da Praça Saens Peña, na Tijuca, volta a funcionar após sofrer vandalismo</a>.
			<i>Secretaria Municipal de Conservação</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2022-full.jpg" data-llb-src="href">
			<img src="gallery-2022.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Estela Neto (9 de setembro de 2022),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
				via <a href="https://commons.wikimedia.org/wiki/File:Chafariz_da_Pra%C3%A7a_Saens_Pena_-_Rio_de_Janeiro_-_20220909094048.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
