---
layout: monument.ejs
name: Estátua de Clementino Fraga
categoria: estátua
tags: [
	"possui escrita",
	"pessoa:homem"
]
series: [
	"Praça Santos Dumont"
]

data_inaug: 1983-03-08
altura: 
largura: 
material: 
autores: [ "Honório Peçanha" ]

local: Praça Santos Dumont
bairro: Gávea
lat: -22.97446
lon: -43.2265

imrj: 513
wikidata: Q67205149
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (8 de janeiro de 2024).
		</p>
	</figcaption>
</figure>
<section class="description">
	<blockquote>
		Em comemoração ao centenário de nascimento foi inaugurada ontem, na praça
		próxima ao Planetário, na Rua Vice-Governador Rubens Berardo, Gávea, a
		estátua do professor Clementino Fraga, médico que se notabilizou como
		saneador da Cidade do Rio de Janeiro e por seus grandes méritos na medicina,
		como o combate à febre amarela em 1928 e 1929.<br>
		Trabalhada em bronze, a estátua foi elaborada pelo escultor Honório Peçanha,
		e a escolha do bairro logo foi explicada pelo presidente da Academia
		Nacional de Medicina, Deolindo Couto, que resolveu homenageá-lo: —
		"Clementino Fraga amou este lugar, e a prova é que morou aqui durante 31
		anos."
	</blockquote>
	<cite>
		— S.n. (9 de março de 1983).
		<a href="http://memoria.bn.br/DocReader/030015_10/92057">Clementino Fraga
		ganha estátua no Planetário por seu 1º centenário</a>. <i>Jornal do
		Brasil</i>, p.6 [via Hemeroteca Digital da Biblioteca Nacional].
	</cite>
	<p>
		Segundo Vera Dias, do IMRJ, a estátua foi removida em 1998 devido a uma
		obra de ampliação do Planetário; foi reinstalada em 11 de setembro de 2000;
		removida novamente em março de 2012 devido a outra obra; e reinaugurada na
		Praça Santos Dumont em 15 de setembro de 2012.
	</p>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2024a-full.jpg" data-llb-src="href">
			<img src="gallery-2024a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (8 de janeiro de 2024).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2024b-full.jpg" data-llb-src="href">
			<img src="gallery-2024b.jpg">
		</a>
		<figcaption>
			<p>
				Detalhe de livro segurado pela estátua
			</p>
			<p class="credits">
				Foto: Matheus Avellar (8 de janeiro de 2024).
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		O monumento possui uma placa em sua base com o seguinte texto:
	</p>
	<pre class="inscription-text">
<small>Prefeitura
da Cidade do Rio de Janeiro</small>

Clementino Fraga
1880 - 1971
Médico, escritor e político brasileiro

<small>Prefeito da Cidade do Rio de Janeiro</small>
Eduardo Paes

<small>Secretário Municipal de Conservação e Serviços Públicos</small>
Carlos Roberto Osorio

<small>Rio de Janeiro, 15 de setembro de 2012</small></pre>
	<p>
		Há também uma inscrição na estátua em si, na capa do livro:
	</p>
	<pre class="inscription-text">
Clínica
Medica</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>