---
layout: monument.ejs
name: Busto de Bartlet James
categoria: busto
tags: [
	"sem descrição",
	"possui escrita",
	"texto ilegível"
]

data_inaug: 1952-10-18
altura: 
largura: 
peso: 
material: 

autores: []

local: Praça Saens Peña
bairro: Tijuca
lat: -22.9247
lon: -43.2331

imrj: 702
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Leandro Rocha (13 de novembro de 2014),
			<a href="https://creativecommons.org/licenses/by/3.0/deed.en">CC-BY-3.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:2014-11-13_-_Pra%C3%A7a_Saens_Pe%C3%B1a.JPG">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem a Eduardo Bartlet (ou "Bartlett") James.
	</p>
	<!-- https://memoria.bn.br/pdf/093092/per093092_1945_05166.pdf -->
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1952-full.jpg" data-llb-src="href">
			<img src="gallery-1952.jpg">
		</a>
		<figcaption>
			<p>Inauguração do busto</p>
			<p class="credits">
				Foto: "Mário/Agência Nacional" (18 de outubro de 1952).
				[BR RJANRIO EH.0.FOT, PPU.4054], via <i>Arquivo Nacional</i>.
			</p>
		</figcaption>
	</figure>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento, contendo o seguinte texto:
	</p>
	<pre class="inscription-text">Bartlet James</pre>
	<p>
		Originalmente, a placa continha o seguinte texto:
	</p>
	<pre class="inscription-text">
Ao Dr. Bartlett James
O Movimento Libertador
da Terra Carioca

A Comissão[...]</pre>
</section>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
