---
layout: monument.ejs
name: Canto das Sereias
categoria: escultura
tags: [
	"preliminar",
	"pessoa:homem",
	"pessoa:mulher"
]
series: [
	"Quinta da Boa Vista"
]

data_inaug: 
altura: 
largura: 
material: 

autores: []

local: Quinta da Boa Vista
bairro: São Cristóvão
lat: -22.90545
lon: -43.22174

imrj: 653
wikidata: Q67203485
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Halley Pacheco de Oliveira,
			<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:Quinta_da_Boa_Vista_04.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (10 de junho de 2023).
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>