---
layout: monument.ejs
name: Busto de Irmão Gonçalves Xavier
categoria: busto
tags: [
	"preliminar",
	"removido"
]

data_inaug: 1999-09
data_circa: true
data_remov: 2020-09
motiv_remov: furtado

altura: 
largura: 
material: 

autores: []

local: Praça Carlos Paolera
bairro: Tijuca
lat: -22.921
lon: -43.2233

imrj: 708
wikidata: Q67210423
---

<figure>
	<!-- <a href="photo.jpg" data-llb-src="href"> -->
		<img src="thumb.jpg">
	<!-- </a> -->
	<figcaption>
		<p class="credits">
			Foto: <a href="https://goo.gl/maps/KDq4DGfGgzigDU3L8">Google Street
			View</a> (janeiro de 2017).
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<!-- <a href=".jpg" data-llb-src="href"> -->
			<img src="gallery-2021.jpg">
		<!-- </a> -->
		<figcaption>
			<p class="credits">
				Foto: <a href="https://goo.gl/maps/Bwe1oz4FHt3jTFA3A">Google Street
				View</a> (novembro de 2021).
			</p>
		</figcaption>
	</figure>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
