---
layout: monument.ejs
name: Chafariz da Mãe d'Água
categoria: chafariz
tags: [
	"preliminar"
]
series: [
	"Praça Jerusalém"
]

data_inaug: 
altura: 
largura: 
material: []
autores: []

local: Praça Jerusalém
bairro: Jardim Guanabara
lat: -22.81897
lon: -43.20117

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (23 de abril de 2024).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Chafariz com cópia de escultura original em bronze instalada no Maranhão.
	</p>
<!-- https://www.ilhanoticias.com.br/noticia/Quem_e_a_mulher_na_Praca_Jerusalem_ -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2019-full.jpg" data-llb-src="href">
			<img src="gallery-2019.jpg">
		</a>
		<figcaption>
			<p>
				Chafariz com escultura original, na Praça D. Pedro II em São Luís, MA
			</p>
			<p class="credits">
				Foto: User:Ajmcbarreto (23 de janeiro de 2019),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>,
				via <a href="https://commons.wikimedia.org/wiki/File:Fonte_na_pra%C3%A7a_de_S%C3%A3o_Lu%C3%ADs_-_1.jpg">Wikimedia Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>