---
layout: monument.ejs
name: Busto de Eduardo Gomes
categoria: busto
tags: [
	"preliminar",
	"possui escrita",
	"sem descrição"
]
series: [
	"Parque Brigadeiro Eduardo Gomes"
]

data_inaug: 
altura: 
largura: 
material: 
autores: []

local: Parque Brigadeiro Eduardo Gomes
bairro: Glória
lat: -22.91533
lon: -43.17401

imrj: 1314
wikidata: Q67210346
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Donatas Dabravolskas (7 de setembro de 2023),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:Brigadeiro_Eduardo_Gomes_-_Rio_de_Janeiro_-_20230907165644.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há algumas placas na base do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Brig. Eduardo Gomes
1896 – 1996
Homenagem da TEG/ESG
ao seu patrono
    <small>13 de setembro de 1996</small></pre>
	<pre class="inscription-text">
Parque
Brigadeiro Eduardo Gomes

Homenagem da Turma
Eduardo Gomes (TEG)da
Escola Superior de Guerra
 - Estagiários de 1982 -
Ao seu ilustre patrono,
vulto insigne da
nacionalidade brasileira.
    <small>Rio 26 · 10 · 88</small></pre>
	<pre class="inscription-text">
ESG

Componentes da Turma
Eduardo Gomes - TEG
Escola Superior de Guerra
      1982

<small>Abraham Abitbol
Aércio Carneiro Duarte
Afonso de Liguori Pessoa Lima
Alberto de Araujo Lima
Alcyr Cahet Rebello
Álvaro da Silva e Sousa
Alvaro Sá Freire de Lima
Amarílio de Alencar Arraes
Amaury Simões dos Santos
Amilcar Manoel de Menezes
Antenor de Barros Leite Filho
Antônio Carlos Maia de Oliveira
Augusto de Moura Diniz Jr
Bernardino N. Machado de Souza
Caio Cintra Ribeiro
Caio Márcio Nogueira Neder
Carlos A. Azevedo do Amaral
Carlos A. F. Thompson Leite
Carlos A. de Avellar Werner
Carlos Alberto Pereira R. Xavier
Carlos Alberto Pinto Heluey
Carlos Amadeu Tassi
Carlos Antonio Nogueira Filho
Carlos Caldas
Carlos Fernando Ramos
Carlos Joel Lopes Enes
Carlos PAtrício Freitas Pereira
Célio Cordeiro Filho
Celso Muniz Guedes Pinto
Clébio Valle da Silva
Constantino Comninos
Daix de Barros Silva Ramos
Dalmo de Souza Amorim
Dalnio Teixeira Starling
Daltro Miguel Keidann
Darcy Ramalho
Décio Ângelo Fonini
Dilson Santana de Queiroz
Djalma da Costa Albuquerque
Duvally Verlangeiro
Éber Luiz Halfeld</small>

<small>Edno Oliveira Maia Brandão
Edson Gonçalves Moreira
Eduardo Dória Sá Fortes
Eduardo Gurgel do A.Valente
Eduardo Marques
Egídio Silva
Élio Machado Pereira
Esmeralda Tomaz Afonso
Fábio Soares Carmo
Fernando C. da Silva Pereira
Fernando J. de Carvalho Lopes
Fernando Luiz V. Seroa da Motta
Fernando Pereira Cavalcanti
Fernando Silva de Palma Lima
Fernando Sperb Melecchi
Flávio Gori
Gerson Mendonça de Freitas
Gilda Maria Teixeira Uflacker
Guilherme de Andrea Frota
Guilherme Ney Barbosa Hübner
Hamilton Mota
Hélio Pacheco
Hermenegildo P. da Silva Filho
Isaac Benchimol
Isar Trajano da Costa
Ismael de Miranda e Silva
Ivo Machado de Carvalho
Jaime Loureiro
Jelcias Baptista da Silva Castro
João Carlos de Souza Lambach
João Maria Smith
Jorge Ângelo Maia
Jorge da Costa Ferreira
Jorge Rona
Jorge Tupinacy Cavalcante
José Alberto Haueisen Freire
José Américo Gonçalves Barros
José Carlos Nogueira Diniz Filho
José Clemente Filho
José do Cabo T. de Carvalho
José Fernando Tostes V. Leandro</small>

<small><small>www.gravam.com.br</small></small></pre>
	<pre class="inscription-text">
ESG

Componentes da Turma
Eduardo Gomes - TEG
Escola Superior de Guerra
      1982

<small>José Galaôr Ribeiro
José Garotti Filho
José Gelázio da Rocha
José Homero Xavier Sampaio
José Monteiro Netto
José Ramos Pedroza
José Savério Lia
José Vilhena Bittencourt
Julian do Bonfim Lima
Júlio C. Calazans Digiácomo
Lamartine Pessoa Guerra
Leo Frederico Cinelli
Levy Ribeiro Bittencourt Junior
Luciano Humberto de M. Belem
Luis Otávio Rezende Cunha
Luiz Antônio Cury
Luiz E. de Albuquerque Lobo
Luiz Felipe Cabral Mauro
Luiz Felipe Pinheiro
Luiz Fernando Freire Lombardi
Luiz Fernando Furlan
Luiz Fernando Salgado Candiota
Luiz Paulo Aguiar Reguffe
Lyle Amaury Tarrisse da Fontoura
Lysias Ruland Kerr
Manoel Theophilo de Oliveira Neto
Maria de Lourdes V. e Souza
Maria Eunice Soares Penner
Mário Cezar Machado Monteiro
Mário Henrique Machado Landeiro
Mário Solé de Novaes
Maurício Teixeira da Costa
Milton da Conceição de Almeida
Moacir Elias
Mosny Magalhães Henriques
Murilo C. Marques da Costa
Murilo Walderk Menezes de Serpa
Ney Robinson Suassuna
Ney Walmor Hübener
Neylor Calasans Rego
Nide Geraldo do Couto Ramos Fico
Nilson de Salles</small>

<small>Noaldo Alves Silva
Norman José de Andrade Junho
Octacílio Schüler Sobrinho
Octávio Lopes da Silva Filho
Octávio Luiz Berenguer César
Ordival F. Mendes Cardoso
Orlando Paulo Bonturi
Oswaldo Muniz Oliva
Paulo A. G. Falci Castellões
Paulo Cícero Lima Baptista
Paulo Mendes Guerreiro
Paulo Ruy de Mello Portella
Paulo Sérgio M. de S. Rodriguez
Paulo Wichrowski
Pedro A. de Barros Duarte
Pedro Marcant Junior
Pedro Paulo de Oliveira e Britto
Prudêncio Ferreira
Ramiro de Oliveira Gama
Raymundo de Sá Peixoto
Renato Oswaldo Winter
Renival Alves de Souza
Ricardo Lima Buarque de Nazareth
Roberto de Biase
Roberto M. de Oliveira Mafra
Rodolpho Godoy de Souza Dantas
Rolando Ferreira da Silva Pinto
Rubens Arêas Franco
Sérgio A. Monteiro de Carvalho
Sérgio da Silveira Gomes
Sérgio Flores da Silva
Sérgio Jacintho da Cruz
Sérgio Luiz de Oliveira e Cruz
Sérgio Pompeiano da Motta
Sylvio de Figueiredo Junior
Tancredo Bruno Porto
Thomas Gonzales de Gusmão
Vinicius Guerreiro Lucena
Wagner Souza Duarte
Walter Augusto Gross Braun
Wintceas Villaça B. de Godois
Yero Augusto Vieira</small>

<small><small>www.gravam.com.br</small></small></pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>