---
layout: monument.ejs
name: Proteção, o Cão e a Criança
alt_names: [ Protection ]
categoria: escultura
tags: [
	"animal:canino:cachorro",
	"pessoa:criança"
]
series: [
	"Jardim de Alah",
	"Pereira Passos"
]

data_inaug: 1907-09
data_circa: true
altura: 1.5
largura: 
peso: 
material: 

autores: [
	Hippolyte Peyrol
]

local: Jardim de Alah
bairro: Leblon
lat: -22.98415
lon: -43.21518

imrj: 404
wikidata: Q67210132
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (1 de julho de 2023),
			via <a href="https://commons.wikimedia.org/wiki/File:Escultura_Prote%C3%A7%C3%A3o_(julho_2023),_Jardim_de_Alah_08.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Escultura de um cão protegendo um bebê, foi originalmente instalada na Praia
		de Botafogo, e posteriormente movida para o parque de Jardim de Alah na
		ocasião de sua inauguração, em 1938.<sup>1</sup>
	</p>
	<p>
		Foi parte das reformas na cidade do Rio de Janeiro pelo então
		prefeito (1902–1906) Pereira Passos, inspirado por reformas em Paris da
		época. Muitas esculturas foram encomendadas da França mas, devido a
		atrasos,<sup>2,3</sup> nem todas puderam ser instaladas durante sua
		administração.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Oscar Valporto (4 de fevereiro de 2019).
			<a href="https://projetocolabora.com.br/ods11/rioerua-a-frustracao-do-jardim-de-alah/">#RioéRua:
			a frustração do Jardim de Alah</a>. <i>#Colabora</i>.
		</li>
		<li>
			S.n. (1 de setembro de 1907).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=259764&pesq=weigele&pagfis=3247">Jardins
			publics de Rio</a>. <i>L'Étoile du Sud</i>, p.2 [via Hemeroteca Digital da
			Biblioteca Nacional].
		</li>
		<li>
			S.n. (17 de agosto de 1907).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=103730_04&pesq=crepuscule&pagfis=15450">As
			Estatuas da Prefeitura</a>. <i>Gazeta de Noticias</i>, p.1 [via Hemeroteca
			Digital da Biblioteca Nacional].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1907-full.jpg" data-llb-src="href">
			<img src="gallery-1907.jpg">
		</a>
		<figcaption>
			<p>
				Estátua logo após instalação, na Praia de Botafogo, em 1907
			</p>
			<p class="credits">
				Reportagem: "G." (dezembro de 1907).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=146420&pagfis=2659">A
				Estatuaria dos Jardins Publicos</a>. <i>Kósmos</i>, nº12, p.59 [via
				Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1943-full.jpg" data-llb-src="href">
			<img src="gallery-1943.jpg">
		</a>
		<figcaption>
			<p>
				Escultura já no Jardim de Alah, em 1943
			</p>
			<p class="credits">
				Foto: S.n./Agência Nacional (5 de abril de 1943),
				[BR RJANRIO EH.0.FOT, EVE.15747 d0005de0029] via Arquivo Nacional.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023a-full.jpg" data-llb-src="href">
			<img src="gallery-2023a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (1 de julho de 2023),
				via <a href="https://commons.wikimedia.org/wiki/File:Escultura_Prote%C3%A7%C3%A3o_(julho_2023),_Jardim_de_Alah_05.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023b-full.jpg" data-llb-src="href">
			<img src="gallery-2023b.jpg">
		</a>
		<figcaption>
			<p>
				Assinatura de Hippolyte Peyrol e data (1906)
			</p>
			<p class="credits">
				Foto: Matheus Avellar (1 de julho de 2023),
				via <a href="https://commons.wikimedia.org/wiki/File:Escultura_Prote%C3%A7%C3%A3o_(julho_2023),_Jardim_de_Alah_03.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição na escultura em si contendo o seguinte texto:
	</p>
	<pre class="inscription-text">H.Peyrol
1906</pre>
	<p>
		Além disso, há uma inscrição abaixo da escultura contendo o seguinte texto:
	</p>
	<pre class="inscription-text">Protecção</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2> -->
</section>
<%- makeOthersFromSeries(arguments[0]) %>