---
layout: monument.ejs
name: Escultura sem título de Angelo Venosa
alt_names: [
	"A Baleia"
]
categoria: escultura
tags: [
	"preliminar"
]
series: [
	"Praia do Leme"
]

data_inaug:
altura: 
largura: 
comprimento: 6
peso: 15000
material: [ Aço Corten ]
autores: [ "Angelo Venosa" ]

local: Praia do Leme
bairro: Leme
lat: -22.96236
lon: -43.16547

imrj: 348
wikidata: Q67203466
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Donatas Dabravolskas (13 de setembro de 2023),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Escultura_Sem_Nome,_a_Baleia_-_Rio_de_Janeiro_-_20230913104754.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<blockquote>
		Ângelo Venosa recorda que a obra, instalada há 22 anos na Praça Mauá, foi
		parar na Zona Sul a pedido da Marinha.
	</blockquote>
	<cite>
		— Emanuel Alencar (13 de outubro de 2012).
		<a href="https://oglobo.globo.com/rio/especialistas-escolhem-as-mais-imponentes-as-mais-estranhas-obras-de-arte-das-ruas-do-rio-6393244">Especialistas
		escolhem as mais imponentes e as mais estranhas obras de arte das ruas do
		Rio</a>. <i>O Globo</i>.
	</cite>
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			S.n. (s.d.).
			<a href="https://www.angelovenosa.com/obra/sem-titulo-3.html">Sem Título -
			Obras</a>. <i>Angelo Venosa</i>.
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]); %>