---
layout: monument.ejs
name: Cápsula do Tempo da Federação de Bandeirantes
categoria: marco
tags: [
	"possui escrita",
	"cápsula do tempo",
	"imagem não-livre"
]

data_inaug: 1969-08-10
altura: 2
largura: 
peso: 
material: [
	Granito
]

autores: []

local: Avenida Franklin Roosevelt
bairro: Centro
lat: -22.9094
lon: -43.1699

imrj: 171
wikidata: Q67203734
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
			<p class="credits">
				Foto: S.n. (4 de junho de 2007).
				<a href="https://www.waymarking.com/waymarks/WM3YKK">Bandeirantes time
				capsule - Rio de Janeiro, Brazil</a>. <i>Waymarking.com</i>.
			</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		O monumento foi uma doação da SURSAN (Superintendência de Urbanização
		e Saneamento), hoje sucedida pela CEDAE (Companhia Estadual de Águas e
		Esgotos), e da Marinha do Brasil à Federação das Bandeirantes do Brasil.
	</p>
	<blockquote>
		As festividades tiveram início no domingo, dia 10, com a presença de 2.000
		môças. Defronte da sede das Bandeirantes foi inaugrado um marco de granito
		com mais de 2 metros de altura. Nêle foi inserida a Cápsula do Tempo, que é
		um cilindro de bronze, com um metro de altura. [...]
		A cápsula foi trazida de helicóptero pelo Secretário Paula Soares e foi uma
		doação da SURSAN, que foi conduzida até o marco por 4 bandeirantes enquanto
		suas colegas entoavam canções e soltavam milhares de balões de gás.
	</blockquote>
	<cite>
		— S.n. (14 de agosto de 1969).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_04&pagfis=85432">Bandeirantes:
		Ano 2019 Com Mensagem</a>. <i>Diário de Notícias</i>, p.2.
	</cite>
	<blockquote>
		Trata-se de um mini-museu que conterá tudo sôbre a história do
		bandeirantismo, inclusive tôdas as reportagens publicadas durante êste ano
		de comemorações. Todos os documentos serão plastificados, para se
		conservarem durante êsse tão longo período. Miniaturas de uniformes de todos
		os tempos, fotografias antigas, broches, emblemas e mensagens. [...] Depois
		de um contato com o coronel Hunt, [...] ficou acertado que o Projeto Apolo,
		responsável pela primeira viagem do homem à Lua, contribuirá com um objeto
		que será colocado no interior da Cápsula.
	</blockquote>
	<cite>
		— S.n. (17 de julho de 1969).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=030678&pagfis=42586">Bandeirantes
		vão festejar 50 anos</a>. <i>Luta Democrática</i>, p.5.
	</cite>
	<p>
		A cápsula foi aberta no dia 13 de agosto de 2019, em uma cerimônia no
		Monumento Nacional aos Mortos da Segunda Guerra Mundial (também conhecido
		como "Monumento aos Pracinhas"), na Glória, na presença de mais de 700
		pessoas.<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Geraldo Ribeiro (14 de agosto de 2019).
			<a href="https://oglobo.globo.com/rio/capsula-revela-50-anos-depois-fatos-da-historia-do-bandeirantismo-congelados-no-tempo-23877303">Cápsula
			revela 50 anos depois fatos da história e do bandeirantismo 'congelados'
			no tempo</a>. <i>O Globo</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2007-full.jpg" data-llb-src="href">
			<img src="gallery-2007.jpg">
		</a>
		<figcaption>
			<p>
				Placa em junho de 2007
			</p>
			<p class="credits">
				Foto: S.n. (4 de junho de 2007).
				<a href="https://www.waymarking.com/waymarks/WM3YKK">Bandeirantes time
				capsule - Rio de Janeiro, Brazil</a>. <i>Waymarking.com</i>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2019a-full.jpg" data-llb-src="href">
			<img src="gallery-2019a.jpg">
		</a>
		<figcaption>
			<p>
				Placa em maio de 2019
			</p>
			<p class="credits">
				Foto: Paulo Cesar A. Cabello (25 de maio de 2019), via
				<a href="https://www.lisbrasil.com/c%C3%A1psula-do-tempo">lisbrasil.com</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2019b-full.jpg" data-llb-src="href">
			<img src="gallery-2019b.jpg">
		</a>
		<figcaption>
			<p>
				Cilindro de bronze removido do granito, em 2019
			</p>
			<p class="credits">
				Foto: S.n. / Movimento Bandeirante Brasil (13 de agosto de 2019), via
				<a href="https://www.facebook.com/photo/?fbid=2506608236061981&set=a.2506446682744803">Facebook</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2019c-full.jpg" data-llb-src="href">
			<img src="gallery-2019c.jpg">
		</a>
		<figcaption>
			<p>
				Conteúdos da cápsula sendo retirados, em 2019
			</p>
			<p class="credits">
				Foto: S.n. / Movimento Bandeirante Brasil (13 de agosto de 2019), via
				<a href="https://www.facebook.com/photo/?fbid=2506614689394669&set=a.2506446682744803">Facebook</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento, contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Federação de Bandeirantes do Brasil
        Jubileu de Ouro
          1919-1969

Foi encerrada neste granito uma Cápsula do Tempo
que deverá ser aberta no dia 13 de agosto de 2019.

    Homenagem da Secretaria de Turismo
        Governo da Guanabara - 1969
</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Movimento Bandeirante Brasil (28 de agosto de 2019).
			<a href="https://www.facebook.com/media/set/?set=a.2506446682744803">Cerimônia
			de Abertura da Cápsula do Tempo</a>. <i>Facebook</i>.
		</li>
		<li>
			Movimento Bandeirante BR (23 de agosto de 2019).
			<a href="https://youtu.be/vpBeUX-aKho">Cápsula do Tempo 1969-2019</a>.
			<i>YouTube</i>.
		</li>
	</ol>
</section>