---
layout: monument.ejs
name: Cápsula do Tempo da Federação de Bandeirantes
categoria: marco
tags: [
	"possui escrita",
	"sem descrição",
	"cápsula do tempo",
	"imagem não-livre"
]

data_inaug: 1969-08-13
altura: 
largura: 
peso: 
material: [
	Granito
]

autores: []

local: Avenida Franklin Roosevelt
bairro: Centro
lat: -22.9094
lon: -43.1699

imrj: 171
wikidata: Q67203734
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
			<p class="credits">
				Foto: S.n. (4 de junho de 2007).
				<a href="https://www.waymarking.com/waymarks/WM3YKK">Bandeirantes time
				capsule - Rio de Janeiro, Brazil</a>. <i>Waymarking.com</i>.
			</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="refs">
<!-- 	<ol>
		<li>
		</li>
	</ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2008-full.jpg" data-llb-src="href">
			<img src="gallery-2008.jpg">
		</a>
		<figcaption>
			<p>
				Placa em junho de 2007
			</p>
			<p class="credits">
				Foto: S.n. (4 de junho de 2007).
				<a href="https://www.waymarking.com/waymarks/WM3YKK">Bandeirantes time
				capsule - Rio de Janeiro, Brazil</a>. <i>Waymarking.com</i>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2019-full.jpg" data-llb-src="href">
			<img src="gallery-2019.jpg">
		</a>
		<figcaption>
			<p>
				Placa em maio de 2019
			</p>
			<p class="credits">
				Foto: Paulo Cesar A. Cabello (25 de maio de 2019), via
				<a href="https://www.lisbrasil.com/c%C3%A1psula-do-tempo">lisbrasil.com</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento, contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Federação de Bandeirantes do Brasil
        Jubileu de Ouro
          1919-1969

Foi encerrada neste granito uma Cápsula do Tempo
que deverá ser aberta no dia 13 de agosto de 2019.

    Homenagem da Secretaria de Turismo
        Governo da Guanabara - 1969
</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Movimento Bandeirante Brasil (28 de agosto de 2019).
			<a href="https://www.facebook.com/media/set/?set=a.2506446682744803">Cerimônia
			de Abertura da Cápsula do Tempo</a>. <i>Facebook</i>.
		</li>
		<li>
			Movimento Bandeirante BR (23 de agosto de 2019).
			<a href="https://youtu.be/vpBeUX-aKho">Cápsula do Tempo 1969-2019</a>.
			<i>YouTube</i>.
		</li>
	</ol>
</section>