---
layout: monument.ejs
name: Busto de Marechal Joaquim Ignacio Cardoso
categoria: busto
tags: [
	"possui escrita"
]
series: []

data_inaug: 1938-01-20
altura: 
largura: 
material: 
autores: []

local: 
bairro: Barra da Tijuca
lat: -23.00047
lon: -43.35359

imrj: 1084
wikidata: Q67203992
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (16 de julho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Busto_de_Joaquim_Ignacio_Cardoso_(julho_2023).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem a Joaquim Ignacio Baptista Cardoso (24/06/1860–07/03/1924), influente
		militar que teve parte nos movimentos pela independência do país, e avô do
		futuro presidente (1995–2003) Fernando Henrique Cardoso.
	</p>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1938-full.jpg" data-llb-src="href">
			<img src="gallery-1938.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (21 de janeiro de 1938).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_04&pagfis=44551">Inaugurado
				o Busto do Marechal Joaquim Ignacio</a>. <i>Correio da Manhã</i>, p.2
				[via Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (16 de julho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Busto_de_Joaquim_Ignacio_Cardoso_(julho_2023)_(close-up).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
              Marechal
Joaquim Ignacio Baptista Cardoso
Tributo de homenagem ao civismo
do insigne cidadão, venerável
e intrépido republicano.
24-6-1860            7-3-1924</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>