---
layout: default.ejs
title: Créditos — Monumentos Rio
---

<main>
<section class="maxwidth">
	<h1>Créditos e licenças de uso</h1>
	<ul>
		<li>
			<p>
				Imagem de rodapé do azulejo,
				<img style="max-height:1em" src="/assets/fundo_seconserva.jpg">,
				a partir do falecido website de monumentos da Seconserva,
				<a href="https://web.archive.org/web/20131003200455/http://riomonumentos.com/">riomonumentos.com</a>.
			</p>
		</li>
		<li>
			<p>
				Fonte "<strong>Inter</strong>" &copy; 2016–2020 The Inter Project
				Authors. "Inter" é uma marca registrada de <a href="https://rsms.me/">Rasmus Andersson</a>.
				Disponível pelo <a href="https://github.com/rsms/inter">GitHub</a> sob
				a licença <a href="https://github.com/rsms/inter/blob/254473eaa3f8f9e3859fa04de99fe6f89bf2715e/LICENSE.txt">SIL OFL v1.1</a>.
			</p>
		</li>
		<li>
			<p>
				Ícones por <a href="https://pictogrammers.com/">Pictogrammers</a>,
				<a href="https://boxicons.com/">Boxicons</a>
				e <a href="https://game-icons.net/">Game-icons.net</a> (<a href="https://delapouite.com/">Delapouite</a>),
				disponibilizados sob
				<a href="https://www.apache.org/licenses/LICENSE-2.0">Apache-2.0</a>,
				<a href="https://opensource.org/license/mit/">MIT License</a> e
				<a href="http://creativecommons.org/licenses/by/3.0/">CC-BY-3.0</a>
				respectivamente.
			</p>
			<p>
				Marcador de mapas por <a href="https://github.com/phosphor-icons/phosphor-icons">Phosphor</a>,
				via <a href="https://www.svgrepo.com/svg/363750/map-pin-duotone">SVG Repo</a>,
				disponível sob <a href="https://opensource.org/license/mit/">MIT License</a>.
			</p>
		</li>
	</ul>
</section>
</main>