---
layout: default.ejs
title: Créditos — Monumentos Rio
---

<main>
<section class="maxwidth center">
	<h1 class="cutout-width-limit">Créditos e licenças de uso</h1>
	<section>
		<h2 id="software">Software</h2>
		<ul>
			<li>
				<p>
					<a href="https://rsms.me/inter/">Inter</a> &copy; The Inter Project
					Authors. "Inter" é uma marca registrada de <a href="https://rsms.me/">Rasmus Andersson</a>.
					Disponível pelo <a href="https://github.com/rsms/inter">GitHub</a> sob
					<a href="https://github.com/rsms/inter/blob/254473eaa3f8f9e3859fa04de99fe6f89bf2715e/LICENSE.txt">SIL OFL v1.1</a>.
				</p>
			</li>
			<li>
				<p>
					<a href="https://pannellum.org/">Pannellum</a> &copy; Matthew Petroff.
					Disponível pelo <a href="https://github.com/mpetroff/pannellum">GitHub</a> sob
					<a href="https://github.com/mpetroff/pannellum/blob/33bc23dba98b044a8f697044673a329e1ae72c5d/COPYING">MIT License</a>.
				</p>
			</li>
			<li>
				<p>
					<a href="https://leafletjs.com/">Leaflet</a>
					&copy; 2010-2023 Volodymyr Agafonkin; &copy; 2010-2011 CloudMade.
					Disponível pelo <a href="https://github.com/Leaflet/Leaflet">GitHub</a> sob
					<a href="https://github.com/Leaflet/Leaflet/blob/14f450502256b160ab80aa90fd3a11c81551059b/LICENSE">BSD 2-Clause License</a>.
				</p>
				<ul>
					<li>
						<p>
							Leaflet.fullscreen &copy; MapBox.
							Disponível pelo <a href="https://github.com/Leaflet/Leaflet.fullscreen">GitHub</a> sob
							<a href="https://github.com/Leaflet/Leaflet.fullscreen/blob/2863cc12c70ad783cc8e06aa55f6bff190cd3f06/LICENSE">ISC License</a>.
						</p>
					</li>
					<li>
						<p>
							leaflet-markers-canvas &copy; François Romain.
							Disponível pelo <a href="https://github.com/francoisromain/leaflet-markers-canvas">GitHub</a> sob
							<a href="https://github.com/francoisromain/leaflet-markers-canvas/blob/3715e4b91acbc645662845a455285cccbd5c42ef/licence.md">AGPL-3.0 License</a>.
						</p>
					</li>
				</ul>
			</li>
		</ul>
	</section>
	<section>
		<h2 id="imagens">Ícones e imagens</h2>
		<ul>
			<li>
				<p>
					Ícones por <a href="https://pictogrammers.com/">Pictogrammers</a>,
					<a href="https://boxicons.com/">Boxicons</a>
					e <a href="https://game-icons.net/">Game-icons.net</a> (<a href="https://delapouite.com/">Delapouite</a>),
					disponibilizados sob
					<a href="https://www.apache.org/licenses/LICENSE-2.0">Apache-2.0</a>,
					<a href="https://opensource.org/license/mit/">MIT License</a> e
					<a href="http://creativecommons.org/licenses/by/3.0/">CC-BY-3.0</a>
					respectivamente.
				</p>
			</li>
			<li>
				<p>
					Marcador de mapas por <a href="https://github.com/phosphor-icons/phosphor-icons">Phosphor</a>,
					via <a href="https://www.svgrepo.com/svg/363750/map-pin-duotone">SVG Repo</a>,
					disponível sob <a href="https://opensource.org/license/mit/">MIT License</a>.
				</p>
			</li>
			<li>
				<p>Imagens das categorias do homepage:</p>
				<ul>
					<li>
						<p>
							Inventário:
							<a href="https://unsplash.com/photos/fhOQfT1eVEA">Eilis Garvey</a>,
							via Unsplash.
						</p>
					</li>
					<li>
						<p>
							Obras:
							<a href="https://pixabay.com/images/id-391276/">David Mark</a>, via
							Pixabay.
						</p>
					</li>
					<li>
						<p>
							Bustos: Matheus Avellar (6 de novembro de 2021), via
							<a href="https://commons.wikimedia.org/wiki/File:Busto_de_Jo%C3%A3o_Corr%C3%AAa_Ferreira_da_Silva_-_closeup.jpg">Wikimedia
							Commons</a>.
						</p>
					</li>
					<li>
						<p>
							Chafarizes:
							<a href="https://pixabay.com/images/id-4759014/">Jazella</a>, via
							Pixabay.
						</p>
					</li>
					<li>
						<p>
							Estátuas: Claude Meisch (19 de abril de 2011),
							<a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC-BY-SA-3.0</a>,
							via
							<a href="https://commons.wikimedia.org/wiki/File:Luxembourg_City_monument_Guillaume_II_statue_2011.jpg">Wikimedia
							Commons</a> (descolorido).
						</p>
					</li>
					<li>
						<p>
							Marcos:
							<a href="https://unsplash.com/photos/-edJ8dB3v84">Ethan Grey</a>,
							via Unsplash.
						</p>
					</li>
					<li>
						<p>
							Esculturas:
							<a href="https://pixabay.com/images/id-1729273/">Bruno</a>,
							via Pixabay.
						</p>
					</li>
				</ul>
			</li>
			<li>
				<p>
					Imagem de rodapé do azulejo,
					<img style="max-height:1em" src="/assets/fundo_seconserva.jpg">,
					a partir do falecido website de monumentos da Seconserva,
					<a href="https://web.archive.org/web/20131003200455/http://riomonumentos.com/">riomonumentos.com</a>.
				</p>
			</li>
		</ul>
	</section>
	<section>
		<h2 id="recursos">Recursos</h2>
		<ul>
			<li>
				<p>
					<strong>Localização</strong><br>
					Nomes de praças e ruas no <b>data.rio</b>:
					<a href="https://www.data.rio/datasets/PCRJ::logradouros/">PCRJ::logradouros</a>;<br>
					Delimitação de bairros no <b>data.rio</b>:
					<a href="https://www.data.rio/datasets/PCRJ::limite-de-bairros/">PCRJ::limite-de-bairros</a>.
				</p>
			</li>
			<li>
				<p>
					<strong>Jornais antigos</strong><br>
					Hemeroteca Digital da Biblioteca Nacional:
					<a href="https://memoria.bn.br/">memoria.bn.br</a>;<br>
					Acervo do jornal O Globo:
					<a href="https://oglobo.globo.com/acervo/">oglobo.globo.com/acervo</a>;<br>
					Hemeroteca Digital Catarinense:
					<a href="https://hemeroteca2.cultura.sc.gov.br/">hemeroteca2.cultura.sc.gov.br</a>.
				</p>
			</li>
			<li>
				<p>
					<strong>Fotos antigas</strong><br>
					Acervo do Instituto Moreira Salles:
					<a href="https://acervos.ims.com.br/">acervos.ims.com.br</a>;<br>
					Brasiliana Fotográfica:
					<a href="https://brasilianafotografica.bn.gov.br/">brasilianafotografica.bn.gov.br</a>;<br>
					Acervo do Arquivo Nacional (<span title="Um dos websites com pior usabilidade do planeta.">😖</span>):
					<a href="https://sian.an.gov.br/">sian.an.gov.br</a>;<br>
					Acervo do Arquivo Geral da Cidade do Rio (<span title="O website com pior usabilidade do planeta.">😰</span>):
					<a href="http://wpro.rio.rj.gov.br/arquivovirtual/web/">wpro.rio.rj.gov.br/arquivovirtual/web</a>.
				</p>
			</li>
			<li>
				<p>
					<strong>Ferramentas</strong><br>
					Compressão de imagens:
					<a href="https://compressjpeg.com/">compressjpeg.com</a>,
					<a href="https://compresspng.com/">compresspng.com</a>.
				</p>
			</li>
		</ul>
	</section>
</section>
<style>
ul ul > li:first-of-type {
	margin-top: .5rem;
}
</style>
</main>