---
layout: default.ejs
title: Créditos — Monumentos Rio
---

<main>
<section class="maxwidth">
	<h1>Créditos e licenças de uso</h1>
	<h2>Software</h2>
	<ul>
		<li>
			<p>
				Inter &copy; The Inter Project
				Authors. "Inter" é uma marca registrada de <a href="https://rsms.me/">Rasmus Andersson</a>.
				Disponível pelo <a href="https://github.com/rsms/inter">GitHub</a> sob
				a licença <a href="https://github.com/rsms/inter/blob/254473eaa3f8f9e3859fa04de99fe6f89bf2715e/LICENSE.txt">SIL OFL v1.1</a>.
			</p>
		</li>
		<li>
			<p>
				<a href="https://pannellum.org/">Pannellum</a> &copy; Matthew Petroff.
				Disponível pelo <a href="https://github.com/mpetroff/pannellum">GitHub</a> sob
				<a href="https://github.com/mpetroff/pannellum/blob/33bc23dba98b044a8f697044673a329e1ae72c5d/COPYING">MIT License</a>.
			</p>
		</li>
		<li>
			<p>
				<a href="https://leafletjs.com/">Leaflet</a>
				&copy; 2010-2023 Volodymyr Agafonkin; &copy; 2010-2011 CloudMade.
				Disponível pelo <a href="https://github.com/Leaflet/Leaflet">GitHub</a> sob
				<a href="https://github.com/Leaflet/Leaflet/blob/14f450502256b160ab80aa90fd3a11c81551059b/LICENSE">BSD 2-Clause License</a>.
			</p>
		</li>
	</ul>
	<h2>Ícones e imagens</h2>
	<ul>
		<li>
			<p>
				Ícones por <a href="https://pictogrammers.com/">Pictogrammers</a>,
				<a href="https://boxicons.com/">Boxicons</a>
				e <a href="https://game-icons.net/">Game-icons.net</a> (<a href="https://delapouite.com/">Delapouite</a>),
				disponibilizados sob
				<a href="https://www.apache.org/licenses/LICENSE-2.0">Apache-2.0</a>,
				<a href="https://opensource.org/license/mit/">MIT License</a> e
				<a href="http://creativecommons.org/licenses/by/3.0/">CC-BY-3.0</a>
				respectivamente.
			</p>
			<p>
				Marcador de mapas por <a href="https://github.com/phosphor-icons/phosphor-icons">Phosphor</a>,
				via <a href="https://www.svgrepo.com/svg/363750/map-pin-duotone">SVG Repo</a>,
				disponível sob <a href="https://opensource.org/license/mit/">MIT License</a>.
			</p>
		</li>
		<li>
			<p>Imagens das categorias do homepage:</p>
			<ul>
				<li>
					<p>
						Inventário:
						<a href="https://unsplash.com/photos/fhOQfT1eVEA">Eilis Garvey</a>,
						via Unsplash.
					</p>
				</li>
				<li>
					<p>
						Obras:
						<a href="https://pixabay.com/images/id-391276/">David Mark</a>, via
						Pixabay.
					</p>
				</li>
				<li>
					<p>
						Bustos: Matheus Avellar (6 de novembro de 2021), via
						<a href="https://commons.wikimedia.org/wiki/File:Busto_de_Jo%C3%A3o_Corr%C3%AAa_Ferreira_da_Silva_-_closeup.jpg">Wikimedia
						Commons</a>.
					</p>
				</li>
				<li>
					<p>
						Chafarizes:
						<a href="https://pixabay.com/images/id-4759014/">Jazella</a>, via
						Pixabay.
					</p>
				</li>
				<li>
					<p>
						Estátuas: Claude Meisch (19 de abril de 2011),
						<a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC-BY-SA-3.0</a>,
						via
						<a href="https://commons.wikimedia.org/wiki/File:Luxembourg_City_monument_Guillaume_II_statue_2011.jpg">Wikimedia
						Commons</a> (descolorido).
					</p>
				</li>
				<li>
					<p>
						Marcos:
						<a href="https://unsplash.com/photos/-edJ8dB3v84">Ethan Grey</a>,
						via Unsplash.
					</p>
				</li>
				<li>
					<p>
						Esculturas:
						<a href="https://pixabay.com/images/id-1729273/">Bruno</a>,
						via Pixabay.
					</p>
				</li>
			</ul>
		</li>
		<li>
			<p>
				Imagem de rodapé do azulejo,
				<img style="max-height:1em" src="/assets/fundo_seconserva.jpg">,
				a partir do falecido website de monumentos da Seconserva,
				<a href="https://web.archive.org/web/20131003200455/http://riomonumentos.com/">riomonumentos.com</a>.
			</p>
		</li>
	</ul>
</section>
</main>