---
layout: default.ejs
title: "Datas — Monumentos Rio"
---
<%_ const monuments = collections.all.filter(file => file.filePathStem.startsWith("/id/"));
monuments.sort((a, b) => {
	const ad = dateify(a.data.data_inaug) || -Infinity;
	const bd = dateify(b.data.data_inaug) || -Infinity;
	return ad - bd;
});
const monument_count = monuments.length;
%>

<main>
<h1 class="cutout-width-limit">Monumentos por data de inauguração</h1>
<section class="indent-children maxwidth">
	<p>
		Esta é uma lista de todos os monumentos catalogados, ordenados pela data
		em que foram inaugurados.
	</p>
</section>
<div class="card-list">
<%_ for(let i = 0; i < monuments.length; i++) {
	%><%- makeCard(monuments[i]) %><%_
} %>
</div>
</main>


