---
layout: default.html
title: Monumentos Rio
---

<main>
	<p>Bem vindo ao <strong>monumentos.rio</strong>!</p>
	<p>
		Este é um catálogo, ou inventário, de todos os monumentos na cidade do
		Rio de Janeiro.
	</p>
	<p>
		Os monumentos estão separados nas seguintes categorias:
	</p>
	<ul>
		<li><i class="category busto">busto</i> iniciados com B</li>
		<li><i class="category chafariz">chafariz</i> iniciados com C</li>
		<li><i class="category estátua">estátua</i> iniciados com E</li>
		<li><i class="category marco">marco</i> iniciados com M</li>
		<li><i class="category escultura">escultura</i> iniciados com S</li>
	</ul>
</main>