---
layout: default.html
title: Mais — Monumentos Rio
---

<main>
	<h1>Outros projetos</h1>
	<ul>
		<li>
			<p>
				<strong>Inventário dos Monumentos do RJ</strong>:
				<a href="http://inventariodosmonumentosrj.com.br/">http://inventariodosmonumentosrj.com.br/</a><br>
				Projeto incrível pela dedicada Vera Dias, serviu de inspiração para
				este website.
			</p>
		</li>
		<li>
			<strong>iPatrimônio</strong>:
			<a href="https://www.ipatrimonio.org/">https://www.ipatrimonio.org/</a>
		</li>
	</ul>
</main>