---
layout: default.ejs
title: Projetos similares — Monumentos Rio
---

<main>
	<div hidden>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
			<path id="icon-gravestone" d="M10,2H14C17.31,2 19,4.69 19,8V18.66C16.88,17.63 15.07,17 12,17C8.93,17 7.12,17.63 5,18.66V8C5,4.69 6.69,2 10,2M8,8V9.5H16V8H8M9,12V13.5H15V12H9M3,22V21.31C5.66,19.62 13.23,15.84 21,21.25V22H3Z"/>
		</svg>
		<style>
.dead-website h2 {
	color: #444;
	color: var(--text-alt-color, #444);
}
.dead-website h2 .icon {
	transform: translateY(-0.1em);;
}
		</style>
	</div>
	<section class="maxwidth center">
		<h1 class="cutout-width-limit">Projetos similares</h1>
		<p class="noindent">
			Esta é uma lista de projetos semelhantes que serviram (e continuam
			servindo) de inspiração e referência a esse.
		</p>
		<section class="indent-children dead-website">
			<h2>
				<svg class="icon"><use href="#icon-gravestone"></use></svg>
				Arte Ambiente Cidade
			</h2>
			<p class="noindent">
				<strong>Projeto abandonado</strong><br>
				<strong>Ano:</strong> 2010–?<br>
				<strong>Monumentos:</strong> 570<br>
				<strong>URL:</strong>
				<strong>arteambientecidade.com.br</strong>
				(não parece ter sido arquivado em lugar nenhum 😢)<br>
			</p>
			<p>
				Projeto de Mariana Varzea e Roberto Ainbinder, criado a partir do
				trabalho final de mestrado de Varzea. Foi publicado em janeiro de 2010
				em tiragem limitada de 3 mil exemplares do livro "Arte Ambiente – Cidade
				Rio de Janeiro" (ISBN 978-85-62119-01-9, editora Uiti), que trazia em si
				o endereço eletrônico do projeto digital. Fotografias de Cesar Duarte,
				design por Jair de Souza.
			</p>
			<p class="noindent">
				<strong>Fontes</strong>
			</p>
			<ol style="font-size:85%">
				<li>
					Felipe Werneck (28 de janeiro de 2010).
					<a href="https://www.estadao.com.br/brasil/livro-conta-historia-da-arte-publica-do-rio-a-maior-do-pais/">Livro
					conta história da arte pública do Rio, a maior do País</a>.
					<i>Estadão</i>.
				</li>
			</ol>
		</section>
		<hr>
		<section class="indent-children dead-website">
			<h2>
				<svg class="icon"><use href="#icon-gravestone"></use></svg>
				Rio Arte Cidade
			</h2>
			<p class="noindent">
				<strong>Projeto abandonado</strong><br>
				<strong>Ano:</strong> 2012–2017? (5 anos)<br>
				<strong>Monumentos:</strong> 61<br>
				<strong>URL:</strong>
				<strong>rioartecidade.com.br</strong>
				(<a href="https://web.archive.org/web/20160110232337/http://rioartecidade.com.br/inicio/">arquivado</a>
				parcialmente no Internet Archive)<br>
			</p>
			<p>
				Projeto curado por Mariana Varzea e produzido pela editora Letra e
				Imagem, inaugurado em 18 de dezembro de 2012.<sup>1</sup> De acordo com
				reportagens, tinha vídeos, fotos e até depoimentos de artistas sobre as
				obras. Infelizmente não foi arquivado completamente no Internet Archive.
			</p>
			<p>
				Veja uma lista dos monumentos presentes no projeto, antes de ser
				encerrado, <a href="/rio-arte-cidade/">aqui</a>.
			</p>
			<p class="noindent">
				<strong>Fontes</strong>
			</p>
			<ol style="font-size:85%">
				<li>
					Maria Elisa Alves (18 de dezembro de 2012).
					<a href="https://oglobo.globo.com/rio/obras-de-arte-expostas-em-pracas-ruas-ganham-destaque-em-site-7091489">Obras
					de arte expostas em praças e ruas ganham destaque em site</a>.
					<i>O Globo</i>.
				</li>
			</ol>
		</section>
		<hr>
		<section class="indent-children dead-website">
			<h2>
				<svg class="icon"><use href="#icon-gravestone"></use></svg>
				Monumentos e Chafarizes da Cidade do Rio de Janeiro
			</h2>
			<p class="noindent">
				<strong>Projeto abandonado</strong><br>
				<strong>Ano:</strong> 2013–2015 (2 anos)<br>
				<strong>Monumentos:</strong> 383<br>
				<strong>URL:</strong>
				<strong>riomonumentos.com</strong>
				(<a href="https://web.archive.org/web/20141129090755/http://riomonumentos.com/">arquivado</a>
				no Internet Archive)<br>
			</p>
			<p>
				Site oficial de inventário de monumentos da Secretaria Municipal de
				Conservação e Serviços Públicos do Rio de Janeiro, inaugurado na
				véspera do Dia do Patrimônio Histórico de 2013, em 16 de agosto.
				Foi retirado do ar em meados de 2015.
			</p>
			<p>
				Segundo reportagem pela Agência Brasil, o portal possuía a
				história de 383 monumentos, de um total conhecido, até então, de 1100
				obras.<sup>1</sup>
			</p>
			<p>
				Possuía versão de aplicativo:
				<a href="https://play.google.com/store/apps/details?id=com.agenciatype.riomonumentos">com.agenciatype.riomonumentos</a>
				(Android) e
				<a href="https://apps.apple.com/pt/app/rio-monumentos/id689531340">id689531340</a>
				(iOS), ambos já retirados do ar.
			</p>
			<p class="noindent">
				<strong>Fontes</strong>
			</p>
			<ol style="font-size:85%">
				<li>
					Nádia Franco (ed.) (16 de agosto de 2013).
					<a href="https://memoria.ebc.com.br/cultura/2013/08/rio-inaugura-site-que-conta-historia-de-monumentos-da-cidade">Rio lança site que conta história de monumentos da cidade</a>.
					<i>Agência Brasil</i>.
				</li>
			</ol>
		</section>
		<hr>
		<section class="indent-children dead-website">
			<h2>
				<svg class="icon"><use href="#icon-gravestone"></use></svg>
				Inventário dos Monumentos do RJ
			</h2>
			<p class="noindent">
				<strong>Projeto abandonado</strong><br>
				<strong>Ano:</strong> 2017–2023 (6 anos)<br>
				<strong>Monumentos:</strong> 1379<br>
				<strong>URL:</strong>
				<strong>inventariodosmonumentosrj.com.br</strong>
				(<a href="https://web.archive.org/web/20221203231727/http://inventariodosmonumentosrj.com.br/">arquivado</a>
				no Internet Archive)<br>
			</p>
			<p>
				Projeto incrível pela dedicada Vera Dias, inaugurado em 2017, que
				cumpre um papel muito similar a esse website. Na última vez que conferi,
				o projeto possuía 1379 monumentos catalogados.
			</p>
			<p>
				Vera também é a autora do livro "Os monumentos do Rio de Janeiro:
				inventário 2015", que cataloga 1265 monumentos cariocas em 83 bairros.<sup>1</sup>
			</p>
			<p class="noindent">
				<strong>Fontes</strong>
			</p>
			<ol style="font-size:85%">
				<li>
					S.n. (17 de dezembro de 2015).
					<a href="https://www.revistamuseu.com.br/site/br/noticias/nacionais/9391-17-12-2015-prefeitura-lanca-o-livro-os-monumentos-do-rio-de-janeiro-inventario-2015.html">Prefeitura
					lança o livro `Os monumentos do Rio de Janeiro – Inventário 2015`</a>.
					<i>Revista Museu</i>.
				</li>
			</ol>
		</section>
		<hr>
		<section class="indent-children">
			<h2>Monumentos do Rio de Janeiro</h2>
			<p class="noindent">
				<strong>Ano:</strong> 2010–presente (<%= getYearsSince(2010, false) %>)<br>
				<strong>Monumentos:</strong> 1408<br>
				<strong>URL:</strong>
				<a href="http://monumentosdorio.com.br/">monumentosdorio.com.br</a><br>
			</p>
			<p>
				Autodeclarado "primeiro catálogo online dos monumentos da cidade e do
				estado", criado em 2010 com "cerca de 600 obras",<sup>1</sup> descreve
				seu objetivo como "inventariar as obras de arte dos logradouros públicos
				do município do Rio de Janeiro". Parece estar sendo revitalizado
				recentemente.
			</p>
			<p>
				Alega 1408 obras catalogadas, mas não confirmei isso pessoalmente.
			</p>
			<ol style="font-size:85%">
				<li>
					Quintino Gomes Freire (27 de janeiro de 2010).
					<a href="https://diariodorio.com/monumentos-do-rio-de-janeiro/">Monumentos
					do Rio de Janeiro</a>. <i>Diário do Rio</i>.
		</section>
		<hr>
		<section class="indent-children">
			<h2>iPatrimônio</h2>
			<p class="noindent">
				<strong>URL:</strong>
				<a href="https://ipatrimonio.org/">ipatrimonio.org</a>
			</p>
			<p>
				Tangencialmente relacionado, mas ainda relevante: cataloga diferentes
				patrimônios históricos e culturais pelo Brasil.
			</p>
		</section>
	</section>
</main>