---
layout: default.ejs
title: Projetos similares — Monumentos Rio
---

<main>
	<div hidden>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
			<path id="icon-gravestone" d="M10,2H14C17.31,2 19,4.69 19,8V18.66C16.88,17.63 15.07,17 12,17C8.93,17 7.12,17.63 5,18.66V8C5,4.69 6.69,2 10,2M8,8V9.5H16V8H8M9,12V13.5H15V12H9M3,22V21.31C5.66,19.62 13.23,15.84 21,21.25V22H3Z"/>
		</svg>
		<style>
.dead-website h2 {
	color: #444;
	color: var(--text-alt-color, #444);
}
.dead-website h2 .icon {
	transform: translateY(-0.1em);;
}
		</style>
	</div>
	<section class="maxwidth center">
		<h1 class="cutout-width-limit">Projetos similares</h1>
		<p class="noindent">
			Esta é uma lista de projetos semelhantes que serviram (e continuam
			servindo) de inspiração e referência a esse.
		</p>
		<section class="indent-children dead-website">
			<h2>
				<svg class="icon"><use href="#icon-gravestone"></use></svg>
				Monumentos e Chafarizes da Cidade do Rio de Janeiro
			</h2>
			<p class="noindent">
				<strong>Projeto abandonado</strong><br>
				<strong>Ano:</strong> 2013–2015 (2 anos)<br>
				<strong>Monumentos:</strong> 383<br>
				<strong>URL:</strong>
				<a href="http://riomonumentos.com/">riomonumentos.com</a>
				(<a href="https://web.archive.org/web/20141129090755/http://riomonumentos.com/">arquivado</a>
				no Internet Archive)<br>
			</p>
			<p>
				Site oficial de inventário de monumentos da Secretaria Municipal de
				Conservação e Serviços Públicos do Rio de Janeiro, inaugurado na
				véspera do Dia do Patrimônio Histórico de 2013, em 16 de agosto.
				Foi retirado do ar em meados de 2015.
			</p>
			<p>
				Segundo reportagem pela Agência Brasil, o portal possuía a
				história de 383 monumentos, de um total conhecido, até então, de 1100
				obras.<sup>1</sup>
			</p>
			<p>
				Possuía versão de aplicativo:
				<a href="https://play.google.com/store/apps/details?id=com.agenciatype.riomonumentos">com.agenciatype.riomonumentos</a>
				(Android) e
				<a href="https://apps.apple.com/pt/app/rio-monumentos/id689531340">id689531340</a>
				(iOS), ambos já retirados do ar.
			</p>
			<p class="noindent">
				<strong>Fontes</strong>
			</p>
			<ol style="font-size:85%">
				<li>
					Nádia Franco (ed.) (16 de agosto de 2013).
					<a href="https://memoria.ebc.com.br/cultura/2013/08/rio-inaugura-site-que-conta-historia-de-monumentos-da-cidade">Rio lança site que conta história de monumentos da cidade</a>.
					<i>Agência Brasil</i>.
				</li>
			</ol>
		</section>
		<hr>
		<section class="indent-children dead-website">
			<h2>
				<svg class="icon"><use href="#icon-gravestone"></use></svg>
				Inventário dos Monumentos do RJ
			</h2>
			<p class="noindent">
				<strong>Projeto abandonado</strong><br>
				<strong>Ano:</strong> 2017–2023 (6 anos)<br>
				<strong>Monumentos:</strong> 1379<br>
				<strong>URL:</strong>
				<a href="http://inventariodosmonumentosrj.com.br/">inventariodosmonumentosrj.com.br</a>
				(<a href="https://web.archive.org/web/20221203231727/http://inventariodosmonumentosrj.com.br/">arquivado</a>
				no Internet Archive)<br>
			</p>
			<p>
				Projeto incrível pela dedicada Vera Dias, inaugurado em 2017, que
				cumpre um papel muito similar a esse website. Na última vez que conferi,
				o projeto possuía 1379 monumentos catalogados.
			</p>
			<p>
				Vera também é a autora do livro "Os monumentos do Rio de Janeiro:
				inventário 2015", que cataloga 1265 monumentos cariocas em 83 bairros.<sup>1</sup>
			</p>
			<p class="noindent">
				<strong>Fontes</strong>
			</p>
			<ol style="font-size:85%">
				<li>
					S.n. (17 de dezembro de 2015).
					<a href="https://www.revistamuseu.com.br/site/br/noticias/nacionais/9391-17-12-2015-prefeitura-lanca-o-livro-os-monumentos-do-rio-de-janeiro-inventario-2015.html">Prefeitura
					lança o livro `Os monumentos do Rio de Janeiro – Inventário 2015`</a>.
					<i>Revista Museu</i>.
				</li>
			</ol>
		</section>
		<hr>
		<section class="indent-children">
			<h2>Monumentos do Rio de Janeiro</h2>
			<p class="noindent">
				<strong>Ano:</strong> 2010–presente (<%= getYearsSince(2010, false) %>)<br>
				<strong>Monumentos:</strong> 1408<br>
				<strong>URL:</strong>
				<a href="http://monumentosdorio.com.br/">monumentosdorio.com.br</a><br>
			</p>
			<p>
				Autodeclarado "primeiro catálogo online dos monumentos da cidade e do
				estado", criado em 2010, descreve seu objetivo como "inventariar as
				obras de arte dos logradouros públicos do município do Rio de Janeiro".
				Parece estar sendo revitalizado recentemente.
			</p>
			<p>
				Alega 1408 obras catalogadas, mas não confirmei isso pessoalmente.
			</p>
		</section>
		<hr>
		<section class="indent-children">
			<h2>iPatrimônio</h2>
			<p class="noindent">
				<strong>URL:</strong>
				<a href="https://ipatrimonio.org/">ipatrimonio.org</a>
			</p>
			<p>
				Tangencialmente relacionado, mas ainda relevante: cataloga diferentes
				patrimônios históricos e culturais pelo Brasil.
			</p>
		</section>
	</section>
</main>