---
layout: default.ejs
title: Projetos similares — Monumentos Rio
---

<main>
	<section class="maxwidth">
		<h1>Projetos similares</h1>
		<p class="noindent">
			Esta é uma lista de projetos semelhantes que serviram (e continuam
			servindo) de inspiração e referência a esse.
		</p>
		<section class="indent-children">
			<h2>Monumentos e Chafarizes da Cidade do Rio de Janeiro</h2>
			<p class="noindent">
				<strong>URL</strong>:
				<a href="http://riomonumentos.com/">http://riomonumentos.com/</a>
				(<a href="https://web.archive.org/web/20141129090755/http://riomonumentos.com/">arquivado</a>
				no Internet Archive)<br>
			</p>
			<p>
				Site oficial de inventário de monumentos da Secretaria Municipal de
				Conservação e Serviços Públicos do Rio de Janeiro, inaugurado na
				véspera do Dia do Patrimônio Histórico de 2013, em 16 de agosto.
				Foi retirado do ar em meados de 2015.
			</p>
			<p>
				Segundo reportagem pela Agência Brasil, o portal possuía a
				história de 383 monumentos, de um total conhecido, até então, de 1100
				obras.<sup>1</sup>
			</p>
			<p>
				Possuía versão de aplicativo:
				<a href="https://play.google.com/store/apps/details?id=com.agenciatype.riomonumentos">com.agenciatype.riomonumentos</a>
				(Android) e
				<a href="https://apps.apple.com/pt/app/rio-monumentos/id689531340">id689531340</a>
				(iOS), ambos já retirados do ar.
			</p>
			<p class="noindent">
				<strong>Fontes</strong>
			</p>
			<ol style="font-size:85%">
				<li>
					Nádia Franco (ed.) (16 de agosto de 2013).
					<a href="https://memoria.ebc.com.br/cultura/2013/08/rio-inaugura-site-que-conta-historia-de-monumentos-da-cidade">Rio lança site que conta história de monumentos da cidade</a>.
					<i>Agência Brasil</i>.
				</li>
			</ol>
		</section>
		<hr>
		<section class="indent-children">
			<h2>Inventário dos Monumentos do RJ</h2>
			<p class="noindent">
				<strong>URL</strong>:
				<a href="http://inventariodosmonumentosrj.com.br/">http://inventariodosmonumentosrj.com.br/</a><br>
			</p>
			<p>
				Projeto incrível pela dedicada Vera Dias, inaugurado em 2017, que
				cumpre um papel muito similar a esse website. Na última vez que conferi,
				o projeto possuía 1379 monumentos catalogados.
			</p>
			<p>
				Vera também é a autora do livro "Os monumentos do Rio de Janeiro:
				inventário 2015", que cataloga 1265 monumentos cariocas em 83 bairros.<sup>1</sup>
			</p>
			<p class="noindent">
				<strong>Fontes</strong>
			</p>
			<ol style="font-size:85%">
				<li>
					S.n. (17 de dezembro de 2015).
					<a href="https://www.revistamuseu.com.br/site/br/noticias/nacionais/9391-17-12-2015-prefeitura-lanca-o-livro-os-monumentos-do-rio-de-janeiro-inventario-2015.html">Prefeitura
					lança o livro `Os monumentos do Rio de Janeiro – Inventário 2015`</a>.
					<i>Revista Museu</i>.
				</li>
			</ol>
		</section>
		<hr>
		<section class="indent-children">
			<h2>Monumentos do Rio de Janeiro</h2>
			<p class="noindent">
				<strong>URL</strong>:
				<a href="http://monumentosdorio.com.br/">http://monumentosdorio.com.br/</a><br>
			</p>
			<p>
				Autodeclarado "primeiro catálogo online dos monumentos da cidade e do
				estado", criado em 2010, descreve seu objetivo como "inventariar as
				obras de arte dos logradouros públicos do município do Rio de Janeiro".
				Parece estar sendo revitalizado recentemente.
			</p>
			<p>
				Alega 1408 obras catalogadas, mas não confirmei isso pessoalmente.
			</p>
		</section>
		<hr>
		<section class="indent-children">
			<h2>iPatrimônio</h2>
			<p class="noindent">
				<strong>URL</strong>:
				<a href="https://ipatrimonio.org/">https://ipatrimonio.org/</a>
			</p>
			<p>
				Tangencialmente relacionado, mas ainda relevante: cataloga diferentes
				patrimônios históricos e culturais pelo Brasil.
			</p>
		</section>
	</section>
</main>