---
layout: default.ejs
title: Sobre — Monumentos Rio
---

<main>
	<section class="maxwidth indent-children">
		<h1>Sobre o projeto</h1>
		<p>
			Este projeto tem como objetivo agregar, catalogar e listar todos os
			monumentos da cidade do Rio de Janeiro. Ele é desenvolvido e mantido de
			forma voluntária e independente, sem associação ao governo da cidade do
			Rio de Janeiro.
		</p>
		<p>
			Não é a primeira vez que alguém tenta esse feito. Para outros projetos
			similares, selecione a opção no menu acima.
		</p>
		<p>
			(parágrafo sobre: a ideia não é ser <em>melhor</em> que qualquer um...)
		</p>
		<h2>Sobre os identificadores</h2>
		<p>
			Em primeira vista, os identificadores de monumentos (por exemplo,
			<span class="identifier">B35812</span>) podem parecer aleatórios.
		</p>
	</section>
</main>