---
layout: default.ejs
title: Sobre — Monumentos Rio
---

<main>
	<section class="maxwidth indent-children">
		<h1>Sobre o projeto</h1>
		<p>
			Este projeto tem como objetivo agregar, catalogar e listar todos os
			monumentos da cidade do Rio de Janeiro. Ele é desenvolvido e mantido de
			forma voluntária e independente, sem associação ao governo da cidade do
			Rio de Janeiro.
		</p>
		<p>
			Não é a primeira vez que alguém tenta esse feito. Há uma lista de projetos
			similares anteriores no menu de navegação acima.
		</p>
		<p>
			O objetivo desse projeto não é ser "<em>melhor</em>" que qualquer um dos
			projetos anteriores, nem substituí-los eventualmente. Pelo contrário, é
			agregar ao inventariado já construído pelos outros websites de forma
			cooperativa. Caso alguma informação esteja faltando ou incorreta em um dos
			projetos, os outros servem para complementá-lo e corrigí-lo.
		</p>
		<h2>Sobre os identificadores</h2>
		<p>
			Por enquanto, o site ainda está em beta. Portanto, os identificadores
			(como, por exemplo, "<span class="identifier">B372</span>") ainda não são
			permanentes, e podem mudar.
		</p>
		<p>
			A filosofia atual é:
		</p>
		<ul>
			<li>
				<p>
					O identificador é uma sequência de uma letra seguida de três dígitos.
					As letras representam a categoria do monumento: B para "Bustos", C
					para "Chafarizes e fontes", e assim por diante.
				</p>
			</li>
			<li>
				<p>
					Os dígitos, a princípio, são números aleatórios entre 000 e 999,
					inclusive. Valores entre 000 e 099 são reservados para caso sejam
					necessários no futuro.
				</p>
				<p>
					Isso significa que cada categoria possui um limite teórico de mil
					monumentos – por ora, deve ser suficiente.
				</p>
			</li>
		</ul>
		<p>
			Assim que houver uma decisão final sobre a mecânica dos identificadores,
			eles serão permanentes e imutáveis para facilitar as referências e evitar
			<i>bitrot</i>. Isso será marcado pela saída do website da versão beta.
		</p>
	</section>
</main>