---
layout: default.html
title: Sobre — Monumentos Rio
---

<main>
	<h1>Sobre o projeto</h1>
	<p>
		Este é um projeto mantido de forma voluntária, sem associação ao Município
		da Cidade do Rio de Janeiro.
	</p>
</main>