---
layout: monument.ejs
name: Homenagem a Gago Coutinho
categoria: marco
tags: [
	"possui escrita"
]
series: [
	Largo do Machado
]

data_inaug: 1969-06-14
altura: 
largura: 
material: Bronze
autores: []

local: Largo do Machado
bairro: Catete
lat: -22.93101
lon: -43.17920

imrj: 271
wikidata: Q67210688
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (12 de janeiro de 2024), via
			<a href="https://commons.wikimedia.org/wiki/File:Homenagem_a_Gago_Coutinho_no_Largo_do_Machado_01.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem a Carlos Viegas Gago Coutinho (17/11/1869–18/11/1959), oficial da
		Marinha Portuguesa que, junto ao aviador Artur de Sacadura Freire Cabral,
		completou a primeira travessia aérea do Atlântico Sul, de Lisboa ao Rio
		de Janeiro, entre 30 de março e 17 de junho de 1922.
	</p>
	<p>
		Inaugurado em 14 de junho de 1969 como parte de celebrações do centenário
		do nascimento de Gago Coutinho (1869–1969), que contou com a presença de
		representantes portugueses.
	</p>
	<blockquote>
		[...] ontem pela manhã [...] a missão portuguêsa dirigiu-se ao Largo do
		Machado, para a inauguração do marco comemorativo do centenário de nascimento
		do herói português, oferecido pelo Ministério da Aeronáutica. [...]
		A inauguração [...] foi feita conjuntamente pelo Ministro Márcio de Sousa e
		Melo e pelo General-Aviador Mário Tello Polleri.
	</blockquote>
	<cite>
		S.n. (15 de junho de 1969).
		<a href="http://memoria.bn.br/DocReader/030015_08/135625">Portuguêses
		prestam homenagem aos mortos da II Guerra Mundial</a>. <i>Jornal do Brasil</i>,
		p.5 [via Hemeroteca Digital da Biblioteca Nacional].
	</cite>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2024-full.jpg" data-llb-src="href">
			<img src="gallery-2024.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (12 de janeiro de 2024), via
				<a href="https://commons.wikimedia.org/wiki/File:Homenagem_a_Gago_Coutinho_no_Largo_do_Machado_02.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
<small>1869</small>     No centenário de nascimento     <small>1969</small>
          de Gago Coutinho
          o Brasil honra o heroi que completou
          a epopéia lusíada repetindo, em 1922,
          "por ares nunca dantes navegados",
          a proeza dos descobridores
          que em 1500, atravessaram
          primeiro o Atlantico Sul</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			S.n. (18 de junho de 1922).
			<a href="http://memoria.bn.br/DocReader/103730_05/6425">Gloria ao
			Heroismo Lusitano !</a> <i>Gazeta de Noticias</i>, p.1
			[via Hemeroteca Digital da Biblioteca Nacional].
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]); %>