---
layout: monument.ejs
name: Estruturas da Praça Carlo Del Prete
categoria: obra
tags: [
	preliminar
]
series: [
	"Rio Cidade Laranjeiras"
]

data_inaug: 1999-11-24
altura: 
largura: 
peso: 
material: 

autores: [
	Alfredo Britto
]

local: Praça Carlo Del Prete
bairro: Laranjeiras
lat: -22.93303
lon: -43.18441

imrj: [ 427, 428 ]
wikidata: 
---

<section class="description">
	<p>
		Portais e caramanchão da Praça Carlo Del Prete. Presentes separadamente no
		IMRJ com identificadores <a href="http://www.inventariodosmonumentosrj.com.br/index.asp?iMENU=catalogo&iiCOD=427">427</a>
		e <a href="http://www.inventariodosmonumentosrj.com.br/index.asp?iMENU=catalogo&iiCOD=428">428</a>.
	</p>
</section>
<%- makeMap(arguments[0]); %>
<%- makeOthersFromSeries(arguments[0]) %>