---
layout: monument.ejs
name: Estátua de Mahatma Gandhi
categoria: estátua
tags: [
	"preliminar",
	"possui escrita",
	"sem descrição"
]
series: [
	"Praça Mahatma Gandhi"
]

data_inaug: 
altura: 
largura: 
material: 
autores: []

local: Praça Mahatma Gandhi
bairro: Centro
lat: -22.91220
lon: -43.17600

imrj: 20
wikidata: Q61781935
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Mike Peel [www.mikepeel.net] (2 de fevereiro de 2019),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:At_Rio_de_Janeiro_2019_145.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa na base do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Mohandas Karamchand Gandhi
(Mahatma Gandhi)
2 de outubro de 1869-30 de janeiro de 1948
Não quero ver meu lar emparedado,
nem minhas janelas calafetadas.
Quero sentir as culturas de tôdas
as terras circulando nêle em máxima
liberdade. Repugna-me, porém, que
o sôpro de alguma delas me desloque
das raizes.
Minha religião não é o credo da
clasura. Comporta em seu seio a
mais humilde das criaturas de Deus.
Mas é impermeável a tôda arrogância
e a todo preconceito, seja êle
de raça, religião ou côr.</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>