---
layout: monument.ejs
name: Busto do Coronel Xavier de Brito
categoria: busto
tags: []

data_inaug: 1972-11-19
altura: 
largura: 
material: Bronze

autores: [
	Elza Cansanção Medeiros
]

local: Praça Comandante Xavier de Brito
bairro: Tijuca
lat: -22.9322
lon: -43.2433

imrj: 710
wikidata: Q67203549
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (13 de outubro de 2020),
			via <a href="https://commons.wikimedia.org/wiki/File:Busto_Coronel_Xavier_de_Brito.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Busto em homenagem ao comandante da Escola Militar do Realengo, o coronel
		João Maria Xavier de Brito Júnior, que organizou a Revolta do Forte de
		Copacabana em 5 de julho de 1922. Foi inaugurado 50 anos depois do ocorrido,
		durante a ditadura militar, em 19 de novembro de 1972, pelo então governador
		(1971–1975) Chagas Freitas.
	</p>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<div style="display:flex">
			<a href="gallery-1972a-full.jpg" data-llb-src="href">
				<img src="gallery-1972a.jpg">
			</a>
			<a href="gallery-1972b-full.jpg" data-llb-src="href">
				<img src="gallery-1972b.jpg">
			</a>
		</div>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (20 de novembro de 1972).
				Chagas inaugura na Muda da Tijuca busto de Xavier de Brito.
				<i>O Globo</i>, p.2 [via <a href="https://oglobo.globo.com/acervo/">Acervo
				O Globo</a>].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2020-full.jpg" data-llb-src="href">
			<img src="gallery-2020.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (13 de outubro de 2020),
				via <a href="https://commons.wikimedia.org/wiki/File:Busto_Coronel_Xavier_de_Brito_-_frontal_01.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há placas no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
     Cel.
Xavier de Brito

    Ao seu Cmt.,
Cel. Xavier de Brito
Os cadetes do Realengo
      de 1922.
     5 de Julho
1922           1972

 Homenagem
do Estado da
 Guanabara</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
