---
layout: monument.ejs
name: Combate nos Tempos Pré-Históricos
alt_names: [ "Combate Pré-Histórico", "Índio Lutando com Felino" ]
categoria: escultura
tags: [
	"possui escrita",
	"pessoa:homem",
	"pessoa:indígena",
	"animal:felino"
]
series: [
	"Pereira Passos",
	"Parque da Catacumba"
]

data_inaug: 1907-09
data_circa: true
altura: 2.2
largura: 
material: Mármore

autores: Hippolyte Peyrol

local: Parque da Catacumba
bairro: Lagoa
lat: -22.97235
lon: -43.20302

imrj: 462
wikidata: Q67210128
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (15 de junho de 2023),
			via <a href="https://commons.wikimedia.org/wiki/File:Combate_Pr%C3%A9-hist%C3%B3rico,_Parque_da_Catacumba_(lateral).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Foi parte das reformas na cidade do Rio de Janeiro pelo então
		prefeito (1902–1906) Pereira Passos, inspirado por reformas em Paris da
		época. Muitas esculturas foram encomendadas da França mas, devido a
		atrasos,<sup>1,2</sup> nem todas puderam ser instaladas durante sua
		administração.
	</p>
	<p>
		Originalmente instalada na Avenida Beira-Mar, na Glória, foi
		posteriormente movida para o Parque da Catacumba, na Lagoa.
		É a escultura de número 2 das 32 expostas no Parque da Catacumba.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (1 de setembro de 1907).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=259764&pesq=weigele&pagfis=3247">Jardins
			publics de Rio</a>. <i>L'Étoile du Sud</i>, p.2 [via Hemeroteca Digital da
			Biblioteca Nacional].
		</li>
		<li>
			S.n. (17 de agosto de 1907).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=103730_04&pesq=crepuscule&pagfis=15450">As
			Estatuas da Prefeitura</a>. <i>Gazeta de Noticias</i>, p.1 [via Hemeroteca
			Digital da Biblioteca Nacional].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1908-full.jpg" data-llb-src="href">
			<img src="gallery-1908.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Augusto Malta (9 de abril de 1908).
				<a href="https://acervos.ims.com.br/portals/#/detailpage/104078">Avenida
				Beira-Mar - destaque para os postes de luz a gás e eletricidade</a>
				[via Instituto Moreira Salles].
			</p>
		</figcaption>
	</figure>
	<figure class="sideways">
		<a href="gallery-1915-full.jpg" data-llb-src="href">
			<img src="gallery-1915.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.d. (6 de fevereiro de 1915).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=259063&pagfis=20499">Os
				Marmores da Cidade</a>. <i>Fon Fon!</i>, p.31
				[via Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023a-full.jpg" data-llb-src="href">
			<img src="gallery-2023a.jpg">
		</a>
		<figcaption>
			<p>Inscrição</p>
			<p class="credits">
				Foto: Matheus Avellar (15 de junho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Combate_Pr%C3%A9-hist%C3%B3rico,_Parque_da_Catacumba_(detalhe).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023b-full.jpg" data-llb-src="href">
			<img src="gallery-2023b.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (15 de junho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Combate_Pr%C3%A9-hist%C3%B3rico,_Parque_da_Catacumba_(placa).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023c-full.jpg" data-llb-src="href">
			<img src="gallery-2023c.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (15 de junho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Combate_Pr%C3%A9-hist%C3%B3rico,_Parque_da_Catacumba_(frontal).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2021-full.jpg" data-llb-src="href">
			<img src="gallery-2021.jpg">
		</a>
		<figcaption>
			<p>
				Uma versão anterior do pedestal, com legenda "Combate Pré-Histórico",
				em uso para "A Mulher e o Felino", <%- refID("S338") %>.
			</p>
			<p class="credits">
				Foto: "Boaventuravinicius" (15 de outubro de 2021),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
				via
				<a href="https://commons.wikimedia.org/wiki/File:Mulher_e_o_Felino_em_2021.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text" lang="fr">
L'original appartient a la ville de paris</pre>
	<p>Traduzido para "O original pertence à cidade de Paris".</p>
	<p>
		O pedestal do monumento, originalmente, possuía o seguinte texto:
	</p>
	<pre class="inscription-text">
      Um
Combate nos Tempos
  Prehistoricos</pre>
	<p>
		Atualmente, há uma placa próxima ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
[QR code: <a href="https://qrgo.page.link/1zbyY">qrgo.page.link/1zbyY</a>]

Índio
Lutando
com Felino

H. Peyrol
1906 – 1979</pre>
	<p>
		O QR code leva a um
		<a href="https://drive.google.com/file/d/1bNqyaQZNgRU0yPhhy46Xw2ibPK0c8dnH/view">link
		do Google Drive</a>, de autoria de Ana Luiza Piza e datado do final de 2020,
		onde se encontra <a href="H_Peyrol.pdf">um arquivo PDF</a>
		contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
H. Peyrol
<i>Índio Lutando com Felino</i>, mármore

Realizou diversas esculturas em mármore, segundo os padrões
neoclássicos, para a Praça Paris, na Glória/RJ, sob encomenda do prefeito
Pereira Passos, em 1929. A escultura no Parque da Catacumba, com
influência do padrão neoclássico, representa a figura de um homem em
luta com um tigre, com uma intensa expressão de força e movimento.
Articula um universo de imagens relacionadas aos códigos clássicos e
tradicionais da escultura.</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>