---
layout: monument.ejs
name: Farol da Ilha Rasa
categoria: obra
tags: []

data_inaug: 1829-07-31
altura: 26
largura: 
comprimento: 
peso: 
material: []

autores: []

local: Ilha Rasa
bairro: Ipanema
lat: -23.0639
lon: -43.1459

imrj: 
wikidata: Q10280116
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Luiz Flavio (3 de setembro de 2009),
			<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA-2.0</a>,
			via <a href="https://www.flickr.com/photos/24948567@N07/4059178631/">Flickr</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		O Farol da Ilha Rasa, encomendado por Dom João VI, foi construído por presos
		sentenciados entre 1819 e 1825. Contudo, o navio que trazia o mecanismo de
		iluminação da França foi atacado por corsários (piratas sancionados por suas
		respectivas nações) argentinos, adiando a inauguração. O aparelho foi
		eventualmente recuperado e instalado, com inauguração datando de 31 de julho
		de 1829.<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Ney Dantas (2002). <i>Luzes do Novo Mundo: Histórias dos Faróis
			Brasileiros</i>. 1ª Ed., Editora Luminatti. <em>apud</em>
			[S.n. (s.d.). <a href="https://www.marinha.mil.br/camr/?q=rasa">Farol
			Rasa</a>. <i>Centro de Auxílios à Navegação Almirante Moraes Rego, Marinha
			do Brasil</i>].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-c1915-full.jpg" data-llb-src="href">
			<img src="gallery-c1915.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: S.n. (circa 1915),
				via <a href="https://acervos.ims.com.br/portals/#/detailpage/116468">Instituto
				Moreira Salles</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2021-full.jpg" data-llb-src="href">
			<img src="gallery-2021.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Cesar Barreto (24 de maio de 2021),
				<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA-2.0</a>,
				via <a href="https://www.flickr.com/photos/mboficial/52734871910/">Flickr</a>.
				<i>Marinha do Brasil</i>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: S.n. (15 de fevereiro de 2023),
				<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA-2.0</a>,
				via <a href="https://www.flickr.com/photos/mboficial/52114680106/">Flickr</a>.
				<i>Marinha do Brasil</i>.
			</p>
		</figcaption>
	</figure>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Veja mais</h2>
	<ol>
		<li>
			<strong>Vídeo:</strong><br>
			<a href="https://play.ebc.com.br/programas/86/episodios/607/farois-do-brasil">Faróis
			do Brasil</a> (S01E01): Farol da Ilha Rasa (12 de abril de 2019).
			24&nbsp;min. <i>Agência Brasil</i>.
		</li>
	</ol>
</section>