---
layout: monument.ejs
name: Estudante de Arte
alt_names: [
	"À Tom Jobim, O Estudante"
]
categoria: escultura
tags: [
	"imagem não-livre"
]
series: [
	"Parque Lage"
]

data_inaug: 2002-02-24
altura: 
largura: 
material: [ Bronze ]
autores: [
	"Otto Dumovich"
]

local: Parque Lage
bairro: Jardim Botânico
lat: -22.96069
lon: -43.21203

imrj: 483
wikidata: Q67205446
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (7 de março de 2024), via
			<a href="https://commons.wikimedia.org/wiki/File:Escultura_%27Estudante_de_Arte%27_no_Parque_Lage_(2024-03-07).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<blockquote>
		O Parque Lage foi reinaugurado ontem, depois de seis meses de uma reforma de
		R$&nbsp;1,2&nbsp;milhão. A reabertura ao público foi marcada por uma
		homenagem ao compositor Tom Jobim. Uma estátua de bronze em homenagem ao
		maestro foi inaugrada num banco do jardim [...]. A escultura de bronze
		assinada por Otto Dumovich reproduz um pintor que registra o momento em que
		Tom e o filho João Francisco – morto num acidente de carro em 1998 –
		plantaram uma palmeira real no dia da árvore, em 1984. A gravura que aparece
		na prancheta do pintor é baseada numa foto da época publicada no GLOBO.
	</blockquote>
	<cite>
		— Alexandre Rodrigues (25 de fevereiro de 2002). "<i>Parque Lage reabre
		com homenagem a Tom Jobim</i>". <i>O Globo</i>, Caderno RIO, p.11
		[via <a href="https://oglobo.globo.com/acervo">Acervo O Globo</a>].
	</cite>
	<p>
		O caderno da escultura, contendo a ilustração de Tom Jobim e filho, foi
		perdido circa 2015.<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Emiliano Urbim (24 de maio de 2015).
			<a href="https://oglobo.globo.com/rio/estatuas-interativas-de-famosos-dividem-opinioes-16239418">Estátuas
			'interativas' de famosos dividem opiniões</a>. <i>O Globo</i>. Trecho:
			"Outra modalidade de vandalismo é o roubo de objetos das mãos: o Estudante
			de Arte do Parque Lage perdeu a prancheta e desenha sobre o nada".
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2002-full.jpg" data-llb-src="href">
			<img src="gallery-2002.jpg">
		</a>
		<figcaption>
			<p>Escultura na ocasião de sua inauguração, em 2002</p>
			<p class="credits">
				Foto: Marizilda Cruppe (24 de fevereiro de 2002) via
				S.n. (25 de fevereiro de 2002). (sem título). <i>O Globo</i>, p.2
				[via <a href="https://oglobo.globo.com/acervo">Acervo O Globo</a>].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1984-full.jpg" data-llb-src="href">
			<img src="gallery-1984.jpg">
		</a>
		<figcaption>
			<p>Reportagem e fotografia, de 1984, às quais a ilustração faz alusão</p>
			<p class="credits">
				Reportagem: S.n. (23 de setembro de 1984). "Tom Jobim planta palmeira imperial no
				Parque Lage". <i>O Globo</i>, p.14
				[via <a href="https://oglobo.globo.com/acervo">Acervo O Globo</a>].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2012-full.jpg" data-llb-src="href">
			<img src="gallery-2012.jpg">
		</a>
		<figcaption>
			<p>Escultura ainda com caderno em mãos</p>
			<p class="credits">
				Foto: "User:Solstag" (14 de maio de 2012),
				<a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC BY-SA 3.0</a>, via
				<a href="https://commons.wikimedia.org/wiki/File:Escultura_do_pintor_no_Parque_Lage.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>