---
layout: monument.ejs
name: Placa
categoria: marco
tags: [
	"preliminar",
	"possui escrita",
	"escrita ilegível",
	"removido"
]

data_inaug: 
altura: 
largura: 
material: 
autores: 

local: 
bairro: Botafogo
lat: -22.94274
lon: -43.1809

imrj: 
wikidata: 
---

<section class="description">
	<p>
		Removida em algum ponto entre abril de 2017 e fevereiro de 2018.
	</p>
</section>
<%- makeMap(arguments[0]); %>
