---
layout: monument.ejs
name: Busto de Marcos Tamoio
categoria: busto
tags: [
	possui escrita
]
series: [
	"Parque da Catacumba"
]

data_inaug: 1981-09-17
altura: 
largura: 
peso: 
material: [ Bronze, Granito ]
autores: Flory Gama

local: Parque da Catacumba
bairro: Lagoa
lat: -22.9723
lon: -43.20296

imrj: 435
wikidata: Q67204082
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (15 de junho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Busto_de_Marcos_Tamoio,_Parque_da_Catacumba.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		É atualmente a escultura de número 3 das 32 expostas no Parque da Catacumba.
	</p>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure class="sideways">
		<a href="gallery-1981-full.jpg" data-llb-src="href">
			<img src="gallery-1981.jpg">
		</a>
		<figcaption>
			<p>
				Reportagem sobre a inauguração do busto
			</p>
			<p class="credits">
				Reportagem: S.n. (18 de setembro de 1981).
				"<i>Inaugurado na Lagoa o busto de Marcos Tamoyo</i>", <i>O Globo</i>,
				p.11 [via <a href="https://oglobo.globo.com/acervo/">Acervo O Globo</a>].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023a-full.jpg" data-llb-src="href">
			<img src="gallery-2023a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (15 de junho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Busto_de_Marcos_Tamoio,_Parque_da_Catacumba_(pedestal).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023b-full.jpg" data-llb-src="href">
			<img src="gallery-2023b.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (15 de junho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Busto_de_Marcos_Tamoio,_Parque_da_Catacumba_(placa).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no pedestal do busto contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Marcos Tamoyo
★7-9-1926   ✝&#xFE0E;7-4-1981
O prefeito que mais
amou a cidade que
tanto o amou.

Homenagem dos seus
amigos e auxiliares</pre>
	<p>
		Há uma placa próxima ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
[QR code: <a href="https://qrgo.page.link/vCNiW">qrgo.page.link/vCNiW</a>]

Marcos
Tamoio

Flory Gama
1981</pre>
	<p>
		O QR code leva a um
		<a href="https://drive.google.com/file/d/1A8UjVEKNmCM_wWUeZNId8ztNV4n6YMqT/view">link
		do Google Drive</a>, de autoria de Ana Luiza Piza e datado do final de 2020,
		onde se encontra <a href="Flory_Gama.pdf">um arquivo PDF</a> 
		contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Flory Gama
<i>Marcos Tamoyo</i>, busto de bronze e pedestal de granito

Vargem Grande, Maranhão, 1916 –1996

Escultor caracterizado pelo formalismo acadêmico. Foi aluno do escultor
Newton Sá na Escola de Belas Artes do Maranhão. Em 1947, participa
do corpo de júri do 1º Salão Anual da Sociedade de Artistas, no Museu
Nacional de Belas Artes. Ocupa a cadeira da Academia Brasileira de
Belas Artes cujo patrono fora o arquiteto Grandjean de Montigny. Em 1953,
recebe o prêmio de viagem ao país e ocupa o cargo de secretário de
Oswaldo Teixeira, diretor do Museu Nacional de Belas Artes. Participa do
17 º Salão Paulista de Belas Artes em 1952. Realiza estátuas públicas, como
a de Bernardo Pereira de Vasconcelos, jurista e fundador do Colégio
Pedro II, o primeiro grande estabelecimento de ensino secundário no
país. O busto esculpido da escritora Maria Firmina dos Reis, realizado
através de um retrato falado com base nas informações colhidas
pelo biógrafo da autora, foi criado com liberdade dada ao escultor
para que a concebesse e traz a imagem equivocada de uma mulher
aparentemente branca, embora Maria Firmina tenha sido uma mulher
negra e livre em meio a uma ordem social escravagista. Atualmente está
no jardim do Museu Histórico e Artístico, no Maranhão. Como não existe
nenhum retrato dos traços faciais da escritora, o engano ainda perdura.
Executou a máscara mortuária do presidente Getúlio Vargas e a do
poeta Catulo da Paixão Cearense.</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>