---
layout: monument.ejs
name: Marco de Inauguração da Praça Walter Baptist Mors
categoria: marco
tags: [
	"possui escrita",
	"sem galeria"
]
series: [
	"UFRJ (Ilha do Fundão)"
]

data_inaug: 2011-03-31
altura: 
largura: 
material: 
autores: []

local: Praça Walter Baptist Mors
bairro: Cidade Universitária
lat: -22.84016
lon: -43.23746

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: "RodRabelo7" (7 de julho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:2023-07-07_Inaugura%C3%A7%C3%A3o_da_pra%C3%A7a_Walter_Baptist_Mors._Rio_de_Janeiro,_31_de_mar%C3%A7o_de_2011.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem a Walter Baptist Mors (23/11/1920–06/10/2008), professor e
		cofundador do Núcleo de Pesquisa de Produtos Naturais da UFRJ.
	</p>
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Inauguração da
Praça Walter Baptist Mors
Rio de Janeiro, 31 de março de 2011

Uma homenagem da UFRJ ao Professor
Dr. Walter B. Mors, por sua inestimável
colaboração na criação e fortalecimento do
Núcleo de Pesquisas de Produtos NAturais, ao
qual sempre foi dedicado, e pela
obra inspiradora, que deixou sua marca na Química
de Produtos Naturais do País.

Walter Baptist Mors
23/11/1920

Prof. Aloísio Teixeira - Reitor da UFRJ
Profa. Sylvia da Silveira Mello Vargas - Vice Reitora
Profa. Gilda G. Leitão - Diretora do NPPN
Profa. Maria Fernanda S.
Quintela C. Nunes - Decana do CCS
Prof. Hello de Mattos Alves - Prefeito da UFRJ

UFRJ

NPPN
UFRJ</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Veja mais</h2>
	<ol>
		<li>
			S.n. (6 de outubro de 2008).
			<a href="https://conexao.ufrj.br/2008/10/morre-o-professor-walter-baptist-mors/">Morre
			o Professor Walter Baptist Mors</a>. <i>Conexão UFRJ</i>.
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]); %>