---
layout: monument.ejs
name: Busto de Santos Dumont
categoria: busto
tags: [
	"possui escrita"
]

data_inaug: 1981-10-23
altura: 
largura: 
material: []

autores: []

local: Praça Zeppelin
bairro: Santa Cruz
lat: -22.9164
lon: -43.6838

imrj: 1474
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Silvan Guedes (8 de abril de 2022), via
			<a href="https://goo.gl/maps/MpEX9jH5ZUYPdJrc6">Google Maps</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p></p>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2022-full.jpg" data-llb-src="href">
			<img src="gallery-2022.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Silvan Guedes (8 de abril de 2022), via
				<a href="https://goo.gl/maps/tvGy6Kw81sDDzPeK7">Google Maps</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento, contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
          A
Santos Dumont - Pai da Aviação

Homenagem de Santa Cruz
          e
Colégio Dom Oton Mota
      23-10-1981</pre>
</section>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol>
	</ol> -->
</section>
