---
layout: monument.ejs
name: Busto de Delfino dos Santos
categoria: busto
tags: [
	"possui escrita",
	"removido"
]
series: [
	"Praça Saens Peña"
]

data_inaug: 1954-11-18
altura: 
largura: 
material: Bronze
autores: [ Ruffo Fanucchi ]

local: Praça Saens Peña
bairro: Tijuca
lat: -22.92412
lon: -43.23216

imrj: 703
wikidata: Q67210345
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (15 de julho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Pedestal_do_busto_de_Delfino_dos_Santos_(julho_2023)_(ampla).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem ao deputado e senador Tomás Delfino dos Santos
		(24/09/1860–09/06/1947), participante da Assembleia Nacional Constituinte de
		1891.
	</p>
	<p>
		A obra, creditada pelo IMRJ como sendo de Ruffo Fanucchi, foi furtada no
		início de 2020.<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Carolina Nalin (4 de fevereiro de 2020).
			<a href="https://oglobo.globo.com/rio/bairros/monumento-de-1954-furtado-na-saens-pena-24217978">Monumento
			de 1954 é furtado na Saens Peña</a>. <i>O Globo</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1954a-full.jpg" data-llb-src="href">
			<img src="gallery-1954a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: S.n. (18 de novembro de 1954). "<i>Herma de Thomaz Delfino dos Santos</i>"
				[via <a href="http://wpro.rio.rj.gov.br/arquivovirtual/web/">Arquivo
				Geral da Cidade do Rio de Janeiro</a>,
				BR RJ AGCRJ<wbr>.ICO<wbr>.HER<wbr>.DSA<wbr>.269<wbr>.08<wbr>.01].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1954b-full.jpg" data-llb-src="href">
			<img src="gallery-1954b.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: S.n. (18 de novembro de 1954). "<i>Herma de Thomaz Delfino dos Santos</i>"
				[via <a href="http://wpro.rio.rj.gov.br/arquivovirtual/web/">Arquivo
				Geral da Cidade do Rio de Janeiro</a>,
				BR RJ AGCRJ<wbr>.ICO<wbr>.HER<wbr>.DSA<wbr>.269<wbr>.08<wbr>.03].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1954c-full.jpg" data-llb-src="href">
			<img src="gallery-1954c.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (19 de novembro de 1954).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=154083_01&pagfis=18424">Inauguração
				do Busto de Tomaz Delfino dos Santos</a>. <i>Tribuna da Imprensa</i>,
				p.7 [via Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Havia originalmente uma placa no pedestal do busto contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Tomaz Delfino dos Santos
foi a maior voz na constituinte
de 91 pela autonomia da cidade
              Gratidão
da União Autonomista Carioca,
do Movimento Libertador da
Terra Carioca e da Comissão:

Mario Martins
Ariosto Berna
João Machado
Levy Neves
F. Caldeira Alvarenga
Heitor Beltrão
Frederico Trota
José Junqueira
Luiz Luna
Jaime Araujo
Walter Barbosa Moreira
Paulo Areal
Mozart Lago
[?]</pre>
	<p>
		Posteriormente, provavelmente após o busto ser removido para as obras do
		Metrô em 1976 e recolocado em 1996, havia uma placa com o seguinte texto:
	</p>
	<pre class="inscription-text">
Thomás Delfino dos Santos</pre>
	<p>
		Atualmente, há somente uma placa temporária no pedestal sem busto contendo o
		seguinte texto:
	</p>
	<pre class="inscription-text">
Rio
Prefeitura
Conservação

Placa Vandalizada

Cuidar da nossa cidade é um ato de
amor pelo Rio. Nos ajude a preservas as
nossas belezas e a nossa história!

Nos ajude a denunciar! Ligue 1746</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>