---
layout: monument.ejs
name: Banco Panorâmico de Millôr
alt_names: [ O Pensador de Ipanema ]
categoria: obra
tags: [
	"sem descrição",
	"possui escrita"
]
series: [
	Praia de Ipanema
]

data_inaug: 2013-05-27
altura: 
largura: 
material: [ ]
autores: [
	Jaime Lerner,
	Chico Caruso
]

local: Largo do Millôr
bairro: Ipanema
lat: -22.98977
lon: -43.19123

imrj: 363
wikidata: Q67205217
---
<!-- 
https://g1.globo.com/rio-de-janeiro/noticia/2013/05/banco-panoramico-em-homenagem-millor-fernandes-e-inaugurado-no-rio.html
 -->
<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Donatas Dabravolskas (11 de setembro de 2023),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:%C3%80_Mill%C3%B4r_Fernandes_-_Rio_de_Janeiro_-_20230911062715.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>

	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Donatas Dabravolskas (11 de setembro de 2023),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>,
				via
				<a href="https://commons.wikimedia.org/wiki/File:%C3%80_Mill%C3%B4r_Fernandes_-_Rio_de_Janeiro_-_20230911062926.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa próxima ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Prefeitura
da Cidade do Rio de Janeiro

"Se quiserem lembrar de mim, façam
um banquinho onde as pessoas possam
curtir o pôr do sol no Arpoador."
                          <small>Millôr Fernandes</small>

Uma doação da Brafer Construções Metálicas,
Madeplast Madeira Ecológica, Dolabella Engenharia
e amigos de Millôr Fernandes.

    <small>PREFEITO DA CIDADE DO RIO DE JANEIRO</small>
                EDUARDO PAES
<small>SECRETÁRIO DE CONSERVAÇÃO E SERVIÇOS PÚBLICOS</small>
         MARCUS BELCHIOR CORRÊA BENTO

Rio de Janeiro, Maio de 2013</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>