---
layout: monument.ejs
name: Estátua de Francisco de Castro
categoria: estátua
tags: [
	"possui escrita"
]
series: [
	"UFRJ (Ilha do Fundão)"
]

data_inaug: 1910-09-17
altura: 2.05
largura: 0.8
peso: 350
material: Bronze
autores: [
	Rodolfo Bernardelli
]

local: Centro de Ciências da Saúde
bairro: Cidade Universitária
lat: -22.84201
lon: -43.23623

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Giulia Rasga (5 de julho de 2023).
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
			Arquivo pessoal.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem a Francisco de Castro (17/09/1857–11/10/1901), influente médico
		e professor brasileiro, inaugurada no que seria o dia de seu 53º aniversário.
		A inauguração contou com a presenta do então presidente da República
		(1909–1910), Nilo Peçanha.
	</p>
	<p>
		A estátua foi originalmente instalada em frente à Faculdade de Medicina,
		na Rua Santa Luzia, ao lado da Santa Casa de Misericórdia. A faculdade
		foi incorporada à Universidade do Brasil – precursora da Universidade
		Federal do Rio de Janeiro – e foi consequentemente transferida inicialmente
		para a Praia Vermelha, e então para a Ilha do Fundão. A estátua, de maneira
		similar, foi eventualmente movida, e hoje reside em frente ao Centro
		de Ciências da Saúde, na Ilha do Fundão.
	</p>
	<blockquote>
		Realizou-se hontem a inauguração da estatua que os amigos, disciplulos e
		admiradores do pranteado dr. Francisco de Castro mandaram erigir na praça
		que defronta o edificio da Faculdade de Medicina.
	</blockquote>
	<cite>
		— S.n. (18 de setembro de 1910).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_02&pesq=%22Francisco%20de%20Castro%22&pagfis=2459">A
		estatua de Francisco de Castro foi hontem inaugurada</a>. <i>Correio da
		Manhã</i>, p.3 [via Hemeroteca Digital da Biblioteca Nacional].
	</cite>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1910a-full.jpg" data-llb-src="href">
			<img src="gallery-1910a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (2 de janeiro de 1910).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_02&pesq=%22Francisco%20de%20Castro%22&pagfis=19">Sem
				título</a>. <i>Correio da Manhã</i>, p.3 [via Hemeroteca Digital da
				Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1910b-full.jpg" data-llb-src="href">
			<img src="gallery-1910b.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (17 de setembro de 1910).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_02&pesq=%22Francisco%20de%20Castro%22&pagfis=19">Os
				amigos e discipulos de Francisco de Castro inauguram hoje a estatua do
				mestre.</a>. <i>Correio da Manhã</i>, p.3 [via Hemeroteca Digital da
				Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure class="sideways">
		<a href="gallery-1910c-full.jpg" data-llb-src="href">
			<img src="gallery-1910c.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (17 de setembro de 1910).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_02&pesq=%22Francisco%20de%20Castro%22&pagfis=19">Os
				amigos e discipulos de Francisco de Castro inauguram hoje a estatua do
				mestre.</a>. <i>Correio da Manhã</i>, p.3 [via Hemeroteca Digital da
				Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
        Ao
    Professor
Francisco de Castro
      seus
discipulos e amigos

XVII de setembro
    de MCMX</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>