---
layout: monument.ejs
name: Estátua de São Charbel
categoria: estátua
tags: [
	religioso,
	possui escrita
]
series: [
	Missão Maronita no Brasil
]

data_inaug: 1994-10-16
altura: 3.5
largura: 
peso: 
material: [
	Bronze
]

autores: []
homenageados: Charbel Makhlouf

local: Praça São Charbel
bairro: Tijuca
lat: -22.9287
lon: -43.2399

imrj: 713
wikidata: Q67203775
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (13 de outubro de 2020),
			via <a href="https://commons.wikimedia.org/wiki/File:Est%C3%A1tua_S%C3%A3o_Charbel_02.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem ao monge libanês São Charbel Makhlouf (08/05/1828–24/12/1898),
		inaugurada na praça tijucana que já levava seu nome. IMRJ alega produção da
		estátua no Líbano, fundida pela "Fundição Zani".
	</p>
	<p>
		O jornalista Mansour Challita dá uma altura de 3.5 metros à escultura em uma
		reportagem em 1996, provavelmente incluindo o pedestal.<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Mansour Challita (4 de outubro de 1996).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=364568_18&pesq=charbel&pagfis=76860">Missão
			Libanesa Maronita a serviço do Brasil e do Líbano</a>. <i>Jornal do
			Commercio</i>, p.A-17 [via Hemeroteca Digital da Biblioteca Nacional].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2020-full.jpg" data-llb-src="href">
			<img src="gallery-2020.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (13 de outubro de 2020),
				via <a href="https://commons.wikimedia.org/wiki/File:Est%C3%A1tua_S%C3%A3o_Charbel_04.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
São Charbel, monge maronita, canonizado
pelo Papa Paulo VI no dia 9 de outubro de 1977,
nasceu e morreu no Líbano (1828 - 1898).

Este monumento é oferecido ao povo brasileiro
pela comunidade libanesa do Rio de Janeiro,
por iniciativa da Missão Libanesa Maronita,
na esperança de que São Charbel realize
aqui as curas milagrosas que realizou
em outros países.
                   Rio de Janeiro, 16-10-1994.</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>