---
layout: monument.ejs
name: Estátua equestre de D. Pedro I
categoria: estátua

data_inaug: 1862-03-30
altura: 12.4
largura: 
peso: 55,000
material: [
	Bronze
]

autores: [
	Louis Rochet,
	João Maximiniano Mafra
]

local: Praça Tiradentes
bairro: Centro
lat: -22.9069
lon: -43.1828

imrj: 76
wikidata: Q18476242
iphan: 1173-T-1985
inepac: E-03/016.509/78
inepac_url: http://www.inepac.rj.gov.br/index.php/bens_tombados/detalhar/253
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Cyro Silva (11 de março de 2010),
			<a href="https://creativecommons.org/licenses/by/2.0/deed.en">CC-BY-2.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:DPedroI-Rio.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		A estátua equestre de dom Pedro I (1798–1834), primeira escultura pública
		do Brasil, foi inaugurada na praça da Constituição, atual praça Tiradentes,
		no centro do Rio de Janeiro, em 30 de março de 1862.
	</p>
	<blockquote>
		A ideia do projeto de construção de uma estátua em homenagem a dom Pedro I
		havia surgido [...] em 1825, 38 anos antes da inauguração do monumento. [...]
		Na estátua, esculpida pelo francês Louis Rochet (1813–1878), [...] dom Pedro
		I está proclamando a Independência do Brasil com o
		<a href="https://www2.camara.leg.br/legin/fed/manife_sn/anterioresa1824/manifestosemnumero-41437-6-agosto-1822-576171-publicacaooriginal-99440-pe.html">Manifesto
		às Nações</a> na mão.
	</blockquote>
	<cite>
		—Texto por Andrea Wanderley (2017), via
		<a href="https://brasilianafotografica.bn.gov.br/?p=7629">Brasiliana
		Fotográfica</a>.
	</cite>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1862-full.jpg" data-llb-src="href">
			<img src="gallery-1862.jpg">
		</a>
		<figcaption>
			<p>
				Estátua logo após a inauguração, em 1862, antes da instalação da grade
				ao redor
			</p>
			<p class="credits">
				Foto: Manoel Banchieri (1862),
				via <a href="http://acervo.bndigital.bn.br/sophia/index.asp?codigo_sophia=35502">Biblioteca
				Nacional</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-c1890-full.jpg" data-llb-src="href">
			<img src="gallery-c1890.jpg">
		</a>
		<figcaption>
			<p>
				Estátua após a instalação da grade ao redor
			</p>
			<p class="credits">
				Foto: Marc Ferrez (circa 1890), via Instituto Moreira Salles /
				<a href="https://commons.wikimedia.org/wiki/File:Monumento_em_homenagem_a_D._Pedro_I,_est%C3%A1tua_equestre_-_2.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2022-full.jpg" data-llb-src="href">
			<img src="gallery-2022.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Estela Neto (24 de setembro de 2022),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
				via <a href="https://commons.wikimedia.org/wiki/File:Est%C3%A1tua_equestre_de_Dom_Pedro_I_-_Rio_de_Janeiro_-_20220924094818.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Andrea C. T. Wanderley (30 de março de 2017).
			<a href="https://brasilianafotografica.bn.gov.br/?p=7629">Inauguração da
			estátua equestre de dom Pedro I, na atual Praça Tiradentes</a>.
			<i>Brasiliana Fotográfica</i>.
		</li>
		<li>
			S.n. (circa 2022).
			<a href="http://cultura.rj.gov.br/estatua-equestre-de-d-pedro-i/">Estátua
			Equestre de D. Pedro I</a>. <i>Secretaria de Estado de Cultura e Economia
			Criativa do Rio de Janeiro</i>.
		</li>
	</ol>
</section>