---
layout: monument.ejs
name: Cristo Redentor
categoria: escultura
tags: [
	"religioso",
	"pessoa:homem"
]

data_inaug: 1931-10-12
altura: 38
largura: 28
peso: 1145
material: Pedra-sabão

autores: [
	Heitor da Silva Costa,
	Carlos Oswald,
	Paul Landowski,
	Albert Caquot,
	Gheorghe Leonida
]

local: Morro do Corcovado
bairro: Santa Teresa
lat: -22.95192
lon: -43.21046

imrj: 1205
wikidata: Q79961
structurae: 20040186
cona: 700009442
hpip:
iphan: 1478-T-2001
inepac: 
inepac_url: 

outros: [
	[ "Novas sete maravilhas do mundo", 2007-07-07 ]
]
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Arne Müseler [<a href="http://arne-mueseler.com">arne-mueseler.com</a>]
			(16 de fevereiro de 2022),
			<a href="https://creativecommons.org/licenses/by-sa/3.0/de/deed.de">CC-BY-SA-3.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Christ_the_Redeemer_-_Cristo_Redentor.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		A semana anterior à inauguração do monumento contou com festas na cidade e
		peregrinação de católicos de diversos estados. O Ministro da Viação também
		garantiu abatimento de 50% do custo das passagens de trem entre 1 e 15 de
		outubro de 1931.<sup>1</sup>
	</p>
	<blockquote>
		Sabemos que estão partindo dos Estados milhares de pessoas. São esperados
		oitocentos sacerdotes, de modo que se reunirá no Rio de Janeiro o maior
		número de sacerdotes em toda a história do Brasil.
	</blockquote>
	<cite>
		— S.n. (27 de setembro de 1931).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_04&Pesq=%22cristo%20redentor%22&pagfis=8698">Inauguração
		do monumento ao Christo Redemptor no Corcovado</a>. <i>Correio da Manhã</i>,
		p.1 [via Hemeroteca Digital da Biblioteca Nacional].
	</cite>
	<blockquote>
		Estava previsto que a iluminação do Cristo seria acionada de Roma, pelo
		cientista italiano Guglielmo Marconi. O sinal elétrico seria captado por
		uma estação em Dorchester na Inglaterra e retransmitido por uma torre em
		Jacarepaguá, no Rio de Janeiro. Devido ao mau tempo, a iluminação acabou
		sendo acionada no próprio local.
	</blockquote>
	<cite>
		— S.n. (2011). Rio: Um olhar no tempo:
		<a href="http://www0.rio.rj.gov.br/rio_memoria/2011.htm">80 anos da
		inauguração do Cristo Redentor</a>. <i>Prefeitura do Rio de Janeiro</i>.
	</cite>
	<blockquote>
		A iluminação da imagem do Christo Redemptor, feita por Marconi, não foi
		apreciada pela população desta capital porque ás 7,15 da noite, quando
		aquelle sábio italiano emittiu de Roma os signaes para ligação da chave
		densa nuvem envolvia o monumento.
	</blockquote>
	<cite>
		— S.n. (13 de outubro de 1931).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_04&Pesq=%22cristo%20redentor%22&pagfis=8910">A
		inauguração do monumento a Christo Redemptor</a>. <i>Correio da Manhã</i>,
		p.3 [via Hemeroteca Digital da Biblioteca Nacional].
	</cite>
	<p>
		Em geral, as cerimônias e o evento de inauguração tiveram um forte enfoque
		católico – notícias de época em grande parte incluem descrições das
		missas e discursos de figuras religiosas em celebração do monumento. Para
		além disso, a inauguração também contou com a presença do então chefe do
		Governo Provisório (1930–1934), Getúlio Vargas.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (26 de setembro de 1931).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_04&Pesq=%22cristo%20redentor%22&pagfis=8689">Inauguração
			do Christo Redemptor</a>. <i>Correio da Manhã</i>, p.6 [via Hemeroteca
			Digital da Biblioteca Nacional].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-c1930-full.jpg" data-llb-src="href">
			<img src="gallery-c1930.jpg">
		</a>
		<figcaption>
			<p>
				Cabeça da escultura em São Gonçalo
			</p>
			<p class="credits">
				Foto: S.n. (circa 1930), via
				<a href="https://acervos.ims.com.br/portals/#/detailpage/97314">Instituto
				Moreira Salles</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-c1931-full.jpg" data-llb-src="href">
			<img src="gallery-c1931.jpg">
		</a>
		<figcaption>
			<p>
				Andaimes no topo do Morro do Corcovado, durante a construção do Cristo
				Redentor
			</p>
			<p class="credits">
				Foto: S. H. Holland (circa 1931), via
				<a href="https://acervos.ims.com.br/portals/#/detailpage/17502">Instituto
				Moreira Salles</a>.
			</p>
		</figcaption>
	</figure>
	<figure class="sideways">
		<a href="gallery-1931-full.jpg" data-llb-src="href">
			<img src="gallery-1931.jpg">
		</a>
		<figcaption>
			<p>
				Anúncio sobre funcionamento de trens antes, durante e após a
				inauguração do Cristo Redentor, pela Estrada de Ferro Corcovado
			</p>
			<p class="credits">
				Reportagem: S.n. (7 de outubro de 1931).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=348970_03&Pesq=%22cristo%20redentor%22&pagfis=6044">Corcovado</a>.
				<i>A Noite</i>, p.5 [via Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2> -->
</section>