---
layout: monument.ejs
name: Relógio de Sol do Jardim Botânico
categoria: obra
tags: [
	"preliminar",
	"possui escrita"
]
series: [
	"Jardim Botânico"
]

data_inaug: 2008-09-22
altura: 
largura: 
material: []
autores: []

local: Jardim Botânico
bairro: Jardim Botânico
lat: -22.97043
lon: -43.22446

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (8 de janeiro de 2024).
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2024a-full.jpg" data-llb-src="href">
			<img src="gallery-2024a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (8 de janeiro de 2024).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2024b-full.jpg" data-llb-src="href">
			<img src="gallery-2024b.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (8 de janeiro de 2024).
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Relógio de Sol Equatorial

Homenagem da Fundação Planetário da
Cidade do Rio de Janeiro em comemoração
aos 200 anos da criação do Jardim Botânico
pelo Príncipe Regente D. João, com a chegada
da Família Real ao Brasil.


<small>Rio de Janeiro, 22 de setembro de 2008
Equinócio da primavera para o Hemisfério Sul</small>

Liszt Vieira
<small>Presidente do
Jardim Botânico</small>

Carmen Ibarra
<small>Presidente da
Fundação Planetário</small>

<small>200 anos
Jardim
Botânico
Rio de
Janeiro
1808–2008</small>

<small>Rio
Prefeitura
Culturas    Planetário</small></pre>
	<p>
		Há também uma placa próxima ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Relógio Solar

Um dos mais antigos dispositivos
inventados para marcar o tempo.
Seu princípio se baseia no movi-
mento aparente do Sol.
Esses relógios marcam a Hora
Solar, que pode não corresponder
exatamente à Hora civil, podendo
diferir em alguns minutos. A Hora
Solar não leva em consideração

A longitude do lugar, a equação
do tempo, nem a eventual hora
de verão.
Para se obter a Hora Civil a partir
do Relógio Solar, deve-se somar
ou subtrair os minutos apresen-
tados no gráfico abaixo. Durante
a vigência do horário de verão,
acrescenta-se uma hora.

CORREÇÃO DA HORA SOLAR PARA HORA CIVIL
[gráfico de meses vs. minutos]</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>