---
layout: monument.ejs
name: Monumento aos Estudantes Vítimas da Ditadura
categoria: marco
tags: [
	"preliminar",
	possui escrita
]
series: [
	"UFRJ (Ilha do Fundão)"
]

data_inaug: 
altura: 
largura: 
material: 
autores: []

local: 
bairro: Cidade Universitária
lat: -22.85772
lon: -43.23035

imrj: 
wikidata: 
---

<figure>
	<!-- <a href="photo.jpg" data-llb-src="href"> -->
		<img src="thumb.jpg">
	<!-- </a> -->
	<figcaption>
		<p class="credits">
			Foto: <a href="https://goo.gl/maps/qNPN9iUNqx7VxQB19">Google Street
			View</a> (fevereiro de 2022).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p></p>
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Por Memória, Verdade e Justiça. Ditadura nunca mais! Homenagem do
DCE Mário Prata aos estudantes que tombaram lutando pela democracia.

Mário de Souza Prata

Adriano Fonseca Filho
Ana Maria Nacinovic Corrêa
Antônio Carlos SIlveira Alves
Antônio Pádua Costa
Antônio Sérgio de Matos
Antônio Teodoro de Castro
Arildo Aírton Valadão
Áurea Eliza Pereira Valadão
Ciro Flavio Salazar e Oliveira
Fernando Augusto da Fonseca
Flavio Carvalho Molina
Frederico Eduardo Mayr
Guilherme Gomes Lund
       Hélio Luiz Navarro de Magalhães
       Jana Moroni Barroso
       José Roberto Spiegner
       Kleber Lemos da Silva
       Lincoln Bicalho Roque
       Luiz Alberto Andrade de Sá e Benevides
       Maria Célia Corrêa
       Maria Regina Lobo Leite de Figueiredo
       Paulo Costa Ribeiro Bastos
       Raul Amaro Nin Ferreira
       Solange Lourenço Gomes
       Sônia Maria de Moraes Angel Jones
       Stuart Edgar Angel Jones

DCE Mário Prata
UFRJ</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>