---
layout: monument.ejs
name: Marco de Inauguração do Bosque da Barra
categoria: marco
tags: [
	"possui escrita",
	"sem galeria"
]
series: [
	"Bosque da Barra"
]

data_inaug: 1981-01-20
altura: 
largura: 
material: 

autores: []

local: Bosque da Barra
bairro: Barra da Tijuca
lat: -22.99962443
lon: -43.37166283

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (4 de junho de 2023),
			via
			<a href="https://commons.wikimedia.org/wiki/File:Marco_de_Inaugura%C3%A7%C3%A3o_do_Bosque_da_Barra.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Marco em comemoração à inauguração da infraestrutura recém construída no
		Bosque da Barra pelo então prefeito (1980–1983) Júlio Coutinho.
	</p>
	<blockquote>
		Júlio Coutinho inaugurou, às 11h45m, metade da área de 500 mil metros
		quadrados do Bosque da Barra, que conta com serviços de infra-estrutura,
		dois playgrounds, um lago natural, três mil árvores típicas de
		restinga e dois quilômetros de alamedas para passeios de charrete, bicicleta,
		cavalos e para exercícios físicos.
	</blockquote>
	<cite>
		— S.n. (21 de janeiro de 1981). "Prefeito inaugura obras e proemte Rio
		menos violento". <i>O Globo</i>, p.7
		[via <a href="https://oglobo.globo.com/acervo/">Acervo O Globo</a>]
	</cite>
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Prefeitura
da Cidade do Rio de Janeiro

Bosque da Barra
Inaugurado em janeiro de 1981

<small>Governador do Estado do Rio de Janeiro</small>
Chagas Freitas

<small>Prefeito</small>
Julio Coutinho

<small>Secretário de Obras e Serviços Públicos</small>
Renato da Silva Almeida</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>