---
layout: monument.ejs
name: Estátua Equestre de Simón Bolívar
categoria: estátua
tags: [
	"preliminar",
	"possui escrita"
]
series: [
	"Praça Juliano Moreira"
]

data_inaug: 1978-10-12
altura: 
largura: 
material: []
autores: []

local: Praça Juliano Moreira
bairro: Botafogo
lat: -22.95569
lon: -43.17774

imrj: 294
wikidata: Q67204669
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (16 de março de 2024).
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há inscrições no pedestal do monumento, a maioria parcial e danificada.
		A face frontal contém o seguinte texto:
	</p>
	<pre class="inscription-text">
Simon Bolivar

<small>Libertador
da
Venezuela, Colômbia, Equador
Perú, Bolívia e Panamá</small>

A
Venezuela
Ao Brasil
1978</pre>
	<p>
		A face lateral esquerda contém o seguinte texto:
	</p>
	<pre class="inscription-text">
"O Brasil é uma das garantias mais poderosas que receberam as
republicas das Américas na trajetória de suas independências."

Bolivar</pre>
	<p>
		A face lateral direita contém o seguinte texto:
	</p>
	<pre class="inscription-text">
"Desejo mais do que ninguem ver formar-se na Amériuca a
maior nação do mundo, menos por sua extensão e riquezas
do que por sua liberdade e glória."

Bolivar 1815</pre>
	<p>
		A face traseira contém o seguinte texto:
	</p>
	<pre class="inscription-text">
★ Caracas 24 Julho 1783
✝︎&#xFE0E; Santa Marta 17 Dezembro 1830	</pre>
	<p>
		Há uma placa em frente ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Projeto: "adote uma Área Verde"

Apoie esta idéia,
a cidade agradece

PDVSA

Nós plantamos e cuidamos
deste Ipê (Tabeluia avellanedae).
Colabore você também!

<small>Prefeitura
da Cidade
RIO Meio Ambiente
Fundação Parques e Jardins</small>

<small>Fundação Parque se Jardins - Campo de Santana - Tel. 2232-4398</small></pre>
	<p>
		Há uma placa atrás do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Monumento a Simon Bolivar
Inaugurado em 12 de outubro de 1978
sendo
Presidente da Republica
Ernesto Geisel
Governador do Estado do Rio de Janeiro
Floriano Feria Lima
Prefeito da Cidade do Rio de Janeiro
Marcos Tamoyo</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>