---
layout: monument.ejs
name: Busto de Marechal Hermes
categoria: busto
tags: [
	"preliminar",
	"possui escrita"
]
series: [
	"Praça Montese"
]

data_inaug: 
altura: 
largura: 
material: [ Bronze ]
autores: []

local: Praça Montese
bairro: Marechal Hermes
lat: -22.8613
lon: -43.37149

imrj: 1439
wikidata: Q67205130
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: RodRabelo7 (30 de janeiro de 2023),
			via
			<a href="https://commons.wikimedia.org/wiki/File:Marechal_Hermes_(sculpture).20230130_152408.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<blockquote>
		O monumento em homenagem a Marechal Hermes da Fonseca será recolocado na
		Praça Montese, em Marechal Hermes, nesta quarta-feira, após oito anos. O
		busto em bronze, que é da década de 50, foi retirado do local em 2003 para
		uma obra de urbanização. Uma nova base em concreto revestida em granito foi
		construída para a instalação da peça.
	</blockquote>
	<cite>
		— S.n. (15 de junho de 2011).
		<a href="https://oglobo.globo.com/rio/busto-de-marechal-hermes-recolocado-em-praca-do-rio-apos-oito-anos-2874953">Busto
		de Marechal Hermes é recolocado em praça do Rio após oito anos</a>.
		<i>O Globo</i>.
	</cite>
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Prefeitura
da Cidade do Rio de Janeiro

Monumento ao
Marechal Hermes da Fonseca
<small>1855 - 1923</small>

Militar e Político

<small>Prefeito da Cidade do Rio de Janeiro
Eduardo Paes

Secretário Municipal de Conservação e Serviços Públicos
Carlos Roberto Osorio

Rio de Janeiro, 15 de junho de 2011</small></pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>