---
layout: monument.ejs
name: Rosa dos Ventos da Urca
categoria: obra
tags: []
series: [
	"Projeto Rio-Orla"
]

data_inaug: 1992-06
altura: 
largura: 
material: [ Pedras portuguesas ]
autores: []

local: Avenida Portugal
bairro: Urca
lat: -22.95177
lon: -43.16933

imrj: 537
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Donatas Dabravolskas (23 de setembro de 2022),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>, via
			<a href="https://commons.wikimedia.org/wiki/File:Guarda-corpo_da_Avenida_Portugal_-_Rio_de_Janeiro_-_20220923024136.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		A obra, representando uma rosa dos ventos, foi uma das reformas ao
		calçadão da Urca como parte do Projeto Rio-Orla.
	</p>
	<blockquote>
		No Quadrado da Urca, área próxima à Avenida Pasteur, foi erguido um pequeno
		mirante, também em pedras portuguesas e decorado com uma rosa-dos-ventos.
	</blockquote>
	<cite>
		— Virgínia Viveiros (30 de junho de 1992). "<i>Cara nova à beira-mar</i>".
		<i>O Globo</i> [via <a href="https://oglobo.globo.com/acervo/">Acervo
		O Globo</a>].
	</cite>
	<p>
		O Projeto Rio-Orla, ou Projeto Urbanístico da Orla Marítima da Cidade do Rio
		de Janeiro, foi um projeto do então prefeito (1989–1993) Marcello Alencar.
		Ele teve como objetivo reformar a orla de bairros da Zona Sul – chamada pelo
		então prefeito de "vitrine da cidade"<sup>1</sup> –, inicialmente só entre
		Leme e Pontal mas, devido a apelos dos moradores da Urca, esta também foi
		incluída.<sup>2</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Felipe Santos Souza (29 de fevereiro de 2016).
			<a href="http://hdl.handle.net/11422/5407">"Um passo para a civilidade":
			o Projeto Rio-Orla (1990-1992)</a>. <i>Universidade Federal do Rio de
			Janeiro</i>.
		</li>
		<li>
			Fabiana Sobral (2 de junho de 1991).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=030015_11&pagfis=45966">Urca
			também fará parte do projeto</a>. <i>Jornal do Brasil</i>, Caderno Cidade,
			p.6 [via Hemeroteca Digital da Biblioteca Nacional].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-c1915-full.jpg" data-llb-src="href">
			<img src="gallery-c1915.jpg">
		</a>
		<figcaption>
			<p>
				Mirante circa 1915, ainda sem as pedras portuguesas
			</p>
			<p class="credits">
				Foto: S.n. (circa 1915),
				<a href="https://acervos.ims.com.br/portals/#/detailpage/107540">Hidroaviões
				na Enseada de Botafogo</a> [via Instituto Moreira Salles].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma placa ao lado do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Veja mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>