---
layout: monument.ejs
name: Chafariz Canhão
alt_names: [
	Chafariz do Suco de Laranja
]
categoria: chafariz
tags: [
	imagem não-livre
]

series: [
	Rio Cidade Campo Grande
]

data_inaug: 1996-07-26
altura: 
largura: 
material: []

autores: [
	Nilton Montarroyos
]

local: 
bairro: Campo Grande
lat: -22.9018
lon: -43.5564

imrj: 1011
wikidata: Q67204024
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Zé Maurício (13 de julho de 2018), via
			<a href="https://goo.gl/maps/auMcdZc8m2KzTtkMA">Google Maps</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Instalado durante a sequência de reformas em diversos bairros do Rio de
		Janeiro, no projeto conhecido como "Rio Cidade". Foi inaugurado junto com as
		outras obras de Campo Grande, em 26 de julho de 1996, como projeto do
		arquiteto Nilton Montarroyos.<sup>1,2</sup> Já passou por múltiplas
		revitalizações através dos anos.<sup>1,2</sup>
	</p>
	<blockquote>
		O prefeito César Maia inaugurou ontem [...] o Rio Cidade Campo Grande. O
		projeto [...] promoveu intervenções em 16 áreas, valorizando o espaço para
		pedestres [...], através de esculturas que lembram o cultivo da laranja,
		principal atividade econômica da região no início do século.
	</blockquote>
	<cite>
		— S.n. (27 de julho de 1996).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=364568_18&pagfis=74091">Inaugurado
		o Rio Cidade em Campo Grande</a>.
		<i>Jornal do Commercio</i>, p.A-9 [via Hemeroteca Digital da Biblioteca
		Nacional].
	</cite>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (31 de janeiro de 2011).
			<a href="http://www.rio.rj.gov.br/web/guest/exibeconteudo?id=1504083">Prefeitura
			recupera chafariz em Campo Grande</a>. <i>Prefeitura da Cidade
			do Rio de Janeiro</i>.
		</li>
		<li>
			S.n. (13 de julho de 2017).
			<a href="http://www.rio.rj.gov.br/web/guest/exibeconteudo?id=7166375">Prefeitura
			recupera escultura no centro de Campo Grande</a>. <i>Prefeitura da Cidade
			do Rio de Janeiro</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-c2017-full.jpg" data-llb-src="href">
			<img src="gallery-c2017.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: S.n. (circa 13 de julho de 2017), via
				<a href="http://www.rio.rj.gov.br/web/guest/exibeconteudo?id=7166375">Prefeitura
				da Cidade do Rio de Janeiro</a>.
			</p>
		</figcaption>
	</figure>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Vera Dias (26 de fevereiro de 2011).
			<a href="https://web.archive.org/web/20230130235326/http://ashistoriasdosmonumentosdorio.blogspot.com/2011/02/as-esculturas-do-bairro-de-campo-grande.html">As
			esculturas do bairro de Campo Grande</a>. <i>As histórias dos
			monumentos do Rio de Janeiro</i> [via Wayback Machine].
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]) %>