---
layout: monument.ejs
name: Busto da Imperatriz Teresa Cristina
categoria: busto
tags: [
	"sem descrição",
	"possui escrita"
]
series: [
	Praça Itália
]

data_inaug: 2022-03-14
altura: 1.95
largura: 
material: [ Bronze, Aço ]

autores: [
	Gianguido Bonfanti
]

local: Praça Itália
bairro: Centro
lat: -22.91075
lon: -43.17139

imrj: 58
wikidata: Q67203225
---
<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Donatas Dabravolskas (21 de setembro de 2022),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:Imperatriz_Teresa_Cristina_-_Rio_de_Janeiro_-_20220921161808.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Inaugurado na ocasião do bicentenário do nascimento da Imperatriz (14 de
		março de 1822–2022).
	</p>
<!--
	https://g1.globo.com/rj/rio-de-janeiro/noticia/2019/01/31/busto-de-bronze-da-imperatriz-teresa-cristina-e-roubado-no-centro-do-rio.ghtml
	https://g1.globo.com/rj/rio-de-janeiro/noticia/2022/03/16/bicentenario-de-nascimento-da-imperatriz-teresa-cristina.ghtml
-->
</section>
<section class="refs">
<!-- 	<ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2022-full.jpg" data-llb-src="href">
			<img src="gallery-2022.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Donatas Dabravolskas (21 de setembro de 2022),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>,
				via
				<a href="https://commons.wikimedia.org/wiki/File:Imperatriz_Teresa_Cristina_-_Rio_de_Janeiro_-_20220921161853.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa próxima ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
<small>Rio
PREFEITURA
CONSERVAÇÃO</small>

IMPERATRIZ TEREZA CRISTINA
(1822 - 1889)

Esposa do Imperador D. Pedro II, nasceu dia 14 de março de 1822
em Nápoles, Itália. Sua presença  no Brasil estimulou a maior
emigração de italianos em direção a um único país. Culta, amante
das artes, das ciências e da  arqueologia, foi amada pelo povo por
sua simplicidade e dedicação às questões sociais .
Era chamada de "A Mãe dos Brasileiros".
A escultura em sua homenagem contém duas imagens vazadas na
base que simbolizam  o intercâmbio cultural entre os países: a
jarra faz menção às peças arqueológicas trazidas da Itália e doadas
ao Museu Nacional do Rio de Janeiro, enquanto o cocar nos
remete  às peças da cultura indígena enviadas por ela para a Itália.

GIANGUIDO BONFANTI
ESCULTOR

CONSULADO GERAL DA ITÁLIA
IDEALIZADOR

Rio de Janeiro, 14 de Março de 2022</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>