---
layout: monument.ejs
name: Chafariz dos Jacarés
alt_names: [ Fonte dos Amores ]
categoria: chafariz
tags: [
	"preliminar",
	"animal:jacaré"
]
series: [
	Passeio Público
]

data_inaug: 
altura: 
largura: 
material: []
autores: [
	Valentim da Fonseca e Silva
]

local: Passeio Público
bairro: Lapa
lat: -22.91377
lon: -43.17599

imrj: 195
wikidata: 
---

<figure>
	<!-- <a href="photo.jpg" data-llb-src="href"> -->
		<img src="thumb.jpg">
	<!-- </a> -->
	<figcaption>
		<p class="credits">
			Foto: <a href="https://goo.gl/maps/UiE8UQBRtQuvB4yt5">Google Street View</a>
			(setembro de 2021).
		</p>
	</figcaption>
</figure>
<section class="description">
<!--
http://www.inventariodosmonumentosrj.com.br/index.asp?iMENU=catalogo&iiCOD=195&iMONU=Fonte%20dos%20Jacar%C3%A9s%20(Fonte%20dos%20Amores)
-->
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
<!--
https://biblioteca.ibge.gov.br/index.php/biblioteca-catalogo?view=detalhes&id=417822
-->
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>