---
layout: monument.ejs
name: Construção
categoria: escultura
tags: [
	possui escrita
]
series: [
	"Parque da Catacumba"
]

data_inaug: 1979-03-14
altura: 
largura: 
peso: 800
material: Bronze
autores: Bruno Giorgi

local: Parque da Catacumba
bairro: Lagoa
lat: -22.97187
lon: -43.20331

imrj: 449
wikidata: Q67205006
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (15 de junho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Constru%C3%A7%C3%A3o_de_Bruno_Giorgi_(junho_2023).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		É atualmente a escultura de número 13 das 32 expostas no Parque da Catacumba,
		e foi uma das 24 inauguradas junto com o parque, em 14 de março de
		1979.<sup>1</sup> O IMRJ credita a Companhia Atlântica-Boavista de Seguros
		pela doação da obra à Prefeitura.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (15 de março de 1979). "<i>Tamoyo inaugura Parque da
			Catacumba e Arquivo do Rio</i>". <i>O Globo</i>, p.17 [via
			<a href="https://oglobo.globo.com/acervo/">Acervo O Globo</a>].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1979a-full.jpg" data-llb-src="href">
			<img src="gallery-1979a.jpg">
		</a>
		<figcaption>
			<p>
				"Construção" foi uma das 3 esculturas carregadas via helicóptero na
				semana anterior à inauguração do parque
			</p>
			<p class="credits">
				Reportagem: S.n. (8 de março de 1979).
				"<i>Helicóptero leva esculturas para o Parque da Catacumba</i>".
				<i>O Globo</i>, p.11
				[via <a href="https://oglobo.globo.com/acervo/">Acervo O Globo</a>].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1979b-full.jpg" data-llb-src="href">
			<img src="gallery-1979b.jpg">
		</a>
		<figcaption>
			<p>
				Reportagem sobre a inauguração do parque, listando as esculturas lá
				presentes
			</p>
			<p class="credits">
				Reportagem: S.n. (15 de março de 1979). "<i>Tamoyo inaugura Parque da
				Catacumba e Arquivo do Rio</i>". <i>O Globo</i>, p.17 [via
				<a href="https://oglobo.globo.com/acervo/">Acervo O Globo</a>].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (15 de junho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Constru%C3%A7%C3%A3o_de_Bruno_Giorgi_(junho_2023)_(placa).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa próxima ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
[QR code: <a href="https://qrgo.page.link/V8eNT">qrgo.page.link/V8eNT</a>]

Construção

Bruno Giorgi
1979</pre>
	<p>
		O QR code leva a um
		<a href="https://drive.google.com/file/d/1AQQwU160DZmDQ2OK6NlKSHGRRL8ZKQpz/view">link
		do Google Drive</a>, de autoria de Ana Luiza Piza e datado do final de 2020,
		onde se encontra <a href="Bruno_Giorgi.pdf">um arquivo PDF</a> 
		contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Bruno Giorgi
<i>Construção</i>, bronze

Mococa, SP, 1905 - Rio de Janeiro, RJ, 1993

Escultor. Seus pais, originários da Toscana, vêm para o Brasil para
trabalhar na produção cafeeira. Anos depois, a família fixa residência
em Roma e, em 1913, o artista inicia estudos de desenho e escultura com
o professor Loss. Em 1931, é preso por motivos políticos e condenado a
sete anos de prisão pela sua militância contra o fascismo. É extraditado
para o Brasil em 1935, por intervenção do embaixador brasileiro na Itália.
Em São Paulo, trava contato com Joaquim Figueira e Alfredo Volpi. Viaja
para Paris e frequenta as academias La Grand Chaumière e Ranson,
onde estuda com o escultor Aristide Maillol. Em 1939, retorna a São Paulo,
integrando o movimento modernista, ao lado de Victor Brecheret, Mario
de Andrade, Lasar Segall, Oswald de Andrade, Sergio Milliet, entre outros.
Frequenta os artistas do Grupo Santa Helena e da Família Artística
Paulista. Em 1943, transfere-se para o Rio de Janeiro. A convite do ministro
Gustavo Capanema, instala ateliê no antigo Hospício da Praia Vermelha,
Urca. Participa das Bienais de Veneza, em 1950 da Bienal de São Paulo, em
1951, e recebe o prêmio de melhor escultura na II Bienal de São Paulo, em
1953. Participa de várias exposições nacionais e internacionais. Realiza
diversos bustos e monumentos em espaços públicos no Brasil e no
exterior, como Monumento à Juventude Brasileira, nos jardins no Palácio
Gustavo Capanema/RJ; Candangos, na praça dos Três Poderes, em
Brasília; Meteoro, no lago do edifício do Ministério das Relações Exteriores,
em Brasília; Integração, no Memorial da América Latina, em São Paulo.
Ao longo da década de 1950, suas obras acentuam o ritmo e o
movimento, ao harmonizar linhas curvas e formas angulares. Seus
trabalhos demonstram um crescente interesse pela temática e pelos
tipos brasileiros, no processo de redução das formas figurativas e,
mais adiante, a linguagem abstrata. Passa a utilizar o bronze, criando
figuras delgadas, em que os vazios são parte integrante da escultura,
predominando frequentemente sobre as massas. Na década seguinte,
as formas geométricas ocupam o lugar das figuras, e o mármore passa
a substituir o bronze.</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>