---
layout: monument.ejs
name: Monumento às Três Américas
categoria: escultura
tags: [
	"preliminar"
]
series: []

data_inaug: 1996-01-19
altura: 
largura: 
material: Bronze
autores: Mario Morel Agostinelli

local: 
bairro: Barra da Tijuca
lat: -23.00725
lon: -43.30466

imrj: 1075
wikidata: Q67205125
---

<figure>
	<!-- <a href="photo.jpg" data-llb-src="href"> -->
		<img src="thumb.jpg">
	<!-- </a> -->
	<figcaption>
		<p class="credits">
			Foto: <a href="https://goo.gl/maps/9PhAQroPYcdMfCfM9">Google Street
			View</a> (junho de 2022).
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Monumento
às Três Américas
Escultor: Agostinelli

"Às Três Américas - Novo Mundo
de ontem, a homenagem
da Barra da Tijuca -
pequeno mundo de hoje"

Senador Ney Suassuna
Presidente [?]

Inaugurado em 19/janeiro/1996

Apoio:
    [?]
    Sub-Prefeitura da Barra da Tijuca - Jacarepaguá
    [?] Anglo Americano
    [?] Marmoraria
	</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>