---
layout: monument.ejs
name: Estátua de Ary Barroso
categoria: estátua
tags: [
	"preliminar",
	"possui escrita"
]
series: [
	"Praia do Leme"
]

data_inaug:
altura: 
largura: 
material: []
autores: []

local: Praia do Leme
bairro: Leme
lat: -22.96257
lon: -43.16788

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (30 de abril de 2024)
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2024-full.jpg" data-llb-src="href">
			<img src="gallery-2024.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (30 de abril de 2024)
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Prefeitura
da Cidade
do Rio de Janeiro

Ary Barroso

Prefeito
Cesar Maia

Secretário das Culturas
Ricardo Macieira</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>