---
layout: monument.ejs
name: Placa na Praça Washington Luiz
categoria: marco
tags: [
	"preliminar",
	"sem descrição",
	"sem galeria",
	"possui escrita",
	"escrita ilegível"
]
series: []

data_inaug: 
altura: 
largura: 
material: 
autores: []

local: Praça Washington Luiz
bairro: Sepetiba
lat: -22.97097
lon: -43.70998

imrj: 
wikidata: 
---
<figure>
	<!-- <a href="photo.jpg" data-llb-src="href"> -->
		<img src="thumb.jpg">
	<!-- </a> -->
	<figcaption>
		<p class="credits">
			Foto: <a href="https://maps.app.goo.gl/1hcMvNWXmqwrN4xr9">Google Street
			View</a> (outubro de 2021).
		</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma placa próxima ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>