---
layout: monument.ejs
name: Guarda-sol do Metrô de São Francisco Xavier
categoria: obra
tags: [
	"preliminar"
]
series: [
	"Guarda-sóis do Metrô",
	"Praça Carlos Paolera"
]

data_inaug: 
altura: 
largura: 
material: []
autores: []

local: Praça Carlos Paolera
bairro: Tijuca
lat: -22.92060
lon: -43.22397

imrj: 
wikidata: 
---

<figure>
	<!-- <a href="photo.jpg" data-llb-src="href"> -->
		<img src="thumb.jpg">
	<!-- </a> -->
	<figcaption>
		<p class="credits">
			Foto: <a href="https://maps.app.goo.gl/2upfQiyyaY1S9ahz6">Google Street View</a> (junho de 2016).
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há inscrições no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>