---
layout: monument.ejs
name: Busto de Adolfo Bergamini
categoria: busto
tags: [
	"preliminar",
	"possui escrita"
]
series: [
	Praça Mahatma Gandhi
]

data_inaug: 
altura: 
largura: 
material: []
autores: []

local: Praça Mahatma Gandhi
bairro: Centro
lat: -22.91227
lon: -43.17572

imrj: 17
wikidata: Q67204872
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: <a href="https://commons.wikimedia.org/wiki/User:Mike_Peel">Mike Peel</a>
			[<a href="https://www.mikepeel.net/">www.mikepeel.net</a>]
			(2 de fevereiro de 2019),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:At_Rio_de_Janeiro_2019_173.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>