---
layout: monument.ejs
name: A Mulher e o Felino
categoria: escultura
tags: [
	possui escrita,
	possui panorama,
	"animal:felino",
	"pessoa:mulher",
	"objeto:vaso"
]
series: [
	Jardim de Alah
]

data_inaug: 1938
data_circa: true
altura: 
largura: 
peso: 
material: 

autores: []

local: Jardim de Alah
bairro: Leblon
lat: -22.98458
lon: -43.21533

imrj: 401
wikidata: Q67210131
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (1 de julho de 2023),
			via <a href="https://commons.wikimedia.org/wiki/File:A_Mulher_e_o_Felino_(julho_2023),_Jardim_de_Alah_(frontal).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Obra de autor desconhecido, foi inaugurada junto com o parque, em
		1938.<sup>1</sup>
	</p>
	<p>
		Em algum ponto entre 2010 e 2011, a escultura foi colocada em um pedestal
		que pertencia a outra escultura, "Combate nos Tempos Pré-Históricos".
		Anteriormente, ela ficava diretamente sobre a grama.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Oscar Valporto (4 de fevereiro de 2019).
			<a href="https://projetocolabora.com.br/ods11/rioerua-a-frustracao-do-jardim-de-alah/">#RioéRua:
			a frustração do Jardim de Alah</a>. <i>#Colabora</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1943-full.jpg" data-llb-src="href">
			<img src="gallery-1943.jpg">
		</a>
		<figcaption>
			<p>
				Escultura em 1943, ainda com braço intacto
			</p>
			<p class="credits">
				Foto: S.n./Agência Nacional (5 de abril de 1943),
				[BR RJANRIO EH.0.FOT, EVE.15747 d0006de0029] via Arquivo Nacional.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p>
				Inscrição na parte traseira da escultura
			</p>
			<p class="credits">
				Foto: Matheus Avellar (15 de outubro de 2021), via
				<a href="https://commons.wikimedia.org/wiki/File:A_Mulher_e_o_Felino_(julho_2023),_Jardim_de_Alah_(inscri%C3%A7%C3%A3o).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2021-full.jpg" data-llb-src="href">
			<img src="gallery-2021.jpg">
		</a>
		<figcaption>
			<p>
				Pedestal originalmente em uso pela escultura "Combate nos Tempos
				Pré-Históricos", <%- refID("S907") %>.
			</p>
			<p class="credits">
				Foto: "Boaventuravinicius" (15 de outubro de 2021),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
				via
				<a href="https://commons.wikimedia.org/wiki/File:Mulher_e_o_Felino_em_2021.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<%- makePanorama(arguments[0], "Jardim de Alah", "Matheus Avellar (1 de julho de 2023)") %>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
[Prof. L. Gege?]</pre>
	<p>
		Além disso, há uma inscrição no pedestal do monumento contendo o seguinte
		texto:
	</p>
	<pre class="inscription-text">
Combate Pre-Historico</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2> -->
</section>
<%- makeOthersFromSeries(arguments[0]) %>