---
layout: monument.ejs
name: Busto de Alexandre Fleming
categoria: busto
tags: [
	"preliminar",
	possui escrita
]
series: [
	"UFRJ (Ilha do Fundão)"
]

data_inaug: 
altura: 
largura: 
material: 
autores: []

local: Centro de Ciências da Saúde
bairro: Cidade Universitária
lat: -22.84259
lon: -43.23419

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Giulia Rasga (12 de julho de 2023).
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
			Arquivo pessoal.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem a Alexander Fleming (06/08/1881–11/03/1955), descobridor da
		penicilina. Foi entregue à Prefeitura em 14 de junho de 1956, pelo
		professor e vice-reitor da então Universidade do Brasil, Delindo
		Couto.<sup>1</sup> Na ocasião, ainda não era claro onde o busto seria
		instalado.
	</p>
	<p>
		<!-- IPASE de Marechal Hermes?
https://memoria.bn.br/DocReader/DocReader.aspx?bib=154083_01&pesq=%22Alexandre%20Fleming%22%20%22busto%22&hf=memoria.bn.br&pagfis=29649
mesmo texto
https://memoria.bn.br/DocReader/DocReader.aspx?bib=030678&pesq=%22Alexandre%20Fleming%22%20%22busto%22&hf=memoria.bn.br&pagfis=6357
levemente diferente
https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_03&pesq=%22Alexandre%20Fleming%22%20%22busto%22&hf=memoria.bn.br&pagfis=52411
-->
		Costumava ficar na Praça Ozanam
		<!--https://memoria.bn.br/DocReader/DocReader.aspx?bib=110523_06&pagfis=5056-->
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (15 de junho de 1956).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_06&pagfis=63108">Busto
			de Alexandre Fleming</a>. <i>Correio da Manhã</i>, p.7 [via Hemeroteca
			Digital da Biblioteca Nacional].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2019-full.jpg" data-llb-src="href">
			<img src="gallery-2019.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Eduardo de Oliveira / Radis Comunicação e Saúde (30 de setembro de 2019),
				<a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY-NC-SA 2.0</a>,
				via <a href="https://www.flickr.com/photos/radiscomunicacaoesaude/48832509653/">Flickr</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
          A
Alexandre Fleming
   Homenagem
         do
       Brasil</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>