---
layout: monument.ejs
name: Chafariz Nascimento de Vênus
categoria: chafariz
tags: [
	"possui escrita",
	"animal:peixe",
	"pessoa:mulher",
	"pessoa:criança"
]
series: [
	Palácio do Catete
]

data_inaug: 1897-02-24
altura: 
largura: 
material: [
	Granito,
	Bronze
]

autores: []

local: Jardins do Palácio do Catete
bairro: Flamengo
lat: -22.92587
lon: -43.1744

imrj: 
wikidata: Q117250052
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (1 de julho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Chafariz_Nascimento_de_V%C3%AAnus_(julho_2023).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		O chafariz na sua forma atual, com a escultura de Vênus no topo, foi
		inaugurado em 24 de fevereiro de 1897, data em que o palácio se tornou sede
		da Presidência da República. Contudo, a base de granito já estava em uso
		anteriormente, no "Largo do Valdetaro":
	</p>
	<blockquote>
		O antigo chafariz de granito que figurava no largo do Valdetaro, em frente
		ao palacio, é hoje o ornamento principal do parque, tendo em cima uma bella
		estatua de bronze
	</blockquote>
	<cite>
		— S.n. (20 de fevereiro de 1897).
		<a href="https://memoria.bn.br/DocReader/docreader.aspx?bib=364568_08&pesq=rio%20artificial&pagfis=24006">O
		Palacio do Cattete: Grande Parque</a>. <i>Jornal do Commercio</i>, p.1 [via
		Hemeroteca Digital da Biblioteca Nacional].
	</cite>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-c1890-full.jpg" data-llb-src="href">
			<img src="gallery-c1890.jpg">
		</a>
		<figcaption>
			<p>
				Chafariz logo após ser instalado, provavelmente entre 1896–1897
			</p>
			<p class="credits">
				Foto: Marc Ferrez (circa 1890).
				<a href="https://acervos.ims.com.br/portals/#/detailpage/75380">Jardim
				do Palácio do Catete - chafariz com escultura</a> [via
				Instituto Moreira Salles].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023a-full.jpg" data-llb-src="href">
			<img src="gallery-2023a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (1 de julho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Chafariz_Nascimento_de_V%C3%AAnus_(julho_2023)_(centro).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023b-full.jpg" data-llb-src="href">
			<img src="gallery-2023b.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (1 de julho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Chafariz_Nascimento_de_V%C3%AAnus_(julho_2023)_(escultura).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no chafariz contendo o seguinte texto:
	</p>
	<pre class="inscription-text">Commercio</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>
