---
layout: monument.ejs
name: São Francisco de Assis e Santa Clara
categoria: escultura
tags: [
	"preliminar"
]
series: [
	"Praça Luis de Camões"
]

data_inaug: 
altura: 
largura: 
material: 

autores: []

local: Praça Luis de Camões
bairro: Glória
lat: -22.92094
lon: -43.17437

imrj: 259
wikidata: 
---

<figure>
	<!-- <a href="photo.jpg" data-llb-src="href"> -->
		<img src="thumb.jpg">
	<!-- </a> -->
	<figcaption>
		<p class="credits">
			Foto: Google Street View.
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>
