---
layout: monument.ejs
name: Efígie de Aldir Blanc
categoria: busto
tags: [
	"possui escrita"
]

data_inaug: 2023-05-04
altura: 
largura: 
material: [
	Concreto,
	Bronze
]

autores: [
	Mello Menezes
]

local: Jardim Aldir Blanc
bairro: Tijuca
lat: -22.9360
lon: -43.2458

imrj: 
wikidata: Q118175724
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (5 de maio de 2023)
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem ao letrista e compositor Aldir Blanc (02/09/1946–04/05/2020),
		inaugurada no 3º aniversário de seu falecimento.
	</p>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (5 de maio de 2023)
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento, contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
ALDIR BLANC

1946 - 2020
"Eu gosto quando alvorece, porque parece que está anoitecendo
E gosto quando anoitece, que só vendo, porque penso que alvorece"

Aldir passou por aqui. Morou logo ali. Bebeu num bar que a gente
vê daqui e seguiu um bloco que dobrou aquela esquina. Agora, olha ele aí:
depois de alvorecer e anoitecer tantas ruas, depois de cantar sonhos
nas avenidas, é nome de logradouro carioca.
Cronista e poeta maior das calçadas, crises, declives e acidentes da cidade,
árvore generosa que a música brasileira plantou no Rio e dela colheu
centenas de canções, dezenas de parceiros, milhares de amigos e admiradores.
Entre o Estácio, Vila Isabel, a Tijuca e a Muda correram, sempre margeando
o Rio Maracanã, as veias vigorosas de Aldir Blanc.

"Há quem não se importe, mas a Zona Norte é feito cigana, lendo a minha sorte"

A infância da Maia de Lacerda pongou no bonde e, de sandálias de dedo,
desceu na Rua dos Artistas, onde calçou sapatos. Morou numa casa com quintal
cheio de árvores frutíferas – pertinho da flauta do mestre Benedito Lacerda.
O quintal servia para reunir amigos e parentes em torno das panelas e dos
pratos, do radinho de pilha contando o jogo do Vasco. A poesia desabrochando
ali, à sombra das goiabeiras, laranjeiras, bananeiras, mangueiras, dos pés
de abiu, sapoti, limões-bravos.
Tudo isto muito antes de Aldir Blanc se tornar um dos maiores compositores da
MPB, publicar crônicas imortais em jornais e revistas, em livros que ilustram
estantes com o melhor da literatura carioca, ganhar tantas batalhas pela
valorização e dignidade dos artistas e perder a guerra para um vírus indigno.
Parodiando outro grande poeta, os vírus e os indignos passarão;
Aldir passarinho, voando livre em sua Alameda.
(Os versos transcritos foram musicados por João Bosco e Moacyr Luz)

Luís Pimentel
Jornalista e Escritor

Mello Menezes
Conjunto Escultórico e Escultura

Eduardo Paes
Prefeito da Cidade do Rio de Janeiro</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			S.n. (4 de maio de 2023). <a href="https://prefeitura.rio/conservacao/prefeitura-inaugura-jardim-e-escultura-em-homenagem-ao-compositor-aldir-blanc/">
			Prefeitura inaugura jardim e escultura em homenagem ao compositor Aldir
			Blanc</a>. <i>Prefeitura do Rio</i>.
		</li>
	</ol>
</section>
