---
layout: monument.ejs
name: Monumento ao Senador Pinheiro Machado
categoria: estátua
tags: [
	"possui escrita",
	"imagem não-livre"
]

data_inaug: 1931
altura: 
largura: 
peso: 
material: [
	Bronze,
	Pedra
]

autores: [
	Hildegardo Leão Velloso
]
homenageados: José Gomes Pinheiro Machado

local: Praça Nossa Senhora da Paz
bairro: Ipanema
lat: -22.9837
lon: -43.2060

imrj: 378
wikidata: Q10332154
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: EUDOXIO (4 de fevereiro de 2010),
			<a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC-BY-SA-3.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Monumento_a_Pinheiro_Machado.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Estátua em homenagem a Pinheiro Machado (08/05/1851–08/09/1915), localizada
		em um monumento maior de pedra na Praça Nossa Senhora da Paz, em Ipanema.
	</p>
	<p>
		As esculturas nas laterais do monumento representam a "Glória" e a
		"Apoteose".<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Rafael Bokor (26 de agosto de 2021).
			<a href="https://lulacerda.ig.com.br/rio-antigo-por-rafael-bokor-monumento-a-pinheiro-machado-uma-joia-art-deco-no-coracao-de-ipanema/">Monumento
			a Pinheiro Machado — uma joia art déco no coração de Ipanema</a>.
			<i>Lu Lacerda</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-sd-full.jpg" data-llb-src="href">
			<img src="gallery-sd.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Rafael Bokor (26 de agosto de 2021).
				<a href="https://lulacerda.ig.com.br/rio-antigo-por-rafael-bokor-monumento-a-pinheiro-machado-uma-joia-art-deco-no-coracao-de-ipanema/">Monumento
				a Pinheiro Machado — uma joia art déco no coração de Ipanema</a>. <i>Lu
				Lacerda</i>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa acima da estátua de Pinheiro Machado, contendo o seguinte
		texto:
	</p>
	<pre class="inscription-text">
     José Gomes Pinheiro Machado
       8-5-1852       8-9-1915
       - Nasceu para dirigir -
Com uma energia incomparável congresou
durante muitos anos, as fôrças políticas
da Nação.
Deu pelo Brasil, nos campos de batalha
a sua indômita coragem e ao parlamento
nos mais vivos debates a sua palavra
simples, firme e equilibrada.</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ul></ul> -->
</section>