---
layout: monument.ejs
name: Crepúsculo
alt_names: [ Crépuscule ]
categoria: escultura
tags: []
series: [
	"Pereira Passos",
	"Praia de Botafogo"
]

data_inaug: 1907-09
data_circa: true
altura: 2
largura: 
material: Mármore
autores: Henri Weigele

local: Praia de Botafogo
bairro: Botafogo
lat: -22.94244
lon: -43.1806

imrj: 303
wikidata: Q67210030
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (2 de junho de 2023),
			via
			<a href="https://commons.wikimedia.org/wiki/File:Crep%C3%BAsculo_(ampla).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Instalada como parte das reformas na cidade do Rio de Janeiro pelo então
		prefeito (1902–1906) Pereira Passos, inspirado por reformas em Paris da
		época. Muitas esculturas foram encomendadas da França mas, devido a
		atrasos,<sup>1,2</sup> nem todas puderam ser instaladas durante sua
		administração.
	</p>
	<p>
		Foi inicialmente instalada no Passeio Público, mas pouco depois movida para
		os jardins da Praia de Botafogo.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (1 de setembro de 1907).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=259764&pesq=weigele&pagfis=3247">Jardins
			publics de Rio</a>. <i>L'Étoile du Sud</i>, p.2 [via Hemeroteca Digital da
			Biblioteca Nacional].
		</li>
		<li>
			S.n. (17 de agosto de 1907).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=103730_04&pesq=crepuscule&pagfis=15450">As
			Estatuas da Prefeitura</a>. <i>Gazeta de Noticias</i>, p.1 [via Hemeroteca
			Digital da Biblioteca Nacional].
		</li>
	</ol>
</section>
<section class="gallery">
	<figure>
		<a href="gallery-1907-full.jpg" data-llb-src="href">
			<img src="gallery-1907.jpg">
		</a>
		<figcaption>
			<p>
				Escultura logo após instalação, em 1907
			</p>
			<p class="credits">
				Reportagem: "G." (dezembro de 1907).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=146420&pagfis=2660">A
				Estatuaria dos Jardins Publicos</a>. <i>Kósmos</i>, nº12, p.60 [via
				Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-c1915-full.jpg" data-llb-src="href">
			<img src="gallery-c1915.jpg">
		</a>
		<figcaption>
			<p>
				Escultura circa 1915
			</p>
			<p class="credits">
				Reportagem: Augusto Malta (circa 1915).
				<a href="https://acervos.ims.com.br/portals/#/detailpage/78686">Praia de
				Botafogo, com igreja Nossa Senhora da Conceição ao fundo</a>
				[via Instituto Moreira Salles].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p>
				Detalhe da base da escultura
			</p>
			<p class="credits">
				Foto: Matheus Avellar (2 de junho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Crep%C3%BAsculo_(detalhe).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no próprio mármore contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Crepuscule

H. Weigèle
1906</pre>
	<p>
		Uma inscrição foi adicionada ao pedestal da escultura após a sua instalação
		– e, eventualmente, foi perdida – contendo o seguinte texto:
	</p>
	<pre class="inscription-text">Crepusculo</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<!-- <h2>Leia mais</h2> -->
</section>
<%- makeOthersFromSeries(arguments[0]) %>
