---
layout: monument.ejs
name: Estátua equestre de D. João VI
categoria: estátua
tags: [
	"possui escrita"
]
series: [
	"Praça XV"
]

data_inaug: 1965-06-10
altura: 
largura: 
material: 
autores: [
	Salvador Barata Feyo
]

local: Praça XV de Novembro
bairro: Centro
lat: -22.90242
lon: -43.17292

imrj: 51
wikidata: Q67205212
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (22 de julho de 2023).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Presente de Portugal ao Rio de Janeiro em comemoração aos 400 anos da cidade
		(1565–1965), inaugurada no Dia de Portugal e Dia de Camões (10 de junho).
		A cidade do Porto, em Portugal, possui uma réplica do monumento, também
		apontada para o mar.
	</p>
	<p>
		Em 11 de junho de 2013, 48 anos após a inauguração da estátua, a Prefeitura
		instalou um QR Code em pedras portuguesas em frente à estátua.<sup>1</sup>
		O código direciona ao URL "<a href="http://bin.pt/rj2">bin.pt/rj2</a>",
		página que, por algum motivo, apresenta diferentes websites vagamente
		relacionados ao monumento dependendo do mês do ano no momento de acesso:
	</p>
	<ul>
		<li>
			Em janeiro, abril e outubro, apresenta a página <a href="https://prefeitura.rio/">prefeitura.rio</a>,
			website da Prefeitura do Rio de Janeiro.
		</li>
		<li>
			Em fevereiro, maio e novembro, apresenta a página <a href="http://visit.rio/en/welcome/">visit.rio/en/welcome</a>,
			que não existe mais.
		</li>
		<li>
			Em março, apresenta uma <a href="http://www.camaraportuguesa-rj.com.br/praca-xv-no-rio-de-janeiro-ganha-qr-code-feito-em-calcada-portuguesa/">notícia
			da Câmara Portuguesa do Rio de Janeiro</a> reportando a instalação do QR
			Code.
		</li>
		<li>
			Em junho, julho e agosto, apresenta a página <a href="https://www.olympic.org/">olympic.org</a>,
			website do Comitê Olímpico Internacional (e dos Jogos Olímpicos).
		</li>
		<li>
			Em setembro, apresenta uma <a href="https://voxnews.com.br/estatua-de-d-joao-vi-na-praca-xv-ganha-qr-code/">notícia
			do website Vox News</a> reportando a instalação do QR Code.
		</li>
		<li>
			Em dezembro, apresenta uma <a href="http://g1.globo.com/rio-de-janeiro/noticia/2013/06/estatua-de-d-joao-vi-no-rio-ganha-qr-code-de-pedras-portuguesas.html">notícia
			do G1</a> reportando a instalação do QR Code.
		</li>
	</ul>
	<p>
		O mesmo QR Code foi instalado também na frente da estátua portuguesa, na
		cidade do Porto.<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (11 de junho de 2013).
			<a href="https://g1.globo.com/rio-de-janeiro/noticia/2013/06/estatua-de-d-joao-vi-no-rio-ganha-qr-code-de-pedras-portuguesas.html">Estátua
			de D. João VI, no Rio, ganha QR code de pedras portuguesas'</a>. <i>G1</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1965-full.jpg" data-llb-src="href">
			<img src="gallery-1965.jpg">
		</a>
		<figcaption>
			<p>
				Inauguração da estátua, em 1965
			</p>
			<p class="credits">
				Foto: S.n. (10 de junho de 1965); Reportagem: S.n. (11 de junho de 1965).
				<a href="http://memoria.bn.br/DocReader/089842_07/65445">Marujos ao Rei</a>.
				<i>Correio da Manhã</i>, p.1 [via Hemeroteca Digital da Biblioteca
				Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023a-full.jpg" data-llb-src="href">
			<img src="gallery-2023a.jpg">
		</a>
		<figcaption>
			<p>
				Escrita na traseira da estátua
			</p>
			<p class="credits">
				Foto: Matheus Avellar (22 de julho de 2023).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023b-full.jpg" data-llb-src="href">
			<img src="gallery-2023b.jpg">
		</a>
		<figcaption>
			<p>
				QR Code no chão em frente à estátua
			</p>
			<p class="credits">
				Foto: Matheus Avellar (22 de julho de 2023).
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		A frente do monumento contém seguinte texto:
	</p>
	<pre class="inscription-text">D. JOÃO VI</pre>
	<p>
		A traseira do monumento contém seguinte texto:
	</p>
	<pre class="inscription-text">
DE PORTUGAL AO BRASIL
NO IV CENTENÁRIO DA
FUNDAÇÃO DA CIDADE
DO RIO DE JANEIRO - 1965</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol>-->
</section>
<%- makeOthersFromSeries(arguments[0]); %>