---
layout: monument.ejs
name: Busto de Alberto de Oliveira
categoria: busto
tags: [
	"preliminar",
	"possui escrita",
	"sem descrição"
]
series: []

data_inaug: 
altura: 
largura: 
material: 
autores: []

local: 
bairro: Glória
lat: -22.92195
lon: -43.17305

imrj: 228
wikidata: Q67204966
---

<figure>
	<!-- <a href="photo.jpg" data-llb-src="href"> -->
		<img src="thumb.jpg">
	<!-- </a> -->
	<figcaption>
		<p class="credits">
			Foto: <a href="https://maps.app.goo.gl/t5RXp3a8tuEt9nu67">Google Street View</a> (maio de 2022).
		</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há inscrições na base do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Alberto
de
Oliveira

<span title="1928">MCMXXVIII</span></pre>
	<p>
		Há uma placa na base do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">[?]</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>