---
layout: monument.ejs
name: Estátua de Ana Carolina da Costa Lino
categoria: estátua
tags: []

data_inaug: 2001-10
altura: 
largura: 
material: [
	Bronze
]

autores: [
	Marli Mazeredo
]
homenageados: Ana Carolina da Costa Lino

local: Espaço Pela Paz-Ana Carolina da Costa Lino
bairro: Laranjeiras
lat: -22.93311
lon: -43.18502

imrj: 412
wikidata: Q67205439
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: "Jmbrasil" (14 de outubro de 2021),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:Ana_Carolina_2021-10-14_versao_2.jpg">Wikimeda
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Estátua em homenagem a Ana Carolina da Costa Lino (26/04/1979–15/04/1998),
		assassinada aos 18 anos na saída de Laranjeiras do Túnel Santa Bárbara. A
		estátua fica em frente à Maternidade Escola da UFRJ, próxima ao local
		do crime e onde a estudante recebeu primeiros socorros.
	</p>
	<blockquote>
		Art. 1º Fica denominada Espaço Pela Paz-Ana Carolina da Costa Lino, a área
		embaixo do viaduto formado pela pista de acesso ao Túnel Santa Bárbara, na
		Rua das Laranjeiras.<br>
		Art. 2º Fica o Poder Executivo autorizado a erigir um monumento no local
		especificado.
	</blockquote>
	<cite>
		— Leila do Flamengo, Cesar Maia (12 de junho de 2001)
<a href="http://aplicnt.camara.rj.gov.br/APL/Legislativos/contlei.nsf/7cb7d306c2b748cb0325796000610ad8/7e4a35598945d512032576ac0072e87f">Lei
Ordinária Nº 3.239</a>. <i>Câmara Municipal do Rio de Janeiro</i>.
	</cite>
	<p>
		A estátua foi inaugurada, presume-se, em outubro de 2001. Uma fotografia
		de Clara Magalhães, Marli Mazeredo e Rosemary da Costa Lino aparece em uma
		página de jornal de 6 de outubro de 2001.<sup>1</sup> Nenhum texto a
		acompanha, mas presume-se que ela tenha sido tirada durante a inauguração
		do Espaço pela Paz – as roupas são as mesmas usadas nas fotografias da
		inauguração presentes no IMRJ.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Nelbe Chateaubriand, Armando Araújo (foto) (6 de outubro de 2001).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=364568_19&pagfis=26504">Sociedade</a>.
			<i>Jornal do Commercio</i> [via Hemeroteca Digital da Biblioteca Nacional].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2021-full.jpg" data-llb-src="href">
			<img src="gallery-2021.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: "Jmbrasil" (14 de outubro de 2021),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
				via
				<a href="https://commons.wikimedia.org/wiki/File:Ana_Carolina_2021-10-14_versao_1.jpg">Wikimeda
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no pedestal contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
A vida
é estranha,
muda a cada momento.
Se eu te perguntar
o que é a vida?
Me responderás que são os
momentos pelos quais
nós passamos, certo?
Errado, a vida depende
dos nossos sentimentos.
Só estamos vivendo quando
somos felizes.
Que me desculpem as lágrimas,
mas, quando estamos tristes,
estamos morrendo.
Agora, pensando nos meus
momentos, sinto que muitas vezes
vivi e muitas vezes morri.
Mais importante que a vida,
é existir nesse mundo.
Não basta estar aqui,
tem que se viver.</pre>
	<p>
		Há uma segunda placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Espaço pela paz
Ana Carolina da Costa Lino

Lei nº 3239/2001

Autoria: Vereadora Leila do Flamengo
Sancionada pelo Prefeito Cesar Maia
Autoria do Monumento: Mazeredo</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>