---
layout: monument.ejs
name: Lobinho
categoria: escultura
tags: [
	"imagem não-livre"
]

data_inaug: 2002
altura: 
largura: 
peso: 
material: 

autores: 

local: Praça Aldir Blanc (antiga Praça Abelardo Chacrinha Barbosa)
bairro: Tijuca
lat: -22.92704
lon: -43.2333

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (12 de junho de 2023).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Pequena escultura de um cachorro na esquina da Rua Desembargador Izidro com
		a Rua Abelardo Chacrinha Barbosa, na Praça Aldir Blanc, na Tijuca.
	</p>
	<p>
		Segundo um funcionário do Quiosque do Josias, comércio de lanches da praça
		inaugurado em 26 de novembro de 2002, a escultura foi instalada pelo dono do
		estabelecimento, Josias Junior.
	</p>
	<blockquote>
		Josias tinha um cachorro, Lobinho, quando morava em  Campos dos Goytacazes.
		Quando se mudou para o Rio de Janeiro, não pôde trazê-lo, e o deixou com seu
		pai. Alguns anos depois, ao visitá-lo, Lobinho tinha falecido: "morreu de
		saudades". A escultura foi, então, instalada em homenagem ao cão, em 2002.
	</blockquote>
	<cite>— Funcionário do Quiosque do Josias (12 de junho de 2023).</cite>
	<p>
		
	</p>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2011-full.jpg" data-llb-src="href">
			<img src="gallery-2011.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: <a href="https://goo.gl/maps/5sdYSYvzok4pg7LX8">Google Street View</a>
				(agosto de 2011).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2014-full.jpg" data-llb-src="href">
			<img src="gallery-2014.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Rafael Junqueira (24 de setembro de 2014).
				<a href="https://mundopauta.com.br/2014/09/25/conheca-a-estatua-do-cao-misterioso/">Conheça
				a estátua do cão misterioso</a>. <i>Mundo Pauta</i>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (12 de junho de 2023).
			</p>
		</figcaption>
	</figure>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Rafael Junqueira (25 de setembro de 2014).
			<a href="https://mundopauta.com.br/2014/09/25/conheca-a-estatua-do-cao-misterioso/">Conheça
			a estátua do cão misterioso</a>. <i>Mundo Pauta</i>.
		</li>
	</ol>
</section>