---
layout: monument.ejs
name: Escultura sem título de Angelo Venosa
alt_names: [
	"A Baleia"
]
categoria: escultura
tags: []
series: [
	"Praia do Leme"
]

data_inaug: 1990-03-13
altura: 4
largura: 
comprimento: 6
peso: 17000
material: [ Aço Corten ]
autores: [ "Angelo Venosa" ]

local: Praia do Leme
bairro: Leme
lat: -22.96236
lon: -43.16547

imrj: 348
wikidata: Q67203466
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Donatas Dabravolskas (13 de setembro de 2023),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Escultura_Sem_Nome,_a_Baleia_-_Rio_de_Janeiro_-_20230913104754.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Obra vencedora de concurso do projeto de revitalização da Avenida Rio Branco,
		e inicialmente instalada na Praça Mauá, em 1990. Foi posteriormente movida
		para a Avenida Atlântica.
	</p>
	<blockquote>
		"É uma baleia? É uma girafa? É um dinossauro? É um elefantinho?" Não, diz o
		autor do objeto em questão, com os dentes trincados: "É uma escultura!
		Apenas uma escultura!"
	</blockquote>
	<cite>
		— Eliane Lobato (13 de março de 1990). "Baleia na praça: Uma estranha obra
		de arte agita o Centro". <i>O Globo</i>, <i>Segundo Caderno</i>, p.3 [via
		<a href="https://oglobo.globo.com/acervo/resultado/?decade=1990&year=1990&month=3&day=13">Acervo
		O Globo</a>].
	</cite>
	<blockquote>
		Ângelo Venosa recorda que a obra, instalada há 22 anos na Praça Mauá, foi
		parar na Zona Sul a pedido da Marinha.
	</blockquote>
	<cite>
		— Emanuel Alencar (13 de outubro de 2012).
		<a href="https://oglobo.globo.com/rio/especialistas-escolhem-as-mais-imponentes-as-mais-estranhas-obras-de-arte-das-ruas-do-rio-6393244">Especialistas
		escolhem as mais imponentes e as mais estranhas obras de arte das ruas do
		Rio</a>. <i>O Globo</i>.
	</cite>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1989-full.jpg" data-llb-src="href">
			<img src="gallery-1989.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: Isabel Cristina Mauad (15 de março de 1989).
				<i>O Globo</i>, <i>Segundo Caderno</i>, p.2 [via
				<a href="https://oglobo.globo.com/acervo/resultado/?decade=1980&year=1989&month=3&day=15">Acervo
				O Globo</a>].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1990-full.jpg" data-llb-src="href">
			<img src="gallery-1990.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Jorge Peier (2 de março de 1990); Reportagem: S.n.
				(3 de março de 1990). <i>O Globo</i>, <i>Primeiro Caderno</i>, p.14 [via
				<a href="https://oglobo.globo.com/acervo/resultado/?decade=1990&year=1990&month=3&day=3">Acervo
				O Globo</a>].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2025-full.jpg" data-llb-src="href">
			<img src="gallery-2025.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (28 de janeiro de 2025).
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			S.n. (s.d.).
			<a href="https://www.angelovenosa.com/obra/sem-titulo-3.html">Sem Título -
			Obras</a>. <i>Angelo Venosa</i>.
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]); %>