---
layout: monument.ejs
name: Monumento às Vítimas do Holocausto
categoria: marco
tags: [
	"possui escrita"
]

data_inaug: 2020-12-13
altura: 19.9
largura: 
peso: 
material: 

autores: [
	Andre Orioli
]

local: Parque Yitzhak Rabin
bairro: Botafogo
lat: -22.9513
lon: -43.1783

imrj: 
wikidata: 
structurae: 
cona: 
hpip:

instagram: memorialdoholocaustorio
website: https://www.memorialdoholocaustorio.org.br/
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Fernando Frazão via <a href="https://agenciabrasil.ebc.com.br/foto/2023-01/memorial-vitimas-do-holocausto-inaugura-exposicao-permanente-1673992289">Agência
			Brasil</a> (17 de janeiro de 2023).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Parte do Memorial às Vítimas do Holocausto, este inaugurado 2 anos depois,
		em 19 de janeiro de 2023.<sup>1</sup>
	</p>
	<p>
		O obelisco possui 19.9&nbsp;metros de altura,<sup>2</sup> e é dividido em
		dez partes, representando os Dez Mandamentos. Em sua base, há o mandamento
		"Não matarás".<sup>1</sup>
	</p>
	<p>
		O projeto é pelo arquiteto Andre Orioli, que foi o vencedor de um concurso
		do Instituto de Arquitetos do Brasil (IAB-RJ) do final da década de
		1990.<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Léo Rodrigues, Valéria Aguiar (ed.) (19 de janeiro de 2023).
			<a href="https://agenciabrasil.ebc.com.br/direitos-humanos/noticia/2023-01/rio-memorial-do-holocausto-abre-portas-ao-publico">Rio:
			Memorial do Holocausto abre as portas ao público</a>.
			<i>Agência Brasil</i>.
		</li>
		<li>
			S.n. (14 de março de 2019). <a href="http://portal.iphan.gov.br/noticias/detalhes/5005/a-construcao-do-memorial-do-holocausto-%E2%80%93-rio-de-janeiro-rj">A
			construção do Memorial do Holocausto – Rio de Janeiro (RJ)</a>. <i>Instituto
			do Patrimônio Histórico e Artístico Nacional</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2020-full.jpg" data-llb-src="href">
			<img src="gallery-2020.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Tânia Rêgo via <a href="https://agenciabrasil.ebc.com.br/direitos-humanos/noticia/2020-12/rio-de-janeiro-inaugura-memorial-vitimas-do-holocausto">Agência
				Brasil</a> (13 de dezembro de 2020)
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no monumento, contendo o seguinte texto:
	</p>
	<pre class="inscription-text">Não matarás</pre>
</section>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Vladimir Platonow (13 de dezembro de 2020).
			<a href="https://agenciabrasil.ebc.com.br/direitos-humanos/noticia/2020-12/rio-de-janeiro-inaugura-memorial-vitimas-do-holocausto">Rio
			de Janeiro inaugura memorial às vítimas do holocausto</a>.
			<i>Agência Brasil</i>.
		</li>
	</ol>
</section>