---
layout: monument.ejs
name: Marco de Inauguração da Praça Edmundo Rego
categoria: marco
tags: [
	"preliminar"
]
series: [
	"Praça Edmundo Rego"
]

data_inaug: 2023-04
altura: 
largura: 
material: []
autores: []

local: Praça Edmundo Rego
bairro: Grajaú
lat: -22.92238
lon: -43.26464

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (30 de janeiro de 2024).
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Rio
Prefeitura

Inauguração da
Praça Edmundo Rego

<small>Eduardo Paes
Prefeito da Cidade do Rio de Janeiro

Guilherme Schleder
Secretário de Esportes

Felipe Gomes Quintans
Subprefeito da Grande Tijuca

Julio Villas Boas
Presidente da Fundação Parques e Jardins

Inaugurada em abril de 2023.</small></pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>