---
layout: monument.ejs
name: Chafariz do Outono
categoria: chafariz
tags: [
	"preliminar",
	"sem descrição",
	"sem galeria",
	"imagem não-livre"
]
series: [
	"Estações do Ano"
]

data_inaug: 1923
altura: 
largura: 
material: Ferro
autores: [ Mathurin Moreau ]

local: Largo do Rio Grande
bairro: Taquara
lat: -22.91676
lon: -43.41473

imrj: 1062
wikidata: Q67210527

tombado_nome: Decreto 19.011/2000
tombado_desc: "Art. 1º Ficam tombados definitivamente [...] \
	elementos decorativos de ferro fundido: [...] \
	JACAREPAGUÁ: LARGO DO RIO GRANDE - 1 fonte: O Outono, de Mathurin Moreau"
tombado_quote: true
tombado_url: https://www.rio.rj.gov.br/dlstatic/10112/4722991/4121993/180DECRETO19011ConjuntodePecasdeArtedeFerroFundido.pdf
---
<!-- T142 Outono no Passeio Público menciona esse aqui; quando o ID mudar, tem
que atualizar lá também

https://extra.globo.com/noticias/rio/prefeitura-recupera-chafariz-em-jacarepagua-32015.html -->
<figure>
	<!-- <a href="photo.jpg" data-llb-src="href"> -->
		<img src="thumb.jpg">
	<!-- </a> -->
	<figcaption>
		<p class="credits">
			Foto: <a href="https://maps.app.goo.gl/mLcSqq3xrY69vGTHA">Google Street
			View</a> (agosto de 2018).
		</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-c1860-full.jpg" data-llb-src="href">
			<img src="gallery-c1860.jpg">
		</a>
		<figcaption>
			<p>
				Catálogo de obras das Fundições de Val d'Osne, onde estão presentes
				as esculturas das estações do ano
			</p>
			<p class="credits">
				Foto: S.n. (circa 1860).
				<a href="https://bibliotheques-specialisees.paris.fr/ark:/73873/pf0001999932/v0143">Ornements
				en fonte de fer, Barbezat & Cie</a>, p.184 (PDF p.143)
				[via Bibliothèque Forney].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2022-full.jpg" data-llb-src="href">
			<img src="gallery-2022.jpg">
		</a>
		<figcaption>
			<p>
				Placa próxima ao chafariz
			</p>
			<p class="credits">
				Foto: Eduardo Vasquez da Silva (29 de julho de 2022).
				<a href="https://youtu.be/VBG_O8WptLQ">Chafariz Outono, Largo da Capela,
				Taquara/RJ - Drone</a>, 0:12 [via YouTube].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa próxima ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Largo do Rio Grande
(Largo da Capela)
Fonte: O Outono
Autor: Mathurin Moreau
Obra em ferro fundido, feita na frança, nas Fundições
do Val D'Osne, na segunda metade do século XIX.
Tratamento paisagístico e restauro: fevereiro de 1996.

RIO
Prefeitura da Cidade
do Rio de Janeiro

Sec. Munic. do Meio Ambiente
Fund. Parques e Jardins</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>