---
layout: monument.ejs
name: São Francisco de Assis
categoria: escultura
tags: [
	possui escrita,
	religioso
]
series: [
	"Parque da Catacumba"
]

data_inaug: 1979-03-14
altura: 
largura: 
peso: 
material: 
autores: Humberto Cozzo

local: Parque da Catacumba
bairro: Lagoa
lat: -22.97225
lon: -43.20293

imrj: 472
wikidata: Q67204987
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (15 de junho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Escultura_de_S%C3%A3o_Francisco_de_Assis.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		É atualmente a escultura de número 4 das 32 expostas no Parque da Catacumba,
		e foi uma das 24 inauguradas junto com o parque, em 14 de março de
		1979.<sup>1</sup> O IMRJ credita a empresa H. Guedes Engenharia pela doação
		da obra à Prefeitura.
	</p>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1979-full.jpg" data-llb-src="href">
			<img src="gallery-1979.jpg">
		</a>
		<figcaption>
			<p>
				Reportagem sobre a inauguração do parque, listando as esculturas lá
				presentes
			</p>
			<p class="credits">
				Reportagem: S.n. (15 de março de 1979). "<i>Tamoyo inaugura Parque da
				Catacumba e Arquivo do Rio</i>". <i>O Globo</i>, p.17 [via
				<a href="https://oglobo.globo.com/acervo/">Acervo O Globo</a>].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (15 de junho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Busto_de_Marcos_Tamoio,_Parque_da_Catacumba_(pedestal).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa próxima ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
[QR code: <a href="https://qrgo.page.link/e1K6o">qrgo.page.link/e1K6o</a>]

São
Francisco
de Assis

Humberto Cozzo
1979</pre>
	<p>
		O QR code leva a um
		<a href="https://drive.google.com/file/d/1WeR-Z5Ht8PzXuwkTpo-KW1NNMvroLx-V/view">link
		do Google Drive</a>, de autoria de Ana Luiza Piza e datado do final de 2020,
		onde se encontra <a href="Humberto_Cozzo.pdf">um arquivo PDF</a> 
		contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Humberto Cozzo
<i>São Francisco de Assis</i>, bronze

São Paulo, SP, 1900 – Rio de Janeiro, RJ, 1981

Escultor e autor de vários mosaicos brasileiros. Formado pelo Liceu de
Artes e Ofícios de São Paulo, frequentou a oficina do escultor Amadeu
Zani, em 1920. Fundou a Associação de Artistas Brasileiros e presidiu a
Sociedade Brasileira de Belas Artes, situada no Liceu de Artes e Ofícios. no
Rio de Janeiro. Em 1922, obteve o primeiro prêmio de escultura no Salão
do Centenário/SP. Em 1931, participa da 38º Exposição Geral de Belas
Artes, conhecido como Salão Revolucionário, dirigido por Lucio Costa,
com a presença de vários artistas modernistas da Semana de 1922 e
com júri presidido por Anita Malfatti, Cândido Portinari Celso Antônio,
Manuel Bandeira. Ocupa a cadeira da Academia Brasileira de Belas Artes,
cujo patrono fora o pintor e escultor Belmiro Barbosa de Almeida.
Participa da mostra coletiva 50 Anos de Escultura Brasileira, no Espaço
Urbano, organizada pelo crítico de arte Jayme Mauricio, inaugurada
em 1978, na Praça N. S. da Paz, em Ipanema, que reunia as diferentes
tendências da escultura moderna no Brasil: Franz Weissmann, Felícia
Leirner Maria Martins, Mario Cravo, Roberto Moriconi, Sergio Camargo,
Vasco Prado, entre outros Realizou inúmeras estátuas e monumentos
para espaços públicos. A maior parte de suas últimas obras foram para
a Catedral de São Sebastião do Rio de Janeiro, onde construiu painéis
em baixo relevo e esculturas, como a imagem de São Francisco de Assis,
localizada na lateral do templo. É o autor de estátuas, como Machado
de Assis, situada na entrada da sede da Academia Brasileira de Letras;
o poeta Olavo Bilac, no Passeio Público; o sanitarista Oswaldo Cruz, na
Praça da Nicarágua, todas localizadas no Rio de Janeiro. Executou as
talhas em mármores dos jazigos da Princesa Isabel e do Conde d’Eu, na
\Catedral de Petrópolis. Seus painéis de mosaicos estão instalados no
frontão e no interior da sinagoga do Grande Templo Israelita no Rio de
Janeiro. Suas obras fazem parte do Acervo do Museu Nacional de Belas
Artes, e no exterior, estão representados em museus na Argentina e em
Portugal.</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>