---
layout: monument.ejs
name: Chafariz da Praça Santos Dumont
categoria: chafariz
tags: [
	"preliminar",
	"sem descrição"
]
series: []

data_inaug: 
altura: 
largura: 
material: 
autores: []

local: Praça Santos Dumont
bairro: Gávea
lat: -22.97387
lon: -43.22644

imrj: 486
wikidata: Q67203378
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (8 de janeiro de 2024).
		</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>