---
layout: monument.ejs
name: Monumento ao Visconde de Bom Retiro
categoria: marco
tags: [
	"possui escrita",
	"imagem não-livre"
]
series: [
	"Parque Nacional da Tijuca"
]

data_inaug: 1928-08
altura: 
largura: 
material: 
autores: []

local: Largo do Bom Retiro, Parque Nacional da Tijuca
bairro: Alto da Boa Vista
lat: -22.94741
lon: -43.2912

imrj: 1234
wikidata: Q67205515
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (8 de julho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Monumento_ao_Visconde_de_Bom_Retiro_(julho_2023)_(ampla).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem a Luiz Pedreira do Couto Ferraz (07/05/1818–12/08/1886), conhecido
		como Visconde do Bom Retiro, influente político brasileiro.
	</p>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1928a-full.jpg" data-llb-src="href">
			<img src="gallery-1928a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: Ulysses de Aguiar (6 de outubro de 1928).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=025909_02&pesq=%22bom%20retiro%22%20%22floresta%20nacional%22&pagfis=16799">Os
				Monumentos da Tijuca</a>. <i>Revista da Semana</i>, p.25 [via
				Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1928d-full.jpg" data-llb-src="href">
			<img src="gallery-1928d.jpg">
		</a>
		<figcaption>
			<p>
				Faces norte e oeste do monumento
			</p>
			<p class="credits">
				Reportagem: Ulysses de Aguiar (6 de outubro de 1928).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=025909_02&pesq=%22bom%20retiro%22%20%22floresta%20nacional%22&pagfis=16799">Os
				Monumentos da Tijuca</a>. <i>Revista da Semana</i>, p.25 [via
				Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1928b-full.jpg" data-llb-src="href">
			<img src="gallery-1928b.jpg">
		</a>
		<figcaption>
			<p>
				Inscrições na face sul do monumento
			</p>
			<p class="credits">
				Reportagem: Ulysses de Aguiar (6 de outubro de 1928).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=025909_02&pesq=%22bom%20retiro%22%20%22floresta%20nacional%22&pagfis=16799">Os
				Monumentos da Tijuca</a>. <i>Revista da Semana</i>, p.25 [via
				Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1928c-full.jpg" data-llb-src="href">
			<img src="gallery-1928c.jpg">
		</a>
		<figcaption>
			<p>
				Efígie do Visconde, já perdida, presente originalmente na face leste do
				monumento
			</p>
			<p class="credits">
				Reportagem: Ulysses de Aguiar (6 de outubro de 1928).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=025909_02&pesq=%22bom%20retiro%22%20%22floresta%20nacional%22&pagfis=16799">Os
				Monumentos da Tijuca</a>. <i>Revista da Semana</i>, p.25 [via
				Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2018a-full.jpg" data-llb-src="href">
			<img src="gallery-2018a.jpg">
		</a>
		<figcaption>
			<p>
				Inscrições na face norte do monumento
			</p>
			<p class="credits">
				Foto: Igor Castro (3 de fevereiro de 2018), via
				<a href="https://goo.gl/maps/xnMb1sMigRFVvDDo8">Google Maps</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2018b-full.jpg" data-llb-src="href">
			<img src="gallery-2018b.jpg">
		</a>
		<figcaption>
			<p>
				Inscrições na face sul do monumento
			</p>
			<p class="credits">
				Foto: Igor Castro (3 de fevereiro de 2018), via
				<a href="https://goo.gl/maps/gXLyAUsTvSiLve7AA">Google Maps</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		O monumento possui inscrições em suas laterais. Na face norte:
	</p>
	<pre class="inscription-text">
Esta homenagem á memoria
de tão illustre brasileiro
neste local chamado do
Bom Retiro determinou que
se realisasse o Exmo Snr
D. Washington Luis
Pereira de Sousa
Presidente da Republica
dos Estados Unidos do Brasil
Agosto de 1928</pre>
	<p>
		Na face oeste:
	</p>
	<pre class="inscription-text">
Bacharel pela
Faculdade de S. Paulo
em 1838. Doutor em Direito e lente
da Faculdade de S. Paulo em 1839
Presidente do Espírito
Santo (1846-1848)
Deputado Geral pelo Espírito
Santo e Rio de Janeiro
em 1848, 1850, 1853, 1857, 1861
Presidente do Rio
de Janeiro (1848-1853)
Ministro do Imperio (1853-1857)
Conselheiro de Estado em 1866
Senador do Imperio pelo
Rio de Janeiro em 1867
Barão do Bom Retiro em 1867
Visconde do Bom Retiro em 1872
Faleceu no Rio de Janeiro
a 12 de agosto de 1886</pre>
	<p>
		Na face sul:
	</p>
	<pre class="inscription-text">
Dentre os homens
de estado brasileiros
nenhum houve que
a Floresta Nacional
consagrasse o affecto
e o interesse do
morador da Solidão
Luiz Pedreira do Couto Ferraz
Nascido no Rio de Janeiro
a 7 de maio de 1808</pre>
	<p>
		A face leste possuía um medalhão em bronze, já perdido, com o seguinte texto:
	</p>
	<pre class="inscription-text">
Dr. Luiz Pedreira do Couto Ferraz
Visconde do Bom Retiro</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>