---
layout: monument.ejs
name: Leão em pé
alt_names: [ Lion debout ]
categoria: escultura
tags: []
series: [
	Alto da Boa Vista,
	Pereira Passos
]

data_inaug: 1907
data_circa: true
altura: 1.8
largura: 
peso: 
material: 

autores: [
	Hippolyte Peyrol
]

local: 
bairro: Alto da Boa Vista
lat: -22.9575
lon: -43.2662

imrj: 803
wikidata: Q67210399
structurae: 
cona: 
hpip:
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (20 de março de 2022).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Instalada como parte das reformas na cidade do Rio de Janeiro pelo então
		prefeito (1902–1906) Pereira Passos, inspirado por reformas em Paris da
		época. Muitas esculturas foram encomendadas da França mas, devido a
		atrasos,<sup>1,2</sup> nem todas puderam ser instaladas durante sua
		administração.
	</p>
	<p>
		Foi movido após sua instalação inicial na Praça Floriano Peixoto.
		Atualmente está em um gramado no Alto da Boa Vista; segundo o IMRJ,
		desde a inauguração da Avenida Edson Passos, em dezembro de 1940.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (1 de setembro de 1907).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=259764&pesq=weigele&pagfis=3247">Jardins
			publics de Rio</a>. <i>L'Étoile du Sud</i>, p.2 [via Hemeroteca Digital da
			Biblioteca Nacional].
		</li>
		<li>
			S.n. (17 de agosto de 1907).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=103730_04&pesq=crepuscule&pagfis=15450">As
			Estatuas da Prefeitura</a>. <i>Gazeta de Noticias</i>, p.1 [via Hemeroteca
			Digital da Biblioteca Nacional].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-c1910-full.jpg" data-llb-src="href">
			<img src="gallery-c1910.jpg">
		</a>
		<figcaption>
			<p>Leão na Praça Floriano Peixoto, em frente ao Theatro Municipal</p>
			<p class="credits">
				Foto: Guilherme Santos (c.1910) [via
				<a href="https://acervos.ims.com.br/portals/#/detailpage/90800">Instituto
				Moreira Salles</a>].
			</p>
		</figcaption>
	</figure>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>