---
layout: monument.ejs
name: Marco Rotário da Avenida Atlântica
alt_names: []
categoria: marco
tags: [
	"sem descrição"
]
series: [
	"Rotary Club"
]

data_inaug: 2016-06-25
altura: 
largura: 
comprimento: 
peso: 
material: [ ]
autores: [ ]

local: Avenida Atlantica
bairro: Copacabana
lat: -22.96482
lon: -43.17330

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (13 de agosto de 2024).
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2024-full.jpg" data-llb-src="href">
			<img src="gallery-2024.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (13 de agosto de 2024).
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Rotary
Club de Copacabana

<small>Rotary
International</small>

[QR code: <a href="https://www.instagram.com/rotarycopacabana?igsh=MTd4bmk3aGhqOXkzdA%3D%3D&utm_source=qr">instagram.com/rotarycopacabana?igsh=...</a>]
<small>@rotarycopacabana</small>

Distrito 4571
<small>Fundado em 26 de outubro de 1949</small>

Mais Se Beneficia Quem Melhor Serve

<small>Agradecimentos
· Arqto. Rui Pereira Azevedo pela arte
· Engo. Paul Poullalion pela execução (in memoriam)
· Estaleiro Aliança Offshore - Grupo CBO pelo oferecimento das Ondas</small>

<small>Inaugurado em 25 de junho de 2016</small></pre>
</section>
<%- makeMap(arguments[0]); %>
<%# <section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li></li>
	</ol>
</section> %>
<%- makeOthersFromSeries(arguments[0]); %>