---
layout: monument.ejs
name: Marco de Reforma dos Deques da Lagoa
categoria: marco
tags: [
	"preliminar",
	"possui escrita"
]
series: [
	"Lagoa Rodrigo de Freitas"
]

data_inaug: 2020-08-12
altura: 
largura: 
material: []
autores: []

local: 
bairro: Lagoa
lat: -22.97243
lon: -43.21606

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (7 de março de 2024).
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Prefeitura da Cidade do
Rio de Janeiro

Reforma dos Deques
da Lagoa Rodrigo de Freitas

Marcelo Crivella
<small>Prefeito da Cidade do Rio de Janeiro</small>

Bernardo Egas Lima Fonseca
<small>Secretaria Municipal de Meio Ambiente</small>

<small>Inaugurado em 12 de agosto de 2020</small></pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>