---
layout: monument.ejs
name: Busto de Evaristo de Morais
categoria: busto
tags: [
	"preliminar",
	"possui escrita",
	"sem descrição",
	"removido"
]
series: [
	Praça Mahatma Gandhi
]

data_inaug: 
data_remov: 2016-10
motiv_remov: Furtado
altura: 
largura: 
material: []
autores: []

local: Praça Mahatma Gandhi
bairro: Centro
lat: -22.91214
lon: -43.17544

imrj: 19
wikidata: Q61783267
---

<figure>
	<!-- <a href="photo.jpg" data-llb-src="href"> -->
		<img src="thumb.jpg">
	<!-- </a> -->
	<figcaption>
		<p class="credits">
			Foto: <a href="https://goo.gl/maps/5AJQBqJtnBLhsX3b8">Google Street
			View</a> (setembro de 2021).
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Havia uma inscrição no monumento em si contendo o seguinte texto:
	</p>
	<pre class="inscription-text">Evaristo de Moraes</pre>
	<p>
		Havia uma inscrição no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Evaristo
de
Morais
1871—1939
Sempre
advogado</pre>
	<p>
		Havia também uma placa no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Homenagem da Sociedade dos Advogados
Criminais do Estado do Rio de Janeiro -
SACERJ ao Patrono dos Criminalistas
Brasileiros.
            Rio de Janeiro, outubro de 1982</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>