---
layout: monument.ejs
name: Efígie de Elias Reis e Silva
categoria: busto
tags: [
	"possui escrita",
	"escrita ilegível"
]

data_inaug: 1958-12-12
altura: 
largura: 
peso: 
material: 

autores: [
	Leonardo Lima
]

local: Praça Paris
bairro: Glória
lat: -22.9150
lon: -43.1757

imrj: 240
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Seconserva, via
			<a href="https://web.archive.org/web/20141207082037/http://riomonumentos.com/?s=261">Monumentos
			e Chafarizes da Cidade do Rio de Janeiro</a> (14 de outubro de 2013).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		O monumento a Elias Reis e Silva (Pernambuco, 1889 – Rio de Janeiro,
		02/11/1953)<sup>1,2</sup> é uma homenagem ao cantor de ópera, popular
		na década de 1920, inaugurado em 12 de dezembro de 1958.<sup>3</sup>
	</p>
	<p>
		O monumento – junto com o resto da Praça Paris, incluindo as amendoeiras –
		foi tombado em maio de 1995 pelo então prefeito Cesar Maia.<sup>4</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (2 de novembro de 1953).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=221961_03&pesq=%22Elias%20Reis%20e%20Silva%22&pagfis=30649">Faleceu
			o tenor Reis e Silva</a>. <i>Diario da Noite</i>, p.2.
		</li>
		<li>
			S.n. (4 de novembro de 1953).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=110523_05&pesq=%22Elias%20Reis%20e%20Silva%22&pagfis=24803">Falecimento
			de Reis e Silva</a>. <i>O Jornal</i>, p.7.
		</li>
		<li>
			S.n. (10 de dezembro de 1958).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_03&pesq=%22Pra%C3%A7a%20Paris%22&pagfis=78582">Inauguração
			do Monumento de Reis e Silva</a>. <i>Diario de Notícias</i>, p.3,
			segunda seção.
		</li>
		<li>
			Cesar Maia (16 de maio de 1995).
			<a href="http://www.rio.rj.gov.br/dlstatic/10112/4722991/4121905/109DECRETO13898PracaParisePracaDeodoro.pdf">Decreto
			Nº 13.898</a>. <i>Diário Oficial</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="1958-12-10--diario-de-noticias.png" data-llb-src="href">
			<img src="1958-12-10--diario-de-noticias.png">
		</a>
		<figcaption>
			<small>S.n. (10 de dezembro de 1958).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_03&pesq=%22Pra%C3%A7a%20Paris%22&pagfis=78582">Inauguração
			do Monumento de Reis e Silva</a>. <i>Diario de Notícias</i>, p.3.</small>
		</figcaption>
	</figure>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no monumento, contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
?? ? ? ? ?? ??
? Lirico Reis e Silva
12-12-1958</pre>
</section>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
