---
layout: monument.ejs
name: Busto de Padre António Vieira
alt_names: []
categoria: busto
tags: [
	"possui escrita",
	"escrita ilegível"
]
series: [
	"PUC-Rio"
]

data_inaug: 2011-03-31
altura: 
largura: 
peso: 400
material: [
	Bronze,
	Mármore rosa
]

autores: [ Graça Costa Cabral ]

local: PUC-Rio
bairro: Gávea
lat: -22.97854
lon: -43.23319

imrj: 518
wikidata: Q67210331
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Mylena Lucciola (15 de junho de 2023).
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
			Arquivo pessoal.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem a Padre António Vieira (06/02/1608–18/07/1697), figura influente
		nos tempos de Brasil colônia.
	</p>
	<blockquote>
		O monumento foi uma doação da Prefeitura de Lisboa à cidade do Rio de
		Janeiro, em retribuição ao busto do escritor Machado de Assis, doado pela
		Prefeitura do Rio aos portugueses em 2008.
	</blockquote>
	<cite>
		— Juliana Romar (31 de março de 2011).
		<a href="https://www.rio.rj.gov.br/web/guest/exibeconteudo?id=1668531">Prefeitura
		entrega monumento em homenagem ao Padre Antonio Vieira na Gávea</a>.
		<i>Prefeitura da Cidade do Rio de Janeiro</i>.
	</cite>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2011-full.jpg" data-llb-src="href">
			<img src="gallery-2011.jpg">
		</a>
		<figcaption>
			<p>Inauguração</p>
			<p class="credits">
				Foto: J.P. Engelbrecht (31 de março de 2011).
				<a href="https://www.rio.rj.gov.br/web/guest/exibeconteudo?id=1668531">Prefeitura
				entrega monumento em homenagem ao Padre Antonio Vieira na Gávea</a>.
				<i>Prefeitura da Cidade do Rio de Janeiro</i>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Mylena Lucciola (15 de junho de 2023).
				<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
				Arquivo pessoal.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no pedestal contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Padre António Vieira

"As palavras hão-de
ser como estrelas"

Sacerdote Jesuíta
Pregador
Missionário
Diplomata
Político
Humanista
Literato

   1608
Nasceu em
  Lisboa

    1697
 Morreu em
S. Salvador da
    Baia</pre>
	<pre class="inscription-text">
"Ter nome de pregador,
ou ser pregador de nome,
não importa nada:
    as ações,
     a vida,
    o exemplo,
    as obras,
são as que convertem
    o mundo"
[?]</pre>
	<pre class="inscription-text">
Padre António Vieira

"Sem igualdade e
igualdade com todos,
   não há paz"
   <small>(S,11,p.260)</small>

Pregador régio
de D. João IV

Diplomata em França
   e Holanda

Evangelizador no Brasil

Defensor dos índios,
escravos e judeus

Condenado pela
Inquisição e
absolvido pelo
Papa Clemente X

Deixou nos o seu
pensamento escrito
nos Sermões,
Cartas e outros
documentos</pre>
	<p>
		Há também uma placa próxima ao pedestal contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Homenagem ao Padre António Vieira SJ

Oferta da Câmara Municipal de Lisboa à
Prefeitura da Cidade do Rio de Janeiro

  Escultura de Graça Costa Cabral

Inaugurado em 31.03.2011, pelo Magnífico
Reitor Pe. Josafá Carlos de Siqueira, SJ

Colaboração do Liceu Literário Português</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>