---
layout: monument.ejs
name: Estátua de Cristóvão Colombo
categoria: estátua
tags: [
	"preliminar"
]
series: [
	Palácio do Catete
]

data_inaug: 
altura: 
largura: 
material: 

autores: Mathurin Moreau

local: Jardins do Palácio do Catete
bairro: Flamengo
lat: -22.9262
lon: -43.17621

imrj: 
wikidata: 

tombado_nome: Decreto 19.011/2000
tombado_desc: "Art. 1º Ficam tombados definitivamente [...] \
	elementos decorativos de ferro fundido: [...] \
	MUSEU DA REPÚBLICA - 1 estátua: Cristóvão Colombo [...] Todas as obras acima \
	são de Mathurin Moreau"
tombado_quote: true
tombado_url: https://www.rio.rj.gov.br/dlstatic/10112/4722991/4121993/180DECRETO19011ConjuntodePecasdeArtedeFerroFundido.pdf
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Carlos Luis da Cruz (19 de agosto de 2012),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:Cristovao_colombo_(1).jpg">Wikimeda
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>