---
layout: monument.ejs
name: Estátua de Ana Carolina da Costa Lino
categoria: estátua
tags: [
	"preliminar"
]

data_inaug: 2001
altura: 
largura: 
material: [
	Bronze
]
autores: [
	Marli Mazeredo
]

local: Espaço Pela Paz-Ana Carolina da Costa Lino
bairro: Laranjeiras
lat: -22.93311
lon: -43.18502

imrj: 412
wikidata: 
---

<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no pedestal contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
A vida
é estranha,
muda a cada momento.
Se eu te perguntar
o que é a vida?
Me responderás que são os
momentos pelos quais
nós passamos, certo?
Errado, a vida depende
dos nossos sentimentos.
Só estamos vivendo quando
somos felizes.
Que me desculpem as lágrimas,
mas, quando estamos tristes,
estamos morrendo.
Agora, pensando nos meus
momentos, sinto que muitas vezes
vivi e muitas vezes morri.
Mais importante que a vida,
é existir nesse mundo.
Não basta estar aqui,
tem que se viver.</pre>
	<p>
		Há uma segunda placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Espaço pela paz
Ana Carolina da Costa Lino

Lei nº3239/2001

Autoria: Vereadora Leila do Flamengo

Sancionada pelo Prefeito Cesar Maia

Autoria do Monumento: Mazeredo</pre>
</section>
<%- makeMap(arguments[0]); %>