---
layout: monument.ejs
name: Busto de Jean Sibelius
categoria: busto
tags: [
	"preliminar",
	"possui escrita",
	"sem descrição"
]
series: []

data_inaug: 
altura: 
largura: 
material: 
autores: []

local: Praça Sibélius
bairro: Gávea
lat: -22.97741
lon: -43.22639

imrj: 
wikidata: 
---

<figure>
	<!-- <a href="photo.jpg" data-llb-src="href"> -->
		<img src="thumb.jpg">
	<!-- </a> -->
	<figcaption>
		<p class="credits">
			Foto: <a href="https://maps.app.goo.gl/ALK3uqA3zDyXadWs9">Google Street View</a>
			(julho de 2019).
		</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há inscritos na face frontal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">Jean Sibelius</pre>
	<p>
		A face traseira contém o seguinte texto:
	</p>
	<pre class="inscription-text">
Da Finlândia ao Brasil
em homenagem ao IV centenario
do Rio de Janeiro e ao primeiro
Centenário do nascimento
do compositor finlandes
1965</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>