---
layout: monument.ejs
name: Busto de Rubens Paiva
categoria: busto
tags: [
	"sem descrição",
	"possui escrita",
	"imagem não-livre"
]

data_inaug: 2014-09-12
altura: 
largura: 
material: 

autores: [
	Edgar Duvivier
]

local: Praça Lamartine Babo
bairro: Tijuca
lat: -22.9243
lon: -43.2367

imrj: 712
wikidata: Q67210113
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (12 de fevereiro de 2022)
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		
	</p>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2014-full.jpg" data-llb-src="href">
			<img src="gallery-2014.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Marcelo Piu / Agência O Globo (12 de setembro de 2014)
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa abaixo do busto de Rubens Paiva, contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Rubens Beyrodt Paiva
    1929 - 1971

      Engenheiro e deputado federal,
o cidadão Rubens Paiva é um herói da
resistência em defesa da justiça social e da
democracia. Preso dia 20 de janeiro de 1971,
morreu assassinado, de forma covarde e sob
tortura, pela ditadura militar.

      Por tudo o que construiu, projetou,
acreditou, e que ainda hoje fortalece o
sentimento de nação na alma brasileira,
merece todas as homenagens.

      Que sua voz e sua história sejam
eternas para as lutas de nosso povo.

      12 de setembro de 2014

Sindicato dos Engenheiros no Estado do Rio de Janeiro
Federal Interestadual de Sindicato de Engenheiros
Apoio: Prefeitura Municipal da Cidade do Rio de Janeiro</pre>
</section>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Rafaela Marinho (12 de setembro de 2014). <a href="https://oglobo.globo.com/politica/comissao-da-verdade/busto-de-rubens-paiva-inaugurado-em-frente-ao-antigo-doi-codi-13923550">
			Busto de Rubens Paiva é inaugurado em frente ao antigo DOI-Codi</a>.
			<i>O Globo</i>.
		</li>
	</ol>
</section>
