---
layout: monument.ejs
name: Grande Mulher de Herculano
categoria: escultura
tags: [
	"preliminar",
	"pessoa:mulher"
]
series: [
	Palácio do Catete
]

data_inaug: 
altura: 
largura: 
material: Terracota

autores: []

local: Jardins do Palácio do Catete
bairro: Flamengo
lat: -22.92626
lon: -43.17471

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (1 de julho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Grande_Mulher_de_Herculano_(Pal%C3%A1cio_do_Catete)_(julho_2023)_01.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Cópia de uma escultura da Roma antiga, descoberta no século XVIII,
		onde uma vez esteve localizada a antiga cidade de Herculano, na
		Itália.<sup>1</sup> É chamada de "Grande Mulher", fazendo par com uma outra
		escultura encontrada, intitulada "Pequena Mulher".
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (s.d.).
			<a href="https://www.getty.edu/art/installation_highlights/herculaneum_women.html">The
			Herculaneum Women</a>. <i>The J. Paul Getty Museum</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2016-full.jpg" data-llb-src="href">
			<img src="gallery-2016.jpg">
		</a>
		<figcaption>
			<p>
				A obra romana na qual a escultura é baseada
			</p>
			<p class="credits">
				Foto: Gary Lee Todd (20 de julho de 2016), via
				<a href="https://commons.wikimedia.org/wiki/File:Ancient_Greece_Marble_Funerary_Statue_of_Large_Herculaneum_Woman,_1st_C._AD_Roman_Copy_of_c._320_BC_Greek_Original,_Found_in_Athens.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>
