---
layout: monument.ejs
name: Busto de Rubens Paiva
categoria: busto
tags: [
	"possui escrita"
]
series: [
	Praça Lamartine Babo
]

data_inaug: 2014-09-12
altura: 2
peso: 20
largura: 
material: 

autores: [
	Edgar Duvivier (filho)
]
homenageados: Rubens Beyrodt Paiva

local: Praça Lamartine Babo
bairro: Tijuca
lat: -22.9243
lon: -43.2367

imrj: 712
wikidata: Q67210113
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (12 de fevereiro de 2022), via
			<a href="https://commons.wikimedia.org/wiki/File:Busto_de_Rubens_Beyrodt_Paiva,_Tijuca.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Busto em homenagem ao deputado federal Rubens Beyrodt Paiva
		(26/12/1929–jan/1971), inaugurado em frente ao quartel onde foi torturado
		e assassinado durante a ditadura militar, na Praça Lamartine Babo.<sup>1</sup>
	</p>
	<p>
		A instalação foi iniciativa do Sindicato dos Engenheiros do Rio de Janeiro,
		e a cerimônia de inauguração contou com cerca de 100 participantes, incluindo
		a filha do homenageado.<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Flávia Villela, Stênio Ribeiro (ed.) (12 de setembro de 2014).
			<a href="https://agenciabrasil.ebc.com.br/direitos-humanos/noticia/2014-09/ex-deputado-rubens-paiva-ganha-busto-em-frente-local-onde-foi">Rubens
			Paiva ganha busto em frente ao quartel onde foi torturado e morto, no
			Rio</a>. <i>Agência Brasil</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2014-full.jpg" data-llb-src="href">
			<img src="gallery-2014.jpg">
		</a>
		<figcaption>
			<p>
				Inauguração do busto, em 2014
			</p>
			<p class="credits">
				Foto: Flávia Villela (12 de setembro de 2014),
				<a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>,
				via
				<a href="https://agenciabrasil.ebc.com.br/direitos-humanos/noticia/2014-09/ex-deputado-rubens-paiva-ganha-busto-em-frente-local-onde-foi">Agência
				Brasil</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa abaixo do busto de Rubens Paiva, contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Rubens Beyrodt Paiva
    1929 - 1971

      Engenheiro e deputado federal,
o cidadão Rubens Paiva é um herói da
resistência em defesa da justiça social e da
democracia. Preso dia 20 de janeiro de 1971,
morreu assassinado, de forma covarde e sob
tortura, pela ditadura militar.

      Por tudo o que construiu, projetou,
acreditou, e que ainda hoje fortalece o
sentimento de nação na alma brasileira,
merece todas as homenagens.

      Que sua voz e sua história sejam
eternas para as lutas de nosso povo.

      12 de setembro de 2014

Sindicato dos Engenheiros no Estado do Rio de Janeiro
Federal Interestadual de Sindicato de Engenheiros
Apoio: Prefeitura Municipal da Cidade do Rio de Janeiro</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Rafaela Marinho (12 de setembro de 2014). <a href="https://oglobo.globo.com/politica/comissao-da-verdade/busto-de-rubens-paiva-inaugurado-em-frente-ao-antigo-doi-codi-13923550">
			Busto de Rubens Paiva é inaugurado em frente ao antigo DOI-Codi</a>.
			<i>O Globo</i>.
		</li>
		<li>
			S.n. (9 de setembro de 2014). <a href="https://www.opovo.com.br/noticias/politica/2014/09/praca-no-rj-tera-busto-de-rubens-paiva.html">Praça
			no RJ terá busto de Rubens Paiva</a>. <i>O Povo</i>.
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]); %>
