---
layout: monument.ejs
name: Estátua de João Caetano
categoria: estátua
tags: [
	"possui escrita",
	"objeto:espada",
	"pessoa:homem"
]
series: [
	Praça Tiradentes
]

data_inaug: 1891-05-03
altura: 
largura: 
peso: 800
material: Bronze
autores: [
	Francisco Manuel Chaves Pinheiro
]

local: 
bairro: Centro
lat: -22.90631
lon: -43.18223

imrj: 77
wikidata: Q67203475
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (22 de agosto de 2023).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem ao chamado "primeiro ator brasileiro" ou "pai do teatro brasileiro",
		João Caetano dos Santos (27/01/1808–24/08/1863).<sup>1</sup> Foi instalada por
		iniciativa do ator Francisco Correia Vasques, originalmente em frente à
		Escola Nacional de Belas Artes.
	</p>
	<p>
		Em 1916, foi transferida para a Praça Tiradentes, em frente ao atual Teatro
		João Caetano.<sup>2</sup>
	</p>
	<p>
		Uma cópia está exposta no Museu Nacional de Belas Artes, sob o título:
		"Ator João Caetano interpretando o personagem Oscar, na peça do poeta e
		autor dramático Antoine-Vincent Arnault".<sup>3</sup> A peça em questão é
		"<i lang="fr">Oscar, fils d'Ossian</i>", de 1795.
	</p>
	<blockquote>
		[A] estatua foi modelada sobre a que já existia na nossa ex-academia,
		trabalhada em gesso por aquele estatuario, e fielmente copiada do natural.
		Apresenta o grande actor n'uma das scenas da tragedia <i>Oscar</i>. [...]
		A estatua foi fundida em bronze, na Italia [...].<br>
		Nas quatro faces do pedestal ha relevos allusivos á tragedia, ao drama e
		á comedia, um medalhão com o busto do grande artista e os dizeres
		explicativos do monumento.
	</blockquote>
	<cite>
		— S.n. (4 de maio de 1891).
		<a href="https://memoria.bn.br/DocReader/369365/9055">João Caetano</a>.
		<i>Diário de Noticias</i>, p.1 [via Hemeroteca Digital da Biblioteca
		Nacional].
	</cite>
</section>
<section class="refs">
	<ol>
		<li>
			Alessandra Duarte (20 de janeiro de 2010).
			<a href="https://oglobo.globo.com/cultura/estatua-de-joao-caetano-no-rio-completa-120-anos-pouco-ajuda-na-manutencao-de-sua-memoria-3064060">Estátua
			de João Caetano no Rio completa 120 anos e pouco ajuda na manutenção de
			sua memória</a>. <i>O Globo</i>.
		</li>
		<li>
			S.n. (7 de setembro de 2012).
			<a href="https://oglobo.globo.com/rio/restaurada-estatua-em-homenagem-joao-caetano-6033032">Restaurada
			estátua em homenagem a João Caetano</a>. <i>O Globo</i>.
		</li>
		<li>
			Francisco Manuel Chaves Pinheiro (1860).
			<a href="https://artsandculture.google.com/asset/tQGMgi26WaDa0Q">Ator João
			Caetano interpretando o personagem Oscar, na peça do poeta e autor
			dramático Antoine-Vincent Arnault (1766-1834)
			</a>. <i>Museu Nacional de Belas Artes</i> [via Google Arts &amp; Culture].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2023a-full.jpg" data-llb-src="href">
			<img src="gallery-2023a.jpg">
		</a>
		<figcaption>
			<p>
				Detalhe da assinatura e data, "Chaves Pinheiro" e "1860", na lateral
				da estátua.
			</p>
			<p class="credits">
				Foto: Matheus Avellar (22 de agosto de 2023).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023b-full.jpg" data-llb-src="href">
			<img src="gallery-2023b.jpg">
		</a>
		<figcaption>
			<p>
				Inscrição no pedestal.
			</p>
			<p class="credits">
				Foto: Matheus Avellar (22 de agosto de 2023).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1891-full.jpg" data-llb-src="href">
			<img src="gallery-1891.jpg">
		</a>
		<figcaption>
			<p>
				Reportagem da inauguração, em 1891.
			</p>
			<p class="credits">
				Reportagem: S.n. (4 de maio de 1891).
				<a href="https://memoria.bn.br/DocReader/369365/9055">João Caetano</a>.
				<i>Diário de Noticias</i>, p.1 [via Hemeroteca Digital da Biblioteca
				Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-c1905-full.jpg" data-llb-src="href">
			<img src="gallery-c1905.jpg">
		</a>
		<figcaption>
			<p>
				Estátua, originalmente em frente à Escola Nacional de Belas Artes,
				com uma espada na mão.
			</p>
			<p class="credits">
				Foto: Rodrigues & C°. Editores e Proprietários (circa 1905).
				<a href="https://acervos.ims.com.br/portals/#/detailpage/82412">Escola
				Nacional de Belas Artes (Estátua de João Caetano)</a>
				[via Instituto Moreira Salles].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-c1891-full.jpg" data-llb-src="href">
			<img src="gallery-c1891.jpg">
		</a>
		<figcaption>
			<p>
				Estátua após a efígie de bronze no pedestal ser removida.
			</p>
			<p class="credits">
				Foto: Marc Ferrez (circa 1891).
				<a href="https://acervos.ims.com.br/portals/#/detailpage/88592">Escola
				Nacional de Belas Artes</a> [via Instituto Moreira Salles].
			</p>
		</figcaption>
	</figure>
<!--
https://commons.wikimedia.org/wiki/Category:Jo%C3%A3o_Caetano_(statue)

c.1905
https://acervos.ims.com.br/portals/#/detailpage/82412

c.1900–1908
https://commons.wikimedia.org/wiki/File:Est%C3%A1tua_em_homenagem_a_Jo%C3%A3o_Caetano,_na_Escola_Nacional_de_Belas_Artes_(001RO001011).jpg

c.1920
https://acervos.ims.com.br/portals/#/detailpage/82975

entre 1911 e 1922
http://acervo.bndigital.bn.br/sophia/index.asp?codigo_sophia=87265

[s.d.]
https://biblioteca.ibge.gov.br/biblioteca-catalogo.html?id=440071&view=detalhes

<1916?
https://acervos.ims.com.br/portals/#/detailpage/12884920769

c.1930 (o de <1916 diz que a estátua foi ao teatro em 1916)
Teatro pré estátua: https://acervos.ims.com.br/portals/#/detailpage/107547

1939-10-04
Teatro já com estátua
https://acervos.ims.com.br/portals/#/detailpage/12884920746

1972
https://commons.wikimedia.org/wiki/File:Teatro_Jo%C3%A3o_Caetano,_Rio_de_Janeiro_(RJ).tif
 -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há inscrições ao redor do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
      A
João Caetano
    Gloria
      do
    Palco
 Brazileiro
      Em
 MDCCCXCI</pre>
	<pre class="inscription-text">
                             Propriedade do [Goser?]
G. B. Baslianelli fuse. Ospizio S. Michele. Roma 1890.</pre>
	<pre class="inscription-text">
Chaves · Pinheiro ·
      · 1860</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
 	<h2>Leia mais</h2>
	<ol>
		<li>
			Alessandra Duarte (20 de janeiro de 2010).
			<a href="https://oglobo.globo.com/cultura/estatua-de-joao-caetano-no-rio-completa-120-anos-pouco-ajuda-na-manutencao-de-sua-memoria-3064060">Estátua
			de João Caetano no Rio completa 120 anos e pouco ajuda na manutenção de
			sua memória</a>. <i>O Globo</i>.
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]); %>