---
layout: monument.ejs
name: Sítio Arqueológico Cais do Valongo
categoria: obra
tags: [
	"sem descrição",
	"sem galeria"
]
series: [
	Praça Jornal do Comércio
]

data_inaug: 1811
altura: 
largura: 
material: 

autores: []

local: Praça Jornal do Comércio
bairro: Saúde
lat: -22.8967
lon: -43.18727

imrj: 563
wikidata: Q20048515
---
<!-- Ver legislação de patrimônio depois
https://www.ipatrimonio.org/rio-de-janeiro-jardim-morro-e-cais-do-valongo -->

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: "Balou46" (27 de outubro de 2018), via
			<a href="https://commons.wikimedia.org/wiki/File:BR-rio-valongo.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p></p>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2018-full.jpg" data-llb-src="href">
			<img src="gallery-2018.jpg">
		</a>
		<figcaption>
			<p>Placa próxima ao sítio arqueológico</p>
			<p class="credits">
				Foto: Bruna Prado/MTUR (2 de março de 2018), via
				<a href="https://commons.wikimedia.org/wiki/File:BrunaPrado_Cais_do_Valongo_Rio_de_Janeiro_RJ_(40964044731).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há algumas placas nas margens do sítio arqueológico contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Sítio Arqueológico Cais do Valongo

(1) Cais do Valongo
The Valongo Wharf

(2) Cais da Imperatriz
Empress's Wharf

O Cais do Valongo é formado por uma rampa calçada com pedras irregulares, o
chamado pé-de-moleque, iniciada em 1811. Em 1843 foi coberto pelo Cais da
Imperatriz, construído para o desembarque da esposa de D. Pedro II. Este
também foi posteriormente coberto pelo aterro do porto, no início do século XX.
O Cais do Valongo foi redescoberto em 2011 por meio de pesquisas
arqueológicas e pode ser observado na primeira e mais profunda camada do sítio
arqueológico. Sobre esta camada podem ser vistos vestígios do que restou do
Cais da Imperatriz, formado pela muralha e píer de pedras talhadas em tamanhos
variados, e pelos trechos calçados com paralelepípedos.

Valongo Wharf Archeologic[?]

The Valongo Wharf, initiated in 1811 [?]
stones called "pé de moleque" [?]
Wharf built for the landing [?]
[?] por, in the early [?]
in 2011 by archa[?]
logical site [?]
main[?]</pre>
	<pre class="inscription-text">
Patrimônio Cultural
Carioca

Cais do Valongo
<small>SÍTIO ARQUEOLÓGICO</small>

Circuito da Herança Africana
Foi construído em 1811 para o desembarque
e comércio de africanos escravizados.
Remodelado em 1843 como Cais da Imperatriz,
foi aterrado em 1911 para dar lugar à Praça do
Commercio. Em 2011 foi redescoberto
nas obras do Porto Maravilha .

RIO
Prefeitura
[?]

Organização
das Nações Unidas
para a Educação,
a Ciência e a Cultura

A Rota do Escravo

CCI do Projeto Rota do Escravo
Novembro de 2013</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Tania Andrade Lima, Glaucia Malerba Sene, Marcos André Torres de Souza (2016).
			<a href="https://www.scielo.br/j/anaismp/a/vjWTwK9V4gPSSZWjgVZ8tTb/">Em busca
			do Cais do Valongo, Rio de Janeiro, século XIX</a>.
			<i>Anais do Museu Paulista: História e Cultura Material</i>, vol.24, Nº1.
			doi:<a href="https://doi.org/10.1590/1982-02672016v24n0111">10.1590/1982-02672016v24n0111</a>.
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]); %>