---
layout: monument.ejs
name: Busto de Afrânio de Melo Franco
categoria: busto
tags: [
	"possui escrita"
]
series: []

data_inaug: 2010-10-23
altura: 
largura: 
material: Bronze
autores: Bruno Giorgi

local: 
bairro: Leblon
lat: -22.98277
lon: -43.21776

imrj: 382
wikidata: Q67210358
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (1 de julho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Busto_de_Afr%C3%A2nio_de_Melo_Franco_(julho_2023).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem a Afrânio de Melo Franco (25/02/1870–01/01/1943),<sup>1</sup>
		influente diplomata político brasileiro. Inaugurado em 23 de outubro de
		2010, doação ao município pelo neto do homenageado.<sup>2</sup> O IMRJ
		possui algumas fotos da inauguração do busto.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Daniela Hoffbauer (março de 2020).
			<a href="http://mapa.an.gov.br/index.php/publicacoes2/70-biografias/905-afranio-de-melo-franco">Afrânio
			de Melo Franco</a>. <i>Memória da Administração Pública Brasileira,
			Arquivo Nacional</i>.
		</li>
		<li>
			S.n. (22 de outubro de 2010).
			<a href="https://extra.globo.com/noticias/rio/leblon-recebe-busto-em-homenagem-afranio-de-mello-franco-38774.html">Leblon
			recebe busto em homenagem a Afrânio de Mello Franco</a>. <i>Extra</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2023a-full.jpg" data-llb-src="href">
			<img src="gallery-2023a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (1 de julho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Busto_de_Afr%C3%A2nio_de_Melo_Franco_(julho_2023)_(placa).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023b-full.jpg" data-llb-src="href">
			<img src="gallery-2023b.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (1 de julho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Busto_de_Afr%C3%A2nio_de_Melo_Franco_(julho_2023)_(placa_de_inaugura%C3%A7%C3%A3o).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure class="sideways">
		<a href="gallery-2023c-full.jpg" data-llb-src="href">
			<img src="gallery-2023c.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (1 de julho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Busto_de_Afr%C3%A2nio_de_Melo_Franco_(julho_2023)_(frontal).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há duas placas no pedestal do monumento. A primeira contém o seguinte texto:
	</p>
	<pre class="inscription-text">
Afranio de Mello Franco
      1870-1943
           por
     Bruno Giorgi
      1905-1993</pre>
	<p>
		A segunda contém o seguinte texto:
	</p>
	<pre class="inscription-text">
Rio
Prefeitura

Afrânio de Melo Franco
Diplomata e político brasileiro
Foi ministro da viação e embaixador na
Liga das Nações em Genebra, Suíça.

Busto doado à Cidade do Rio de Janeiro
pelo jurista Afonso Arinos de Melo Franco.

Eduardo Paes
Prefeito do Rio de Janeiro

Rio de Janeiro, 23 de outubro de 2010.</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>