---
layout: monument.ejs
name: Máscara Fúnebre de Lamartine Babo
categoria: busto
tags: [
	"possui escrita",
	"escrita ilegível"
]
series: [
	Praça Lamartine Babo
]

data_inaug: 1966-09-25
altura: 
largura: 
material: []

autores: [
	Jaime Sampaio
]

local: Praça Lamartine Babo
bairro: Tijuca
lat: -22.92418
lon: -43.23649

imrj: 711
wikidata: Q67210291
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Estela Neto (12 de setembro de 2022),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Lamartine_Babo_-_Rio_de_Janeiro_-_20220912155233.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem a Lamartine "Lalá" Babo (10/01/1904–16/06/1963), importante
		compositor brasileiro, na praça recebeu seu nome na ocasião de seu óbito.
	</p>
	<blockquote>
		Pouco depois de meia noite acordava reclamando fortes dores. Não houve tempo
		para mais nada. Só restou sua máscara mortuária feita por Jaime Sampaio e a
		sua obra imensa, uma verdadeira história da música popular brasileira.
	</blockquote>
	<cite>
		— S.n. (18 de junho de 1963).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_04&pagfis=30706">Lamartine
		Pediu à Morte para Esperar: Tinha Muito o que Fazer</a>. <i>Diário de
		Notícias</i>, p.6 [via Hemeroteca Digital da Biblioteca Nacional].
	</cite>
	<blockquote>
		E eu admitiria ter ouvido a última piada de Lamartine quando o escultor
		Jaime Sampaio modelava em gêsso sua máscara: ...essa não! Entrar no céu
		mascarado — e em junho!...
	</blockquote>
	<cite>
		— Oswaldo Miranda (18 de junho de 1963).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_04&pagfis=30706">Discos
		& Notas</a>. <i>A Noite</i>, p.6 [via Hemeroteca Digital da Biblioteca
		Nacional].
	</cite>
	<p>
		Pelo conteúdo da última placa do pedestal, ela parece ter sido colocada no
		30º aniversário de morte do compositor, em junho de 1993.
	</p>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1966-full.jpg" data-llb-src="href">
			<img src="gallery-1966.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: S.n. (25 de setembro de 1966).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_04&pagfis=61025">Notas
				Rápidas</a>. <i>Diario de Notícias</i>, p.6, 5ª seção [via Hemeroteca
				Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (19 de junho de 2023),
				<a href="https://commons.wikimedia.org/wiki/File:Ef%C3%ADgie_de_Lamartine_Babo_na_Tijuca_(close-up).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		O monumento possuía três placas, das quais as duas primeiras já
		foram removidas. De cima para baixo, elas continham os seguintes textos:
	</p>
	<pre class="inscription-text">Lamartine Babo</pre>
	<pre class="inscription-text">[?]</pre>
	<pre class="inscription-text">
    Trinta anos sem Lalá
       Que saudades !
Homenagem da Cidade do Rio de Janeiro
    ao seu inesquecível compositor
             Junho/93

VIII Região Administrativa

Sub Prefeitura AP2

Prefeitura do Rio de Janeiro</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Edson Silva dos Santos (13 de março de 2013).
			<a href="https://g1.globo.com/rio-de-janeiro/vc-no-g1-rj/noticia/2013/03/escultura-de-lamartine-babo-no-rio-e-destruida-em-ato-de-vandalismo.html">
			Escultura de Lamartine Babo no Rio é arrancada em ato de vandalismo</a>.
			<i>G1</i>.
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]); %>
