---
layout: monument.ejs
name: Cápsula do Tempo (2015–2065) da Rádio Tupi
internal_ref: capsulamn2015
categoria: marco
tags: [
	"sem galeria",
	"cápsula do tempo"
]
series: [
	"Cápsulas do Tempo",
	"Quinta da Boa Vista"
]

data_inaug: 2015-12-22
altura: 
largura: 
material: 

autores: []

local: Quinta da Boa Vista
bairro: São Cristóvão
lat: -22.90454
lon: -43.22703

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: "Rgb union" (25 de agosto de 2019),
			<a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:C%C3%A1psula_do_Tempo_na_Quinta_da_Boa_Vista.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Cápsula do tempo enterrada em comemoração aos 80 anos da Super Rádio Tupi
		(1935–2015), no dia 22 de dezembro de 2015. Será desenterrada somente 50
		anos depois, em 2065.
	</p>
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Cápsula
do Tempo

Super Rádio
Tupi
1280 AM + FM 96,5
Rio de Janeiro

2015 · 2065

Aqui está guardada a
cápsula do tempo Tupi!

Tupi
80
anos

Nos seus 80 anos, a Rádio
TUPI faz contato com o futuro.

Ideias, expectativas,
pensamentos e mensagens para
futuras gerações.

Apoio:
Rio
Prefeitura

Esta Cápsula deverá ser retirada e aberta em 2065.</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Veja mais</h2>
	<ol>
		<li>
			Tupi Esportes (28 de dezembro de 2015).
			<a href="https://youtu.be/YRE-cxXPSl4">Cerimônia da Cápsula do Tempo
			Tupi</a>. <i>YouTube</i>.
		</li>
	</ol>
</section>
<%- makeRelated([ "capsulamn1972", "capsulamn2022" ], arguments[0]) %>
<%- makeOthersFromSeries(arguments[0]); %>