---
layout: monument.ejs
name: Meteorito de Santa Luzia
alt_names: [ "Meteorito de Santa Luzia de Goiás" ]
categoria: marco
tags: [
	"possui escrita"
]
series: [
	"Planetário"
]

data_inaug: 2021-05-15
altura: 0.4
largura: 1.36
comprimento: 0.8
peso: 1980
material: 
autores: []

local: Planetário
bairro: Gávea
lat: -22.97775
lon: -43.23043

imrj: 
wikidata: Q120640684
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (28 de janeiro de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Meteorito_de_Santa_Luzia_(janeiro_2023).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Meteorito que caiu na cidade de Santa Luzia, em Goiás, presumidamente em 1
		de junho de 1919 – mas, segundo uma reportagem d'A Noite, possivelmente
		também em 1901 ou 1915.<sup>1</sup> Foi descoberto em 1927 e, ao se tornar
		notícia, foi apropriado pelo governo de Goiás, que o doou para o Museu
		Nacional.
	</p>
	<p>
		O meteorito fazia parte do acervo do Museu Nacional, e estava em exposição
		até o <a href="https://pt.wikipedia.org/wiki/Inc%C3%AAndio_no_Museu_Nacional_do_Rio_de_Janeiro">incêndio
		de 2 de setembro de 2018</a>. Devido às obras de reconstrução do Paço de São
		Cristóvão, o meteorito foi entregue à Fundação Planetário, que o inaugurou,
		exposto no jardim frontal, em 15 de maio de 2021.<sup>2</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (19 de novembro de 1928).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=348970_02&pagfis=24285">O
			primo irmão do "Bendegó"</a>. <i>A Noite</i>, p.8 [via Hemeroteca Digital
			da Biblioteca Nacional].
		</li>
		<li>
			S.n. (15 de maio de 2021).
			<a href="https://prefeitura.rio/cidade/planetario-do-rio-reabre-ao-publico-com-novidades-como-o-meteorito-santa-luzia-que-resistiu-ao-incendio-do-museu-nacional/">Planetário
			do Rio reabre ao público com novidades, como o meteorito Santa Luzia que
			resistiu ao incêndio do Museu Nacional</a>. <i>Prefeitura da Cidade do
			Rio de Janeiro</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure class="sideways">
		<a href="gallery-1928a-full.jpg" data-llb-src="href">
			<img src="gallery-1928a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (19 de novembro de 1928).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=348970_02&pagfis=24285">O
				primo irmão do "Bendegó"</a>. <i>A Noite</i>, p.8 [via Hemeroteca
				Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1928b-full.jpg" data-llb-src="href">
			<img src="gallery-1928b.jpg">
		</a>
		<figcaption>
			<p>
				Meteorito logo após sua descoberta, em 1928
			</p>
			<p class="credits">
				Reportagem: S.n. (20 de agosto de 1928).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=176648&pagfis=2383">Analyse
				do Bendegó de Goyaz</a>. <i>A Informação Goyana</i>, p.17 [via
				Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa ao lado do meteorito contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
O meteorito de Santa Luzia

Este meteorito foi encontrado
em 1927 na cabeceira do
córrego Negro Morto, em uma
fazenda na cidade de Santa
Luzia (hoje Luziânia - GO) e,
por isso, foi batizado como
o meteorito de Santa Luzia de
Goiás. Doado pelo governo
goiano ao Museu Nacional em
1928.
Esta rocha tem um peso
aproximado de 1,9 tonelada.
Ele é um meteorito do tipo

metálico, composto por Ferro
(92%), Níquel (6.6%), Fósforo
(0,9%) e Cobalto (0,47%) e
possui um tamanho de 1,36m
x 0,80m x 0,40m.
Meteoritos são rochas vindas
do espaço que caíram na
Terra resistindo à entrada na
atmosfera e ao impacto com
a superfície. Eles podem
ser asteroides, cometas,
meteoroides e até mesmo
rochas lunares ou marcianas.</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>