---
layout: monument.ejs
name: Chafariz Concha
categoria: chafariz
tags: []

data_inaug: 1965-09-20
altura: 
largura: 
material: 

autores: [
	Francisco de Paula Lemos Bolonha
]

local: Praça David Ben Gurion
bairro: Laranjeiras
lat: -22.9383
lon: -43.1906

imrj: 430
wikidata: Q67203952
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Eduardo Pazos (25 de fevereiro de 2013),
			<a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC-BY-SA-3.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Pra%C3%A7a_David_Ben_Gurion.JPG">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Chafariz na Praça David Ben Gurion, antigo "Largo das Laranjeiras"
		(renomeado em 6 de outubro de 1961).<sup>1</sup> Inaugurado em 20 de
		setembro de 1965 pelo então governador (1960–1965) Carlos Lacerda às 20h,
		sob chuva, que deu um curto discurso político em vista às eleições no
		mês seguinte.<sup>2</sup> Foi um presente do braço brasileiro da
		companhia petrolífera Shell.<sup>2</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (6 de outubro de 1961).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=110523_06&pagfis=17406">David
			Ben Gurion tem Praça no Rio: L. das Laranjeiras muda de nome com discursos</a>.
			<i>O Jornal</i> [via Hemeroteca Digital].
		</li>
		<li>
			S.n. (21 de setembro de 1965).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_04&pesq=%22shell%22%20%22ben%20gurion%22&pasta=ano%20196&hf=memoria.bn.br&pagfis=51822">Lacerda
			Foi do Lixo às Águas do Chafariz: Povo Deve Votar é na Oposição à
			Oposição</a>. <i>Diario de Noticias</i>, p.12 [via Hemeroteca Digital].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure class="sideways" style="min-width:100px">
		<a href="gallery-1965a-full.jpg" data-llb-src="href">
			<img src="gallery-1965a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (21 de setembro de 1965).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_04&pesq=%22shell%22%20%22ben%20gurion%22&pasta=ano%20196&hf=memoria.bn.br&pagfis=51822">Lacerda
				Foi do Lixo às Águas do Chafariz: Povo Deve Votar é na Oposição à
				Oposição</a>. <i>Diario de Noticias</i>, p.12 [via Hemeroteca Digital].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1965b-full.jpg" data-llb-src="href">
			<img src="gallery-1965b.jpg">
		</a>
		<figcaption>
			<p>Inauguração do chafariz</p>
			<p class="credits">
				Foto: S.n. (20 de setembro de 1965).
				"Aspectos da Praça David Ben Gurion" [BR RJ AGCRJ.CL.VPO.GEG.OBP.PAP.21.5].
				<i>Arquivo Geral da Cidade do Rio de Janeiro</i>.
			</p>
		</figcaption>
	</figure>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Vera Dias (3 de setembro de 2013). <a href="https://ashistoriasdosmonumentosdorio.blogspot.com/2013/09/francisco-bolonha-e-seus-chafarizes-na.html">Francisco Bolonha
			e seus chafarizes na Cidade do Rio de Janeiro</a>.
			<i>As histórias dos monumentos do Rio de Janeiro</i>.
		</li>
		<li>
			Erick V. da Cruz (23 de fevereiro de 2007). <a href="https://www.bairrodaslaranjeiras.com.br/principal/BenGurion.shtml">Praça Ben Gurion,
			uma homenagem ao fundador de Israel</a>. <i>Bairro das Laranjeiras</i>.
		</li>
	</ol>
</section>
