---
layout: monument.ejs
name: Chafariz do Mestre Valentim
categoria: chafariz
tags: [
	sem descrição
]
series: [
	"Praça XV"
]

data_inaug: 1789
altura: 
largura: 
material: [
	Gnaisse,
	Lioz
]

autores: [
	Valentim da Fonseca e Silva
]

local: Praça XV de Novembro
bairro: Centro
lat: -22.9027
lon: -43.17387

imrj: 211
hpip: 842
wikidata: Q56641197
iphan: 154-T-1938
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Carlos Luis M. C. da Cruz (18 de agosto de 2012),
			<a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC-BY-SA-3.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Pca_xv_chafariz_mestre_valentim.JPG">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1789-full.jpg" data-llb-src="href">
			<img src="gallery-1789.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Pintura: Leandro Joaquim (circa 1789): "Revista militar no Largo do Paço",
				via <a href="https://artsandculture.google.com/asset/revista-militar-no-largo-do-pa%C3%A7o/egHPz2nUxxz4Rg">Google
				Arts & Culture</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-c1865-full.jpg" data-llb-src="href">
			<img src="gallery-c1865.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Georges Leuzinger (circa 1865),
				via Instituto Moreira Salles/<a href="https://brasilianafotografica.bn.gov.br/brasiliana/handle/20.500.12156.1/2294">Brasiliana
				Fotográfica</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1979-full.jpg" data-llb-src="href">
			<img src="gallery-1979.jpg">
		</a>
		<figcaption>
			<p>
				Detalhe do reverso da nota de 5 cruzeiros (1967–1986), que possui uma
				ilustração do chafariz
			</p>
			<p class="credits">
				Foto: "hex7ech" (s.d.),
				<a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>,
				via <a href="https://en.numista.com/catalogue/note205667.html">Numista</a>.
			</p>
		</figcaption>
	</figure>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Vera Dias (17 de maio de 2010). <a href="https://ashistoriasdosmonumentosdorio.blogspot.com/2010/05/chafariz-da-praca-xv-parte-da-historia.html">Chafariz
			da Praça XV - Parte da história da Cidade</a>.
			<i>As histórias dos monumentos do Rio de Janeiro</i>.
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]); %>
