---
layout: monument.ejs
name: Fonte do Menino
categoria: chafariz
tags: [
	"preliminar",
	"removido"
]
series: [
	Passeio Público
]

data_inaug: 
altura: 
largura: 
material: []
autores: [
	Valentim da Fonseca e Silva
]

local: Passeio Público
bairro: Lapa
lat: -22.91381
lon: -43.17593

imrj: [ 197, 1391 ]
wikidata: Q61773654
---

<figure>
	<!-- <a href="photo.jpg" data-llb-src="href"> -->
		<img src="thumb.jpg">
	<!-- </a> -->
	<figcaption>
		<p class="credits">
			Foto: <a href="https://goo.gl/maps/JiHPHYEKDNHcWeFe9">Google Street View</a>
			(setembro de 2021).
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
<!--
https://www.reddit.com/r/brasil/comments/dfpary/as_pir%C3%A2mides_e_o_menino_da_bica_no_passeio/
http://www.inventariodosmonumentosrj.com.br/index.asp?iMENU=catalogo&iiCOD=1391&iMONU=Fonte%20do%20Menino%20(%20original)%20-%20dep%C3%B3sito
http://www.inventariodosmonumentosrj.com.br/index.asp?iMENU=catalogo&iiCOD=197&iMONU=Fonte%20do%20Menino%20(reprodu%C3%A7%C3%A3o)%20-%20dep%C3%B3sito
http://www.passeiopublico.com/htm/acervo.asp
-->
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>