---
layout: monument.ejs
name: Busto de Francisco Morazán
categoria: busto
tags: [
	"possui escrita"
]
series: [
	"Praça Pimentel Duarte"
]

data_inaug: 1956-11-09
altura: 
largura: 
material: [
	Bronze
]
autores: 
homenageados: Francisco Morazán

local: Praça Pimentel Duarte
bairro: Botafogo
lat: -22.94964
lon: -43.18088

imrj: 288
wikidata: Q67204824
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Pedro Dias Garcia (10 de junho de 2023).
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
			Arquivo pessoal.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem a Francisco Morazán (1792–1842), presidente da República da
		América Central, conglomeração de diversos países da América Central.
		Foi presente de Honduras ao Brasil, inaugurado em 9 novembro de 1956, e
		posteriormente celebrado pelo então presidente do Brasil (1956–1961),
		Juscelino Kubitschek, e o então presidente de Honduras (1957–1963), Ramón
		Villeda Morales, em 9 de junho de 1958.<sup>1</sup>
	</p>
	<p>
		Segundo o IMRJ, o busto foi removido em algum ponto, mas reinaugurado na
		praça onde está hoje em 17 de novembro de 2004, a pedido do consulado
		de Honduras. Vera Dias possui algumas fotos da reinauguração no IMRJ.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (10 de junho de 1958).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_06&pagfis=92290">Visita
			do Presidente de Honduras</a>. <i>Correio da Manhã</i> [via Hemeroteca
			Digital da Biblioteca Nacional].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1956-full.jpg" data-llb-src="href">
			<img src="gallery-1956.jpg">
		</a>
		<figcaption>
			<p>
				Primeira inauguração do busto, em 1956
			</p>
			<p class="credits">
				Reportagem: S.n. (10 de novembro de 1956).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_06&pagfis=69051">Inauguração
				da Praça Honduras</a>. <i>Correio da Manhã</i>, p.2 [via
				Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023a-full.jpg" data-llb-src="href">
			<img src="gallery-2023a.jpg">
		</a>
		<figcaption>
			<p>
				Inscrição na traseira do busto
			</p>
			<p class="credits">
				Foto: Pedro Dias Garcia (10 de junho de 2023).
				<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
				Arquivo pessoal.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023b-full.jpg" data-llb-src="href">
			<img src="gallery-2023b.jpg">
		</a>
		<figcaption>
			<p>
				Pedestal, já sem placas
			</p>
			<p class="credits">
				Foto: Pedro Dias Garcia (10 de junho de 2023).
				<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
				Arquivo pessoal.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Uma das placas no pedestal do monumento continha o seguinte texto:
	</p>
	<pre class="inscription-text">
Prefeitura
da Cidade
do Rio de Janeiro

General Francisco Morazan

<small>Prefeito</small>
Cesar Maia

<small>Secretário Municipal do Meio Ambiente</small>
Ayrton Xerez

<small>Presidente da Fundação Parques e Jardins</small>
Vera Dodsworth

<small>Reinaugurado em novembro de 2004</small></pre>
	<p>
		A segunda placa no pedestal do monumento continha o seguinte texto:
	</p>
	<pre class="inscription-text" lang="es">
En memoria del General Francisco Morazan,
paladín de la integración centroamericana.

"Declaro que mi amor a centroamerica muere conmigo."
Francisco Morazan

Del pueblo de Honduras al pueblo de Brasil
</pre>
	<p>
		O próprio busto contém uma inscrição com o seguinte texto:
	</p>
	<pre class="inscription-text" lang="es">
<abbr title="General">Gral.</abbr> Francisco Morazán</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- <h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]) %>
