---
layout: monument.ejs
name: Monumento ao Barão de Taunay
categoria: marco
tags: [
	"possui escrita",
	"escrita ilegível"
]
series: [
	"Parque Nacional da Tijuca"
]

data_inaug: 1928-08
altura: 
largura: 
material: 
autores: []

local: Parque Nacional da Tijuca
bairro: Alto da Boa Vista
lat: -22.9591
lon: -43.27781

imrj: 1309
wikidata: Q67205478
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (8 de julho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Monumento_ao_Bar%C3%A3o_de_Taunay_(julho_2023)_(ampla).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem a Félix Émile Taunay (01/03/1795–10/04/1881), herdeiro do título
		de Barão de Taunay, influente pintor francês.
	</p>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1928a-full.jpg" data-llb-src="href">
			<img src="gallery-1928a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: Ulysses de Aguiar (6 de outubro de 1928).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=025909_02&pagfis=16798">Os
				Monumentos da Tijuca</a>. Revista da Semana, p.24 [via Hemeroteca
				Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1928b-full.jpg" data-llb-src="href">
			<img src="gallery-1928b.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: Ulysses de Aguiar (6 de outubro de 1928).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=025909_02&pagfis=16799">Os
				Monumentos da Tijuca</a>. Revista da Semana, p.25 [via Hemeroteca
				Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023a-full.jpg" data-llb-src="href">
			<img src="gallery-2023a.jpg">
		</a>
		<figcaption>
			<p>Face norte</p>
			<p class="credits">
				Foto: Matheus Avellar (8 de julho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Monumento_ao_Bar%C3%A3o_de_Taunay_(julho_2023)_(norte).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023b-full.jpg" data-llb-src="href">
			<img src="gallery-2023b.jpg">
		</a>
		<figcaption>
			<p>Face leste</p>
			<p class="credits">
				Foto: Matheus Avellar (8 de julho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Monumento_ao_Bar%C3%A3o_de_Taunay_(julho_2023)_(leste).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023c-full.jpg" data-llb-src="href">
			<img src="gallery-2023c.jpg">
		</a>
		<figcaption>
			<p>Face oeste</p>
			<p class="credits">
				Foto: Matheus Avellar (8 de julho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Monumento_ao_Bar%C3%A3o_de_Taunay_(julho_2023)_(oeste).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023d-full.jpg" data-llb-src="href">
			<img src="gallery-2023d.jpg">
		</a>
		<figcaption>
			<p>Face sul</p>
			<p class="credits">
				Foto: Matheus Avellar (8 de julho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Monumento_ao_Bar%C3%A3o_de_Taunay_(julho_2023)_(sul).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		O monumento possui inscrições em suas três laterais. Na face norte:
	</p>
	<pre class="inscription-text">
Felix Emilio Taunay
Barão de Taunay
(1795 - 1881)</pre>
	<p>
		Na face leste:
	</p>
	<pre class="inscription-text">
Em memoria destes tão
prestantes servidores
do Brasil,
ordenou o Exmo Snr.
Dr. Whashington Luiz Pereira de Souza
Presidente da Republica
dos Estados Unidos do Brasil
que se lhes consagrasse
esta oblação
no local de sua antiga
casa patrimonial.
Agosto de 1928.</pre>
	<p>
		Na face oeste:
	</p>
	<pre class="inscription-text">
Neste sitio da
"Cascatinha Taunay",
vieram em 1817
Estabelecer-se
afim de observar a
natureza brasileira
em sua intimidade,
os irmãos Taunay
membros da
Missão Artistica de 1816
fundadora da
Escola Nacional
de Bellas Artes
Nicolau Antonio (1755-1830)
Agusto Maria
(1768-1824 )</pre>
	<p>
		Na face sul:
	</p>
	<pre class="inscription-text">
Cascatinha Taunay, na Tijuca
(Alto da Bôa Vista)
Sitio de propriedade do
Barão de Taunay (1855)</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>