---
layout: monument.ejs
name: Mural Corcovado
categoria: marco
tags: [
	"preliminar"
]
series: [
	"Praça Pimentel Duarte"
]

data_inaug: 
altura: 
largura: 
material: 
autores: 

local: Praça Pimentel Duarte
bairro: Botafogo
lat: -22.9494
lon: -43.18033

imrj: 307
wikidata: Q67210502
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Boaventuravinicius (26 de setembro de 2022),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Mural_Corcovado_04.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>
