---
layout: monument.ejs
name: Busto de Gabriel Habib
categoria: busto
tags: [
	"possui escrita"
]

data_inaug: 2014-11-19
altura: 
largura: 
peso: 50
material: Bronze

autores: [
	
]

local: Praça do Mascate
bairro: Centro
lat: -22.9054
lon: -43.1850

imrj: 100
wikidata: Q67210224
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Estela Neto (24 de setembro de 2022),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Gabriel_Habib_-_Rio_de_Janeiro_-_20220924131150.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem ao libanês Gabriel Habib (1894–1958) que, junto de seus irmãos,
		comprou lotes de terra na região conhecida como Areal, atualmente Coelho Neto,
		onde eles construíram os primeiros comércios do bairro. Habib também foi
		responsável pela instalação da iluminação pública do local.<sup>1</sup>
	</p>
	<p>
		Segundo o IMRJ, o busto foi produzido circa 1960 e instalado em uma loja no
		Centro; foi posteriormente movido para outra em Inhaúma. Em 2014, foi doado
		à prefeitura.
	</p>
	<p>
		Obra atribuída ao escultor Hildegardo Leão Veloso pelo IMRJ.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (19 de novembro de 2014)
			<a href="https://oglobo.globo.com/rio/prefeitura-inaugura-busto-de-pioneiro-do-comercio-varejista-na-saara-14609433">Prefeitura
			inaugura busto de pioneiro do comércio varejista na Saara</a>. <i>O Globo</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2022-full.jpg" data-llb-src="href">
			<img src="gallery-2022.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Estela Neto (24 de setembro de 2022),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
				via <a href="https://commons.wikimedia.org/wiki/File:Gabriel_Habib_-_Rio_de_Janeiro_-_20220924131152.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa abaixo do busto de Gabriel Habib, contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Gabriel Habib

        Prefeitura
        da Cidade do Rio de Janeiro

      Gabriel Habib
Pioneiro no Comércio Varejista

       1894 - 1958

Prefeito da Cidade do Rio de Janeiro
      Eduardo Paes

Secretário de Conservação e Serviços Públicos
      Marcus Belchior Corrêa Bento

Obra doada à cidade do Rio de Janeiro pela família Habib

Rio de Janeiro, Novembro de 2014
</pre>
</section>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol>
	</ol> -->
</section>
