---
layout: monument.ejs
name: Lampião Grande
categoria: obra
tags: [
	"preliminar",
	"removido",
	"possui escrita"
]
series: []

data_inaug: 
altura: 
largura: 
material: 
autores: 

local: 
bairro: Alto da Boa Vista
lat: -22.96617
lon: -43.27749

imrj: 
wikidata: 
---

<figure>
	<!-- <a href="photo.jpg" data-llb-src="href"> -->
		<img src="thumb.jpg">
	<!-- </a> -->
	<figcaption>
		<p class="credits">
			Foto: <a href="https://goo.gl/maps/L4YCzCfh13JDWoo3A">Google Street
			View</a> (abril de 2016).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Lampião histórico que marca o início das estradas da Vista Chinesa e das
		Furnas, e marcava o ponto final do bonde do Alto da Boa Vista.
	</p>
	<p>
		Foi trocado em 1950, e novamente circa 1990. Foi removido em algum ponto
		entre julho de 2022 e julho de 2023.
	</p>
	<blockquote>
		A denominação de "Lampião Grande" deve-se a existência de um antigo lampião
		da época do Império que servia de marco zero à estrada [da Vista Chinesa].
		Em 1950, o primitivo lampião foi substituído pelo atual.
	</blockquote>
	<cite>
		—S.n. (17 de dezembro de 1958).
		"<a href="http://memoria.bn.br/DocReader/089842_06/100269">As furnas de
		Agassiz</a>". <i>Correio da Manhã</i>, Segundo Caderno, p.4 [via
		Hemeroteca Digital da Biblioteca Nacional].
	</cite>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1958-full.jpg" data-llb-src="href">
			<img src="gallery-1958.jpg">
		</a>
		<figcaption>
			<p>Lampião em 1958</p>
			<p class="credits">
				Foto: S.n. (17 de dezembro de 1958). <i>Correio da Manhã</i>
				[via <a href="https://sian.an.gov.br/">Arquivo Nacional</a>,
				BR RJANRIO PH.0.FOT.2957 004].
			</p>
		</figcaption>
	</figure>
<!--
Fotos antigas; credita o Arquivo Nacional, mas eu não consegui achar
https://rioquepassou.com.br/2017/12/26/alto-da-boa-vista-lampiao-grande/ -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há três placas ao redor do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Estrada
da Vista Chinesa</pre>
	<pre class="inscription-text">
Lampião Grande
1950</pre>
	<pre class="inscription-text">
Estrada das Furnas
Alargamento e Pavimentação
de Concreto
Prefeito
General Ângelo Mendes de Moraes
1948</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>