---
layout: monument.ejs
name: Estátua de Tim Maia
categoria: estátua
tags: [
	"possui escrita"
]

data_inaug: 2015-06-19
data_circa: 
altura: 1.80
largura: 
peso: 650
material: [
	Bronze
]

autores: [
	Christina Motta
]

local: Praça Afonso Pena
bairro: Tijuca
lat: -22.9178
lon: -43.2180

imrj: 701
wikidata: Q67205236
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Alexandre Macieira / Riotur (4 de março de 2016), via
			<a href="https://flickr.com/photos/riotur/28711390046/">Flickr</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Estátua em homenagem ao cantor Tim Maia (28/09/1942–15/03/1998), doada ao
		Rio de Janeiro pela empresa de cosméticos Nivea.<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (19 de junho de 2015).
			<a href="https://www.rio.rj.gov.br/web/guest/exibeconteudo?id=5420011">Secretaria
			de Conservação inaugura estátua em homenagem a Tim Maia na Tijuca</a>.
			<i>Prefeitura da Cidade do Rio de Janeiro</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2016-full.jpg" data-llb-src="href">
			<img src="gallery-2016.jpg">
		</a>
		<figcaption>
			<p>Placa próxima à estátua</p>
			<p class="credits">
				Foto: Alexandre Macieira / Riotur (4 de março de 2016), via
				<a href="https://flickr.com/photos/riotur/28743272985/">Flickr</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa próxima ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Escultura "Tim Maia"
Sebastião Rodrigues Maia
1942-1998

Compositor e cantor da
música popular brasileira

Prefeito da Cidade do Rio de Janeiro
Eduardo Paes

Secretário Executivo de Coordenação do Governo
Pedro Paulo Carvalho Teixeira

Secretário de Conservação e Serviços Públicos
Marcus Belchior Corrêa Bento

Autora da Obra
Christina Motta

Esta obra é um presente do
projeto NIVEA VIVA TIM MAIA à cidade do Rio de Janeiro.
Uma homenagem ao pai da soul music brasileira,
o eterno Síndico do Brasil.
Idealizada por BDF NIVEA BRASIL e Isobar Brasil

Rio de Janeiro, junho de 2015
</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Cristina Indio do Brasil (19 de junho de 2015).
			<a href="https://agenciabrasil.ebc.com.br/cultura/noticia/2015-06/tim-maia-e-homenageado-com-escultura-em-praca-de-bairro-onde-nasceu-no-rio">Tim
			Maia é homenageado com escultura em praça de bairro onde nasceu no Rio</a>.
			<i>Agência Brasil</i>.
		</li>
		<li>
			Matheus Rodrigues (19 de junho de 2015).
			<a href="https://g1.globo.com/rio-de-janeiro/noticia/2015/06/estatua-de-tim-maia-e-inaugurada-na-tijuca-zona-norte-do-rio.html">Estátua
			de Tim Maia é inaugurada na Tijuca, Zona Norte do Rio</a>. <i>G1</i>.
		</li>
	</ol>
</section>
<section class="notes">
	<h2>Notas</h2>
	<p>
		Uso das fotografias do Riotur expressamente permitido pela descrição do
		álbum do Flickr:
	</p>
	<blockquote>
		Todas as fotografias estão à disposição para a utilização.
		Conforme a lei federal nº 9610/1998, fica determinada a obrigatoriedade de
		crédito de autoria das imagens ao fotógrafo ou Instituição.<br>
		Dúvidas: ascom.riotur@gmail.com
	</blockquote>
	<cite>
		— Riotur (s.d.)
		<a href="https://flickr.com/photos/riotur/albums/72157710599923058">Estátuas</a>
		(álbum). <i>Flickr</i>.
	</cite>
</section>