[hidden] {
	display: none !important;
}
* {
	box-sizing: border-box;
}
html {
	height: 100%;
	overflow-y: scroll;

	--accent: #e9e9e9;
	--color-obra     : #d2d2ff;
	--color-busto    : #f0bdf9;
	--color-chafariz : #f5c0ae;
	--color-estatua  : #fde099;
	--color-marco    : #c7e79a;
	--color-escultura: #cbf0ff;

	--bg-main: #fafafa;
	--bg-alt: #fff;
	--fg-light: #f2f2f2;
	--border-color: #d8d8d8;
	--shadow-color: #e5e5e5;
	--text-color: #000;
	--text-alt-color: #444;
	--text-ref-color: #8f97a9;
	--soft-highlight: #efefef;
	--highlight: #dfdfdf;
	--href-color: #0b7dda;
	--ribbon-color: #a1aec0;
	--info-tag-color: #e1e1e1;
	--warning-color: #fde099;
}
html.dark {
	--accent: #4b4e5e;
	--color-obra     : #4747ae;
	--color-busto    : #983ca8;
	--color-chafariz : #b05a32;
	--color-estatua  : #9d740e;
	--color-marco    : #71a12e;
	--color-escultura: #1e7395;

	--bg-main: #2d2e38;
	--bg-alt: #393a47;
	--fg-light: #484c5a;
	--border-color: #616264;
	--shadow-color: #1e1f22;
	--text-color: #fff;
	--text-alt-color: #d6d6d6;
	--text-ref-color: #b4bdd1;
	--soft-highlight: #434351;
	--highlight: #585e6e;
	--href-color: #9ce0ff;
	--ribbon-color: #4f668a;
	--info-tag-color: #4c4c5b;
	--warning-color: #9d740e;
}
body {
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	font-family: Inter, Roboto, sans-serif;
	min-height: 100%;
	margin: 0;
	background-color: #fafafa;
	background-color: var(--bg-main, #fafafa);
	color: #000;
	color: var(--text-color, #000);
}
header {
	background-color: #fff;
	background-color: var(--bg-alt, #fff);
	box-shadow: 0 2px 5px #e5e5e5;
	box-shadow: 0 2px 5px var(--shadow-color, #e5e5e5);
}
header > nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	column-gap: .5rem;
	margin: 0;
	padding: 0;
}
header > nav > * {
	margin: 0;
	padding: 1rem;
	height: 3.25rem;
}
header > nav a[href] {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
header > nav li a[href] {
	width: 100%;
}
header > nav > details {
	padding: 0;
}
header > nav > details > summary {
	cursor: pointer;
	padding: 1rem;
	padding-left: calc(24px + 1rem);
	background-position: 1rem center;
}
details > summary {
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 24px;
	list-style: none;
	padding-left: calc(24px + .5em);
	/* Right-facing chevron */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23444'%3E%3Cpath d='M8.59 16.58 13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.42z'/%3E%3C/svg%3E");
}
.dark details > summary {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23d6d6d6'%3E%3Cpath d='M8.59 16.58 13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.42z'/%3E%3C/svg%3E");
}
details > summary::marker { display: none; }
/* [Ref] stackoverflow.com/a/56649741/4824627 */
details > summary::-webkit-details-marker { display: none; }

details[open] > summary {
	/* Down-facing chevron */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23444'%3E%3Cpath d='M7.41 8.58 12 13.17l4.59-4.59L18 10l-6 6-6-6L7.41 8.58z'/%3E%3C/svg%3E");
}
.dark details[open] > summary {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23d6d6d6'%3E%3Cpath d='M7.41 8.58 12 13.17l4.59-4.59L18 10l-6 6-6-6L7.41 8.58z'/%3E%3C/svg%3E");
}

header > nav > details[open] summary,
header > nav > details summary:hover,
header > nav > a[href]:hover {
	background-color: #f2f2f2;
	background-color: var(--fg-light, #f2f2f2);
	border-bottom-color: #444;
	border-bottom-color: var(--text-alt-color, #444);
}
header > nav details > ul {
	position: absolute;
	z-index: 401; /* Leaflet map uses 400 */
	min-width: max-content;
	margin: 0;
	margin-top: -0.5rem;
	border: 1px solid #d8d8d8;
	border: 1px solid var(--border-color, #d8d8d8);
	border-radius: 4px;
	padding: .5rem 0;
	list-style: none;
	background-color: #fff;
	background-color: var(--bg-alt, #fff);
	box-shadow: 0 4px 12px #e5e5e5;
	box-shadow: 0 4px 12px var(--shadow-color, #e5e5e5);
}
header > nav details a[href] {
	padding: .125rem 1rem .125rem .5rem;
}
header > nav details ul > li span {
	vertical-align: middle;
}
header > nav details ul > li.menu-description {
	color: #444;
	color: var(--text-alt-color, #444);
	padding: 0 .5rem;
	font-size: 75%;
	margin-bottom: .25rem;
}
header > nav > details ul > li:is(:hover, :active, :focus, :focus-within):not(.menu-description) {
	background-color: #f2f2f2;
	background-color: var(--accent, var(--fg-light, #f2f2f2));
}
#logo {
	display: grid;
	padding: 0 1rem;
}
#logo > svg {
	fill: var(--text-color);
	width: 8rem;
	margin: auto;
}

.cat-obra      { --accent: var(--color-obra     ); }
.cat-busto     { --accent: var(--color-busto    ); }
.cat-chafariz  { --accent: var(--color-chafariz ); }
.cat-estatua   { --accent: var(--color-estatua  ); }
.cat-marco     { --accent: var(--color-marco    ); }
.cat-escultura { --accent: var(--color-escultura); }
i.category {
	font-style: normal;
	font-size: 75%;
	white-space: pre;
	padding: .125em .5em;
	border-radius: 4px;
	background-color: #f2f2f2;
	background-color: var(--accent, var(--fg-light, #f2f2f2));
}
i.category.info-tag {
	background-color: #e1e1e1;
	background-color: var(--info-tag-color, #e1e1e1);
	margin-right: 0.25rem;
}
h2 i.category.info-tag {
	border-radius: 8px;
	font-weight: normal;
}
i.info-tag.removido {
	font-weight: 500;
	color: white;
	background-color: #bf3d3d;
}
.tags-list {
	line-height: 1.25;
}
details.hidden-tags-list {
	display: contents;
}
details.hidden-tags-list > summary {
	display: inline-block;
	padding: 0;
	cursor: pointer;
	background: none;
}
details.hidden-tags-list > summary:hover svg {
	rotate: 15deg;
}
.id-tag {
	display: inline-block;
	position: relative;
	background-color: var(--soft-highlight);
	padding: .125rem .25rem;
	padding-left: .75rem;
	border-radius: 4px;
	font-size: 75%;
}
.id-tag::before {
	content: "";
	position: absolute;
	display: block;
	height: 4px;
	width: 4px;
	background: white;
	left: 0.3rem;
	top: 0.5rem;
	border-radius: 4px;
}

.icon {
	display: inline-block;
	vertical-align: middle;
	height: 24px;
	width: 24px;
	fill: #444;
	fill: var(--text-alt-color, #444);
	transform: scale(.75);
}
main {
	padding: 1rem 1rem 5rem;
}
main, .downsize {
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
main.monument {
	display: grid;
	grid-template-columns: min(30vw, 250px) auto;
	gap: 1rem;
}
main p {
	margin: 0;
	font-size: 1rem;
	line-height: 1.25;
}
main p:not(:empty) + p {
	margin-top: .5rem;
}
main li+li {
	margin-top: .5rem;
}
main .tight-list li+li {
	margin-top: 0;
}

footer {
	font-size: 75%;
	width: 100%;
	padding: 27px 1rem 3rem;
	color: #444;
	color: var(--text-alt-color, #444);
	background-color: #fff;
	background-color: var(--bg-alt, #fff);
	background-image: url(/assets/fundo_seconserva.jpg);
	background-repeat: repeat-x;
}
footer p {
	margin: 0;
}
footer > section {
	margin-top: 1rem;
}
footer section.signature {
	text-align: right;
	float: right;
	width: max-content;
	margin-left: 2rem;
}
footer > section.disclaimer {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: .5rem 1rem;
	hyphens: auto;
}
footer > section.disclaimer p {
	margin: 0;
}
footer .heart-icon {
	height: 1.5rem;
	padding: 0.1rem 0;
	vertical-align: middle;
	box-sizing: border-box;
	fill: none;
	stroke: #444;
	stroke: var(--text-alt-color, #444);
	stroke-width: 1.5;
	stroke-linecap: round;
	stroke-linejoin: round;
}
footer nav {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem 1rem;
	margin-top: 1rem;
}
footer nav ul {
	width: 8.75rem;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
footer .footer-logo {
	fill: #444;
	fill: var(--text-alt-color, #444);
	max-width: 250px;
}

h1, h2, h3 {
	margin: 0;
}
h1 {
	margin-bottom: .5rem;
	font-size: 3rem;
	line-height: 1;
	text-wrap: balance;
}
.monument h1, .cutout-width-limit {
/*	max-width: calc(100% - 50px);*/
	margin-right: 50px;
}
h2 {
	margin-top: 2rem;
	margin-bottom: .5rem;
	font-size: 1.75rem;
}
h3 {
	margin-top: 1rem;
}
strong {
	font-weight: 500;
}
:is(main, footer) a[href]:not([class^="leaflet"]) {
	text-decoration: none;
	color: inherit;
}
:is(main, footer) a[href]:not(.tag, [class^="leaflet"]) {
	color: #0b7dda;
	color: var(--href-color, #0b7dda);
	font-weight: 500;
}
:is(main, footer) a[href]:not(.tag, [class^="leaflet"]):is(:hover, :active, :focus) {
	text-decoration: underline;
}

aside {
	height: min-content;
	width: min(30vw, 250px);;
	background-color: #fff;
	background-color: var(--bg-alt, #fff);
	padding: .75rem 1rem 1rem;
	border: 1px solid #dfdfdf;
	border: 1px solid var(--highlight, #dfdfdf);
	border-radius: 4px;
	box-shadow: 2px 2px 5px #e5e5e5;
	box-shadow: 2px 2px 5px var(--shadow-color, #e5e5e5);
}
aside > dl {
	margin: 0;
}
aside > dl > dt {
	font-weight: 500;
}
aside > dl > dd {
	margin-left: 1rem;
	max-height: 12.5rem;
	overflow-y: auto;
}
aside > dl > dd + dt {
	margin-top: .5rem;
}
aside > dl > dd > ul {
	padding: 0;
	margin: 0;
}
aside > dl > dd > ul > li + li {
	margin: 0;
}
aside abbr {
	text-decoration: none;
}
.note {
	font-size: 75%;
	max-width: 650px;
	background-color: #fff;
	background-color: var(--bg-alt, #fff);
	padding: .75rem 1rem;
	border: 2px solid #dfdfdf;
	border: 2px solid var(--highlight, #dfdfdf);
	border-radius: 4px;
	margin-bottom: 1rem;
}
.note.warning {
	border-color: #fde099;
	border-color: var(--warning-color, #fde099);
}
.section-heading {
	display: block;
	color: #444;
	color: var(--text-alt-color, #444);
	font-size: 65%;
	text-transform: uppercase;
	margin-bottom: .5rem;
}
aside .metadata {
	font-size: 65%;
	color: #444;
	color: var(--text-alt-color, #444);
}
aside .metadata dt {
	font-weight: 600;
}
aside .metadata dd {
	margin: 0;
}

main figure {
	position: relative;
	float: left;
	border: 1px solid #d8d8d8;
	border: 1px solid var(--border-color, #d8d8d8);
	border-radius: 4px;
	padding: .5rem;
	margin: 0 1rem 1rem 0;
	width: min-content;
	box-shadow: 2px 2px 5px #e5e5e5;
	box-shadow: 2px 2px 5px var(--shadow-color, #e5e5e5);
	background-color: #fff;
	background-color: var(--bg-alt, #fff);
	z-index: 2;
}
figcaption .credits {
	font-size: .75rem;
}
main.monument > section > section:not(.description) {
	clear: both;
}
main section.description {
	margin: 1rem auto;
}
main section.description p {
	text-indent: 1rem;
}
main section.description sup {
	color: #8f97a9;
	color: var(--text-ref-color, #8f97a9);
}
main section.refs {
	font-size: 75%;
	color: #8f97a9;
	color: var(--text-ref-color, #8f97a9);
}
main section.refs li+li {
	margin: 0;
}
main section.gallery > figure {
	display: inline-block;
	float: none;
	vertical-align: top;
}
main section.gallery > figure.sideways {
	display: inline-flex;
	flex-direction: row;
	gap: .5rem;
	min-width: 14rem;
}
#panorama-viewer {
	float: none;
}
main section figure img {
	max-height: 250px;
	max-width: min(30vw, 250px);
}

main section.maxwidth {
	max-width: 800px;
}
.maxwidth.center {
	margin-left: auto;
	margin-right: auto;
}

blockquote {
	position: relative;
	text-indent: 1rem;
	font-size: 85%;
	margin: .5rem .5rem 0;
	/* Fix `overflow-y: auto` showing scrollbar on <aside>
	 * due to blockquote::before being taller than the 
	 * <blockquote> itself */
	min-height: 24px;
	color: #444;
	color: var(--text-alt-color, #444);
	z-index: 1;
}
blockquote::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 24px;
	height: 24px;
	margin-left: -1.5rem;
	margin-top: -.25rem;
	z-index: -1;
	/* Open quote */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23dfdfdf'%3E%3Cpath d='m10 7-2 4h3v6H5v-6L7 7h3m8 0-2 4h3v6h-6v-6l2-4h3z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: top left;
}
cite {
	font-size: 75%;
	margin-bottom: .5rem;
}
blockquote+cite {
	display: block;
	line-height: 1.1;
}

.alt-names {
	color: #444;
	color: var(--text-alt-color, #444);
	font-size: 85%;
	font-weight: 500;
	margin-top: -.25rem;
	margin-bottom: .5rem;
}
.indent-children > p {
	text-indent: 1rem;
}
p.noindent {
	text-indent: unset;
}

.identifier, .tabular-nums {
	font-variant-numeric: tabular-nums;
}
.display-identifier {
	display: block;
	color: #444;
	color: var(--text-alt-color, #444);
	font-size: 1.75rem;
	font-style: normal;
}
hr {
	border: 0;
	border-top: 1px solid #dfdfdf;
	border-top: 1px solid var(--highlight, #dfdfdf);
	margin: .75em 0;
}
hr.vertical {
	border-top: 0;
	border-left: 1px solid #dfdfdf;
	border-left: 1px solid var(--highlight, #dfdfdf);
}

.description-size, .statistics {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: .75rem;
	text-align: center;
}
.statistics {
	margin: 1rem 0;
	padding: 1rem;
	border: 1px solid #dfdfdf;
	border: 1px solid var(--highlight, #dfdfdf);
	border-radius: 4px;
	background-color: #fff;
	background-color: var(--bg-alt, #fff);
}
.description-size > div, .statistics > div {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-basis: 30%;
}
.description-size .description-size-label,
.statistics .stats-total {
	font-size: 85%;
	color: #444;
	color: var(--text-alt-color, #444);
}
.statistics .stats-value {
	display: block;
	font-size: 3rem;
	text-align: center;
	line-height: 1;
	font-weight: bolder;
	text-shadow: 4px 1px 0 #dfdfdf;
	text-shadow: 4px 1px 0 var(--highlight, #dfdfdf);
}

#home-categories-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.5rem;
	margin-top: 1.5rem;
}
#home-categories-list section.home-category > a[href] {
	display: block;
	position: relative;
	height: 108px;
	padding: 1rem;
	padding-left: calc(130px + 1rem);
	background-color: #fff;
	background-color: var(--bg-alt, #fff);
	color: #444;
	color: var(--text-alt-color, #444);
	text-decoration: none;
	outline: 0;
	border: 4px solid #dfdfdf;
	border: 4px solid var(--accent, var(--highlight, #dfdfdf));
}
#home-categories-list section.home-category > a[href]:is(:hover, :focus, :focus-within) {
	border-color: #444;
	border-color: var(--text-alt-color, #444);
	background-color: #dfdfdf;
	background-color: var(--accent, #dfdfdf);
	background-size: 10px;
	/* Striped background */
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' fill-opacity='0.5' d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/svg%3E");
	animation: scroll 1s linear infinite;
}
@keyframes scroll {
	to { background-position: -10px -10px; }
}
#home-categories-list section.home-category img {
	position: absolute;
	max-width: 130px;
	max-height: calc(100% + 1rem);
	left: 0;
	bottom: 0;
	filter: drop-shadow(6px 0 0 #dfdfdf);
	filter: drop-shadow(6px 0 0 var(--accent, var(--highlight, #dfdfdf)));
}
#home-categories-list section.home-category h2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	margin: 0;
	line-height: 1;
	text-wrap: balance;
	text-shadow: 3px 3px #dfdfdf;
	text-shadow: 3px 3px var(--highlight, #dfdfdf);
	text-shadow: 3px 3px var(--highlight, var(--highlight, #dfdfdf));
}
#home-categories-list section.home-category > a[href]:is(:hover, :focus, :focus-within) h2 {
	text-shadow: 3px 3px #fff;
	text-shadow: 3px 3px var(--bg-alt, #fff);
}
#home-categories-list section.home-category .home-category-count {
	position: absolute;
	top: -.75rem;
	right: -.75rem;
	min-width: 3.55ch;
	padding: .5rem;
	background-color: #dfdfdf;
	background-color: var(--accent, var(--highlight, #dfdfdf));
	text-align: center;
	font-weight: 700;
	font-size: 75%;
	line-height: 1;
	border-radius: 5rem;
}
#home-categories-list section.home-category > a[href]:is(:hover, :focus, :focus-within) .home-category-count {
	color: #fff;
	color: var(--bg-alt, #fff);
	background-color: #444;
	background-color: var(--text-alt-color, #444);
}

#monument-location-map {
	height: 400px;
	width: 100%;
	margin: .25rem 0;
	border-radius: 4px;
	border: 1px solid #d8d8d8;
	border: 1px solid var(--border-color, #d8d8d8);
	box-shadow: 2px 2px 5px #e5e5e5;
	box-shadow: 2px 2px 5px var(--shadow-color, #e5e5e5);
}
#monument-location-map.big {
	height: 650px;
}

.card-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	margin-top: 1rem;
}
.related .card-list {
	grid-template-columns: 1fr 1fr;
}
.card {
	display: grid;
	grid-template-columns: 150px auto;
	gap: .75rem;
	background-color: #fff;
	background-color: var(--bg-alt, #fff);
	border: 1px solid #dfdfdf;
	border: 1px solid var(--highlight, #dfdfdf);
	border-radius: 4px;
	width: 100%;
	overflow: hidden;
}
.card-preview {
	display: block;
	width: 150px;
	height: 150px;
}
.card-preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card-description {
	padding: .75rem .75rem .75rem 0;
	display: grid;
	grid-template-rows: 34fr 30fr 32fr;
}
.card > .card-description > a[href] {
	color: unset;
}
.card-details {
	padding-top: .25rem;
	border-top: 1px solid #dfdfdf;
	border-top: 1px solid var(--highlight, #dfdfdf);
	font-size: 75%;
	color: #444;
	color: var(--text-alt-color, #444);
}
.card-details > .neighborhood {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.card .truncate {
	line-height: 1.125;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.card-tags {
	line-height: 1.3;
}
.card[data-no-imrj]:not([data-preliminar]) {
	border-color: #a1aec0;
	border-color: var(--ribbon-color, #a1aec0);
	background-image: linear-gradient(
		135deg, transparent 25%, transparent 50%,
		var(--ribbon-color, #a1aec0) 50%,
		var(--ribbon-color, #a1aec0) 75%,
		transparent 75%, transparent 100%);
	background-size: 1rem 1rem;
	background-repeat: no-repeat;
	background-position: bottom right;
}
.card[data-preliminar] {
	opacity: 0.7;
	border-style: dashed;
	border-color: #d8d8d8;
	border-color: var(--border-color, #d8d8d8);
	background-size: 10px;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23b0b0b0' fill-opacity='0.1' d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/svg%3E");

}

.inscription-text {
	font-size: 90%;
	font-family: inherit;
	font-variant-numeric: tabular-nums;
	padding: .5rem .75rem;
	border: 1px solid #dfdfdf;
	border: 1px solid var(--highlight, #dfdfdf);
	border-radius: 4px;
	background-color: #fff;
	background-color: var(--bg-alt, #fff);
	white-space: pre-wrap;
}

.leaflet-container .leaflet-popup-content-wrapper {
	border-radius: 4px;
	cursor: default;
}
.leaflet-container .leaflet-popup-content-wrapper,
.leaflet-container .leaflet-popup-tip {
	background-color: #fff;
	background-color: var(--bg-alt, #fff);
	color: #000;
	color: var(--text-color, #000);
}
.leaflet-container .leaflet-popup-content {
	display: grid;
	grid-template-columns: min-content auto;
	gap: .5rem;
	margin: .75rem 1rem;
	min-width: 12rem;
	max-width: 14rem;
}
.leaflet-container .leaflet-popup-content > img {
	max-width: 80px;
	max-height: 80px;
}
.leaflet-container .leaflet-popup-content > div > :not(a[href]) {
	cursor: text;
}

.leaflet-container .leaflet-busto-pane,
.leaflet-container .leaflet-chafariz-pane,
.leaflet-container .leaflet-estatua-pane,
.leaflet-container .leaflet-marco-pane,
.leaflet-container .leaflet-escultura-pane,
.leaflet-container .leaflet-obra-pane {
	z-index: 601;
}
.leaflet-container .leaflet-overlay-pane > svg {
	z-index: 100;
}
.leaflet-control-zoom-in, .leaflet-control-zoom-out {
	font-family: inherit !important;
	font-weight: normal !important;
}

h2 {
	scroll-margin-top: .75rem;
}
#list-toc {
	padding: .5rem;
	cursor: default;
	background-color: #f2f2f2;
	background-color: var(--fg-light, #f2f2f2);
	border: 1px solid #dfdfdf;
	border: 1px solid var(--highlight, #dfdfdf);
	border-radius: 4px;
	margin-top: 1rem;
}
#list-toc > div {
	display: inline-block;
	font-size: 75%;
	margin-left: .5rem;
	max-height: min(14rem, 33vh);
	overflow: auto;
}
#list-toc > div > * {
	display: inline-block;
	padding: .25rem .5rem;
	border-radius: 2px;
	min-width: 1.25rem;
	text-align: center;
}
#list-toc > div > *:hover {
	background-color: #dfdfdf;
	background-color: var(--highlight, #dfdfdf);
}
#list-toc span {
	color: #444;
	color: var(--text-alt-color, #444);
}

#options-bar {
	position: absolute;
	top: 3.25rem;
	width: 100%;
	margin-top: 1rem;
	margin-bottom: .5rem;
	padding-right: 1rem;
	pointer-events: none;
}
#dark-mode-wrapper {
	display: block;
	position: relative;
	pointer-events: all;
	float: right;
	width: 2.5rem;
	height: 2.5rem;
	padding: .5rem .5rem .5rem 2.25rem;
	outline: 2px solid transparent;
	border-radius: 4px;
	background-color: var(--soft-highlight);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23444'%3E%3Cpath d='M3.55 19.09l1.41 1.41 1.8-1.79-1.42-1.42m6.66-11.29c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6c0-3.32-2.69-6-6-6m8 7h3v-2h-3m-2.76 7.71 1.8 1.79 1.41-1.41-1.79-1.8m1.79-12.29-1.41-1.4-1.8 1.79 1.42 1.42m-5.66-5.81h-2v3h2m-6.24 1.39-1.8-1.79-1.41 1.4 1.79 1.81 1.42-1.42m-5.76 7.61h3v-2h-3m12 9h-2v3h2'/%3E%3C/svg%3E");
}
.dark #dark-mode-wrapper {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23d6d6d6'%3E%3Cpath d='M2 12a10 10 0 0013 9.54A10 10 0 0115 2.46 10 10 0 002 12Z'/%3E%3C/svg%3E");
}
#dark-mode-wrapper:has(:hover, :focus) {
	outline-color: #444;
	outline-color: var(--text-alt-color, #444);
}
#dark-mode-toggle {
	position: absolute;
	cursor: pointer;
	opacity: 0;
	margin: 0;
	inset: 0;
}

@media screen and (max-width: 600px) {
	main.monument {
		display: flex;
		flex-direction: column;
	}
	aside {
		width: 100%;
		max-height: 50vh;
		overflow-y: auto;
		margin-bottom: .25rem;
	}
	footer section.signature {
		width: 100%;
		float: none;
		margin-left: auto;
	}
	footer > section.disclaimer {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 1050px) {
	.card-list {
		grid-template-columns: 1fr 1fr;
	}
	.related .card-list {
		grid-template-columns: 1fr;
	}
}
@media screen and (max-width: 700px) {
	.mobile-hide {
		display: none !important;
	}
	header > nav {
		justify-content: space-between;
	}
	header > nav > details > ul {
		right: 4px;
	}
	#home-categories-list {
		display: grid;
		grid-template-columns: 1fr;
	}
	.card-list {
		grid-template-columns: 1fr;
	}
}
@media screen and (min-width: 701px) {
	.desktop-hide {
		display: none !important;
	}
}

@media screen and (min-width: 601px) and (max-width: 870px) {
	main figure { float: none; }
}

/* Bigger navbar font size on tall screens */
@media screen and (min-height: 700px) and (max-aspect-ratio: 5/7) {
	header > nav {
		font-size: 1.35rem;
	}
	header > nav > * {
		height: 3.625rem;
	}
}
@media screen and (min-height: 700px) and (max-aspect-ratio: 5/7) and (max-width: 800px) {
	header > nav > details > ul {
		right: 4px;
	}
}