---
layout: monument.ejs
name: Estátua de Cristóvão Colombo
categoria: estátua
tags: [
	"pessoa:homem",
	"objeto:espada"
]
series: [
	Palácio do Catete
]

data_inaug: 1897-02-24
altura: 
largura: 
material: Bronze

autores: Mathurin Moreau

local: Jardins do Palácio do Catete
bairro: Flamengo
lat: -22.9262
lon: -43.17621

imrj: 
wikidata: 

tombado_nome: Decreto 19.011/2000
tombado_desc: "Art. 1º Ficam tombados definitivamente [...] \
	elementos decorativos de ferro fundido: [...] \
	MUSEU DA REPÚBLICA - 1 estátua: Cristóvão Colombo [...] Todas as obras acima \
	são de Mathurin Moreau"
tombado_quote: true
tombado_url: https://www.rio.rj.gov.br/dlstatic/10112/4722991/4121993/180DECRETO19011ConjuntodePecasdeArtedeFerroFundido.pdf
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (1 de julho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Est%C3%A1tua_de_Crist%C3%B3v%C3%A3o_Colombo_no_Pal%C3%A1cio_do_Catete_(julho_2023).jpg">Wikimeda
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Presume-se que a estátua tenha sido instalada para a inauguração do palácio
		em 24 de fevereiro de 1897, data em que o local se tornou sede da
		Presidência da República.
	</p>
	<blockquote>
		Ao lado esquerdo do Palacio, na rua do Cattete, está um pequeno jardim
		grammado, arborisado com ondulações e cercado por um gradil com dous grandes
		portões nas extremidades, que dão as entradas e as sahidas aos carros. No
		centro do jardim em um grande canteiro destaca-se uma pequena estátua de
		Colombo, de bronze artistico.
	</blockquote>
	<cite>
		— S.n. (20 de fevereiro de 1897).
		<a href="https://memoria.bn.br/DocReader/docreader.aspx?bib=364568_08&pesq=rio%20artificial&pagfis=24006">O
		Palacio do Cattete: Grande Parque</a>. <i>Jornal do Commercio</i>, p.1 [via
		Hemeroteca Digital da Biblioteca Nacional].
	</cite>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-c1914-full.jpg" data-llb-src="href">
			<img src="gallery-c1914.jpg">
		</a>
		<figcaption>
			<p>
				Recorte de fotografia do Palácio do Catete circa 1914, onde a estátua
				é visível
			</p>
			<p class="credits">
				Foto: Antônio Caetano da Costa Ribeiro (circa 1914).
				<a href="http://acervo.bndigital.bn.br/sophia/index.asp?codigo_sophia=40467">Palacio
				Presidencial</a> [via Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>