---
layout: monument.ejs
name: Cristo Redentor
categoria: escultura
tags: [
	sem descrição,
	religioso
]

data_inaug: 1931-10-12
altura: 38
largura: 28
peso: 
material: Pedra-sabão

autores: [
	Heitor da Silva Costa,
	Paul Landowski,
	Albert Caquot,
	Gheorghe Leonida
]

local: Morro do Corcovado
bairro: Parque Nacional da Tijuca
lat: -22.9519
lon: -43.2105

imrj: 1205
wikidata: Q79961
structurae: 20040186
cona: 700009442
hpip:
iphan: 1478-T-2001
inepac: 
inepac_url: 

outros: [
	[
		"Novas sete maravilhas do mundo",
		2007-07-07
	]
]
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Arne Müseler [<a href="http://arne-mueseler.com">arne-mueseler.com</a>]
			(16 de fevereiro de 2022),
			<a href="https://creativecommons.org/licenses/by-sa/3.0/de/deed.de">CC-BY-SA-3.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Christ_the_Redeemer_-_Cristo_Redentor.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1931-full.jpg" data-llb-src="href">
			<img src="gallery-1931.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Augusto Malta (1931), via Instituto Moreira
				Salles / <a href="https://commons.wikimedia.org/wiki/File:Visita_de_estudantes_ao_Cristo_Redentor,_Acervo_do_Instituto_Moreira_Salles.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2> -->
</section>