---
layout: monument.ejs
name: Busto de Orlando Silva
categoria: busto
tags: [
	"possui escrita"
]

data_inaug: 1959-10-25
altura: 
largura: 
material: [
	Resina
]

autores: [
	Miguel Pastor
]

local: Praça Orlando Silva
bairro: Cachambi
lat: -22.8911
lon: -43.274

imrj: 833
wikidata: Q67210678
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: S.n. (5 de março de 2023), via
			<a href="https://prefeitura.rio/infraestrutura/prefeitura-entrega-conjunto-habitacional-reformado-e-reinaugura-praca-na-zona-norte/">Prefeitura
			do Rio</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem ao cantor Orlando Garcia da Silva (03/10/1915–07/08/1978). O
		busto, originalmente em bronze, foi furtado em múltiplas ocasiões. Portanto,
		ele substituído em 5 de março de 2023 por uma réplica em resina.<sup>1</sup>
	</p>
	<p>
		Seu primeiro furto ocorreu na virada de 16 para 17 de janeiro de 1960, pouco
		mais de 80 dias depois de sua inauguração.<sup>2</sup>
	</p>
	<p>
		IMRJ credita Miguel Pastor como autor do busto original, em bronze. O novo,
		em resina, foi modelado usando fotografias do original.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (5 de março de 2023).
			<a href="https://prefeitura.rio/infraestrutura/prefeitura-entrega-conjunto-habitacional-reformado-e-reinaugura-praca-na-zona-norte/">Prefeitura
			entrega conjunto habitacional reformado e reinaugura praça na Zona
			Norte</a>. <i>Prefeitura do Rio</i>.
		</li>
		<li>
			S.n. (19 de janeiro de 1960).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_07&pesq=%22orlando%20silva%22%20%22busto%22&pagfis=646">Roubado
			o busto do cantor Orlando Silva</a>. <i>Correio da Manhã</i> [via
			Hemeroteca Digital</a>, <i>Biblioteca Nacional</i>].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1959-full.jpg" data-llb-src="href">
			<img src="gallery-1959.jpg">
		</a>
		<figcaption>
			<p>Reportagem sobre a inauguração da praça (e do busto) em 1959</p>
			<p class="credits">
				Reportagem: S.n. (26 de outubro de 1959). <i>Orlando Silva Agora é Nome
				de Uma Praça, no Cachambi! Última Hora</i> [via
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=386030&pesq=%22orlando%20silva%22%20%22busto%22&pagfis=58123">Hemeroteca
				Digital</a>, <i>Biblioteca Nacional</i>].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2022-full.jpg" data-llb-src="href">
			<img src="gallery-2022.jpg">
		</a>
		<figcaption>
			<p>Pedestal sem busto em 2022</p>
			<p class="credits">
				Foto: Estela Neto (8 de setembro de 2022),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
				via
				<a href="https://commons.wikimedia.org/wiki/File:Orlando_Silva_-_Rio_de_Janeiro_-_20220908112431.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no monumento, contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Orlando Silva

Ao cantor
das multidões
    e
Cidade</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
