---
layout: monument.ejs
name: Escultura da Praça Seu Jorge do Amendoim
categoria: escultura
tags: [
	"preliminar",
	"sem descrição"
]
series: [
	"Praça Seu Jorge do Amendoim"
]

data_inaug: 
altura: 
largura: 
material: 
autores: 

local: Pracinha Seu Jorge do Amendoim
bairro: Gávea
lat: -22.97397
lon: -43.22738

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (8 de janeiro de 2024).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Baseado em imagens do Google Street View, a escultura já foi pintada
		diversas vezes: colorido (2014, primeira imagem da praça com a escultura);
		amarelo (2015); colorido (2016–2017); vermelho (2018); azul (2019–2021);
		amarelo (2022); e, finalmente, rosa (prov. 2023–2024).
	</ul>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2024-full.jpg" data-llb-src="href">
			<img src="gallery-2024.jpg">
		</a>
		<figcaption>
			<p>
				Pracinha Seu Jorge do Amendoim
			</p>
			<p class="credits">
				Foto: Matheus Avellar (8 de janeiro de 2024).
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>