---
layout: monumento.ejs
name: Busto de Rubens Paiva
categoria: busto

data_inaug: 2014-09-12
altura: 
largura: 
peso: 
material: 

autores: [
	Edgar Duvivier
]

local: Praça Lamartine Babo, Tijuca 
lat: -22.9243
lon: -43.2367

imrj: 712
hpip: 
wikidata: Q67210113
iphan: 
inepac: 
inepac_url: 
---

<figure>
	<a href="/assets/<%= page.fileSlug %>/photo.jpg" data-llb-src="href">
		<img src="/assets/<%= page.fileSlug %>/thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (12 de fevereiro de 2022)
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		
	</p>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="/assets/<%= page.fileSlug %>/gallery-2014-full.jpg" data-llb-src="href">
			<img src="/assets/<%= page.fileSlug %>/gallery-2014.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Marcelo Piu / Agência O Globo (12 de setembro de 2014)
			</p>
		</figcaption>
	</figure>
</section>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Rafaela Marinho (12 de setembro de 2014). <a href="https://oglobo.globo.com/politica/comissao-da-verdade/busto-de-rubens-paiva-inaugurado-em-frente-ao-antigo-doi-codi-13923550">
			Busto de Rubens Paiva é inaugurado em frente ao antigo DOI-Codi</a>.
			<i>O Globo</i>.
		</li>
	</ol>
</section>
