---
layout: monumento.ejs
name: Busto de Aldir Blanc
categoria: busto

data_inaug: 2023-05-04
altura: 
largura: 
peso: 
material: Concreto e bronze

autores: [
	Mello Menezes
]

local: Jardim Aldir Blanc, Tijuca
lat: -22.9360
lon: -43.2458

imrj: 
hpip: 
wikidata: Q118175724
iphan: 
inepac: 
inepac_url: 
---

<figure>
	<a href="/assets/<%= page.fileSlug %>/photo.jpg" data-llb-src="href">
		<img src="/assets/<%= page.fileSlug %>/thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (5 de maio de 2023)
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		
	</p>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="/assets/<%= page.fileSlug %>/gallery-2023-full.jpg" data-llb-src="href">
			<img src="/assets/<%= page.fileSlug %>/gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (5 de maio de 2023)
			</p>
		</figcaption>
	</figure>
</section>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			S.n. (4 de maio de 2023). <a href="https://prefeitura.rio/conservacao/prefeitura-inaugura-jardim-e-escultura-em-homenagem-ao-compositor-aldir-blanc/">
			Prefeitura inaugura jardim e escultura em homenagem ao compositor Aldir
			Blanc</a>. <i>Prefeitura do Rio</i>.
		</li>
	</ol>
</section>
