---
layout: monumento.ejs
name: Chafariz Concha
categoria: chafariz

data_inaug: 1965-09
altura: 
largura: 
peso: 
material: 

autores: [
	Francisco Bolonha
]

local: Praça David Ben Gurion
bairro: Laranjeiras
lat: -22.9383
lon: -43.1906

imrj: 430
hpip: 
wikidata: 
iphan: 
inepac: 
inepac_url: 
---

<figure>
	<a href="/assets/<%= page.fileSlug %>/photo.jpg" data-llb-src="href">
		<img src="/assets/<%= page.fileSlug %>/thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Eduardo Pazos, <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC-BY-SA-3.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Pra%C3%A7a_David_Ben_Gurion.JPG">Wikimedia Commons</a>
			(25 de fevereiro de 2013)
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		
	</p>
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Vera Dias (3 de setembro de 2013). <a href="https://ashistoriasdosmonumentosdorio.blogspot.com/2013/09/francisco-bolonha-e-seus-chafarizes-na.html">Francisco Bolonha
			e seus chafarizes na Cidade do Rio de Janeiro</a>.
			<i>As histórias dos monumentos do Rio de Janeiro</i>.
		</li>
		<li>
			Erick V. da Cruz (23 de fevereiro de 2007). <a href="https://www.bairrodaslaranjeiras.com.br/principal/BenGurion.shtml">Praça Ben Gurion,
			uma homenagem ao fundador de Israel</a>. <i>Bairro das Laranjeiras</i>.
		</li>
	</ol>
</section>
