---
layout: monument.ejs
name: Marco de Reinauguração da Praça Xavier de Brito
categoria: marco
tags: [
	"possui escrita"
]
series: [
	"Praça Xavier de Brito"
]

data_inaug: 2024-09
altura: 
largura: 
material: 
autores: []

local: Praça Comandante Xavier de Brito
bairro: Tijuca
lat: -22.93224
lon: -43.24332

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (22 de outubro de 2024).
			</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2024-full.jpg" data-llb-src="href">
			<img src="gallery-2024.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (22 de outubro de 2024).
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento, contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Rio
Prefeitura

Praça Comandante
Xavier de Brito

Eduardo Paes
<small>Prefeito da Cidade do Rio de Janeiro</small>

Julio Villas Boas
<small>Presidente da Fundação Parques e Jardins</small>

Felipe Quintans
<small>Subprefeito da Grande Tijuca</small>

<small>Reinaugurada em Setembro de 2024</small></pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<!--<h2>Leia mais</h2>
	<ol></ol>-->
</section>
<%- makeOthersFromSeries(arguments[0]) %>
