---
layout: monument.ejs
name: Busto de Padre José de Anchieta
alt_names: []
categoria: busto
tags: [
	"sem galeria",
	"possui escrita"
]
series: [
	"PUC-Rio"
]

data_inaug: 1980-10-20
altura: 
largura: 
material: Bronze

autores: []
homenageados: José de Anchieta

local: PUC-Rio
bairro: Gávea
lat: -22.97863
lon: -43.23326

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Mylena Lucciola (15 de junho de 2023).
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
			Arquivo pessoal.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem a José de Anchieta (19/03/1534–09/06/1597), padre, gramático e
		historiador influente na época de Brasil colônia. Foi autor da primeira
		gramática de uma língua da família tupi, em 1595.
	</p>
	<p>
		O busto é possivelmente de autoria de José Roberto Antunes, aluno da Escola
		de Belas Artes da UFRJ:
	</p>
	<blockquote>
		Coube ao estudante José Roberto Antunes, da Escola de Belas-Artes da UFRJ, o
		prêmio-aquisição de Cr$ 30 mil no concurso de escultura "Busto de Anchieta",
		para alunos daquela escola. O prêmio foi oferecida por Anchieta
		Participações Ltda., na pessoa de seu presidente, sr. Abelardo Coimbra Bueno.
	</blockquote>
	<cite>
		— S.n. (2 de junho de 1980).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=030678&pagfis=66634">Estudante
		ganha prêmio de escultura</a>. <i>Luta Democratica</i>, p.8 [via
		Hemeroteca Digital da Biblioteca Nacional].
	</cite>
	<p>
		Data de inauguração determinada por fotografia do evento no acervo de fotos
		do Projeto Comunicar, da PUC-Rio.<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Antônio Albuquerque (20 de outubro de 1980).
			<a href="http://nucleodememoria.vrac.puc-rio.br/acervo/jf0007/024">Inauguração
			busto do padre José de Anchieta</a>. <i>Núcleo de Memória da PUC-Rio</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no pedestal contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Pe. José de Anchieta, S.d.
★ 19-08-1534  ✝&#xFE0E; 9-06-1597

«O apóstolo do Brasil»
Beatificado em 22-06-1980

     Oferecimento de
Abelardo Coimbra Bueno</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>