---
layout: monument.ejs
name: "La Danse: Homenagem a Matisse"
categoria: escultura
tags: [
	"preliminar",
	"possui escrita"
]
series: [
	"Jardim Botânico"
]

data_inaug: 
altura: 
largura: 
material: []
autores: []

local: Jardim Botânico
bairro: Jardim Botânico
lat: -22.97029
lon: -43.22415

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (8 de janeiro de 2024).
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1910-full.jpg" data-llb-src="href">
			<img src="gallery-1910.jpg">
		</a>
		<figcaption>
			<p>
				Pintura original à qual a escultura é homenagem.
			</p>
			<p class="credits">
				Pintura: Henri Matisse (1910)
				[via <a href="https://www.hermitagemuseum.org/wps/portal/hermitage/digital-collection/01.+paintings/28411">State Hermitage Museum</a>].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há placas próximas ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
La Danse: Homenagem a Matisse (1869-1954)
<i lang="en">La Danse, Homage to Matisse (1869-1954)</i>
<small>Alice Pitaluga (1937 - 2009) – Pintora e escultora brasileira / <i lang="en">Brazilian painter and sculptor</i></small>

Escultura em fibra de vidro, reproduzindo
em três dimensões o famoso quadro de
Henry Matisse, pintor fauvista francês,
exposto no Museu Hermitage em
São Petersburgo, Rússia. Doada pela artista
ao Jardim Botânico em setembro de 1998.
ALice Pittaluga tem obras expostas em Nova
York, Tóquio, Hiroshima, São Francisco,
Rio de Janeiro, Praga, Dublin, entre
outras cidades.


<i lang="en">Sculpture in fiberglass, reproducing in three
dimensions the renowned painting by Henry
Matisse, French fauvist painter, displayed at the
Hermitage Museum in St. Petersburg, Rússia.
Donated by the artist to the Botanical Garden in
september 1998.
Alice Pittaluga's works are displayed in: New York,
Tokio, Hiroshima, San Francisco, Rio de Janeiro,
Prague, Dublin among other cities.</i></pre>
	<pre class="inscription-text">
ALICE PITTALUGA
<small><i>"La Danse"

Hommage à Matisse</i></small></pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>