---
layout: monument.ejs
name: Estátua de Carlo Del Prete
categoria: estátua
tags: [
	"possui escrita",
	"escrita ilegível",
	"rio cidade"
]
series: [
	"Praça Carlo Del Prete",
	"Rio Cidade Laranjeiras"
]

data_inaug: 1999-11-24
altura: 1.75
largura: 
material: [
	Bronze
]

autores: [
	Alfredo Britto,
	Roberto Sá
]
homenageados: Carlo Del Prete

local: Praça Carlo Del Prete
bairro: Laranjeiras
lat: -22.93297
lon: -43.18448

imrj: 413
wikidata: Q67205556
---
<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Jmbrasil (16 de outubro de 2021),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Carlo_Del_Prete_2021-10-16_frente.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Estátua em homenagem a Carlo Del Prete (21/08/1897–16/08/1928), instalada na
		praça das Laranjeiras de mesmo nome. É parte de um conjunto com a escultura
		de seu avião, um Savoia-Marchetti S.64.
	</p>
	<p>
		Instalada durante a sequência de reformas em diversos bairros do
		Rio de Janeiro, no projeto conhecido como "Rio Cidade". Foi inaugurada junto
		com muitas das outras obras de Laranjeiras, em 24 de novembro de 1999, como
		projeto do arquiteto Alfredo Britto.<sup>1,2</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Pedro Motta Lima (28 de outubro de 1999). "Quem são os 'decoradores' da
			cidade?". <i>O Globo</i>
			[via <a href="https://oglobo.globo.com/acervo/">Acervo O Globo</a>].
		</li>
		<li>
			Alba Valéria Mendonça (25 de novembro de 1999). "Inauguração confusa
			em Laranjeiras". <i>O Globo</i>
			[via <a href="https://oglobo.globo.com/acervo/">Acervo O Globo</a>].
		</li>
	</ol>
</section>
<section class="gallery">
	<figure>
		<a href="gallery-1999-full.jpg" data-llb-src="href">
			<img src="gallery-1999.jpg">
		</a>
		<figcaption>
			<p>
				Inauguração da praça e monumentos
			</p>
			<p class="credits">
				Foto: Marcelo Carnaval (24 de novembro de 1999);
				Reportagem: S.n. (25 de novembro de 1999).
				<i>O Globo</i>, primeiro caderno, p.2
				[via <a href="https://oglobo.globo.com/acervo/">Acervo O Globo</a>].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa em frente ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Praça Carlo Del Prete

Homenagem ao aviador italiano que junto com
Arturo Ferrarin, entre o Brasil e Itália, no ano de
1928, em vôo sem escalas, percorrendo 7.188Km,
entre Montecelio, próximo de Roma a Touros no
Rio Grande do Norte em 49 horas e 19 minutos.
A travessia feita em um avião Savoia Marchetti S 64
alcançou na época o recorde de distância em vôo direto.
O herói Carlo Del Prete, foi vítima de um acidente, num
[?] avião, na Baía de Guanabara, falecendo no dia
16 de agosto do mesmo ano. A população carioca prestou
sua última homenagem ao piloto na Embaixada da Itália
situada na época nas proximidades deste local.

Savoia Marchetti S.64
[?]m [altura]
9m [comprimento]
21.50m [largura]

Veloc. max. 235 Km/h
Motor Fiat 590cv
Peso Bruto 7000 kg

[?] escult. 1:2

Por seu espírito de aventura, por suas conquistas
[?] pela serenidade com que enfentrou a morte
mereceu a glória, mereceu esta praça.

Carlo Del Prete
1897·1928</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2> -->
</section>
<%- makeOthersFromSeries(arguments[0]) %>