---
layout: monument.ejs
name: Estátua de Mercedes Baptista
categoria: estátua
tags: [
	"sem descrição", "sem galeria",
	"pessoa:mulher"
]
series: []

data_inaug: 2016-10-16
altura: 
largura: 
material: 

autores: [
	Mario Pitanguy
]

local: Largo São Francisco da Prainha
bairro: Saúde
lat: -22.8977
lon: -43.1841

imrj: 1311
wikidata: Q67205342
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Estela Neto (3 de setembro de 2022),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Mercedes_Baptista_-_Rio_de_Janeiro_-_20220903091338.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="refs">
<!-- 	<ol>
	</ol> -->
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há duas placas no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
PREFEITURA
DA CIDADE DO RIO DE JANEIRO

MERCEDES BAPTISTA
(1921 - 2014)

Ícone da Dança Afro no Brasil

<small>PREFEITO DA CIDADE DO RIO DE JANEIRO</small>
EDUARDO PAES

<small>SECRETÁRIO DE CONSERVAÇÃO E SERVIÇOS PÚBLICOS</small>
MARCUS BELCHIOR CORRÊA BENTO

<small>SUBPREFEITO DO CENTRO</small>
LUIZ CLAUDIO VASQUES

<small>ARTISTA</small>
MARIO PITANGUY

<small>Rio de Janeiro, outubro de 2016</small></pre>
	<pre class="inscription-text">
IDEALIZADORES

RUTH S. SANTOS
<small>[?] E CURADORIA</small>

JAILTON MANGABEIRA
<small>PRESIDENTE DO M.A.P.V</small>

<small>in memoriam</small>
JANDIRA F. LIMA
PAULO M. KRIEGER</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Tábata Uchoa (16 de outubro de 2016).
			<a href="https://odia.ig.com.br/rio-de-janeiro/2016-10-16/estatua-da-primeira-bailarina-negra-do-theatro-municipal-e-inaugurada-no-rio.html">Estátua
			da primeira bailarina negra do Theatro Municipal é inaugurada no Rio</a>.
			<i>O Dia</i>.
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]); %>