---
layout: monument.ejs
name: Estátua de Álvaro Reis
alt_names: [ "Resgate da criança cidadã" ]
categoria: estátua
tags: [
	"possui escrita"
]

data_inaug: 2010-12-30
altura: 
largura: 
material: Bronze
autores: []

local: 
bairro: Cidade Nova
lat: -22.91045
lon: -43.20374

imrj: 716
wikidata: Q67205052
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Estela Neto (19 de setembro de 2022),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:%C3%81lvaro_Reis_-_Rio_de_Janeiro_-_20220919131023.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Conjunto escultórico formado por uma estátua de Álvaro Emídio Gonçalves dos
		Reis (1864–1925), esculturas de dois jovens e de alguns objetos – uma
		cadeira, um quadro-negro e uma estante.
	</p>
	<p>
		Segundo o IMRJ, as esculturas dos jovens foram colocadas em depósito em maio
		de 2016 após tentativa de furto. O paradeiro da cadeira não é explicitado.
	</p>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2022a-full.jpg" data-llb-src="href">
			<img src="gallery-2022a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Donatas Dabravolskas (12 de setembro de 2022),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
				via
				<a href="https://commons.wikimedia.org/wiki/File:%C3%81lvaro_Reis_-_Rio_de_Janeiro_-_20220912073940.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2022b-full.jpg" data-llb-src="href">
			<img src="gallery-2022b.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Estela Neto (19 de setembro de 2022),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
				via
				<a href="https://commons.wikimedia.org/wiki/File:%C3%81lvaro_Reis_-_Rio_de_Janeiro_-_20220919130955.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2022c-full.jpg" data-llb-src="href">
			<img src="gallery-2022c.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Estela Neto (13 de setembro de 2022),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
				via
				<a href="https://commons.wikimedia.org/wiki/File:%C3%81lvaro_Reis_-_Rio_de_Janeiro_-_20220913122923.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há um pedestal próximo ao monumento com algumas placas. A placa em seu topo
		contém o seguinte texto:
	</p>
	<pre class="inscription-text">
Rio
Prefeitura

INPAR

Prefeitura da Cidade do Rio de Janeiro
Praça Rev. Álvaro Reis

Monumento escultórico, plural, interativo, cultural e pedagógico:
Resgate da criança cidadã.

Inaugurada em 30 de Dezembro de 2010, sendo:

Presidente da República
Luiz Inácio Lula da Silva

Governador do Estado do Rio de Janeiro
Sérgio Cabral Filho

Prefeito da Cidade do Rio de Janeiro
Eduardo Paes

Secretário Municipal de Obras
Alexandre Pinto

Secretário Municipal de Conservação e Serviços Públicos
Carlos Roberto Osório

Presidente do INPAR - Ano do Centenário: 1910 - 2010
Manoel Rocha Lopes

Escultor, o artista plástico
Joás Pereira dos Passos

Idealizador
Rev. Guilhermino Cunha
Pastor Presidente da Catedral Presbiteriana do Rio

Lema do INPAR: "Ensina a criança no caminho em que deve andar,
e, ainda quando for velho, não se desviará dele."
Provérbios de Salomão Cap. 22 V.6.</pre>
	<p>
		A placa em sua lateral contém o seguinte texto:
	</p>
	<pre class="inscription-text">
Rio
Prefeitura

INPAR

Centenário do INPAR
Dezembro de 1910 - Dezembro de 2010
Fundador Rev. Álvaro Reis

"Permitir-me-eis que vos dê aqui a história do
nascimento dessa idéia, em meu espírito. Há anos
dizimou a cidade de Mojimirim, terrível epidemia de
febre amarela, e ficaram na orfandade dezenas de
crianças, dentre as quais quatorze eram órfãos de
membros da Igreja Presbiteriana que, então, estavam
sob os meus cuidados pastorais. Animado pela graça
de Deus, resolvi assumir a tutoria de sete desses
órgãos, todos os filhos do presbítero Antônio Garcia
Ferreira e de sua esposa Rita Isabel Garcia."
Rev. Álvaro Reis.

O lema do INPAR, uma obra social
da Igreja Presbiteriana do Brasil é:

"Ensina a criança no caminho em que deve andar,
e, ainda quando for velho, não se desviará dele."
Provérbios de Salomão Cap. 22 v.6

Visite a Praça Presbiteriana Rev. John Knox
Rua Edgard Werneck, 846
Pechincha - Jacarepaguá
www.inpar.org.br</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
