---
layout: monument.ejs
name: Busto de Vera Janacópulos
categoria: busto
tags: [
	"preliminar"
]
series: [
	Praça Paris
]

data_inaug: 
altura: 
largura: 
material: []
autores: []

local: Praça Paris
bairro: Glória
lat: -22.91662
lon: -43.17588

imrj: 242
wikidata: Q67203546
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: "WapJst" (13 de agosto de 2016),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:Vera_Janacopulos.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Vera
Janacópulos</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>