---
layout: monument.ejs
name: Exu dos Ventos
categoria: escultura
tags: [
	religioso,
	imagem não-livre
]

data_inaug: 2000-12-16
altura: 10
largura: 
peso: 2000
material: [ Aço ]

autores: [
	Mário Cravo Júnior
]

local: 
bairro: Cidade Universitária
lat: -22.8600
lon: -43.2340

imrj: 1184
wikidata: Q67203909
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Monica Maria Linhares Castrioto (agosto de 2009).
			<a href="http://www.bdtd.uerj.br/handle/1/7446">Artes de Exu:
			intervenções artísticas e representações afro-brasileiras no Rio de
			Janeiro</a>. p.83. <i>UERJ</i>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Escultura em homenagem a Exu, divindade da religião iorubá, construída em
		1992.<sup>1</sup> Foi inaugurada sob polêmica por parte dos católicos e evangélicos do
		país. Inicialmente previsto para o início do ano de 2000, ano eleitoral, a
		pressão pública – com direito a Moção de Protesto na ALERJ<sup>2</sup> – fez
		a instalação ser adiada pelo então prefeito Luiz Paulo Conde. Em 15 de
		dezembro de 2000, após ambos os turnos das eleições para prefeito (com
		consequente perda de Luiz Paulo Conde para César Maia) a obra foi montada e
		instalada sem alardes. Houve uma pequena cerimônia religiosa no local na
		ocasião da inauguração.<sup>1</sup>
	</p>
	<p>
		Em maio de 2005, devido a fortes ventos, a parte superior da escultura caiu,
		e foi removida.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Monica Maria Linhares Castrioto (22 de março de 2010).
			<a href="http://www.bdtd.uerj.br/handle/1/7446">Artes de Exu:
			intervenções artísticas e representações afro-brasileiras no Rio de
			Janeiro</a>. <i>UERJ</i>.
		</li>
		<li>
			Alessandro Calazans (23 de fevereiro de 2000).
			<a href="http://alerjln1.alerj.rj.gov.br/scpro99.nsf/09040f4ca8336dd4832567040006b057/9cdf0cb30f07fe1e0325689700616f58">De
			Protestos Contra a Iniciativa da LAMSA, de Instalar uma Escultura de Exu
			dos Ventos</a>. <i>ALERJ</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1992-full.jpg" data-llb-src="href">
			<img src="gallery-1992.jpg">
		</a>
		<figcaption>
			<p>Construção da escultura, em 1992</p>
			<p class="credits">
				Foto: S.n. (1992),
				acervo Mário Cravo Júnior,
				via [Monica Maria Linhares Castrioto (22 de março de 2010).
				<a href="http://www.bdtd.uerj.br/handle/1/7446">Artes de Exu:
				intervenções artísticas e representações afro-brasileiras no Rio de
				Janeiro</a>. p.63. <i>UERJ</i>.]
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2000-full.jpg" data-llb-src="href">
			<img src="gallery-2000.jpg">
		</a>
		<figcaption>
			<p>Inauguração da escultura, em 2000</p>
			<p class="credits">
				Foto: S.n. (16 de dezembro de 2000),
				acervo Roberto Conduru,
				via [Monica Maria Linhares Castrioto (22 de março de 2010).
				<a href="http://www.bdtd.uerj.br/handle/1/7446">Artes de Exu:
				intervenções artísticas e representações afro-brasileiras no Rio de
				Janeiro</a>. p.81. <i>UERJ</i>.]
			</p>
		</figcaption>
	</figure>
</section>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Monica Maria Linhares Castrioto (22 de março de 2010).
			<a href="http://www.bdtd.uerj.br/handle/1/7446">Artes de Exu:
			intervenções artísticas e representações afro-brasileiras no Rio de
			Janeiro</a>. <i>UERJ</i>.
		</li>
	</ol>
</section>