---
layout: monument.ejs
name: Fonte Inglesa de Leão
alt_names: [
	"Fonte Inglesa do Alto da Boa Vista"
]
categoria: chafariz
tags: [
	"preliminar",
	"possui escrita",
	"sem descrição",
	"sem galeria"
]
series: [
	"Praça Afonso Viseu",
	"Andrew Handyside & Company"
]

data_inaug: 1884
data_circa: yes
altura: 1.6
largura: 0.81
material: 
autores: []

local: Praça Afonso Viseu
bairro: Alto da Boa Vista
lat: -22.96144
lon: -43.27329

imrj: 793
wikidata: Q67204049
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (8 de julho de 2023).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Produzida na fundição <i lang="en">Andrew Handyside & Company</i>, em 1884
		a julgar pela inscrição na própria fonte. A fonte já foi pintada diversas
		vezes, o que piora a legibilidade de sua autoria.
	</p>
	<p>
		Pela ilustração no catálogo, a fonte originalmente possuía uma concha presa
		por uma corrente. Além disso, percebe-se que o cano exposto logo abaixo da
		bacia da fonte era escondido por um adorno, hoje já quebrado. Finalmente, a
		cúpula inferior possuía uma abertura de propósito ambíguo, que
		foi fechada em algum ponto entre set/2011 e jun/2014, a julgar pelo Google
		Street View.
	</p>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1880-full.jpg" data-llb-src="href">
			<img src="gallery-1880.jpg">
		</a>
		<figcaption>
			<p>
				Fonte no catálogo da <i>A. Handyside & Co.</i>
			</p>
			<p class="credits">
				<a href="https://archive.org/details/illustratedcatoffountainsandvases/page/n37/mode/1up">Handyside's
				Ironwork. Price List Catalogue C. Fountains, Vases, &c.</a> (1880),
				Fountains 42, Nº23 (p.37) [via Internet Archive].
			</p>
		</figcaption>
	</figure>
	<figure>
		<img src="gallery-2011.jpg">
		<figcaption>
			<p>
				Registro de 2011 em que a fonte ainda possui a cúpula inferior aberta
			</p>
			<p class="credits">
				Foto: <a href="https://maps.app.goo.gl/tVjXbrSQjer7rnoZA">Google Street
				View</a> (setembro de 2011).
			</p>
		</figcaption>
	</figure>
	<figure class="sideways">
		<a href="gallery-2023a-full.jpg" data-llb-src="href">
			<img src="gallery-2023a.jpg">
		</a>
		<figcaption>
			<p>Caminho de pedras portuguesas</p>
			<p class="credits">
				Foto: Matheus Avellar (8 de julho de 2023).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023b-full.jpg" data-llb-src="href">
			<img src="gallery-2023b.jpg">
		</a>
		<figcaption>
			<p>Detalhe do leão, ano e autoria</p>
			<p class="credits">
				Foto: Matheus Avellar (8 de julho de 2023).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023c-full.jpg" data-llb-src="href">
			<img src="gallery-2023c.jpg">
		</a>
		<figcaption>
			<p>Detalhe da autoria inscrita na fonte</p>
			<p class="credits">
				Foto: Matheus Avellar (8 de julho de 2023).
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		A fonte possui os seguintes inscritos:
	</p>
	<pre class="inscription-text">1884</pre>
	<pre class="inscription-text">
A Handyside & C<small><sup style="text-decoration:underline">o</sup></small> L<small><sup style="text-decoration:underline">D</sup></small>
Derby & London</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>