---
layout: monument.ejs
name: Monumento ao Almirante Tamandaré
categoria: estátua
tags: [
	possui escrita
]
series: [ Praia de Botafogo ]

data_inaug: 1937-12-28
altura: 14
largura: 
material: [
	Granito,
	Bronze
]
autores: [
	Hildegardo Leão Veloso
]

local: Praia de Botafogo
bairro: Botafogo
lat: -22.9413
lon: -43.1778

imrj: [ 281, 310 ]
wikidata: [ Q67203997, Q67204150 ]


tombado_nome: Decreto 14.334/1995
tombado_url: http://www2.rio.rj.gov.br/conlegis/ato.asp?3923
# http://wpro.rio.rj.gov.br/decretosmunicipais/acervo/6.Cesar%20Epitacio%20Maia%201993%20-%201996/Decreto%2014334/1.jpg
tombado_desc: "Art. 1º: Fica tombado [...] o monumento em \
	homenagem ao Almirante Tamandaré, situado na Praça Tamandaré."
tombado_quote: true
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (2 de junho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Monumento_ao_Almirante_Tamandar%C3%A9_na_Praia_de_Botafogo_(lateral).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem ao almirante Joaquim Marques Lisboa, Marquês de Tamandaré
		(13/12/1807–20/03/1897), militar influente na história do país que
		participou das múltiplas guerras da época da independência do Brasil.
	</p>
	<blockquote>
		No pedestal ha duas figuras de effeito decorativo e que symbolisam a Gloria
		da Marinha. Ha, além disto, dois baixos-relevos, representando o almirante
		Tamandaré, objectiva, e subjectivamente. Elle, como simples marinheiro, como
		homem do mar a bordo de seu navio e, na outra face, como defensor de nossa
		bandeira, e da integridade nacional, na guerra do Paraguay etc.
	</blockquote>
	<cite>
		—
		S.n. (25 de novembro de 1937).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_04&pagfis=43685">Novos
		monumentos que se erguem</a>. <i>Correio da Manhã</i>, p.3 [via Hemeroteca
		Digital da Biblioteca Nacional].
	</cite>
	<p>
		A inauguração estava inicialmente prevista para o dia 13 de dezembro de
		1937 mas, "devido a mal tempo", foi transferida para o dia 28. Contou com a
		presença do então presidente, Getúlio Vargas, já após o golpe de estado e no
		início do Estado Novo.
	</p>
	<p>
		O chafariz, aos pés do monumento, foi instalado posteriormente – "nos anos
		1960", segundo o IMRJ. Também segundo o IMRJ, ele já está desativado desde
		2014. Tanto o IMRJ quanto o Wikidata separam o monumento do chafariz em dois
		identificadores distintos.
	</p>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1937a-full.jpg" data-llb-src="href">
			<img src="gallery-1937a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (29 de dezembro de 1937).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_04&pagfis=44190">Inaugurado
				o Monumento ao Almirante Tamandaré</a>. <i>Correio da Manhã</i>, p.3
				[via Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1937b-full.jpg" data-llb-src="href">
			<img src="gallery-1937b.jpg">
		</a>
		<figcaption>
			<p>Inauguração do monumento</p>
			<p class="credits">
				Reportagem: S.n. (8 de janeiro de 1938).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=083712&pagfis=63222">Almirante
				Tamandaré</a>. <i>Careta</i>, p.29 [via Hemeroteca Digital da
				Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p>Detalhe da inscrição</p>
			<p class="credits">
				Foto: Matheus Avellar (2 de junho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Monumento_ao_Almirante_Tamandar%C3%A9_na_Praia_de_Botafogo_(close-up).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no próprio monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Ao Almirante
Marquez de Tamandare
A Marinha Brasileira
1937</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]) %>