---
layout: monument.ejs
name: Chafariz dos Leões
categoria: chafariz
tags: [
	"preliminar",
	"animal:felino:leão"
]
series: [
	Palácio do Catete
]

data_inaug: 
altura: 
largura: 
material: [
	Mármore carrara
]

autores: []

local: Jardins do Palácio do Catete
bairro: Flamengo
lat: -22.92584
lon: -43.17573

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (1 de julho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Chafariz_dos_Le%C3%B5es_(julho_2023).jpg">Wikimeda
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Instalado algum tempo após a inauguração do palácio como sede da Presidência
		da República, pois o local inicialmente possuía um viveiro de aves.<sup>1</sup>
	</p>
	<p>
		O chafariz possuía bacias superiores, mas atualmente só lhe resta a base.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Magaly Cabral, Marcus Macri, Carlos Daetwyler Xavier (2019).
			<a href="https://museudarepublica.museus.gov.br/wp-content/uploads/2019/05/republica-em-documentos_jardim_web.pdf">República
			em Documentos: Série Documentos Museológicos nº 4 - Jardim Histórico do
			Museu da República</a>. <i>Museu da República</i>, p.23; 51.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2011-full.jpg" data-llb-src="href">
			<img src="gallery-2011.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Eduardo Pazos (3 de março de 2011),
				<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>,
				via
				<a href="https://commons.wikimedia.org/wiki/File:Chafariz_no_Pal%C3%A1cio_do_Catete.jpg">Wikimeda
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (1 de julho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Chafariz_dos_Le%C3%B5es_(julho_2023)_(close-up).jpg">Wikimeda
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>