---
layout: monument.ejs
name: Alegoria da Oceania
alt_names: [ Océanie ]
categoria: escultura
tags: [
	"preliminar"
]
series: [
	"Alegorias aos Cinco Continentes",
	"Palácio do Catete"
]

data_inaug: 1906
data_circa: true
altura: 
largura: 
material: 

autores: []

local: Jardins do Palácio do Catete
bairro: Flamengo
lat: -22.92607
lon: -43.17356

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Carlos Luis da Cruz (29 de setembro de 2016),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:Alegoria_a_europa_(1).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Obra provavelmente também por Mathurin Moreau, assim como as outras 4
		alegorias aos continentes; porém, ela é a única não creditada no catálogo
		da Fundição Val d'Osne.<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Fabrício Augusto Guimarães Gonçalves (2018).
			<a href="http://hdl.handle.net/11422/6579">As crianças assassinas:
			violência na representação de alegorias aos cinco continentes do Museu da
			República</a>. <i>Escola de Belas Artes, Universidade Federal do Rio de
			Janeiro</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>
