---
layout: monument.ejs
name: Ponte do Saber
categoria: obra
tags: [
	sem descrição,
	sem galeria
]

data_inaug: 2012-02-17
altura: 98.5
largura: 11.3
comprimento: 780
peso: 
material: Concreto

autores: [
	Alexandre Chan
]

local: Ponte do Saber
bairro: Cidade Universitária
lat: -22.8663
lon: -43.2316

imrj: 
wikidata: Q10351475
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Marcelo Horn (17 de fevereiro de 2012),
			<a href="https://creativecommons.org/licenses/by/2.0/deed.en">CC-BY-2.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Ponte_do_Saber_-_Ponte_Estaiada_-_UFRJ_1_ponte_02.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="refs">
<!-- 	<ol>
	</ol> -->
</section>
<section class="gallery">
<!-- 	<h2>Galeria</h2>
	<figure>
		<a href="/assets/" data-llb-src="href">
			<img src="/assets/">
		</a>
		<figcaption>
		</figcaption>
	</figure> -->
</section>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol>
		<li>
			https://g1.globo.com/rio-de-janeiro/noticia/2012/02/ponte-estaiada-da-cidade-universitaria-e-inaugurada-no-rj.html
		</li>
	</ol> -->
</section>
