---
layout: monument.ejs
name: Marco Comemorativo do Desembarque da Imperatriz
categoria: chafariz
tags: [
	"sem descrição",
	"sem galeria"
]
series: [
	Praça Jornal do Comércio
]

data_inaug: 1872-12-02
altura: 
largura: 
material: 

autores: [
	Francisco Joaquim Bethencourt da Silva
]

local: Praça Jornal do Comércio
bairro: Saúde
lat: -22.89692
lon: -43.18728

imrj: 
wikidata: 
---
<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Caio Clímaco (10 de outubro de 2020), via
			<a href="https://commons.wikimedia.org/wiki/File:Cais_do_Valongo.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p></p>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2013-full.jpg" data-llb-src="href">
			<img src="gallery-2013.jpg">
		</a>
		<figcaption>
			<p>Detalhe do monumento</p>
			<p class="credits">
				Foto: Luis Alexandre Franco Gonçales (13 de julho de 2013),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA 4.0</a>,
				via
				<a href="https://commons.wikimedia.org/wiki/File:Cais_do_Valongo_-_RJ.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Neste local existiu o Cais da Imperatriz. Em 1843, o antigo Cais do Valongo foi
alargado e embelezado para receber a futura Imperatriz Teresa Cristina, que
chegava para casar com D. Pedro II</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Tania Andrade Lima, Glaucia Malerba Sene, Marcos André Torres de Souza (2016).
			<a href="https://www.scielo.br/j/anaismp/a/vjWTwK9V4gPSSZWjgVZ8tTb/">Em busca
			do Cais do Valongo, Rio de Janeiro, século XIX</a>.
			<i>Anais do Museu Paulista: História e Cultura Material</i>, vol.24, Nº1.
			doi:<a href="https://doi.org/10.1590/1982-02672016v24n0111">10.1590/1982-02672016v24n0111</a>.
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]); %>