---
layout: monument.ejs
name: Chafariz de Grandjean de Montigny
categoria: chafariz
tags: [
	"preliminar",
	"sem descrição",
	"sem galeria",
	"imagem não-livre"
]
series: []

data_inaug: 1842
data_circa: true
altura: 
largura: 
material: 
autores: []

local: Praça Afonso Viseu
bairro: Alto da Boa Vista
lat: -22.96123
lon: -43.2734

imrj: 792
wikidata: Q67203459
---
<!-- 
	É tombado
https://www.gov.br/bn/pt-br/central-de-conteudos/noticias/praca-11-de-junho
http://querepublicaeessa.an.gov.br/temas/60-conte-uma-hist%C3%B3ria/205-um-belo-jardim.html
https://web.archive.org/web/20130515030647/http://ashistoriasdosmonumentosdorio.blogspot.com/2010/07/chafariz-da-pracinha-do-alto-da-boa.html
http://www.rio.rj.gov.br/web/guest/exibeconteudo?id=1905248
 -->
<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (8 de dezembro de 2020).
		</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1913-full.jpg" data-llb-src="href">
			<img src="gallery-1913.jpg">
		</a>
		<figcaption>
			<p>
				Chafariz na Praça Onze de Junho durante o cortejo fúnebre do prefeito
				Pereira Passos, em 1913.
			</p>
			<p class="credits">
				Foto: Augusto Malta (31 de maio de 1913).
				<a href="https://brasilianafotografica.bn.gov.br/brasiliana/handle/20.500.12156.1/4795">Cortejo
				fúnebre do prefeito Pereira Passos</a>. <i>Instituto Moreira Salles</i>
				[via Brasiliana Fotográfica].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-c1922-full.jpg" data-llb-src="href">
			<img src="gallery-c1922.jpg">
		</a>
		<figcaption>
			<p>
				Chafariz na Praça Onze de Junho, circa 1922.
			</p>
			<p class="credits">
				Foto: Augusto Malta (circa 1922).
				<a href="http://acervo.bndigital.bn.br/sophia/index.asp?codigo_sophia=62928">Praça
				11 de Junho</a> [via Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1942-full.jpg" data-llb-src="href">
			<img src="gallery-1942.jpg">
		</a>
		<figcaption>
			<p>
				Chafariz, provavelmente durante as obras da Avenida
				Presidente Vargas, em foto datada de 1942.
			</p>
			<p class="credits">
				Foto: Hélio Alves de Brito (1942). BR RJANRIO C7.0.FOT.41 via Arquivo
				Nacional. Obtido a partir de: S.n. (4 de fevereiro de 2020).
				<a href="http://querepublicaeessa.an.gov.br/temas/60-conte-uma-hist%C3%B3ria/205-um-belo-jardim.html">Praça
				Onze de Junho</a>. <i>Que República é essa?</i>
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma placa próxima ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>