---
layout: monument.ejs
name: Marco de Inauguração do Terminal 2 do Aeroporto do Galeão
categoria: marco
tags: [
	"possui escrita"
]
series: [
	Aeroporto Internacional Tom Jobim
]

data_inaug: 1999-07-20
altura: 
largura: 
material: 
autores: []

local: Terminal 2
bairro: Galeão
lat: -22.81422
lon: -43.24694

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (24 de julho de 2023).
		</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (24 de julho de 2023).
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Aeroporto Internacional
do Rio de Janeiro/Galeão-
Antonio Carlos Jobim

Terminal de Passageiros 2
Inaugurado em 20 de julho de 1999

Presidente da República
Fernando Henrique Cardoso

Ministro da Defesa
Elcio Alvares

Comandante da Aeronáutica
Ten Brig Walter Werner Bräuer

Presidente da Infraero
Eduardo Bogalho Pettengill

Superintendente
Marco Antonio Marques de Oliveira

Infraero

Comando
da
Aeronáutica

Ministério da Defesa

Governo Federal</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Veja mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>