---
layout: monument.ejs
name: Guarda-sol do Metrô do Flamengo
categoria: obra
tags: [
	"preliminar"
]

data_inaug: 
altura: 
largura: 
material: 
autores: 

local: 
bairro: Flamengo
lat: -22.93721
lon: -43.17803

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (2 de junho de 2023).
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="refs">
</section>
<section class="gallery">
</section>
<section class="inscription">
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]) %>
