---
layout: monument.ejs
name: Relógio do Méier I(a)
categoria: obra
tags: [
	"preliminar",
	"possui escrita",
	"sem descrição"
]
series: [
	"Relógios do Méier"
]

data_inaug: 
altura: 
largura: 
material: 
autores: []

local: Praça Carlos Alberto Bencardino
bairro: Méier
lat: -22.90357
lon: -43.28438

imrj: 882
wikidata: Q67205379
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (8 de novembro de 2023).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		A praça onde o relógio está localizado foi nomeada Praça Carlos Alberto
		Bencardino em 6 janeiro de 2023;<sup>1</sup> uma placa em homenagem a
		Carlos Bencardino foi afixada ao monumento posteriormente.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Berenice Seara (7 de janeiro de 2023).
			<a href="https://extra.globo.com/noticias/extra-extra/eduardo-paes-cria-praca-em-homenagem-ao-ex-vereador-carlos-alberto-bencardino-25640079.html">Eduardo
			Paes cria praça em homenagem ao ex-vereador Carlos Alberto Bencardino</a>.
			<i>Extra</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa na base do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
<small>10/03/1959
05/09/2022</small>

Rio
Prefeitura

Carlos Bencardino nasceu e morou por toda sua
vida no Grande Méier. Como servidor da prefeitura,
por 45 anos, manteve o olhar atento aos
problemas da região, agindo como porta-voz da
população, sempre buscando soluções. Focado no
futuro, bem como no desenvolvimento do Rio de
Janeiro, Bencardino desempenhou uma trajetória
política pautada em ajudar quem mais precisa.

Administrador por formação, gestor do Centro
Municipal de Saúde Milton Fontes Magarão,
subprefeito do Grande Méier, vereador da cidade
do Rio de Janeiro, pai, morador e apaixonado pelo
bairro!

<small>"Benca, obrigado por tudo e por tanto." Família, amigos e cariocas.
Rio de Janeiro, julho de 2023</small></pre>
	<p>O relógio também possui o nome "Meier" inscrito em suas laterais.</p>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>