---
layout: monument.ejs
name: Portão Monumental do Parque Guinle
categoria: obra
tags: [
	"preliminar",
	"possui escrita",
	"sem descrição"
]
series: []

data_inaug: 
altura: 
largura: 
material: 
autores: []

local: Parque Eduardo Guinle
bairro: Laranjeiras
lat: -22.93154
lon: -43.18251

imrj: 416
wikidata: Q67203553
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (12 de janeiro de 2024).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Em cada lado do portão estão presentes duas esculturas de grifo, ou leão
		alado, design de Eugène-Louis Lequesne.<sup>1</sup> Foram provavelmente
		produzidas pelas fundições do Val d'Osne após a aquisição da fundição Ducel
		em 1878 – o design aparece no catálogo Planche 238, Folio 405 como
		nº10613.<sup>2</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (18 de julho de 1863).
			<a href="https://gallica.bnf.fr/ark:/12148/bpt6k6221091c/f13.item">Exposition
			des Beaux-Arts</a>, <i>Le Monde Illustré</i> , p.45 [via Bibliothèque
			nationale de France].
		</li>
		<li>
			S.n. (circa 1878).
			<a href="https://e-monumen.net/patrimoine-monumental/duc_vo_pl0238-ducel-val-dosne-pl-238-animaux-divers-ronde-bosse/">DUC_VO_PL238_F405
			– Animaux divers ronde bosse</a>, planche 238, fl.405 [via E-monumen].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2024a-full.jpg" data-llb-src="href">
			<img src="gallery-2024a.jpg">
		</a>
		<figcaption>
			<p>Iniciais de Eduardo Guinle no portão.</p>
			<p class="credits">
				Foto: Matheus Avellar (12 de janeiro de 2024).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2024b-full.jpg" data-llb-src="href">
			<img src="gallery-2024b.jpg">
		</a>
		<figcaption>
			<p>Uma de duas esculturas iguais em frente ao portão.</p>
			<p class="credits">
				Foto: Matheus Avellar (12 de janeiro de 2024).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2024c-full.jpg" data-llb-src="href">
			<img src="gallery-2024c.jpg">
		</a>
		<figcaption>
			<p>
				Um dos dois "<i lang="fr">Griffon ailé</i>" de Eugène-Louis Lequesne.
			</p>
			<p class="credits">
				Foto: Matheus Avellar (12 de janeiro de 2024).
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no portão contendo o seguinte texto:
	</p>
	<pre class="inscription-text">EG</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>