---
layout: monument.ejs
name: Busto de Carmen Miranda
categoria: busto
tags: [
	"preliminar",
	"possui escrita",
	"sem descrição"
]
series: []

data_inaug: 1960-11
altura: 
largura: 
material: 
autores: [
	Matheus Fernandes
]

local: 
bairro: Jardim Guanabara
lat: -22.81875
lon: -43.19160

imrj: 1192
wikidata: Q67204137
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (11 de fevereiro de 2024).
		</p>
	</figcaption>
</figure>
<section class="description">
	<blockquote>
		Segundo a Secretaria de Conservação, em 1960, a loja O Rei da Voz,
		que pertencia ao empresário Abraham Medina, doou à cidade o busto em
		homenagem à cantora. Ele foi colocado no Largo da Carioca. [...] Com
		as obras do metrô, em 1979, foi removido e transferido para a praça, na
		Rua Carmen Miranda, na Ilha do Governador.
	</blockquote>
	<cite>
		— S.n. (18 de outubro de 2012).
		<a href="https://oglobo.globo.com/rio/bairros/homenageados-com-monumentos-no-bairro-deixam-moradores-em-duvida-sobre-sua-ligacao-com-lugar-6447838">Homenageados
		com monumentos no bairro deixam moradores em dúvida sobre sua ligação com o
		lugar</a>. <i>O Globo</i>.
	</cite>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Carmen Miranda</pre>
	<p>
		Há também inscrições no próprio monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Mateus Fernandes
Rio&thinsp;-&thinsp;6&thinsp;-&thinsp;9&thinsp;-&thinsp;60
</pre>
	<pre class="inscription-text">
Fun. - Zani
Rio</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>