---
layout: monument.ejs
name: Marco do Caminho dos Pescadores Ted Boy Marino
categoria: marco
tags: [
	"preliminar",
	"possui escrita"
]
series: [
	"Praia do Leme"
]

data_inaug: 
altura: 
largura: 
material: []
autores: []

local: Praia do Leme
bairro: Leme
lat: -22.96326
lon: -43.16451

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (30 de abril de 2024)
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		O monumento contém o seguinte texto:
	</p>
	<pre class="inscription-text">
Prefeitura
da Cidade do Rio de Janeiro

CAMINHO DOS PESCADORES
TED BOY MARINO

<small>ATOR E LUTADOR DE TELECATCH (1939-2012)</small>

Ted Boy Marino

<small>Lei Municipal nº 5.732, de 10 de abril de 2014
PLACA DOADA PELA FAMÍLIA</small></pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>