---
layout: monument.ejs
name: Marco do Início das Obras do Bosque da Barra
categoria: marco
tags: [
	"preliminar",
	"possui escrita"
]
series: [
	"Bosque da Barra"
]

data_inaug: 1979-09
altura: 
largura: 
material: 

autores: []

local: Bosque da Barra
bairro: Barra da Tijuca
lat: -22.99738695
lon: -43.36810819

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (4 de junho de 2023),
			via
			<a href="https://commons.wikimedia.org/wiki/File:Marco_do_in%C3%ADcio_das_obras_do_Bosque_da_Barra_(close-up).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (4 de junho de 2023),
				via
				<a href="https://commons.wikimedia.org/wiki/File:Marco_do_in%C3%ADcio_das_obras_do_Bosque_da_Barra_(ampla).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Prefeitura
da Cidade do Rio de Janeiro

Marco comemorativo do início das
obras de implantação do Bosque
da Barra.

          Setembro de 1979</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>