---
layout: monument.ejs
name: Marco de Inauguração do Espaço Pablo Neruda
categoria: marco
tags: [
	"possui escrita",
	"removido"
]
series: [ Praia de Botafogo ]

data_inaug: 2004-11-05
data_remov: 2018
data_remov_circa: true
motiv_remov: furtado

altura: 
largura: 
material: 
autores: 

local: Praia de Botafogo
bairro: Botafogo
lat: -22.94274
lon: -43.1809

imrj: 285
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (2 de junho de 2023).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Inaugurado em homenagem a Pablo Neruda (12/06/1904–23/09/1973), influente
		poeta, senador e diplomata chileno que recebeu o Prêmio Nobel da Literatura
		em 1971. O marco foi inaugurado alguns meses após o centenário de seu
		nascimento, em 5 de novembro de 2004.<sup>1</sup>
	</p>
	<p>
		A inauguração contou com a presença do então prefeito (2001–2009) Cesar Maia,
		e do então presidente do Chile (2000–2006) Ricardo Lagos Escobar.<sup>1</sup>
		Vera Dias, no IMRJ, possui algumas fotos da inauguração.
	</p>
	<p>
		Baseado em imagens do Google Street View, verifica-se que a placa foi
		removida em algum ponto entre abril de 2017 e fevereiro de 2018.<sup>2</sup>
		Vera Dias data o desaparecimento como novembro de 2018 – provavelmente
		querendo dizer novembro de 2017. A pedra, contudo, continua lá.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (6 de novembro de 2004).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=364568_19&pagfis=68175">Prefeitura
			abre espaço ao poeta Pablo Neruda</a>.
			<i>Jornal do Commercio</i>, p.A-17 [via Hemeroteca Digital da Biblioteca
			Nacional].
		</li>
		<li>
			S.n. (fevereiro de 2018).
			<a href="https://www.google.com/maps/@-22.9427533,-43.1806027,3a,15y,276.05h,86.42t/data=!3m7!1e1!3m5!1s97yIulB3ovcxiHczRGCIMQ!2e0!5s20180201T000000!7i13312!8i6656">Google
			Street View</a>.
		</li>
	</ol>
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Havia uma placa no marco contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Prefeitura
da Cidade
do Rio de Janeiro

Espaço Pablo Neruda

No 5º dia do mês de novembro do ano de 2004,
foi inaugurado o Espaço Pablo Neruda
uma comemoração à passagem do centenário
de nascimento (1904/2004) do poeta chileno,
<small>pelo Presidente da República do Chile,</small> Ricardo Lagos Escobar
<small>e pelo Prefeito da Cidade do Rio de Janeiro,</small> Cesar Maia
Com a presença dos secretários municipais
<small>de Meio Ambiente,</small> Ayrton Xerez
<small>e das Culturas,</small> Ricardo Macieira.
</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]) %>