---
layout: monument.ejs
name: Estátua de Carlo Del Prete
internal_ref: delpreteestatua
categoria: estátua
tags: [
	"preliminar",
	"sem descrição"
]

data_inaug: 
altura: 
largura: 
material: [
	Bronze
]
autores: 

local: Praça Carlo Del Prete
bairro: Laranjeiras
lat: -22.93297
lon: -43.18448

imrj: 413
wikidata: Q67205556
---
<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Jmbrasil (16 de outubro de 2021),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Carlo_Del_Prete_2021-10-16_frente.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2> -->
</section>
<%- makeRelated([ "delpreteaviao" ], arguments[0]) %>