---
layout: monument.ejs
name: Busto de Carmen Gomes
categoria: busto
tags: [
	"possui escrita"
]

data_inaug: 1958-06-24
altura: 
largura: 
peso: 
material: 

autores: [
	José Barreto
]

local: Praça Paris
bairro: Glória
lat: -22.9168
lon: -43.1759

imrj: 234
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Jubsgomes (10 de novembro de 2014),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Busto_da_Cantora_L%C3%ADrica_Carmen_Gomes.JPG">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Busto em homenagem a Carmen Gomes (05/03/1900–12/07/1955), o primeiro busto
		instalado na chamada "Praça dos Artistas", seção da Praça Paris, na Glória.<sup>1,2,3</sup>
	</p>
	<p></p>
	<blockquote>
		Cantora lírica, fez sucesso nos anos 1930 com repertório italiano. Fez parte
		da embaixada artística que acompanhou Getúlio Vargas à Argentina.
	</blockquote>
	<cite>
		—Clarissa Pains (7 de março de 2012). <a href="https://oglobo.globo.com/rio/falta-mulher-de-bronze-no-rio-4253074">Falta
		mulher (de bronze) no Rio</a>. <i>O Globo</i>.
	</cite>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (17 de junho de 1958). <a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_03&pesq=%22Pra%C3%A7a%20Paris%22&pagfis=73248">Busto
			de Carmen Gomes na Praça Dos Artistas</a>. <i>Diario de Noticias</i>. p.1,
			segunda seção.
		</li>
		<li>
			S.n. (18 de junho de 1958). <a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_03&pesq=%22Pra%C3%A7a%20Paris%22&pagfis=73274">Adiada
			a Inauguração do Busto de Carmen Gomes</a>. <i>Diario de Noticias</i>. p.1,
			segunda seção.
		</li>
		<li>
			S.n. (24 de junho de 1958). <a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_03&pesq=%22Pra%C3%A7a%20Paris%22&pagfis=73455">Inaugura-se
			Hoje «Praça dos Artistas»</a>. <i>Diario de Noticias</i>. p.2, primeira
			seção.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="1958-06-24--diario-de-noticias.png" data-llb-src="href">
			<img src="1958-06-24--diario-de-noticias.png">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (24 de junho de 1958).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_03&pesq=%22Pra%C3%A7a%20Paris%22&pagfis=73455">Inaugura-se
				Hoje «Praça dos Artistas»</a>. <i>Diario de Noticias</i>. p.2.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2016-full.jpg" data-llb-src="href">
			<img src="gallery-2016.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: WapJst (13 de agosto de 2016),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
				via <a href="https://commons.wikimedia.org/wiki/File:Carmen_Gomes.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição abaixo do busto de Carmen Gomes, contendo o seguinte
		texto:
	</p>
	<pre class="inscription-text">
Cantora lírica
Carmen Gomes

05-03-1900
12-07-1955</pre>
</section>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol>
		<li>
		</li>
	</ol> -->
</section>
