---
layout: monument.ejs
name: Marco de Inauguração do Túnel Prefeito Marcello Alencar
categoria: busto
tags: [
	"preliminar",
	"possui escrita",
	"sem descrição"
]
series: []

data_inaug: 2016-06-19
altura: 
largura: 
material: 
autores: []

local: 
bairro: Gamboa
lat: -22.89279
lon: -43.19461

imrj: 
wikidata: 
---

<figure>
	<!-- <a href="photo.jpg" data-llb-src="href"> -->
		<img src="thumb.jpg">
	<!-- </a> -->
	<figcaption>
		<p class="credits">
			Foto: <a href="https://maps.app.goo.gl/hVgz2w9PF6G1Uz3z9">Google Street View</a>
			(novembro de 2021).
		</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2016-full.jpg" data-llb-src="href">
			<img src="gallery-2016.jpg">
		</a>
		<figcaption>
			<p>Prefeito Eduardo Paes na ocasião da inauguração</p>
			<p class="credits">
				Foto: Tomaz Silva (19 de junho de 2016), via
				<a href="https://agenciabrasil.ebc.com.br/foto/2016-06/prefeitura-inaugura-tunel-prefeito-marcello-alencar-no-rio-1582359320-2">Agência
				Brasil</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Túnel Prefeito
Marcello Alencar

Eduardo Paes
Prefeito da Cidade do Rio de Janeiro

Rafael Picciani
Secretário Executivo de Coordenação do Governo

Alexandre Sansão
Secretário Municipal de Transportes

Jorge Arraes
Secretário Especial de Concessões
e Parcerias Público-Privadas

Alberto Gomes Silva
Presidente da Companhia de Desenvolvimento
Urbano da Região do Porto do Rio de Janeiro

José Renato Ponte
Presidente da Concessionária Porto Novo

Inauguração
Rio de Janeiro, junho de 2016</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Flávia David (19 de junho de 2016).
			<a href="http://www.rio.rj.gov.br/web/guest/exibeconteudo?id=6214944">Prefeitura
			entrega o novo Túnel Prefeito Marcello Alencar na Região Portuária</a>.
			<i>Prefeitura da Cidade do Rio de Janeiro</i> [via
			<a href="https://web.archive.org/web/20160915001446/http://www.rio.rj.gov.br/web/guest/exibeconteudo?id=6214944">Wayback
			Machine</a>].
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]); %>