---
layout: monument.ejs
name: Mural Etnias
alt_names: [ "Todos Somos Um" ]
categoria: obra
tags: []

data_inaug: 2016-07-30
altura: 15
largura: 
comprimento: 170
peso: 
material: 

autores: [
	Eduardo Kobra
]

local: Boulevard Olímpico
bairro: Gamboa
lat: -22.89426
lon: -43.18727

imrj: 
wikidata: Q26234737
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Fernando Frazão via <a href="https://agenciabrasil.ebc.com.br/foto/2023-01/memorial-vitimas-do-holocausto-inaugura-exposicao-permanente-1673992289">Agência
			Brasil</a> (17 de janeiro de 2023).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Mural realizado para os Jogos Olímpicos de Verão Rio 2016, ele retrata cinco
		rostos que simbolizam povos indígenas nativos de cada continente. Ganhou o
		título de "maior grafite do mundo feito por um único artista" ao ser
		inaugurado, em 30 de julho de 2016.<sup>1,2</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Flávia David (19 de julho de 2016).
			<a href="https://www.rio.rj.gov.br/web/guest/exibeconteudo?id=6286029">Rio
			ganha o maior grafite do mundo para os Jogos Rio 2016</a>. <i>Prefeitura
			da Cidade do Rio de Janeiro</i>.
		</li>
		<li>
			S.n. (30 de julho de 2016).
			<a href="https://oglobo.globo.com/rio/maior-grafite-do-mundo-feito-por-um-so-artista-inaugurado-neste-sabado-19817800">Maior
			grafite do mundo feito por um só artista é inaugurado neste sábado</a>.
			<i>O Globo</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2016a-full.jpg" data-llb-src="href">
			<img src="gallery-2016a.jpg">
		</a>
		<figcaption>
			<p>Mural antes de sua inauguração</p>
			<p class="credits">
				Foto: Fernando Frazão (22 de julho de 2016), via
				<a href="https://agenciabrasil.ebc.com.br/foto/2016-07/eduardo-kobra-pinta-mural-com-etnias-dos-cinco-continentes-1582359342-4">Agência
				Brasil</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2016b-full.jpg" data-llb-src="href">
			<img src="gallery-2016b.jpg">
		</a>
		<figcaption>
			<p>Mural antes de sua inauguração</p>
			<p class="credits">
				Foto: Fernando Frazão (22 de julho de 2016), via Agência Brasil.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2019-full.jpg" data-llb-src="href">
			<img src="gallery-2019.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: <a href="https://unsplash.com/@mlshajder">Milos Hajder</a> (2019),
				via <a href="https://unsplash.com/photos/RPBxZD-vFes">Unsplash</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Eduardo Kobra (2016).
			<a href="https://www.eduardokobra.com/projeto/26/etnias">Etnias</a>.
			<i>eduardokobra.com</i>.
		</li>
	</ol>
</section>