---
layout: monument.ejs
name: Marco de Inauguração do Parque Marcelo de Ipanema
categoria: marco
tags: [
	"preliminar",
	"possui escrita"
]
series: []

data_inaug: 1995-06
altura: 
largura: 
material: []
autores: []

local: Parque Marcelo de Ipanema
bairro: Jardim Guanabara
lat: -22.81932
lon: -43.20224

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (23 de abril de 2024).
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2024-full.jpg" data-llb-src="href">
			<img src="gallery-2024.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (23 de abril de 2024).
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Prefeitura
da Cidade do Rio de Janeiro

Parque Marcelo de Ipanema
Inaugrado em Junho de 1995

Prefeito
Cesar Maia

Secretário Municipal de Meio Ambiente
Alfredo Sirkis

Presidente da Fundação Parques e Jardins
Marcelo Seixas de Matos</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>