---
layout: monument.ejs
name: Fonte Wallace no Parque Nacional da Tijuca
categoria: chafariz
tags: [
	"possui escrita",
	"sem descrição",
	"pessoa:mulher"
]
series: [
	"Fonte Wallace",
	"Parque Nacional da Tijuca"
]

data_inaug: 
altura: 
largura: 
material: 
autores: []

local: Jardim dos Manacás, Parque Nacional da Tijuca
bairro: Alto da Boa Vista
lat: -22.95533
lon: -43.28507

imrj: 1303
wikidata: Q67205519
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (8 de julho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Fonte_Wallace_no_Parque_Nacional_da_Tijuca_(julho_2023).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="refs">
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (8 de julho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Fonte_Wallace_no_Parque_Nacional_da_Tijuca_(julho_2023)_(placa).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa próxima ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Fonte Wallace
Autor: Charles Auguste Lebourg

      Originária das Fundições Barbezat, no Val D'osne, França,
esta fonte em ferro fundido recebe este nome por ter sido oferecida ao
povo francês pelo inglês Sir Richard Wallace. É até hoje admirada pela
harmonia dos quatro cariátides: a Bondade, a Caridade, a Sobriedade e
a Simplicidade. Além deste exemplar, existem outros dois na Praça Dom
Romualdo, em Santa Cruz, e no Parque da Cidade, na Gávea.
      A Fundação Parques e Jardins realizou a restauração dessa
fonte em Setembro de 1999, tendo sido a cúpula atual doada pela ASPM -
Association pour la Sauvegarde et la Promotion du Patrimoine Métallurgique Haut-
Marnais - ao IBAMA.

Parque Nacional da Tijuca

Gestão Compartilhada
IBAMA
MMA

Prefeitura do Rio
Secretaria Municipal de Meio Ambiente

Parques e Jardins</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>