---
layout: monument.ejs
name: Marco da Alameda João Maggessi
categoria: marco
tags: [
	"possui escrita"
]
series: [
	"Parque Nacional da Tijuca"
]

data_inaug: 
altura: 
largura: 
material: 
autores: []

local: Parque Nacional da Tijuca
bairro: Alto da Boa Vista
lat: -22.95526
lon: -43.28712

imrj: 1237
wikidata: Q67205512
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (8 de julho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Marco_da_Alameda_Jo%C3%A3o_Maggessi_(julho_2023).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem a João Maggessi de Castro Pereira (18/03/1853–30/12/1921),<sup>1</sup>
		o último no cargo de Administrador da Floresta da Tijuca, onde esteve de
		1904 até sua morte.
	</p>
	<p>
		Foi assim nomeada antes de 1966, pois há reportagem em 23 de outubro de 1966
		comentando sobre seu descuido:
	</p>
	<blockquote>
		A pavimentação da Estrada da Cascatinha se apresenta em bom estado, o que,
		todavia, já não ocorre com relação às outras alamêdas, onde os buracos vão
		tomando conta da pista de rolamento de modo verdadeiramente impressionante,
		como é o caso da Alamêda João Maggessi. Apresenta-se ela de tal modo
		esburacada que nenhum automobilista poderá sentir entusiasmo em percorrê-la
		[...].
	</blockquote>
	<cite>
		— S.n. (23 de outubro de 1966).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_07&pagfis=75866">Crime
		contra a natureza o abandono da Floresta da Tijuca</a>. <i>Correio da
		Manhã</i>, p.12 [via Hemeroteca Digital da Biblioteca Nacional].
	</cite>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (30 de dezembro de 1921).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_03&pesq=%22Jo%C3%A3o%20Maggessi%20de%20Castro%20Pereira%22&pagfis=8932"><%-
			cross %> João Maggessi de Castro Pereira</a>. <i>Correio da Manhã</i>, p.6
			[via Hemeroteca Digital da Biblioteca Nacional].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (8 de julho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Marco_da_Alameda_Jo%C3%A3o_Maggessi_(julho_2023)_(close-up).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">Alamêda
João Maggessi</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>