---
layout: monument.ejs
name: Marco de Restauração do Lago das Fadas
categoria: marco
tags: [
	"possui escrita"
]
series: [
	"Parque Nacional da Tijuca"
]

data_inaug: 1953-05-30
altura: 
largura: 
material: 
autores: []

local: Lago das Fadas, Parque Nacional da Tijuca
bairro: Alto da Boa Vista
lat: -22.95234
lon: -43.28381

imrj: 1238
wikidata: Q67205512
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Halley Pacheco de Oliveira (27 de dezembro de 2009),
			<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:Floresta_da_Tijuca_28.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Marco comemorando a restauração do Lago das Fadas, no Parque Nacional da
		Tijuca, em 30 de maio de 1953.
	</p>
	<blockquote>
		O sr. João Luiz de Carvalho, secretário de Agricultura, reintegrou na
		paisagem turística da cidade êsse verdadeiro sonho que é o "Lago das Fadas",
		lago artificial encravado nas florestas da Tijuca, abandonado há cêrca de 60
		anos [...]. Ontem, ocorreu a inauguração do Lago [...].
	</blockquote>
	<cite>
		— S.n. (31 de maio de 1953).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093092_04&pagfis=18827">Lago
		das Fadas</a>. <i>Diario Carioca</i>, p.12 [via Hemeroteca Digital da
		Biblioteca Nacional].
	</cite>
</section>
<section class="refs">
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1953-full.jpg" data-llb-src="href">
			<img src="gallery-1953.jpg">
		</a>
		<figcaption>
			<p>
				Inauguração do Lago das Fadas
			</p>
			<p class="credits">
				Reportagem: S.n. (31 de maio de 1953).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093092_04&pagfis=18827">Lago
				das Fadas</a>. <i>Diario Carioca</i>, p.12 [via Hemeroteca Digital da
				Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
    Lago das Fadas
Restaurado no Governo do
Presidente Getulio Vargas,
sendo Prefeito Dulcidio
Espirito Santo Cardoso e
Secretario Geral de Agricultura
João Luiz Carvalho
      Maio 1953</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>