---
layout: monument.ejs
name: Marcos na Praia do Leblon
alt_names: [
	"Marco de Inauguração da Murada do Leblon"
]
categoria: marco
tags: [
	"possui escrita",
	"sem descrição"
]
series: [
	"Praia do Leblon"
]

data_inaug: 1936-10-25
altura: 
largura: 
material: 
autores: []

local: Praia do Leblon
bairro: Leblon
lat: -22.98874
lon: -43.2277

imrj: 396
wikidata: Q67210200
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (9 de março de 2024).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Conjunto com dois marcos em um canteiro próximo no final da Praia do Leblon.
		Um deles é comemorativo à inauguração da muralha de proteção da avenida, e
		o início de obras da praça. O segundo, instalado 52 anos depois, marca a
		ação contra a poluição do mar por esgoto sanitário.
	</p>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2024a-full.jpg" data-llb-src="href">
			<img src="gallery-2024a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (9 de março de 2024).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2024b-full.jpg" data-llb-src="href">
			<img src="gallery-2024b.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (9 de março de 2024).
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
25 de Outubro de 1935

Presidente
Dr. Getulio Dornelles Vargas

Prefeito
Conego Olympio de Mello

Inauguração
da muralha de protecção da
Av. Delphim Moreira
e
Inicio das Obra desta Praça</pre>
	<p>
		Há uma placa próxima ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
CEDAE

Companhia Estadual
de Águas e Esgotos

Remanejamento do Emissário Terrestre
de Esgotos Leblon-Ipanema
em defesa da Praia do Leblon
contra a poluição por esgotos sanitários

Governador do estado
Wellington Moreira Franco

<small>Secretário de Estado de Desenvolvimento Urbano e Regional</small>
Haroldo Mattos de Lemos

<small>Presidente da CEDAE</small>
Nilton Pereira dos Santos
Rio de Janeiro 05 de Novembro de 1988</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>