---
layout: monument.ejs
name: Busto de Paulo de Frontin
categoria: busto
tags: [
	"preliminar"
]
series: [
	Cinelândia
]

data_inaug: 
altura: 
largura: 
material: []
autores: []

local: Praça Floriano Peixoto
bairro: Centro
lat: -22.91148
lon: -43.17568

imrj: 42
wikidata: Q67205112
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Halley Pacheco de Oliveira (3 de janeiro de 2012),
			<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:Busto_do_Engenheiro_Paulo_de_Frontin.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>