---
layout: monument.ejs
name: Placa
categoria: marco
tags: [
	"preliminar"
]
series: [
	"Praça Corvo Azul"
]

data_inaug: 
altura: 
largura: 
material: 

autores: []

local: Praça Corvo Azul
bairro: Bangu
lat: -22.84894
lon: -43.46275

imrj: 
wikidata: 
---

<figure>
	<!-- <a href="photo.jpg" data-llb-src="href"> -->
		<img src="thumb.jpg">
	<!-- </a> -->
	<figcaption>
		<p class="credits">
			Foto:
			<a href="https://www.google.com/maps/@-22.8490645,-43.4627754,3a,75y,21.16h,80.14t/data=!3m6!1e1!3m4!1sV7zjax36grs3Rd36pqZDSw!2e0!7i16384!8i8192">Google
			Street View</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%# makeOthersFromSeries(arguments[0]); %>