---
layout: monument.ejs
name: Chafariz Estrela
categoria: chafariz
tags: []
series: [ Praia de Botafogo ]

data_inaug: 1929-06-29
data_circa: true
altura: 
largura: 
material: 
autores: 

local: Praia de Botafogo
bairro: Botafogo
lat: -22.94314
lon: -43.18126

imrj: 312
wikidata: Q67204025
---


<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (2 de junho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Chafariz_Estrela_na_Praia_de_Botafogo.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Inaugurado pelo então prefeito (1926–1930) do Distrito Federal, Prado
		Júnior, durante obras de revitalização da Praia de Botafogo.
	</p>
	<p>
		Foi inaugurado provavelmente na semana de sábado, dia 29 de junho de 1929.
		Há duas reportagens no dia com fotografias do chafariz (então chamado de
		"repuxo", pelo que parece), e uma delas diz "recentemente inaugurados".<sup>1</sup>
	</p>
	<p>
		Segundo Vera Dias, no IMRJ, o chafariz já está desativado definitivamente
		desde maio de 2017.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			"T. M." (29 de junho de 1929).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=025909_02&pagfis=18664">Os
			novos repuxos dos jardins cariocas</a>. <i>Revista da Semana</i>, p.29
			[via Hemeroteca Digital da Biblioteca Nacional].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1929a-full.jpg" data-llb-src="href">
			<img src="gallery-1929a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (29 de junho de 1929).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=083712&pagfis=44042">O
				Novo Rio</a>. <i>Careta</i>, p.31
				[via Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1929b-full.jpg" data-llb-src="href">
			<img src="gallery-1929b.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: "T. M." (29 de junho de 1929).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=025909_02&pagfis=18664">Os
				novos repuxos dos jardins cariocas</a>. <i>Revista da Semana</i>, p.29
				[via Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2022-full.jpg" data-llb-src="href">
			<img src="gallery-2022.jpg">
		</a>
		<figcaption>
			<p>
				Detalhe da tubulação
			</p>
			<p class="credits">
				Foto: Boaventuravinicius (26 de setembro de 2022),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
				via
				<a href="https://commons.wikimedia.org/wiki/File:Chafariz_Estrela_05.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]) %>