---
layout: monument.ejs
name: Imperatriz Leopoldina
categoria: estátua
tags: []
series: [
	Quinta da Boa Vista
]

data_inaug: 1997-03-18
data_circa: 
altura: 
largura: 
peso: 
material: [
	Bronze
]

autores: [
	Edgar Duvivier
]

local: Quinta da Boa Vista
bairro: São Cristóvão
lat: -22.9056
lon: -43.2254

imrj: 655
wikidata: Q67205554
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Dornicke (9 de janeiro de 2015),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Edgar Duvivier - Imperatriz Leopoldina e seus filhos 02.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Estátua de Dona Maria Leopoldina (22/01/1797–11/12/1826) com seus filhos,
		Maria da Glória (Dona Maria II, ao lado) e Pedro de Alcântara (Dom Pedro II,
		no colo). Foi esculpida por Edgar Duvivier (pai)<sup>1</sup> em comemoração
		aos 200 anos do nascimento de Leopoldina.
	</p>
	<p>
		Vera Dias, do IMRJ, indica inauguração em 18 de março de 1997 e credita a
		iniciativa ao Instituto Histórico e Geográfico Brasileiro.<sup>2</sup> A
		Embaixada da Áustria credita o Cônsul-Geral da Áustria, Emanuel Helige, e o
		Embaixador da Áustria, Manfred Ortner, com a iniciativa.<sup>3</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (2 de agosto de 2001).
			<a href="https://www.estadao.com.br/cultura/escultor-edgar-duvivier-morre-no-rio-aos-85-anos/">Escultor
			Edgar Duvivier morre no Rio aos 85 anos</a>. <i>Estadão</i>.
		</li>
		<li>
			Vera Dias (8 de maio de 2011).
			<a href="https://web.archive.org/web/20200803174556/http://ashistoriasdosmonumentosdorio.blogspot.com/2011/05/o-terraco-da-quinta-da-boa-vista.html">O
			terraço da Quinta da Boa Vista</a>. <i>As histórias dos monumentos do Rio
			de Janeiro</i>.
		</li>
		<li>
			S.n. (s.d.).
			<a href="https://www.bmeia.gv.at/br/embaixada-da-austria-em-brasilia/austria-no-brasil/historia-das-relacoes-bilaterais/">Historia
			das relações bilaterais</a>. <i>Embaixada da Áustra em Brasília</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2022-full.jpg" data-llb-src="href">
			<img src="gallery-2022.jpg">
		</a>
		<figcaption>
			<p>
				Placa no pedestal da estátua
			</p>
			<p class="credits">
				Foto: Estela Neto (9 de setembro de 2022),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
				via <a href="https://commons.wikimedia.org/wiki/File:Imperatriz_Leopolina_-_Rio_de_Janeiro_-_20220909141850.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa em pedra no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
      À
  Imperatriz
D. Leopoldina
(1797 – 1826)
      O
    Brasil
 Independente</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol>
	</ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]) %>