---
layout: monument.ejs
name: Marco de Inauguração da Avenida Edson Passos
categoria: marco
tags: [
	"possui escrita"
]

data_inaug: 1940-12-21
altura: 
largura: 
peso: 
material: [
	Bronze,
	Granito
]

autores: 

local: 
bairro: Alto da Boa Vista
lat: -22.9517
lon: -43.2602

imrj: 796
wikidata: Q67203344
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (20 de março de 2022),
			via
			<a href="https://commons.wikimedia.org/wiki/File:Marco_de_inaugura%C3%A7%C3%A3o_da_Avenida_Edson_Passos.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Monumento em comemoração à inauguração da então Avenida Tijuca, atual
		Avenida Edson Passos, no Alto da Boa Vista. A inauguração contou a
		participação do então presidente (1937–1945) Getúlio Vargas.
	</p>
</section>
<section class="refs">
<!-- 	<ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1940-full.png" data-llb-src="href">
			<img src="gallery-1940.png">
		</a>
		<figcaption>
			<p>
				Getúlio Vargas inaugura a Av. Tijuca
			</p>
			<p class="credits">Foto: BR RJANRIO EH.0.FOT, PRP.1471 d0015de0015/Arquivo
			Nacional (21 de dezembro de 1940).</p>
		</figcaption>
	</figure>
	
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento, contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Avenida Tijuca
  1938-1940

Presidente da Republica
D<sup>r</sup> Getulio Vargas

Prefeito
D<sup>r</sup> Henrique Dodsworth

Secretario de Viação
Engº Edison Passos

        Fundição Americana – Rio</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol>
	</ol> -->
</section>