---
layout: monument.ejs
name: Estátua de Ismael Silva
categoria: estátua
tags: [
	possui escrita
]

data_inaug: 2010-09-18
altura: 
largura: 
peso: 
material: [
	Bronze
]
autores: [
	Otto Dumovich
]

local: Praça Compositor Ismael Silva (antiga Praça Reverendo Álvaro Reis)
bairro: Cidade Nova
lat: -22.91312
lon: -43.20267

imrj: 715
wikidata: Q67210207
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Donatas Dabravolskas (12 de setembro de 2022),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:Ismael_Silva_-_Rio_de_Janeiro_-_20220912074851.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem ao compositor de samba Mílton de Oliveira Ismael Silva
		(14/09/1905–14/03/1978), criador da primeira escola de samba do
		Brasil.<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (18 de setembro de 2010).
			<a href="https://g1.globo.com/rio-de-janeiro/noticia/2010/09/ismael-silva-pai-das-escolas-de-samba-ganha-estatua-no-rio.html">Ismael
			Silva, 'pai' das escolas de samba ganha estátua no Rio</a>. <i>G1</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2022-full.jpg" data-llb-src="href">
			<img src="gallery-2022.jpg">
		</a>
		<figcaption>
			<p>
				Placa aos pés da estátua
			</p>
			<p class="credits">
				Foto: Donatas Dabravolskas (12 de setembro de 2022),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
				via
				<a href="https://commons.wikimedia.org/wiki/File:Ismael_Silva_-_Rio_de_Janeiro_-_20220912074935.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa próxima à estátua contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Rio
Prefeitura

Homenagem aos 105 anos do natálicio de
Ismael Silva
1905 - 1978

Ismael Silva foi o fundador da primeira escola de
samba, a Deixa Falar, criada em 1927, atual Estácio
de Sá. Um dos maiores compositores de samba da
história. Ícone da malandragem carioca, e tido como
o pai das escolas de samba.

Rio de Janeiro, 18 de setembro de 2010.</pre>
	<p>
		A própria estátua também possui uma assinatura em seu pé contendo o seguinte
		texto:
	</p>
	<pre class="inscription-text">Otto Dumovich</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Veja mais</h2>
	<ul>
		<li>
			Otto Dumovich (2010).
			<a href="https://artsandculture.google.com/asset/ismael-silva-otto-dumovich/QAHA5u9OLCrqHQ">Ismael
			Silva</a>. <i>Google Arts &amp; Culture</i>.
		</li>
	</ul>
</section>
<section class="notes">
	<!-- <h2>Notas</h2> -->
</section>