---
layout: monument.ejs
name: Poesia em Ruínas
alt_names: [
	Poesia das Ruínas,
	Poesie des Ruines
]
categoria: escultura
tags: [
	"possui escrita",
	"pessoa:mulher"
]
series: [
	"Pereira Passos",
	"Praia de Botafogo"
]

data_inaug: 1911-10-22
altura: 2.26
largura: 1.4
material: [
	Mármore
]
autores: [
	Jean Marie Joseph Magrou
]

local: Praia de Botafogo
bairro: Botafogo
lat: -22.94217
lon: -43.18029

imrj: 304
wikidata: Q67210119

tombado_nome: Decreto 22.221/2002
tombado_desc: "Art. 9º Ficam tombados, provisoriamente [...] \
	os seguintes bens culturais localizados no bairro de Botafogo: [...] \
	a) ESTÁTUAS - 02. DA POESIA - situada nos Jardins da Praia de Botafogo"
tombado_quote: true
tombado_url: http://www0.rio.rj.gov.br/patrimonio/pastas/legislacao/botafogo_dec22221_02_apac_botafogo.pdf
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (2 de junho de 2023),
			via
			<a href="https://commons.wikimedia.org/wiki/File:Poesia_em_Ru%C3%ADnas_(ampla).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Instalada como parte das reformas na cidade do Rio de Janeiro pelo então
		prefeito (1902–1906) Pereira Passos, inspirado por reformas em Paris da
		época. Muitas esculturas foram encomendadas da França mas, devido a
		atrasos,<sup>1</sup> nem todas puderam ser instaladas durante sua
		administração.
	</p>
	<blockquote>
		Pariz, 12[/04/1911]. [...] O esculptor Magrou acaba de remeter para o Rio de
		Janeiro uma estatua, intitulada "A poesia das ruinas", que lhe foi
		encommendada pelo Dr. Pereira Passos para ornar o largo da Carioca.
	</blockquote>
	<cite>
		— S.n. (13 de abril de 1911).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=364568_10&pagfis=5231">França</a>.
		<i>Jornal do Commercio</i>, p.1 [via Hemeroteca Digital da Biblioteca
		Nacional].
	</cite>
	<p>
		Ao que parece, era inicialmente planejada para o Largo da Carioca, mas foi
		diretamente instalada nos jardins da Praia de Botafogo, onde permanece até
		hoje.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (1 de setembro de 1907).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=259764&pesq=weigele&pagfis=3247">Jardins
			publics de Rio</a>. <i>L'Étoile du Sud</i>, p.2 [via Hemeroteca Digital da
			Biblioteca Nacional].
		</li>
	</ol>
</section>
<section class="gallery">
	<figure class="sideways">
		<a href="gallery-1911-full.jpg" data-llb-src="href">
			<img src="gallery-1911.jpg">
		</a>
		<figcaption>
			<p>Inauguração da escultura</p>
			<p class="credits">
				Reportagem: S.n. (22 de outubro de 1911).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_02&pagfis=6786">A
				"Poesia das Ruinas"</a>. <i>Correio da Manhã</i>, p.1
				[via Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure class="sideways">
		<a href="gallery-1915-full.jpg" data-llb-src="href">
			<img src="gallery-1915.jpg">
		</a>
		<figcaption>
			<p>Escultura em 1915</p>
			<p class="credits">
				Foto: "Brun" (s.d.);
				Reportagem: "Antonius" (6 de fevereiro de 1915).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=259063&pagfis=20500">Os
				Marmores da Cidade</a>. <i>Fon-Fon!</i>, p.32
				[via Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-c1918-full.jpg" data-llb-src="href">
			<img src="gallery-c1918.jpg">
		</a>
		<figcaption>
			<p>Escultura circa 1918</p>
			<p class="credits">
				Foto: A. Ribeiro (circa 1918).
				<a href="https://acervos.ims.com.br/portals/#/detailpage/82725">Avenida
				Beira-Mar</a> [via Instituto Moreira Salles].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no próprio mármore contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Poesie des Ruines

Jean Magrou
Paris 1910</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<!-- <h2>Leia mais</h2> -->
</section>
<%- makeOthersFromSeries(arguments[0]) %>