---
layout: monument.ejs
name: Chafariz do Vaso
categoria: chafariz
tags: [
	"preliminar"
]
series: [ Praia de Botafogo ]

data_inaug: 
altura: 
largura: 
material: 
autores: 

local: Praia de Botafogo
bairro: Botafogo
lat: -22.94179
lon: -43.17971

imrj: 302
wikidata: Q67203323
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (2 de junho de 2023),
			via <a href="https://commons.wikimedia.org/wiki/File:Chafariz_do_Vaso,_Praia_de_Botafogo.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="refs">
</section>
<section class="gallery">
</section>
<section class="inscription">
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]) %>