---
layout: monument.ejs
name: Efígie de Almirante Cochrane
categoria: busto
tags: [
	"possui escrita"
]
series: []

data_inaug: 1970-07-09
altura: 
largura: 
material: []
autores: []

local: Rua Almirante Cochrane
bairro: Tijuca
lat: -22.92238
lon: -43.23114

imrj: 705
wikidata: Q67205216
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (15 de julho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Monumento_ao_Almirante_Cochrane_(julho_2023).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem a Thomas Cochrane (14/12/1775–31/10/1860), navegador da marinha
		combatente em prol da independência de múltiplos países.
	</p>
	<p>
		Inaugurado em 9 de julho de 1970 pelo então governador (1965–1971) Francisco
		Negrão de Lima:
	</p>
	<blockquote>
		O governador Negrão de Lima inaugurou ontem o Monumento do Almirante
		Cochrane, na esquina das ruas Santo Antônio e Almirante Cochrane, na
		Tijuca em solenidade [...]
	</blockquote>
	<cite>
		— S.n. (10 de julho de 1970).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=110523_06&pagfis=85981">Governador
		inaugura monumento</a>. <i>O Jornal</i>, p.8 [via Hemeroteca Digital da
		Biblioteca Nacional].
	</cite>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1970-full.jpg" data-llb-src="href">
			<img src="gallery-1970.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: S.n. (9 de julho de 1970). "<i>Homenagem da Tijuca ao Almirante
				Cochrane</i>". <i>O Globo</i>, p.15 [via
				<a href="https://oglobo.globo.com/acervo/">Acervo O Globo</a>].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (15 de julho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Monumento_ao_Almirante_Cochrane_(julho_2023)_(close-up).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no medalhão da efígie contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Lord Cochrane

[?]
1970</pre>
	<p>
		Há também uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Almirante Cochrane
Sir Thomas Alexander Cochrane
Conde de Dundonald Cochrane
Primeiro Almirante da Armada Nacional e Imperial</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>