---
layout: monument.ejs
name: Monumento à Primeira Foto na América do Sul
categoria: marco
tags: [
	"possui escrita",
	"sem descrição"
]
series: [
	"Praça XV"
]

data_inaug: 2016-09-09
altura: 2
largura: 
material: [ "Aço", "Vidro laminado" ]
autores: [
	"Milton Guran",
	"Jair de Souza",
	"Ado Azevedo"
]

local: Praça XV de Novembro
bairro: Centro
lat: -22.90327
lon: -43.17326

imrj: 927
wikidata: Q67210205
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (22 de julho de 2023).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Na foto é possível ver, além do Paço Imperial (com guarda-corpos no terraço,
		posteriormente removidos), a lateral do Hotel de France à direita
		(com <i>banner</i> na fachada possivelmente com as palavras
		"DE FRANCE"); no centro, a única torre até então construída da Igreja da
		Ordem Terceira do Carmo, por trás do Paço; à esquerda, o topo da torre
		sineira do Convento do Carmo, antes de ser demolida.
	</p>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p>
				Face oeste, com o texto em francês
			</p>
			<p class="credits">
				Foto: Matheus Avellar (22 de julho de 2023).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1840-full.jpg" data-llb-src="href">
			<img src="gallery-1840.jpg">
		</a>
		<figcaption>
			<p>
				A fotografia do Paço Imperial reproduzida no monumento.
			</p>
			<p class="credits">
				Foto: Louis Comte (atrib.) (datado de 17 de janeiro de 1840), via
				<a href="https://commons.wikimedia.org/wiki/File:Pa%C3%A7o_imperial_1840.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-c1840-full.jpg" data-llb-src="href">
			<img src="gallery-c1840.jpg">
		</a>
		<figcaption>
			<p>
				Ilustração do Paço Imperial de ângulo e idade similar à foto.
			</p>
			<p class="credits">
				Foto: W. Loeillot (circa 1840).
				<a href="	http://acervo.bndigital.bn.br/sophia/index.asp?codigo_sophia=8421">O
				Paço da Cidade tomado da rampa</a> [via Biblioteca Nacional Digital].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2016-full.jpg" data-llb-src="href">
			<img src="gallery-2016.jpg">
		</a>
		<figcaption>
			<p>
				Monumento na ocasião de sua inauguração
			</p>
			<p class="credits">
				Foto: Paula Johas (9 de setembro de 2016); via Juliana Romar (9 de setembro de 2016).
				<a href="http://www.rio.rj.gov.br/web/guest/exibeconteudo?id=6400958">Monumento
				à Primeira Fotografia feita na América do Sul é instalado na Praça XV</a>.
				<i>Prefeitura da Cidade do Rio de Janeiro</i> [via
				<a href="https://web.archive.org/web/20201022121648/http://www.rio.rj.gov.br/web/guest/exibeconteudo?id=6400958">Wayback
				Machine</a>].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Ambas as faces do monumento possuem texto. A face leste possui o seguinte
		texto:
	</p>
	<pre class="inscription-text">
Esta imagem do Paço Imperial, atribuída ao francês
Louis Comte, é considerada como a primeira fotogra-
fia feita na América do Sul. A demonstração do novo
invento – na época denominado daguerrotipia – foi
feita no dia 17 de janeiro de 1840 e noticiada pelo
<i>Jornal do Commercio</i>, então principal diário carioca,
na sua edição vespertina. No dia 20 de janeiro, o
invento foi apresentado ao jovem Imperador do Brasil
D. Pedro II, que se tornou o primeiro fotógrafo brasileiro.

As cidades do Rio de Janeiro e de Paris trabalham
juntas pelo maior conhecimento e pela valorização do
seu patrimônio histórico, artístico e cultural.

MAIRIE DE PARIS

RIO
PREFEITURA

1816-2016 : 200 ANOS
Missão Artística
no Brasil

Foto Rio

<small>Apoio cultural:</small> ALSTOM</pre>
	<p>
		A face oeste possui o seguinte texto:
	</p>
	<pre class="inscription-text" lang="fr">
Cette image du Palais impérial, attribuée au Français
Louis Comte, est considérée comme la première photo-
graphie prise en Amérique du Sud. Cette invention, alors
connue sous le nom de daguerréotypie, fut annoncée
dès le lendemain par le <i>Jornal do Commercio</i>, le plus
important journal carioca de l'époque. Elle fut présentée
le 20 janvier 1840 au jeune Empereur du Brésil, D. Pedro II,
qui devint le premier photographe brésilien.

Les Villes de Rio de Janeiro et de Paris œuvrent ensemble
à la connaissance et la mise en valeur de leur patrimoine
historique, artistique et culturel.

MAIRIE DE PARIS

RIO
PREFEITURA

1816-2016 : 200 ANOS
Missão Artística
no Brasil

Foto Rio

<small>Mécénat:</small> ALSTOM</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Alana Gandra, Jorge Wamburg (ed.) (9 de setembro de 2016).
			<a href="https://agenciabrasil.ebc.com.br/cultura/noticia/2016-09/monumento-primeira-foto-na-america-do-sul-e-inaugurado-no-rio-de-janeiro">Monumento
			à primeira foto na América do Sul é inaugurado no Rio de Janeiro</a>.
			<i>Agência Brasil</i>.
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]); %>