---
layout: monument.ejs
name: Chafariz da Praça Xavier de Brito
alt_names: [ Chafariz da Praça dos Cavalinhos ]
categoria: chafariz
tags: []
series: [
	"Praça Xavier de Brito"
]

data_inaug: 1963-08-23
altura: 
largura: 7
material: [
	Ferro fundido
]

autores: 

local: Praça Comandante Xavier de Brito
bairro: Tijuca
lat: -22.9320
lon: -43.2435

imrj: 785
wikidata: Q67203859

tombado_nome: Decreto 19.011/2000
tombado_desc: "Tomba todas as estátuas, \
	fontes, chafarizes e outros elementos decorativos de ferro fundido, \
	localizados em diversos pontos da cidade."
tombado_quote: true
tombado_url: https://www.rio.rj.gov.br/dlstatic/10112/4722991/4121993/180DECRETO19011ConjuntodePecasdeArtedeFerroFundido.pdf
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (13 de outubro de 2020),
			via <a href="https://commons.wikimedia.org/wiki/File:Chafariz_da_pra%C3%A7a_Xavier_de_Brito_(close-up_2).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Segundo maior chafariz da cidade,<sup>1</sup> foi
		inaugurado pelo então governador (1960–1965) Carlos Lacerda em 23 de agosto
		de 1963, em meio a tensões políticas nas vésperas do Golpe Militar de 64 –
		Lacerda era parte do União Democrática Nacional (UDN), partido conservador,
		e o então presidente (1961–1964) era João Goulart, do Partido Trabalhista
		Brasileiro (PTB), de esquerda.
	</p>
	<p>
		Atribuído às Fonderies du Val d'Osne, mas sem documentação comprobatória,
		foi tombado em 5 de outubro de 2000 pelo então prefeito do Rio de Janeiro,
		Luiz Paulo Conde, em um decreto genérico para "peças de arte de ferro
		fundido".
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Vera Dias (3 de agosto de 2014).
			<a href="https://web.archive.org/web/20201018043314/ashistoriasdosmonumentosdorio.blogspot.com/2014/08/a-presenca-das-fundicoes-francesas-do.html">A
			presença das Fundições Francesas do Val D'Osne na Cidade do Rio de Janeiro
			e o tombamento de suas peças</a>. <i>As histórias dos monumentos do Rio de
			Janeiro</i> [via Wayback Machine].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1963a-full.jpg" data-llb-src="href">
			<img src="gallery-1963a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (11 de junho de 1963),
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=348970_06&pesq=%22xavier%20de%20brito%22&pagfis=8488">Tijuca
				Vai Ganhar um Chafariz Avaliado em Mais de 100 Milhões</a>. <i>A
				Noite</i>, p.3, via Hemeroteca Digital.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1963b-full.jpg" data-llb-src="href">
			<img src="gallery-1963b.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (24 de agosto de 1963),
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=348970_06&pesq=%22xavier%20de%20brito%22&pagfis=8488">Lacerda
				Inaugura Chafariz na Tijuca</a>. <i>A Noite</i>, p.1, via Hemeroteca
				Digital.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1963c-full.jpg" data-llb-src="href">
			<img src="gallery-1963c.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: S.n. (22 de agosto de 1963),
				"Aspectos da Praça Xavier de Brito" [BR RJ AGCRJ.CL.VPO.GEG.OBP.PAP.19.1],
				via Arquivo Geral da Cidade do Rio de Janeiro.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-c1975-full.jpg" data-llb-src="href">
			<img src="gallery-c1975.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: S.n. (circa 1975),
				"Chagas Freitas visita a Praça Xavier de Brito na Tijuca"
				[BR.RJ.AGCRJ.CF.GB.EVE.442],
				via Arquivo Geral da Cidade do Rio de Janeiro.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2020-full.jpg" data-llb-src="href">
			<img src="gallery-2020.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (13 de outubro de 2020),
				via <a href="https://commons.wikimedia.org/wiki/File:Chafariz_da_pra%C3%A7a_Xavier_de_Brito_(geral_2).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]) %>
