---
layout: monument.ejs
name: Arcos da Lapa
alt_names: [
	Arcos da Carioca
]
categoria: obra
tags: [
	sem descrição,
	sem galeria
]

data_inaug: 1750
altura: 17.6
largura: 
comprimento: 270
material: 

autores: [
	
]

local: Praça Cardeal Câmara
bairro: Lapa
lat: -22.9128
lon: -43.1799

imrj: 104
structurae: 20036568
wikidata: Q1579892
hpip: 844
iphan: 100-T-1938
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: <a href="https://www.mikepeel.net">Mike Peel</a>,
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:At_Rio_de_Janeiro_2019_129.jpg">Wikimedia
			Commons</a> (2 de fevereiro de 2019).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		
	</p>
	</p>
</section>
<section class="refs">
<!-- 	<ol>
	</ol> -->
</section>
<section class="gallery">
<!-- 	<h2>Galeria</h2>
	<figure>
		<a href="/assets/" data-llb-src="href">
			<img src="/assets/">
		</a>
		<figcaption>
		</figcaption>
	</figure> -->
</section>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			José de Souza Reis (1955).
			<a href="http://portal.iphan.gov.br/uploads/publicacao/RevPat12_m.pdf">Revista
			do Patrimônio Histórico e Artístico Nacional</a>: Arcos da Carioca.
			<i>Ministério da Educação e Cultura</i>, Nº 12, pp.9–109.
		</li>
	</ol>
</section>
