---
layout: monument.ejs
name: Marco da Expedição de Magalhães e Elcano (1519–1522)
categoria: marco
tags: [
	"possui escrita",
	"imagem não-livre"
]

data_inaug: 2021-12-15
altura: 
largura: 
comprimento: 
peso: 

material: 
autores: 

local: Orla Professor Luiz Paulo Conde
bairro: Centro
lat: -22.8957
lon: -43.1776

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Fernando García Casas (15 de dezembro de 2021),
			via
			<a href="https://twitter.com/GarciaCasasF/status/1471217457943691264">Twitter</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Placa em comemoração aos 500 anos da primeira viagem de volta ao mundo
		(1519–2019) pelos navegadores espanhóis Fernão de Magalhães e Juan Sebastián
		Elcano. O local é relevante pois o Rio de Janeiro foi o primeiro porto a
		receber os viajantes após a travessia do Atlântico.
	</p>
</section>
<section class="refs">
<!-- 	<ol>
	</ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2021-full.jpg" data-llb-src="href">
			<img src="gallery-2021.jpg">
		</a>
		<figcaption>
			<p>Inauguração da placa</p>
			<p class="credits">
				Foto: Fernando García Casas (15 de dezembro de 2021),
				via
				<a href="https://twitter.com/GarciaCasasF/status/1471217457943691264">Twitter</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento, contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Expedição de Magalhães e Elcano 1519-1522
        A Primeira Volta ao Mundo

"Nesse lugar chegou em 1519, há quinhentos anos, a frota designada pelo rei Carlos I da Espanha,
comandada por Fernão de Magalhães, para descobrir a rota a oeste das Molucas
expedição concluída em 1522 com a primeira volta ao mundo por Juan Sebastian Elcano."

As Forças Armadas do Brasil e da Espanha prestam homenagem aos marinheiros da expedição.

Baía de Guanabara, 13 de dezembro de 2019.

<i lang="es">Embajada
de España
en Brasil

V centenario
1ª vuelta al
mundo</i></pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Pedro Zuazo (15 de dezembro de 2021), via
			<a href="https://oglobo.globo.com/rio/orla-conde-ganha-placa-pelos-500-anos-da-circum-navegacao-feita-por-fernao-de-magalhaes-25320680">Orla
			Conde ganha placa pelos 500 anos da circum-navegação feita por Fernão de
			Magalhães</a>. <i>O Globo</i>.
		</li>
	</ol>
</section>