---
layout: monument.ejs
name: Homenagem a Albino de Oliveira Guimarães
categoria: marco
tags: [
	"possui escrita"
]
series: [
	Casa de Rui Barbosa
]

data_inaug: 2008-08-14
altura: 
largura: 
material: []
autores: []

local: Casa de Rui Barbosa
bairro: Botafogo
lat: -22.94912
lon: -43.18721

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (9 de junho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Placa_a_Albino_de_Oliveira_Guimar%C3%A3es_(junho_2023).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Ao Comendador
Albino de Oliveira Guimarães (1833-1908),
cidadão de <i>lá e de cá</i>, proprietário desta casa entre 1879 e 1890.

Homenagem do Museu Casa de Rui Barbosa <small>(Rio de Janeiro, Brasil)</small>
e do Museu da Emigração e das Comunidades <small>(Fafe, Portugal),</small>

por ocasião do II Encontro Luso-Brasileiro de Museus-Casas

<small>12 a 14 de agosto de 2008.</small></pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>