---
layout: monument.ejs
name: Marco de Restauração da Praça Paris
categoria: marco
tags: [
	"possui escrita"
]
series: [
	Praça Paris
]

data_inaug: 1992-02-21
altura: 
largura: 
material: []
autores: []

local: Praça Paris
bairro: Glória
lat: -22.91724
lon: -43.17578

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Mike Peel [www.mikepeel.net] (2 de fevereiro de 2019),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:At_Rio_de_Janeiro_2019_031.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Marco da reabertura da Praça Paris, "depois de um ano abraçada por tapumes",
		em 21 de fevereiro de 1992.
	</p>
	<p>
		Em 20 de setembro de 2012, o marco foi reinaugurado (junto à praça) com
		placa em alusão à nova revitaliação do local.<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Thamine Leta (21 de setembro de 2012).
			<a href="https://oglobo.globo.com/rio/sem-reforma-ha-mais-de-20-anos-praca-paris-ganha-retoques-na-beleza-6168147">Sem
			reforma há mais de 20 anos, Praça Paris ganha retoques na beleza</a>.
			<i>O Globo</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1992-full.jpg" data-llb-src="href">
			<img src="gallery-1992.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Guilherme Bastos;
				Reportagem: Sidney Garambone (21 de feverereiro de 1992).
				<i>Um lugar para francês ver</i>. <i>Rio-show</i>, pp.14–15
				[via <a href="https://oglobo.globo.com/acervo">Acervo d'O Globo</a>].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há duas placas no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Prefeitura
da Cidade do Rio de Janeiro

Restauração da Praça Paris

<small>Fevereiro de 1992</small>

<small>Prefeito</small>
Marcello Alencar

<small>Secretário Municipal de Obras e Serviços Públicos</small>
Luiz Paulo Corrêa da Rocha

<small>Presidenta da Fundação Parques e Jardins</small>
Célia Abdulmacih</pre>
	<pre class="inscription-text">
Prefeitura
da Cidade do Rio de Janeiro

Revitalização da Praça Paris
<small>Setembro de 2012</small>

<small>Prefeito da Cidade do Rio de Janeiro</small>
Eduardo Paes

<small>Secretário de Conservação e Serviços Públicos</small>
Carlos Roberto Osorio

<small>Presidente do Instituto Rio Patrimônio da Humanidade</small>
Washington Fajardo

<small>Presidente da Fundação Parques e Jardins</small>
David Beserra Lessa</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>