---
layout: monument.ejs
name: Mosaico do Bosque da Barra
categoria: obra
tags: [
	"imagem não-livre",
	"possui escrita"
]
series: [
	Bosque da Barra,
	Projeto Pedaços de Cor
]

data_inaug: 2000-07-21
altura: 
largura: 
peso: 
material: [
	Azulejo
]

autores: [
	Paulo Freire
]

local: Bosque da Barra
bairro: Barra da Tijuca
lat: -22.99978
lon: -43.37168

imrj: 1073
wikidata: Q67210657
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: S.n. (julho de 2021).
			<a href="https://goo.gl/maps/NWEpLibMUbSC3yYn7">Google Street View</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Mosaico na entrada do Parque Natural Municipal Bosque da Barra.
		Doação do artista Paulo Freire à Prefeitura, foi o primeiro mosaico do
		Projeto Pedaços de Cor, inaugurado em 21 de julho de 2000. Os mosaicos são
		montados com cacos de azulejos coloridos.
	</p>
	<p>
		Segundo o artista, o mosaico representa vistas da Barra: a Pedra da Gávea,
		a Lagoa de Marapendi e a Praia da Barra.
	</p>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2000-full.jpg" data-llb-src="href">
			<img src="gallery-2000.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Marcelo Carnaval;
				Reportagem: S.n. (20 de julho de 2000). "Paisagens em mosaico na entrada
				do Bosque da Barra". <i>O Globo</i>, p.10 [via
				<a href="https://oglobo.globo.com/acervo/">Acervo O Globo</a>].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		O mosaico possui escritas contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
<small>Paulo Freire</small>

Parque Natural Municipal
   Bosque da Barra</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Veja mais</h2>
	<ul></ul> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>