---
layout: monument.ejs
name: Chafariz do Centro da Música Carioca Artur da Távola
categoria: chafariz
tags: [
	sem descrição,
	imagem não-livre
]

data_inaug: 2004
altura: 
largura: 
material: []

autores: []

local: Centro da Música Carioca Artur da Távola
bairro: Tijuca
lat: -22.9355
lon: -43.2441

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (19 de maio de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Chafariz_no_Centro_da_M%C3%BAsica_Carioca_Artur_da_T%C3%A1vola_(close-up).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<blockquote>
		No ano de 2004 um chafariz foi adquirido pela Secretaria Municipal de
		Cultura da Prefeitura do Rio de Janeiro, em um leiloeiro e instalado no
		Centro Municipal de Referência da Música Carioca Artur da Távola.
	</blockquote>
	<cite>
		—Vera Dias (3 de agosto de 2014).
		<a href="https://web.archive.org/web/20220930173631/http://ashistoriasdosmonumentosdorio.blogspot.com/2014/08/a-presenca-das-fundicoes-francesas-do.html">A
		presença das Fundições Francesas do Val D'Osne na Cidade do Rio de Janeiro e
		o tombamento de suas peças</a>. <i>As histórias dos monumentos do Rio de
		Janeiro</i> [via Wayback Machine].
	</cite>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2018-full.jpg" data-llb-src="href">
			<img src="gallery-2018.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Isa Oliveira (4 de março de 2018), via
				<a href="https://goo.gl/maps/f7ZfNJCkX8g6CTyx5">Google Maps</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023-full.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (19 de maio de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Chafariz_no_Centro_da_M%C3%BAsica_Carioca_Artur_da_T%C3%A1vola_(close-up).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
