---
layout: monument.ejs
name: Lago das Tartarugas
categoria: chafariz
tags: [
	"preliminar",
	"possui escrita"
]
series: [
	"Jardim Botânico"
]

data_inaug: 
altura: 
largura: 
material: []
autores: []

local: Jardim Botânico
bairro: Jardim Botânico
lat: -22.97049
lon: -43.22445

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (8 de janeiro de 2024).
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2024-full.jpg" data-llb-src="href">
			<img src="gallery-2024.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (8 de janeiro de 2024).
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa próxima ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Lago das Tartarugas

Com a restauração do Lago Frei Leandro (2001),
os cágados abandonados pelo público foram
transferidos para o Lago do Centro de
Visitantes, ficando conhecido como Lago das
Tartarugas. Em 2007, o lago foi reformado e
ampliado, oferecendo ambiente adequado à
sobrevivência dos cágados.

"Tigre-d`água" é o nome popular dessas duas
espécies de cágados, que são tartarugas de
água doce, a <i lang="la">Trachemys scripta elegans</i>,
originária dos Estados Unidos e a <i lang="la">Trachemys
dorbigni</i>, do Rio Grande do Sul. São animais


exóticos, que podem transmitir doenças,
competir e/ou matar animais nativos.

Não dê alimento. Os cágados recebem
alimentação adequada em quantidade
e horário apropriados, de funcionários
especializados.
Não toque nos animais. Animais selvagens
são portadores naturais de micro-organismos
que podem causar doenças em humanos.
Tocar neles causa estresse aos animais.
Não abandone cágados. O Jardim Botânico
não aceita doação de animais.</pre>
	<pre class="inscription-text" lang="en" style="font-style:italic">
Turtles Lake

In 2007 the Turtle Pond was renovated to offer
an improved environment for the turtles found
abandoned in the ponds of the Botanic
Garden. The relocated turtles are a popular
attraction and the pond is known as
TURTLES LAKE.


D`Orbigny`s Slider Turtles is the popular name
given to both of the fresh water species living
in the pond. Trachemys scripta elegans is
originally from the United States; and
Trachemys dorbigni is originally from Rio
Grande do Sul state (Brazil).

PLEASE DO NOT FEED OR
TOUCH THE TURTLES</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>