---
layout: monument.ejs
name: Laranja Descascada
categoria: escultura
tags: [
	sem galeria
]

series: [
	Rio Cidade Campo Grande
]

data_inaug: 1996-07-26
altura: 
largura: 
peso: 
material: []

autores: [
	George Lopes,
	Milton Cavalcante Motarreyos,
	George Guerra
]

local: 
bairro: Campo Grande
lat: -22.9068
lon: -43.5609

imrj: 970
wikidata: Q67204119
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Guilherme B Alves (7 de junho de 2017),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Monumento_da_Laranja,_Campo_Grande.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Instalada durante a sequência de reformas em diversos bairros do Rio de
		Janeiro, no projeto conhecido como "Rio Cidade". Foi inaugurada junto com as
		outras obras de Campo Grande, em 26 de julho de 1996.
	</p>
	<blockquote>
		O prefeito César Maia inaugurou ontem [...] o Rio Cidade Campo Grande. O
		projeto [...] promoveu intervenções em 16 áreas, valorizando o espaço para
		pedestres [...], através de esculturas que lembram o cultivo da laranja,
		principal atividade econômica da reigão no início do século.
	</blockquote>
	<cite>
		— S.n. (27 de julho de 1996).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=364568_18&pagfis=74091">Inaugurado
		o Rio Cidade em Campo Grande</a>.
		<i>Jornal do Commercio</i>, p.A-9 [via Hemeroteca Digital da Biblioteca
		Nacional].
	</cite>
	<p>
		Os autores listados aqui são os creditados pelo IMRJ.
	</p>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Vera Dias (26 de fevereiro de 2011).
			<a href="https://web.archive.org/web/20230130235326/http://ashistoriasdosmonumentosdorio.blogspot.com/2011/02/as-esculturas-do-bairro-de-campo-grande.html">As
			esculturas do bairro de Campo Grande</a>. <i>As histórias dos
			monumentos do Rio de Janeiro</i> [via Wayback Machine].
		</li>
	</ol>
</section>