---
layout: monument.ejs
name: Chafariz da Praça Nicarágua
categoria: chafariz
tags: [
	"preliminar",
	"sem descrição",
	"pessoa:criança"
]
series: [
	"Praça Nicarágua",
	"Praia de Botafogo",
	"Andrew Handyside & Company"
]

data_inaug: 
altura: 
largura: 
material: 
autores: 

local: Praça Nicarágua
bairro: Botafogo
lat: -22.94202
lon: -43.17709

imrj: 311
wikidata: Q67203717

tombado_nome: Decreto 19.011/2000
tombado_desc: "Art. 1º Ficam tombados definitivamente [...] \
	elementos decorativos de ferro fundido: [...] \
	BOTAFOGO: PRAÇA NICARÁGUA - 1 chafariz (obra atribuída às \
	Fonderies du Val d'Osne, mas não existe documentação comprobatória)"
tombado_quote: true
tombado_url: https://www.rio.rj.gov.br/dlstatic/10112/4722991/4121993/180DECRETO19011ConjuntodePecasdeArtedeFerroFundido.pdf
---

<!-- 
"Nos próximos disa, será também recuperado o chafariz da praça Nicarágua, em
Botafogo, junto à avenida Osvaldo Cruz. Estará pronto dentro de 60 dias
após o inicio da obra. Com essa obra será restaurado todo o ajardinamento da
praia de Botafogo." — 1 de outubro de 1963, Diario de Noticias
https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_04&pesq=%22pra%C3%A7a%20s%C3%A3o%20salvador%22%20%22chafariz%22&pasta=ano%20196&hf=memoria.bn.br&pagfis=33256
 -->
<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (2 de junho de 2023),
			via <a href="https://commons.wikimedia.org/wiki/File:Chafariz_da_Pra%C3%A7a_Nicar%C3%A1gua_(close-up).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1906-full.jpg" data-llb-src="href">
			<img src="gallery-1906.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Augusto Malta (12 de novembro de 1906).
				<a href="https://acervos.ims.com.br/portals/#/detailpage/88588">Vista da
				avenida Beira Mar com o Corcovado e pedra da Gávea ao fundo</a>
				[via Instituto Moreira Salles].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]) %>