---
layout: monument.ejs
name: O quadro que não está na parede
categoria: escultura
tags: [
	"imagem não-livre"
]
series: [
	"UFRJ (Ilha do Fundão)"
]

data_inaug: 2010-10-21
altura: 
largura: 
material: [
	Azulejo,
	Granito,
	Mármore,
	Vidro
]
autores: Julie Brazil

local: Praça Samira Nahid Mesquita
bairro: Cidade Universitária
lat: -22.86269
lon: -43.22593

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
				Foto: Matheus Avellar (25 de julho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Mosaico_%22O_quadro_que_n%C3%A3o_est%C3%A1_na_parede%22.jpg">Wikimedia
				Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Mural de mosaico em homenagem a Samira Nahid Mesquita
		(16/12/1926–13/08/1994), professora e primeira decana do Centro de Letras e
		Artes, na UFRJ.
	</p>
	<p>
		A obra recebeu o nome devido à descrição de Samira pelo professor
		Edwaldo Cafezeiro, após seu falecimento:
	</p>
	<blockquote>
		Samira é e não é. Nenhuma falta ela nos faz, porque está presente desde que
		se foi. É uma figura no espaço como um quadro que não está na parede.
	</blockquote>
	<cite>
		— Kelvin Melo (14 de novembro de 2019).
		<a href="https://adufrj.org.br/index.php/pt-br/noticias/arquivo/81-antigas/2705-samira-mesquita-firmeza-com-docura">Samira
		Mesquita: firmeza com doçura</a>. <i>Associação de Docentes da UFRJ</i>.
	</cite>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (25 de julho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Mosaico_%22O_quadro_que_n%C3%A3o_est%C3%A1_na_parede%22_(placa).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Criação e Direção: Julie Brazil
Engenheiro: Feliciano Avila
Marmoristas: Manoel Cardoso
                        Maurivan Santos
Chefe da Manutenção: José Carlos da Silva
Pedreiros: Izaulino Lima
                   Ciriáco Almeida
Assistentes: Adalberto Gomes
                     Jair Lúcio da Silva
                     Jerônimo Dantas
                     Jorge Luiz Ramos
                     José Carlos Simões
Iluminador: Hélio Siqueira
Eletricistas: Ageildo Sisnandes
                    Marcos Antônio Mattos
                              2010
            Julie Brazil</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			S.n. (20 de outubro de 2010).
			<a href="https://conexao.ufrj.br/2010/10/o-quadro-que-nao-esta-na-parede/">O
			quadro que não está na parede</a>. <i>Conexão UFRJ</i>.
		</li>
		<li>
			Kelvin Melo (14 de novembro de 2019).
			<a href="https://adufrj.org.br/index.php/pt-br/noticias/arquivo/81-antigas/2705-samira-mesquita-firmeza-com-docura">Samira
			Mesquita: firmeza com doçura</a>. <i>Associação de Docentes da UFRJ</i>.
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]); %>