---
layout: monument.ejs
name: Relógio do Largo da Carioca
categoria: marco
tags: [
	"preliminar"
]
series: [
	Largo da Carioca
]

data_inaug: 1909
altura: 
largura: 
material: 

autores: [  ]

local: Largo da Carioca
bairro: Centro
lat: -22.90664
lon: -43.17831

imrj: 159
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Halley Pacheco de Oliveira (26 de julho de 2010),
			<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:Rel%C3%B3gio_do_Largo_da_Carioca.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
<!--
https://prefeitura.rio/rio-acontece/relogio-historico-do-largo-da-carioca-e-restaurado-e-volta-a-tocar-musica-a-cada-hora/
https://www.ipatrimonio.org/rio-de-janeiro-relogio-do-largo-da-carioca
https://commons.wikimedia.org/wiki/File:RelogioCarioca1.jpg
-->
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma placa no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>