---
layout: monument.ejs
name: Estátua de Zózimo Barrozo do Amaral
categoria: estátua
tags: [
	"possui escrita",
	"sem descrição"
]
series: [
	"Praia do Leblon"
]

data_inaug: 2001-11-25
altura: 
largura: 
material: []
autores: [
	Roberto Sá
]

local: Praia do Leblon
bairro: Leblon
lat: -22.98862
lon: -43.22733

imrj: 380
wikidata: Q67210395
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (9 de março de 2024).
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2024a-full.jpg" data-llb-src="href">
			<img src="gallery-2024a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (9 de março de 2024).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2024b-full.jpg" data-llb-src="href">
			<img src="gallery-2024b.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (9 de março de 2024).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2001-full.jpg" data-llb-src="href">
			<img src="gallery-2001.jpg">
		</a>
		<figcaption>
			<p>Reportagem referenciada na escultura.</p>
			<p class="credits">
				Foto: Ernani de Almeida (1 de outubro de 1992);
				Reportagem: Joaquim Ferreira dos Santos (25 de novembro de 2001).
				<a href="http://memoria.bn.br/DocReader/030015_12/55940">Zózimo, o boa
				praça</a>. <i>Jornal do Brasil</i> [via Hemeroteca Digital da Biblioteca
				Nacional].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Escultor
Roberto Sá
11/2001</pre>
	<p>
		Havia uma placa no monumento, já removida, contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Zózimo Barrozo do Amaral
Carioca, Jornalista e [Flamengo?]</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>