---
layout: monument.ejs
name: Cão Misterioso
categoria: escultura
tags: [
	sem galeria,
	preliminar
]

data_inaug: 
altura: 
largura: 
peso: 
material: 

autores: 

local: Praça Abelardo Chacrinha Barbosa
bairro: Tijuca
lat: -22.92703
lon: -43.23329

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Rafael Junqueira (24 de setembro de 2014),
			via <a href="https://mundopauta.com.br/2014/09/25/conheca-a-estatua-do-cao-misterioso/">Mundo
			Pauta</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Pequena escultura de um cachorro na esquina da Rua Desembargador Izidro com
		a Rua Abelardo Chacrinha Barbosa (em uma praça nomeada, também, Abelardo
		Chacrinha Barbosa), na Tijuca.
	</p>
	<p>
		A escultura já está lá desde, pelo menos, agosto de 2011.<sup>1</sup> A
		única fonte que menciona essa escultura que eu tenho conhecimento é o artigo
		por Rafael Junqueira para o Mundo Pauta, de 25 de setembro de 2014:
		<a href="https://mundopauta.com.br/2014/09/25/conheca-a-estatua-do-cao-misterioso/">Conheça
		a estátua do cão misterioso</a>.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			<a href="https://goo.gl/maps/5sdYSYvzok4pg7LX8">Google Street View</a>
		</li>
	</ol>
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>