---
layout: monument.ejs
name: Busto de Affonso Celso
categoria: busto
tags: [
	"preliminar"
]
series: [
	Praça Paris
]

data_inaug: 
altura: 
largura: 
material: []
autores: []

local: Praça Paris
bairro: Glória
lat: -22.91492
lon: -43.17564

imrj: 227
wikidata: Q67204736
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: "WapJst" (13 de agosto de 2016),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:Monumento_Afonso_Celso.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
    Conde
de Affonso Celso
Político abolicionista
escritor e jornalista
Membro Fundador da
Academia Brasileira
    de Letras
Professor catedrático e
diretor da Faculdade
de Direito da Universidade
  do Rio de Janeiro
Presidente perpétuo e
grande benemérito do
Instituto Histórico e
Geográfico Brasileiro

1860 - 1938</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>