---
layout: monument.ejs
name: Monumento aos Campeões do Mundo
alt_names: [
	"Monumento aos Campeões Mundiais de Football de 1958",
	"Estátua de Bellini"
]
categoria: escultura
tags: [
	"possui escrita",
	"sem descrição",
	"imagem não-livre"
]
series: []

data_inaug: 1960-11-13
altura: 9
peso: 3000
material: Bronze
autores: [ Matheus Fernandes ]

local: Pátio do Estádio Jornalista Mário Filho
bairro: Maracanã
lat: -22.91344
lon: -43.22783

imrj: 874
wikidata: Q105987005
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: "Icebbb" (30 de julho de 2016),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:Est%C3%A1tua_do_Bellini_(Maracan%C3%A3).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Monumento em homenagem aos jogadores e delegação da seleção brasileira,
		campeões da Copa do Mundo de 1958, inaugurado em 1960. Representa um jogador
		de futebol levantando a
		<a href="https://pt.wikipedia.org/wiki/Ta%C3%A7a_Jules_Rimet">Taça Jules Rimet</a>,
		prêmio dado ao país vencedor da Copa do Mundo até 1983.
	</p>
	<p>
		Ao contrário do que crê a opinião popular, que designa ao monumento o nome
		de "Estátua de Bellini", ele não retrata (ou é homenagem especificamente a)
		Hilderaldo Bellini. Bellini era capitão da seleção brasileira na Copa de 1958,
		e discursou na ocasião da inauguração do monumento; mas essa é, oficialmente,
		a totalidade da sua relação com o monumento.
	</p>
	<p>
		Após novas vitórias de Copas do Mundo pela seleção brasileira, em 1962, 1970,
		1994 e 2002, novas placas foram adicionadas à base do monumento contendo os
		nomes dos jogadores participantes.
	</p>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure class="sideways">
		<!-- http://memoria.bn.br/DocReader/112518_03/3573 -->
		<!-- http://memoria.bn.br/DocReader/112518_03/3612 foto dele no chão largado -->
		<a href="gallery-1960a-full.jpg" data-llb-src="href">
			<img src="gallery-1960a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (10 de novembro de 1960).
				<a href="http://memoria.bn.br/DocReader/093718_04/8659">Monumento Aos
				Campeões Será Inaugurado Domingo</a>. <i>Diario de Noticias</i>
				[via Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure class="sideways">
		<a href="gallery-1960b-full.jpg" data-llb-src="href">
			<img src="gallery-1960b.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (15 de novembro de 1960).
				<a href="http://memoria.bn.br/DocReader/089842_07/12161">Inaugurado
				o monumento aos campeões do Mundo</a>. <i>Correio da Manhã</i>
				[via Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p>Detalhe da Taça Jules Rimet na escultura.</p>
			<p class="credits">
				Foto: Danilo Franzin Paulo (18 de janeiro de 2023), via
				<a href="https://maps.app.goo.gl/L2peuKkAV9tCrjCo8">Google Maps</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2024a-full.jpg" data-llb-src="href">
			<img src="gallery-2024a.jpg">
		</a>
		<figcaption>
			<p>Face frontal, a sudeste</p>
			<p class="credits">
				Foto: Matheus Avellar (25 de janeiro de 2024).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2024b-full.jpg" data-llb-src="href">
			<img src="gallery-2024b.jpg">
		</a>
		<figcaption>
			<p>Face lateral, a nordeste</p>
			<p class="credits">
				Foto: Matheus Avellar (25 de janeiro de 2024).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2024c-full.jpg" data-llb-src="href">
			<img src="gallery-2024c.jpg">
		</a>
		<figcaption>
			<p>Face lateral, a sudoeste</p>
			<p class="credits">
				Foto: Matheus Avellar (25 de janeiro de 2024).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2024d-full.jpg" data-llb-src="href">
			<img src="gallery-2024d.jpg">
		</a>
		<figcaption>
			<p>Placas à esquerda na face traseira, a noroeste</p>
			<p class="credits">
				Foto: Matheus Avellar (25 de janeiro de 2024).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2024e-full.jpg" data-llb-src="href">
			<img src="gallery-2024e.jpg">
		</a>
		<figcaption>
			<p>Placas à direita na face traseira, a noroeste</p>
			<p class="credits">
				Foto: Matheus Avellar (25 de janeiro de 2024).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2024f-full.jpg" data-llb-src="href">
			<img src="gallery-2024f.jpg">
		</a>
		<figcaption>
			<p>Inscrição no centro da face traseira, a noroeste</p>
			<p class="credits">
				Foto: Matheus Avellar (25 de janeiro de 2024).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2024g-full.jpg" data-llb-src="href">
			<img src="gallery-2024g.jpg">
		</a>
		<figcaption>
			<p>Inscrição na face traseira, a noroeste</p>
			<p class="credits">
				Foto: Matheus Avellar (25 de janeiro de 2024).
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		A escultura em si possui o seguinte inscrito:
	</p>
	<pre class="inscription-text">
Brasil
1958  1962</pre>
	<p>
		Na base da escultura há diversas placas. Na face fronteira, a sudeste:
	</p>
	<pre class="inscription-text">Aos campeões do mundo</pre>
	<pre class="inscription-text">
JORNAL <small>DOS</small> SPORTS
Standard Electrica S.A.
REI <small>DA</small> VOZ</pre>
	<p>
		Na face lateral, a nordeste:
	</p>
	<pre class="inscription-text">
VI Campeonato Mundial de Futebol
(Copa Jules Rimet - 1958)
Realizado e 8 a 29 de junho de 1958 na Suécia

Jogadores

<a href="https://pt.wikipedia.org/wiki/Castilho_(futebolista)">Carlos José de Castilho</a>
<a href="https://pt.wikipedia.org/wiki/Djalma_Santos">Djalma dos Santos</a>
<a href="https://pt.wikipedia.org/wiki/Dino_Sani">Dino Sani</a>
<a href="https://pt.wikipedia.org/wiki/Pel%C3%A9">Edson A. do Nascimento <small>(Pelé)</small></a>
<a href="https://pt.wikipedia.org/wiki/Edvaldo_Alves_de_Santa_Rosa">Edvaldo A. de Santa Rosa <small>(Dida)</small></a>
<a href="https://pt.wikipedia.org/wiki/Vav%C3%A1">Edvaldo Izídio Neto <small>(Vavá)</small></a>
<a href="https://pt.wikipedia.org/wiki/Gylmar_dos_Santos_Neves">Gilmar dos Santos Neves</a>
<a href="https://pt.wikipedia.org/wiki/Bellini_(futebolista)">Hideraldo Luiz Belini</a>
<a href="https://pt.wikipedia.org/wiki/Joel_Ant%C3%B4nio_Martins">Joel Antônio Martins</a>
<a href="https://pt.wikipedia.org/wiki/Zito_(futebolista)">José Ely Miranda <small>(Zito)</small></a>
<a href="https://pt.wikipedia.org/wiki/Jos%C3%A9_Jo%C3%A3o_Altafini">José João Altafini <small>(Mazzola)</small></a>

<a href="https://pt.wikipedia.org/wiki/Pepe_(futebolista_brasileiro)">José Macia <small>(Pepe)</small></a>
<a href="https://pt.wikipedia.org/wiki/Garrincha">Manoel F. dos Santos <small>(Garrincha)</small></a>
<a href="https://pt.wikipedia.org/wiki/Zagallo">Mario Jorge Lôbo Zagalo</a>
<a href="https://pt.wikipedia.org/wiki/Mauro_Ramos_(futebolista)">Mauro Ramos de Oliveira</a>
<a href="https://pt.wikipedia.org/wiki/Moacyr_(futebolista)">Moacir Claudino Pinto</a>
<a href="https://pt.wikipedia.org/wiki/N%C3%ADlton_Santos">Nilton dos Santos</a>
<a href="https://pt.wikipedia.org/wiki/N%C3%ADlton_De_Sordi">Milton de Sordi</a>
<a href="https://pt.wikipedia.org/wiki/Orlando_Pe%C3%A7anha">Orlando Peçanha de Carvalho</a>
<a href="https://pt.wikipedia.org/wiki/Oreco">Waldemar R. Martins <small>(Oreco)</small></a>
<a href="https://pt.wikipedia.org/wiki/Didi_(futebolista)">Waldyr Pereira <small>(Didi)</small></a>
<a href="https://pt.wikipedia.org/wiki/Z%C3%B3zimo_(futebolista)">Zózimo Alves Calazans</a></pre>
	<p>
		Na face lateral, a sudoeste:
	</p>
	<pre class="inscription-text">
VI Campeonato Mundial de Futebol
(Copa Jules Rimet - 1958)
Realizado e 8 a 29 de junho de 1958 na Suécia

Delegação

Dr. Paulo M. de Carvalho
Adolpho R. Marques Júnior
Paulo Costa
<a href="https://pt.wikipedia.org/wiki/Vicente_Feola">Vicente I. Feola</a>
Paulo Lima Amaral
Mário Américo
Thomaz Mazzone
Dr. Mário Trigo de Loureiro
Dr. Antônio do Passo

Abílio Ferreira d'Almeida
Dr. <span title="Luís Phelippe Saldanha da Gama Murgel">Luiz Phelippe S. da G. Murgel</span>
Carlos de O. Nascimento
Dr. Hilton L. Gosling
José de Almeida Filho
Francisco dos Santos
Dr. João Carvalhaẽs
Canôr S. Coelho</pre>
	<p>
		Na face traseira, a noroeste, há as seguintes inscrições na base:
	</p>
	<pre class="inscription-text">
Matheus Fernandes
        ESC.</pre>
	<pre class="inscription-text"><a href="https://pt.wikipedia.org/wiki/Confedera%C3%A7%C3%A3o_Brasileira_de_Desportos">CBD</a></pre>
	<p>
		Na mesma face, também há diversas placas com o seguinte texto:
	</p>
	<pre class="inscription-text">
Jogadores Bi-Campeões
VII Campeonato Mundial
de Futebol
1962 - Chile

<a href="https://pt.wikipedia.org/wiki/Altair_Gomes_de_Figueiredo">Altair Gomes de Figueredo</a>
<a href="https://pt.wikipedia.org/wiki/Amarildo">Amarildo Tavares Silveira</a>
<a href="https://pt.wikipedia.org/wiki/Coutinho_(futebolista)">Antonio Wilson Honorio (Coutinho)</a>
<a href="https://pt.wikipedia.org/wiki/Castilho_(futebolista)">Carlos José de Castilho</a>
<a href="https://pt.wikipedia.org/wiki/Djalma_Santos">Dejalma dos Santos</a>
<a href="https://pt.wikipedia.org/wiki/Pel%C3%A9">Edson A. do Nascimento (Pelé)</a>
<a href="https://pt.wikipedia.org/wiki/Vav%C3%A1">Edvaldo Izidio Netto (Vavá)</a>
<a href="https://pt.wikipedia.org/wiki/Gylmar_dos_Santos_Neves">Gylmar dos Santos Neves</a>
<a href="https://pt.wikipedia.org/wiki/Bellini_(futebolista)">Hilderaldo Luiz Bellini</a>
<a href="https://pt.wikipedia.org/wiki/Jair_da_Costa">Jair da Costa</a>
<a href="https://pt.wikipedia.org/wiki/Jair_Marinho">Jair Marinho de Oliveira</a>
<a href="https://pt.wikipedia.org/wiki/Zito_(futebolista)">José Ely de Miranda (Zito)</a>
<a href="https://pt.wikipedia.org/wiki/Zequinha_(futebolista)">José Ferreira Franco (Zéquinha)</a>
<a href="https://pt.wikipedia.org/wiki/Pepe_(futebolista_brasileiro)">José Macia (Pepe)</a>
<a href="https://pt.wikipedia.org/wiki/Jurandir_de_Freitas">Jurandyr de Freitas</a>
<a href="https://pt.wikipedia.org/wiki/Garrincha">Manoel F. dos Santos (Garrincha)</a>
<a href="https://pt.wikipedia.org/wiki/Zagallo">Mário Jorge Lôbo Zagallo</a>
<a href="https://pt.wikipedia.org/wiki/Mauro_Ramos_(futebolista)">Mauro Ramos de Oliveira</a>
<a href="https://pt.wikipedia.org/wiki/Meng%C3%A1lvio">Mengálvio Figueiró</a>
<a href="https://pt.wikipedia.org/wiki/N%C3%ADlton_Santos">Nilton dos Santos</a>
<a href="https://pt.wikipedia.org/wiki/Didi_(futebolista)">Waldir Pereira (Didi)</a>
<a href="https://pt.wikipedia.org/wiki/Z%C3%B3zimo_(futebolista)">Zózimo Alves Calazães</a>

Homenagem realizada em Junho de 98
Prefeitura da Cidade do Rio de Janeiro
Fundação Parques e Jardins</pre>
	<pre class="inscription-text">
Jogadores Tri-Campeões
IX Campeonato Mundial
de Futebol
1970 - México

<a href="https://pt.wikipedia.org/wiki/Carlos_Alberto_Torres">Carlos Alberto Torres</a>
<a href="https://pt.wikipedia.org/wiki/Clodoaldo_(futebolista)">Clodoaldo Tavares de Santana</a>
<a href="https://pt.wikipedia.org/wiki/Dad%C3%A1_Maravilha">Dario José dos Santos</a>
<a href="https://pt.wikipedia.org/wiki/Pel%C3%A9">Edson A. do Nascimento (Pelé)</a>
<a href="https://pt.wikipedia.org/wiki/Tost%C3%A3o">Eduardo G. de Andrade (Tostão)</a>
<a href="https://pt.wikipedia.org/wiki/Ado_(futebolista)">Eduardo Roberto Stinghen (Ado)</a>
<a href="https://pt.wikipedia.org/wiki/Everaldo_Marques_da_Silva">Everaldo Marques da Silva</a>
<a href="https://pt.wikipedia.org/wiki/F%C3%A9lix_Mi%C3%A9lli_Venerando">Felix Mielli Venerando</a>
<a href="https://pt.wikipedia.org/wiki/G%C3%A9rson_(futebolista)">Gerson de Oliveira Nunes</a>
<a href="https://pt.wikipedia.org/wiki/Brito_(futebolista)">Hércules Brito Ruas</a>
<a href="https://pt.wikipedia.org/wiki/Jairzinho">Jair Ventura Filho (Jairzinho)</a>
<a href="https://pt.wikipedia.org/wiki/Joel_Camargo">Joel Camargo</a>
<a href="https://pt.wikipedia.org/wiki/Jonas_Eduardo_Am%C3%A9rico">Jonas Eduardo Américo (Edu)</a>
<a href="https://pt.wikipedia.org/wiki/Fontana_(futebolista)">José Anchieta Fontana</a>
<a href="https://pt.wikipedia.org/wiki/Baldocchi">José Guilherme Baldochi</a>
<a href="https://pt.wikipedia.org/wiki/Jos%C3%A9_Maria_Rodrigues_Alves">José Maria R. Alves (Zé Maria)</a>
<a href="https://pt.wikipedia.org/wiki/Marco_Ant%C3%B4nio_Feliciano">Marco Antonio Feliciano</a>
<a href="https://pt.wikipedia.org/wiki/Paulo_C%C3%A9zar_Lima">Paulo Cezar Lima</a>
<a href="https://pt.wikipedia.org/wiki/Roberto_Miranda_(futebolista)">Roberto Lopes Miranda</a>
<a href="https://pt.wikipedia.org/wiki/Roberto_Rivellino">Roberto Rivelino</a>
<a href="https://pt.wikipedia.org/wiki/Rog%C3%A9rio_Hetmanek">Rogério Hetmaneck</a>
<a href="https://pt.wikipedia.org/wiki/Wilson_Piazza">Wilson da Silva Piazza</a>
<a href="https://pt.wikipedia.org/wiki/Emerson_Le%C3%A3o">Emerson Leão</a>

Homenagem realizada em Junho de 98
Prefeitura da Cidade do Rio de Janeiro
Fundação Parques e Jardins</pre>
	<pre class="inscription-text">
Jogadores Tetra-Campeões
do Campeonato Mundial
de Futebol
1994 - Estados Unidos

<small><a href="https://pt.wikipedia.org/wiki/Cl%C3%A1udio_Taffarel">Claudio André Taffarel</a>
<a href="https://pt.wikipedia.org/wiki/Jorge_de_Amorim_Campos">Jorge de Amorim Campos (Jorginho)</a>
<a href="https://pt.wikipedia.org/wiki/Ricardo_Rocha_(futebolista)">Ricardo Roberto Barreto da Rocha</a>
<a href="https://pt.wikipedia.org/wiki/Ronald%C3%A3o">Ronaldo Rodrigues de Jesus (Ronaldão)</a>
<a href="https://pt.wikipedia.org/wiki/Mauro_Silva">Mauro da Silva</a>
<a href="https://pt.wikipedia.org/wiki/Branco_(futebolista)">Claudio Ibraim Vaz Leal (Branco)</a>
<a href="https://pt.wikipedia.org/wiki/Bebeto">José Roberto Gama de Oliveira (Bebeto)</a>
<a href="https://pt.wikipedia.org/wiki/Dunga">Carlos Caetano Bledorn Verri (Dunga)</a>
<a href="https://pt.wikipedia.org/wiki/Zinho">Crizam Cezar de Oliveira Filho (Zinho)</a>
<a href="https://pt.wikipedia.org/wiki/Raí">Raí Souza Vieira de Oliveira</a>
<a href="https://pt.wikipedia.org/wiki/Romário">Romário de Souza Faria</a>
<a href="https://pt.wikipedia.org/wiki/Zetti">Aumerino Doceizzette Quaglianto (Zetti)</a>
<a href="https://pt.wikipedia.org/wiki/Aldair_(futebolista)">Aldair Nascimento Santos</a>
<a href="https://pt.wikipedia.org/wiki/Cafu">Marcos Evangelista de Moraes (Cafu)</a>
<a href="https://pt.wikipedia.org/wiki/M%C3%A1rcio_Santos">Marcio Roberto dos Santos</a>
<a href="https://pt.wikipedia.org/wiki/Leonardo_Nascimento_de_Ara%C3%BAjo">Leonardo Nascimento de Araújo</a>
<a href="https://pt.wikipedia.org/wiki/Iomar_do_Nascimento">Iomar do Nascimento (Mazinho)</a>
<a href="https://pt.wikipedia.org/wiki/Paulo_S%C3%A9rgio_Silvestre_Nascimento">Paulo Sergio Silvestre do Nascimento</a>
<a href="https://pt.wikipedia.org/wiki/M%C3%BCller_(futebolista)">Luis Antonio Correa da Costa (Muller)</a>
<a href="https://pt.wikipedia.org/wiki/Ronaldo_Naz%C3%A1rio">Ronaldo Luiz Nazário de Lima</a>
<a href="https://pt.wikipedia.org/wiki/Viola_(futebolista)">Paulo Sergio Rosa (Viola)</a>
<a href="https://pt.wikipedia.org/wiki/Gilmar_Rinaldi">Gilmar Luiz Rinaldi</a></small>

<small>Homenagem realizada em março de 2011
Prefeitura da Cidade do Rio de Janeiro
Secretaria Municipal de Conservação
e Serviços Públicos</small></pre>
	<pre class="inscription-text">
Jogadores Penta-Campeões
do Campeonato Mundial
de Futebol
2002 - Coréia do Sul - Japão

<small><a href="https://pt.wikipedia.org/wiki/Marcos_Roberto_Silveira_Reis">Marcos Roberto Silveira Reis</a>
<a href="https://pt.wikipedia.org/wiki/Cafu">Marcos Evangelista de Morais (Cafu)</a>
<a href="https://pt.wikipedia.org/wiki/Lucimar_da_Silva_Ferreira">Lucimar da Silva Ferreira (Lucio)</a>
<a href="https://pt.wikipedia.org/wiki/Roque_J%C3%BAnior">José Vitor Roque Junior (Roque Junior)</a>
<a href="https://pt.wikipedia.org/wiki/Edm%C3%ADlson">José Edmílson Gomes de Moraes (Edmílson)</a>
<a href="https://pt.wikipedia.org/wiki/Roberto_Carlos_(futebolista)">Roberto Carlos da Silva Rocha</a>
<a href="https://pt.wikipedia.org/wiki/Ricardinho_(futebolista,_1976)">Ricardo Luiz Pozzi Rodrigues (Ricardinho)</a>
<a href="https://pt.wikipedia.org/wiki/Gilberto_Silva">Gilberto Aparecido da Silva</a>
<a href="https://pt.wikipedia.org/wiki/Rivaldo">Rivaldo Vitor Borba Ferreira</a>
<a href="https://pt.wikipedia.org/wiki/Ronaldinho_Ga%C3%BAcho">Ronaldo de Assis Moreira (Ronaldinho Gaúcho)</a>
<a href="https://pt.wikipedia.org/wiki/Dida_(futebolista)">Nelson de Jesus Silva (Dida)</a>
<a href="https://pt.wikipedia.org/wiki/Belletti">Juliano Haus Belletti (Belletti)</a>
<a href="https://pt.wikipedia.org/wiki/%C3%82nderson_Polga">Anderson Correa Polga (Polga)</a>
<a href="https://pt.wikipedia.org/wiki/Kl%C3%A9berson">José Kléberson Pereira</a>
<a href="https://pt.wikipedia.org/wiki/J%C3%BAnior_Nagata">Jenilson ângelo de Souza (Junior)</a>
<a href="https://pt.wikipedia.org/wiki/Den%C3%ADlson_de_Oliveira">Denilson de Oliveira Araújo</a>
<a href="https://pt.wikipedia.org/wiki/Vampeta">Marcos André Batista Santos (Vampeta)</a>
<a href="https://pt.wikipedia.org/wiki/Juninho_Paulista">Osvaldo Giroldo Júnior (Juninho Paulista)</a>
<a href="https://pt.wikipedia.org/wiki/Ed%C3%ADlson_Capetinha">Edílson da Silva Ferreira</a>
<a href="https://pt.wikipedia.org/wiki/Luiz_Carlos_Bombonato_Goulart">Luiz Carlos Bombonato Goulart (Luizão)</a>
<a href="https://pt.wikipedia.org/wiki/Rog%C3%A9rio_Ceni">Rogério Mucke Ceni</a>
<a href="https://pt.wikipedia.org/wiki/Kak%C3%A1">Ricardo Izecson dos Santos Leite (Kaká)</a></small>

<small>Homenagem realizada em março de 2011
Prefeitura da Cidade do Rio de Janeiro
Secretaria Municipal de Conservação
e Serviços Públicos</small></pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Márcio Mará, Thiago Dias (20 de março de 2014).
			<a href="https://ge.globo.com/bau-do-esporte/noticia/2014/03/estatua-do-bellini-homenagem-ao-eterno-capitao-tem-muitas-versoes.html">Estátua
			do Bellini, homenagem ao eterno capitão, tem muitas versões</a>.
			<i>GloboEsporte.com</i>.
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]); %>