---
layout: monument.ejs
name: Busto de Alexander Fleming
categoria: busto
tags: [
	possui escrita
]
series: [
	"UFRJ (Ilha do Fundão)"
]

data_inaug: 1956-07-13
altura: 
largura: 
material: 
autores: Leonardo Lima

local: Centro de Ciências da Saúde
bairro: Cidade Universitária
lat: -22.84259
lon: -43.23419

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Giulia Rasga (12 de julho de 2023).
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
			Arquivo pessoal.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem a Alexander Fleming (06/08/1881–11/03/1955), descobridor da
		penicilina. Foi entregue à Prefeitura em 14 de junho de 1956, pelo
		professor e vice-reitor da então Universidade do Brasil, Delindo
		Couto.<sup>1</sup> Na ocasião, ainda não era claro onde o busto seria
		instalado.
	</p>
	<p>
		Foi inaugurado no dia 13 de julho de 1956,<sup>2</sup> provavelmente já na
		Praça Ozanan, em Botafogo, onde estava marcado para ser limpado em
		1960.<sup>3</sup>
	</p>
	<p>
		Foi eventualmente movido para a Cidade Universitária, no Centro de Ciências
		da Saúde, da UFRJ.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (15 de junho de 1956).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_06&pagfis=63108">Busto
			de Alexandre Fleming</a>. <i>Correio da Manhã</i>, p.7 [via Hemeroteca
			Digital da Biblioteca Nacional].
		</li>
		<li>
			"L." (17 de julho de 1956).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_03&pagfis=52002">Os
			Dois Ausentes</a>. <i>Diario de Noticias</i> [via Hemeroteca Digital
			da Biblioteca Nacional].
		</li>
		<li>
			S.n. (17 de julho de 1956).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=110523_06&pagfis=5056">Reis,
			músicos e heróis vão passar pela Operação Limpeza das Canoas até Campo
			Grande</a>. <i>O Jornal</i> [via Hemeroteca Digital da Biblioteca
			Nacional].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2019-full.jpg" data-llb-src="href">
			<img src="gallery-2019.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Eduardo de Oliveira / Radis Comunicação e Saúde (30 de setembro de 2019),
				<a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY-NC-SA 2.0</a>,
				via <a href="https://www.flickr.com/photos/radiscomunicacaoesaude/48832509653/">Flickr</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p>
				Assinatura na traseira do busto
			</p>
			<p class="credits">
				Foto: Matheus Avellar (25 de julho de 2023), via
				<a href="https://commons.wikimedia.org/wiki/File:Busto_de_Alexander_Fleming_no_CCS-UFRJ_(julho_2023)_(assinatura).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no próprio busto contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Leonardo Lima
1956</pre>
	<p>
		Além disso, há uma inscrição no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
          A
Alexandre Fleming
   Homenagem
         do
       Brasil</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>