---
layout: monument.ejs
name: Estátua de Clarice Lispector
categoria: estátua
tags: [
	"possui escrita",
	"animal:canino:cachorro",
	"pessoa:mulher"
]
series: [
	"Praia do Leme"
]

data_inaug: 2016-05-14
altura: 
largura: 
material: []
autores: [
	"Edgar Duvivier (filho)"
]

local: Praia do Leme
bairro: Leme
lat: -22.96297
lon: -43.16453

imrj: 502
wikidata: Q67205249
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (30 de abril de 2024).
		</p>
	</figcaption>
</figure>
<section class="description">
	<blockquote>
		A ideia de homenagear Clarice Lispector, que morou no Leme durante 12 anos,
		partiu da professora de literatura Teresa Monteiro, biógrafa de Clarice, e
		foi encampada, entre outras pessoas, pela atriz Beth Goulart, que
		representou a escritora no teatro. Juntas, elas fizeram um abaixo-assinado
		para que a estátua de Clarice, com o cachorro Ulisses, fosse erguida.<br>
		Quando o artista Edgar Duvivier foi convidado para esculpir a estátua, como
		não havia patrocínio, ele produziu 40 miniaturas de Clarice com o cachorro
		que foram vendidas para admiradores da escritora, conseguindo assim o
		dinheiro necessário.
	</blockquote>
	<cite>
		— Alana Gandra; Talita Cavalcante (ed.) (15 de maio de 2016).
		<a href="https://agenciabrasil.ebc.com.br/cultura/noticia/2016-05/fa-de-clarice-lispector-se-emociona-ao-sentar-junto-estatua-da-escritora-no">Fã
		de Clarice Lispector chora ao se sentar junto à estátua da escritora no
		Rio</a>. <i>Agência Brasil</i>.
	</cite>
	<p>
		As miniaturas tiveram custo de R$2500 cada,<sup>1</sup> totalizando 100 mil
		reais. Foram produzidas, no total, 51 miniaturas – pois, das 40 originais,
		11 foram furtadas no dia 4 de maio de 2016 e tiveram que ser
		substituídas.<sup>2</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Ancelmo Gois (6 de abril de 2016).
			<a href="https://blogs.oglobo.globo.com/ancelmo/post/maquetes-da-sua-estatua-de-clarice-lispector-assinada-por-edgar-duvivier.html">Edgar
			Duvivier vende maquetes da estátua de Clarice Lispector</a>.
			<i>Ancelmo.com</i> / <i>O Globo</i>.
		</li>
		<li>
			S.n. (6 de maio de 2016).
			<a href="https://g1.globo.com/rio-de-janeiro/noticia/2016/05/artista-plastico-edgar-duviver-lamenta-furto-de-estatuas-no-rio.html">Artista
			plástico Edgar Duviver lamenta furto de estátuas no Rio</a>. <i>G1</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2024a-full.jpg" data-llb-src="href">
			<img src="gallery-2024a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (30 de abril de 2024).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2024b-full.jpg" data-llb-src="href">
			<img src="gallery-2024b.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (30 de abril de 2024).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2015-full.jpg" data-llb-src="href">
			<img src="gallery-2015.jpg">
		</a>
		<figcaption>
			<p>Uma das miniaturas produzidas para financiar a estátua</p>
			<p class="credits">
				Post: Gregório Duviver (9 de julho de 2015).
				<a href="https://www.instagram.com/p/46-KgjxFkQ/">vai ter Clarice
				Lispector no Rio!</a>. <i>Instagram</i>
				[<a href="https://archive.ph/wahrO">arquivado</a> no Archive.today].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há duas placas próximas ao monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Há três coisas para as quais eu nasci e para as quais eu dou minha vida.

Nasci para amar os outros, nasci para escrever, e nasci para criar meus filhos.

O 'amar os outros' é tão vasto que inclui até perdão para mim mesma, com o que sobra.

Clarice Lispector</pre>
	<pre class="inscription-text">
Rio
Prefeitura

PREFEITURA DA CIDADE DO RIO DE JANEIRO

Clarice Lispector

10/12/1920 – 09/12/1977

Escritora, morou no Leme entre 1959–1977
Esta homenagem foi idealizada por BETH GOULART, pelo passeio "O Rio de Clarice", de Teresa Montero,
Mariala Müller e Niura Antunes, realizada pelo escultor EDGAR DUVIVIER
com a colaboração de GREGORIO DUVIVIER.
Os custos foram pagos com a verba arrecadada através da venda de 40 maquetes deste monumento.

PREFEITO DA CIDADE DO RIO DE JANEIRO
EDUARDO PAES

SECRETÁRIO DE COSNERVAÇÃO E SERVIÇOS PÚBLICOS
MARCUS BELCHIOR CORRÊA NETO

Inaugurado em 14 de maio de 2016.</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>