---
layout: monument.ejs
name: Coreto da Praça dos Bichinhos
alt_names: [
]

categoria: obra
tags: [
	"sem galeria"
]

data_inaug: 
data_circa: 
altura: 
largura: 
peso: 
material: Argamassa e ferro

autores: [
]

local: Praça Hans Klussmann
bairro: Tijuca
lat: -22.93565
lon: -43.2349

imrj: 739
wikidata: Q67205104
structurae: 
cona: 
hpip:
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Estela Neto,
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Coreto_da_Pra%C3%A7a_do_Bichinhos_-_Rio_de_Janeiro_-_20220909103030.jpg">Wikimedia
			Commons</a> (9 de setembro de 2022).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Coreto localizado na Praça Hans Klussmann, popularmente conhecida como Praça
		dos Bichinhos.
	</p>
</section>
<section class="refs">
<!-- 	<ol>
	</ol> -->
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol>
	</ol> -->
</section>