---
layout: monument.ejs
name: Monumento ao Centenário da Abertura dos Portos
categoria: obra
tags: [
	"preliminar"
]
series: [
	Exposição Nacional de 1908
]

data_inaug: 1908
altura: 3
largura: 
material: Bronze

autores: [
	Eugène-Paul Benet
]

local: Praia do Flamengo
bairro: Glória
lat: -22.92246
lon: -43.17263

imrj: 246
wikidata: Q67210112
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p>
			Escultura da escadaria norte do monumento, "Navegação"
		</p>
		<p class="credits">
			Foto: Halley Pacheco de Oliveira (8 de janeiro de 2012),
			<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>,
			<a href="https://commons.wikimedia.org/wiki/File:Monumento_Comemorativo_da_Abertura_dos_Portos_-_Navega%C3%A7%C3%A3o.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
<!-- 	<p>
		Parte das reformas para a Exposição Nacional de 1908, realizadas para
		comemorar o centenário da decretação de abertura dos portos do Brasil ao
		comércio internacional.
	</p> -->
<!--
http://www0.rio.rj.gov.br/patrimonio/proj_abert_portos.shtm
http://memoria.ebc.com.br/agenciabrasil/noticia/2008-02-23/apos-restauracao-monumento-que-lembra-abertura-dos-portos-e-reinaugurado-no-rio
https://oglobo.globo.com/eu-reporter/monumento-centenario-pichado-por-vandalos-na-gloria-3441017
-->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2012-full.jpg" data-llb-src="href">
			<img src="gallery-2012.jpg">
		</a>
		<figcaption>
			<p>
				Escultura da escadaria sul do monumento, "Comércio"
			</p>
			<p class="credits">
				Foto: Halley Pacheco de Oliveira (8 de janeiro de 2012),
				<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>,
				<a href="https://commons.wikimedia.org/wiki/File:Monumento_Comemorativo_da_Abertura_dos_Portos_-_Com%C3%A9rcio.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-c1918-full.jpg" data-llb-src="href">
			<img src="gallery-c1918.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: A. Ribeiro (circa 1918).
				<a href="https://acervos.ims.com.br/portals/#/detailpage/82724">Rua do
				Russel; Avenida Beira-Mar</a> [via Instituto Moreira Salles].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
