---
layout: monument.ejs
name: Monumento a Oswaldo Diniz Magalhães
alt_names: [
	Monumento ao Rádio Ginasta
]
categoria: escultura
tags: []
series: [
	Praça Saens Peña
]

data_inaug: 1957-05-16
altura: 
largura: 
peso: 
material: [
	Bronze
]

autores: [
	Matheus Fernandes
]

local: Praça Saens Peña
bairro: Tijuca
lat: -22.92381
lon: -43.23187

imrj: 704
wikidata: Q67204882
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Estela Neto (8 de setembro de 2022),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Oswaldo_Diniz_Magalh%C3%A3es_-_Rio_de_Janeiro_-_20220908131212.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Escultura em comemoração aos 25 anos (1932–1957) do início da ginástica pelo
		rádio, pelo programa diário "Hora da Ginástica", criado pelo professor de
		educação física Oswaldo Diniz Magalhães (15/10/1904–26/01/1998). Possui uma
		escultura de um rádio-ginasta em cima de um pedestal, o qual possuía uma
		efígie do professor.
	</p>
	<p>
		As inscrições e a efígie no pedestal foram furtadas em algum momento entre
		2020 e 2021.
	</p>
</section>
<section class="refs">
	<!-- <ol></ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1957-full.jpg" data-llb-src="href">
			<img src="gallery-1957.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (16 de maio de 1957).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_06&pagfis=76426">Monumento
				ao Rádio-Ginasta</a>. <i>Correio da Manhã</i> [via Hemeroteca Digital
				da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1966-full.jpg" data-llb-src="href">
			<img src="gallery-1966.jpg">
		</a>
		<figcaption>
			<p>
				Monumento em 1966
			</p>
			<p class="credits">
				Foto: S.n. (29 de novembro de 1966).
				<i>Correio da Manhã</i> [BR RJANRIO PH.0.FOT.2695 d0015de0019, via
				Arquivo Nacional].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição ao redor do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
O Pioneiro
    da
Ginástica
pelo Rádio

Oswaldo Diniz Magalhães

"Cada lar um ginasio;
  cada familia
    uma turma
      de
radio ginastas"

À Cidade
  Os
 Rádio-
Ginastas

  Sempre
a postos
pelo Brasil
16-5-1932
16-5-1957</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ul>
		<li>
			Arlene Lucia Matil, Maitê Garcia Cruz Ribeiro, Maurício Mello Paludo,
			Priscila da Costa Fernandes (c.2005).
			<a href="http://www.brasilcult.pro.br/rio_antigo2/esculturas/esculturas12.htm">Monumento
			a Oswaldo Diniz Magalhães</a>. <i>O Acervo Escultórico do Rio de
			Janeiro</i>, p.12.
		</li>
		<li>
			Rosamary Esquenazi (12 de janeiro de 2015).
			<a href="https://radionahistoria.blogspot.com/2015/01/hora-da-ginastica-com-oswaldo-diniz.html">Hora
			da Ginástica, com Oswaldo Diniz Magalhães</a>. <i>O rádio faz história</i>.
		</li>
	</ul>
</section>
<%- makeOthersFromSeries(arguments[0]) %>