---
layout: monument.ejs
name: Leão
alt_names: [
]

categoria: escultura
tags: [
	sem descrição
]

data_inaug: 1906-01
data_circa: true
altura: 
largura: 
peso: 
material: 

autores: [
	Hippolyte Peyrol
]

local: 
bairro: Alto da Boa Vista
lat: -22.9575
lon: -43.2662

imrj: 803
wikidata: Q67210399
structurae: 
cona: 
hpip:
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (20 de março de 2022).
		</p>
	</figcaption>
</figure>
<section class="description">
<!-- 	<p>
	</p> -->
</section>
<section class="refs">
<!-- 	<ol>
		<li>
		</li>
	</ol> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-c1910-full.jpg" data-llb-src="href">
			<img src="gallery-c1910.jpg">
		</a>
		<figcaption>
			<p>Leão na Praça Floriano Peixoto, em frente ao Theatro Municipal</p>
			<p class="credits">
				Foto: Guilherme Santos (c.1910), via
				<a href="https://acervos.ims.com.br/portals/#/detailpage/90800">Instituto
				Moreira Salles</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol>
	</ol> -->
</section>