---
layout: monument.ejs
name: Busto de Zumbi dos Palmares
categoria: busto
tags: [
	"imagem não-livre"
]
series: []

data_inaug: 2004-11-20
altura: 2.2
largura: 
material: [
	Granito,
	Mármore,
	Bronze
]

autores: [ Clécio Regis ]
homenageados: Zumbi dos Palmares

local: 
bairro: Padre Miguel
lat: -22.87160
lon: -43.45101

imrj: 1023
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Fernanda Costa (20 de novembro de 2022), via
			<a href="https://goo.gl/maps/s5bsiXy118MwcFe29">Google Maps</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Busto em homenagem a Zumbi dos Palmares (1655–20/11/1695), líder quilombola
		e importante figura histórica na luta contra a escravidão. Foi doado à
		prefeitura pela Point Chic Charm, entidade cultural que realiza trabalhos
		sociais em resgate à cultura afrobrasileira, e inaugurado no Dia da
		Consciência Negra de 2004.
	</p>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2004-full.jpg" data-llb-src="href">
			<img src="gallery-2004.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Simone Marinho;
				Reportagem: Rafael Pinna (28 de novembro de 2004).
				"Exaltação permanente a Zumbi". <i>O Globo</i>, p.2 [via
				<a href="https://oglobo.globo.com/acervo/">Acervo O Globo</a>].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2022-full.jpg" data-llb-src="href">
			<img src="gallery-2022.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Fernanda Costa (20 de novembro de 2022), via
				<a href="https://goo.gl/maps/s5bsiXy118MwcFe29">Google Maps</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
     Zumbi dos Palmares
        1655 – 1695
  Zumbi ou Zambi - Guerreiro
"O primeiro grande herói brasileiro"

    No século XVII na capitania de Pernambuco, atualmente
estado de Alagoas, mais precisamente na Serra da Barriga,
escravos negros fugitivos, juntamente com mestiços, brancos e
índios, todos explorados, humilhados e oprimidos, construíram
Palmares, uma sociedade alternativa e democrática, que chegou
a ter 30 mil habitantes e, por quase cem anos, resistiu
a barbárie do governo colonial. Em 1655 nasceu lá, Zumbi,
em Palmares. Capturado ainda criança e entregue aos padres
que o batizaram com o nome de Francisco, retornou a sua
terra natal aos 15 anos, onde se tornou o grande líder da
resistência negra contra a escravidão, comandante guerreiro
do Quilombo de Palmares. Durante este período houve várias
tentativas de invasão.
    Porém, na última batalha, 1694-1695, resistiu até a morte,
teve sua cabeça cortada e exibida na praça pública em Recife.
    O dia 20 de novembro é o aniversário de morte de Zumbi,
por isso é também Dia Nacional da Consciência Negra,
homenagem ao maior herói negro da nossa História.

    "A história do Brasil tem sido contada na versão
conservadora, facciosa e deturpada da realidade, sempre de
acordo com o interesse das classes dominantes".

    "O resgate recente da história de Zumbi é o resgate da
verdadeira história do Brasil".

    Enquanto houver opressão, haverá luta e Zumbi será
lembrado por toda nação.

      20 de novembro de 2004.

      Iniciativa Point Chic Charm

        Produção e execução
        Clécio Regis</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>