---
layout: monument.ejs
name: Farol-Relógio da Mesbla
alt_names: [
	Torre Mesbla,
	Relógio Modelo Mesbla
]
categoria: obra
tags: [
	imagem não-livre
]

data_inaug: 1965-08-28
altura: 9.45
largura: 
comprimento: 
peso: 
material: 

autores: []

local: Praia da Ribeira (ou Praia das Gaivotas)
bairro: Paquetá
lat: -22.7661
lon: -43.1031

imrj: 1164
wikidata: Q10351475

tombado_nome: Decreto 17.555/1999
tombado_desc: "Ficam tombadas definitivamente [...] \
	Relógio do clube de funcionários da Mesbla, junto ao mar"
tombado_quote: true
tombado_url: https://www.rio.rj.gov.br/dlstatic/10112/4722991/4121961/153DECRETO17555APACIlhadePaqueta.pdf
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Gilvanbagatini (10 de março de 2018),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Rel%C3%B3gio_Modelo_Mesbla_-_Paquet%C3%A1.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Presente da então loja de departamentos Mesbla (1912–1999), atual e-commerce
		(2022–), para a ilha de Paquetá. Localizado em frente à antiga colônia de
		férias da Mesbla, atual Hotel Farol, é uma réplica do relógio da Mesbla na
		Rua do Passeio, no Centro. Contudo, ele foi construído primariamente para
		atuar como farol e sirene em tempos de névoa.
	</p>
	<p>
		Segundo reportagem da época, a barca que levava funcionários da Mesbla à
		colônia de férias quase encalhou devido à névoa. Assim, eles levaram a
		reclamação a um diretor da empresa, que descobriu que a ilha não tinha
		recursos para custear a construção de um farol. Então, a Mesbla se
		encarregou de financiá-lo, construindo um farol-relógio similar ao relógio
		da sede no Centro.<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (9 de abril de 1966). <a href="https://acervo.oglobo.globo.com/consulta-ao-acervo/?navegacaoPorData=196019660409">Paquetá
			Ganha Farol de Presente</a>. <i>O Globo</i>, edição matutina, segunda
			seção, p.5.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1925-full.jpg" data-llb-src="href">
			<img src="gallery-1925.jpg">
		</a>
		<figcaption>
			<p>Fotografia do local em 1925, antes da construção do farol</p>
			<p class="credits">
				Foto: S.n. (1925).
				<a href="https://acervos.ims.com.br/portals/#/detailpage/67196">Abrigo
				para barcos na atual praia das Gaivotas, antiga Ribeira</a>.
				<i>Instituto Moreira Salles</i>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2018-full.jpg" data-llb-src="href">
			<img src="gallery-2018.jpg">
		</a>
		<figcaption>
			<p>Fotografia do local em 2018, após a construção do farol</p>
			<p class="credits">
				Foto: <a href="https://goo.gl/maps/iFoThDUCf4T1c8xp7">Google Street
				View</a> (Março de 2018).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1966a-full.png" data-llb-src="href">
			<img src="gallery-1966a.png">
		</a>
		<figcaption>
			<p>Artigo de jornal reportando a construção</p>
			<p class="credits">
				Reportagem: S.n. (9 de abril de 1966).
				<a href="https://acervo.oglobo.globo.com/consulta-ao-acervo/?navegacaoPorData=196019660409">Paquetá
				Ganha Farol de Presente</a>. <i>O Globo</i>, edição matutina, segunda
				seção, p.5.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1966b-full.jpg" data-llb-src="href">
			<img src="gallery-1966b.jpg">
		</a>
		<figcaption>
			<p>Artigo de jornal reportando a inauguração</p>
			<p class="credits">
				Reportagem: S.n. (22 de agosto de 1966).
				<a href="https://acervo.oglobo.globo.com/consulta-ao-acervo/?navegacaoPorData=196019660822C&edicao=Vespertina">Paquetá
				já Tem Relógio e Farol</a>. <i>O Globo</i>, edição vespertina, segunda
				seção, p.3.
			</p>
		</figcaption>
	</figure>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>
