---
layout: monument.ejs
name: Marco do Início das Obras do Bosque da Barra
categoria: marco
tags: [
	"possui escrita"
]
series: [
	"Bosque da Barra"
]

data_inaug: 1979-09-26
altura: 
largura: 
material: 

autores: []

local: Bosque da Barra
bairro: Barra da Tijuca
lat: -22.99738695
lon: -43.36810819

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (4 de junho de 2023),
			via
			<a href="https://commons.wikimedia.org/wiki/File:Marco_do_in%C3%ADcio_das_obras_do_Bosque_da_Barra_(close-up).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		A primeira inauguração do Bosque da Barra foi em 26 de setembro de 1979,
		dia em que foi plantada a primeira árvore do parque por Léa Klabin, esposa
		do então prefeito (1979–1980) Israel Klabin. Embora planejada para 21 de
		setembro, Dia da Árvore, a cerimônia foi adiada devido a chuvas.
	</p>
	<p>
		Presume-se que o marco já estivesse colocado, ou que ele tenha sido colocado
		no mesmo dia. De qualquer forma, teria a mesma data de inauguração do bosque.
	</p>
	<blockquote>
		O prefeito Israel Klabin inaugurou ontem o Bosque da Barra – uma área de 613
		mil m² na confluência das avenidas das Américas e da Alvorada –, que
		receberá, até o fim da primavera, seis mil mudas de árvores. O bosque,
		que é um projeto do arquiteto Lúcio Costa, será o segundo em extensão do
		Rio, e terá pistas para ciclistas, cavaleiros e charretes, play-ground, lago
		e uma ilha. [...]<br>
		Klabin, brincando, incumbiu sua filha de um ano e meio de jogar a primeira
		pá de terra. Depois, passou a tarefa a D. Léa Klabin, que plantou a primeira
		árvore, de dois metros de altura.
	</blockquote>
	<cite>
		— S.n. (27 de setembro de 1979). "Capim colonião e bananeiras ocupam as
		reservas florestais". <i>O Globo</i>, p.11
		[via <a href="https://oglobo.globo.com/acervo/">Acervo O Globo</a>]
	</cite>
</section>
<section class="refs">
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (4 de junho de 2023),
				via
				<a href="https://commons.wikimedia.org/wiki/File:Marco_do_in%C3%ADcio_das_obras_do_Bosque_da_Barra_(ampla).jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Prefeitura
da Cidade do Rio de Janeiro

Marco comemorativo do início das
obras de implantação do Bosque
da Barra.

          Setembro de 1979</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>