---
layout: monument.ejs
name: Resíduo Tecnológico – Casulo do Dragão
alt_names: []
categoria: escultura
tags: [
	"imagem não-livre",
	"possui escrita",
	"escrita ilegível"
]
series: [
	"PUC-Rio"
]

data_inaug: 1995-05-02
altura: 
largura: 
material: Alumínio

autores: [ Roberto Moriconi ]

local: PUC-Rio
bairro: Gávea
lat: -22.97972
lon: -43.23314

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Victor Toscano (16 de junho de 2023).
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
			Arquivo pessoal.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Escultura doada à PUC-Rio por Giovanna Moriconi, viúva do autor da obra,
		Roberto Moriconi, falecido em 1993. Presume-se que tenha sido feita
		com resíduos da obra maior do mesmo autor, O Casulo do Dragão, estrutura de
		5 metros de altura inaugurada em Volta Redonda, RJ.<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (s.d.).
			<a href="https://cultura.voltaredonda.rj.gov.br/monumentosobrasarte/#eael-adv-accordion-e3e4ffe">Monumentos
			e Obras de Arte</a>. <i>Secretaria Municipal de Cultura de Volta
			Redonda</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1995-full.jpg" data-llb-src="href">
			<img src="gallery-1995.jpg">
		</a>
		<figcaption>
			<p>
				Obra na ocasião de sua inauguração
			</p>
			<p class="credits">
				Foto: Adriana Tiefenthaler (2 de maio de 1995).
				"<i>Inauguração de Escultura de Roberto Moriconi no Bosque</i>".
				<i>Revista PUC-Rio - 55 anos</i>, p.7 [via
				<a href="http://nucleodememoria.vrac.puc-rio.br/instrumentos-de-pesquisa/cronologia?page=35">Cronologia
				ano a ano</a>, <i>Núcleo de Memória da PUC-Rio</i>, p.35
				(<a href="https://web.archive.org/web/20230616210237/http://nucleodememoria.vrac.puc-rio.br/instrumentos-de-pesquisa/cronologia?page=35">arquivado</a>);
				também disponível via
				<a href="http://nucleodememoria.vrac.puc-rio.br/acervo/cg0066/009">código
				cg0066_009</a>].
			</p>
		</figcaption>
	</figure>

</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Roberto Moriconi (1932 - 1993)

Resíduo Tecnológico - Casulo do Dragão
Alumínio pintado, 19[?], [?]cm

Doação: [?] Giovanna Moriconi e filhos
                        Maio 199[?]</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>