---
layout: monument.ejs
name: Calçadão de Copacabana
alt_names: [
	Mosaico de Burle Marx de Copacabana
]
categoria: obra
tags: []
series: [
	Praia de Copacabana,
	Pereira Passos
]

data_inaug: 1970-09-16
altura: 
largura: 
comprimento: 4110
material: [
	Pedras portuguesas
]
autores: [
	Roberto Burle Marx
]

local:
bairro: [ Copacabana, Leme ]
lat: -22.97187
lon: -43.1843
fixme: [ "Deveria ser uma linha ao invés de um ponto" ]

imrj: 336
wikidata: Q67203977

inepac: E-18/000.030/91
inepac_url: http://www.inepac.rj.gov.br/index.php/bens_tombados/detalhar/323
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Donatas Dabravolskas (29 de março de 2021),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
			via
			<a href="https://commons.wikimedia.org/wiki/File:Top_Down_View_of_Copacabana_Mosaic_and_Palm_Trees_2.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		As calçadas da Avenida Atlântica foram originalmente construídas como parte
		das reformas na cidade do Rio de Janeiro pelo então prefeito (1902–1906)
		Pereira Passos.<sup>1</sup> As obras foram finalizadas somente em 1919 e,
		logo depois, em 1921, uma ressaca forte destruiu parte da muralha.<sup>1</sup>
	</p>
	<p>
		O design de ondas já estava presente muito antes do trabalho de Burle Marx.
		Alguns se equivocam, acreditando que os desenhos de ondas eram
		exclusivamente perpendiculares à orla antigamente. Por fotografias de circa
		1950, verifica-se que o design de ondas perpendiculares à orla coexistiu com
		o design de ondas paralelas,<sup>2,3</sup> possivelmente separando a Praia
		do Leme da Praia de Copacabana.
	</p>
	<p>
		Uma nova reforma começou em março de 1970, com a intenção de alargar a
		Avenida Atlântica. O trecho inicial, correspondente a 1.100 metros de
		comprimento no Leme,<sup>4</sup> foi inaugurado em 16 de setembro de
		1970.<sup>5</sup> Esta é a obra que existe até hoje, projeto de Burle Marx.
	</p>
	<blockquote>
		Para chegar ao projeto final de urbanização da nova Copacabana, os técnicos
		da SURSAN se basearam em estudos feitos pelo Laboratórios de Engenharia
		Civil de Lisboa e por urbanistas da Pontifícia Universidade Católica do Rio.
		O traço inicial foi feito pelo professor Lúcio Costa e os desenhos das
		calçadas e a arborização por Burle Marx.
	</blockquote>
	<cite>
		— S.n. (15 de setembro de 1970).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_08&pagfis=11433">Inauguração
		oficial da Nova Copacabana</a>. <i>Correio da Manhã</i>, p.12 [via
		Hemeroteca Digital da Biblioteca Nacional].
	</cite>
	<p>
		O resto da Avenida Atlântica foi inaugurado somente no dia 15 de março de
		1971, último dia do então governador (1965–1971) Francisco Negrão de Lima
		no cargo.<sup>6</sup> Contudo, a obra ainda não havia sido totalmente
		concluída, e seu término estava previsto para o dia seguinte.<sup>6</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (26 de agosto de 1970).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_08&pagfis=10703">Gerico
			nos Bairros</a>. <i>Correio da Manhã, Jornal de Serviço</i>, p.8
			[via Hemeroteca Digital da Biblioteca Nacional].
		</li>
		<li>
			Foto: José Medeiros (c.1949).
			<a href="https://acervos.ims.com.br/portals/#/detailpage/5851">Praia de
			Copacabana, vendo-se ao fundo o cinema Rian</a>. <i>Instituto Moreira
			Salles</i>.
		</li>
		<li>
			Foto: Carlos Moskovics (c.1950).
			<a href="https://acervos.ims.com.br/portals/#/detailpage/16381">Praia de
			Copacabana</a>. <i>Instituto Moreira Salles</i>.
		</li>
		<li>
			S.n. (27 de agosto de 1970).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_08&pagfis=10748">Nôvo
			Leme: tudo pronto para a inauguração dia 3</a>. <i>Correio da Manhã,
			Jornal de Serviço</i>, p.13 [via Hemeroteca Digital da Biblioteca
			Nacional].
		</li>
		<li>
			S.n. (17 de setembro de 1970). "<i>Negrão Inaugura a Nova Pista do
			Leme</i>". <i>O Globo</i> [via <a href="https://oglobo.globo.com/acervo/">Acervo
			O Globo</a>].
		</li>
		<li>
			S.n. (15 de março de 1971).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_08&pagfis=18118">Copa,
			a última inauguração</a>. <i>Correio da Manhã</i>, p.4 [via Hemeroteca
			Digital da Biblioteca Nacional].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1922-full.jpg" data-llb-src="href">
			<img src="gallery-1922.jpg">
		</a>
		<figcaption>
			<p>
				Revolta do Forte de Copacabana, em 1922, com a calçada de
				ondas perpendiculares ao fundo
			</p>
			<p class="credits">
				Foto: S.n. (circa 5 de julho de 1922).
				<a href="http://acervo.bndigital.bn.br/sophia/index.asp?codigo_sophia=61013">Revolta
				do Forte de Copacabana</a>. <i>Biblioteca Nacional</i>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-c1930-full.jpg" data-llb-src="href">
			<img src="gallery-c1930.jpg">
		</a>
		<figcaption>
			<p>
				Calçada com ondas paralelas
			</p>
			<p class="credits">
				Foto: Guilherme Santos (circa 1930).
				<a href="https://acervos.ims.com.br/portals/#/detailpage/82771">Praia de
				Copacabana</a>. <i>Instituto Moreira Salles</i>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-c2021-full.jpg" data-llb-src="href">
			<img src="gallery-c2021.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Kseniia Lobko (circa 2021), via
				<a href="https://unsplash.com/photos/FR9iwdBmwgw">Unsplash</a>
				(também no
				<a href="https://www.instagram.com/p/CSU_6m2AZKA/">Instagram</a>).
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Caio Barretto Briso (28 de janeiro de 2015).
			<a href="https://oglobo.globo.com/rio/verao-2016/calcadao-de-copacabana-foi-primeiro-de-pedras-portuguesas-no-rio-15168162">Calçadão
			de Copacabana foi o primeiro de pedras portuguesas no Rio</a>. <i>O Globo</i>.
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]); %>