---
layout: monument.ejs
name: São Pedro do Mar
categoria: escultura
tags: [
	"sem descrição"
]
series: [
	"Monumentos sobre a água"
]

data_inaug: 1959-07-05
altura: 1.8
peso: 100
largura: 
material: [ Bronze ]
autores: [
	Edgar Duvivier (pai)
]

local: Baía de Guanabara
bairro: Urca
lat: -22.94784
lon: -43.16613

imrj: 535
wikidata: Q67203559
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Tatiana Avellar (28 de abril de 2024).
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
			Arquivo pessoal.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		A escultura foi derrubada por uma ressaca entre 10 e 12 de agosto de 2022,<sup>1</sup>
		mas foi reinstalada, com restauração supervisionada por Edgar Duvivier (filho),
		em 22 de junho de 2023.<sup>2</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Jefferson Monteiro (12 de agosto de 2022).
			<a href="https://g1.globo.com/rj/rio-de-janeiro/noticia/2022/08/12/ressaca-derruba-estatua-de-sao-pedro-do-mar-que-ficava-na-baia-de-guanabara-bombeiros-tentam-achar-peca.ghtml">Ressaca
			derruba estátua de São Pedro do Mar que ficava na Baía de Guanabara;
			bombeiros tentam achar peça</a>. <i>G1</i>.
		</li>
		<li>
			S.n. (24 de junho de 2023).
			<a href="https://prefeitura.rio/conservacao/imagem-de-sao-pedro-do-mar-esta-de-volta-a-paisagem-da-urca/">Imagem
			de São Pedro do Mar está de volta à paisagem da Urca</a>. <i>Prefeitura do
			Rio</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1959-full.jpg" data-llb-src="href">
			<img src="gallery-1959.jpg">
		</a>
		<figcaption>
			<p>Cabeça da escultura antes da instalação</p>
			<p class="credits">
				Foto: S.n. (28 de junho de 1959).
				<a href="http://memoria.bn.br/DocReader/089842_06/107639">São
				Pedro do Mar</a>. <i>Correio da Manhã</i>, 4º Caderno, p.4
				[via Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>