---
layout: monument.ejs
name: Busto de Bartlet James
categoria: busto
tags: [
	"possui escrita",
	"escrita ilegível"
]
series: [
	"Praça Saens Peña"
]

data_inaug: 1952-10-18
altura: 
largura: 
peso: 
material: 

autores: [
	Ruffo Fannucchi
]

local: Praça Saens Peña
bairro: Tijuca
lat: -22.9247
lon: -43.2331

imrj: 702
wikidata: Q67204878
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (24 de maio de 2023),
			via <a href="https://commons.wikimedia.org/wiki/File:Busto_de_Bartlet_James_(Pra%C3%A7a_Saens_Pe%C3%B1a)_-_lateral.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem ao deputado federal e senador Bartlet (ou "Bartlett") George
		James (19/03/1886–19/10/1939), marido da revolucionária Nuta Bartlett James.
		O busto foi patrocinado pelo Movimento Libertador da Terra
		Carioca,<sup>1</sup> movimento que defendia a independência política do
		governo do então Distrito Federal (e posteriormente Estado da Guanabara) em
		decorrência da intervenção federal da prefeitura em 1937.
	</p>
	<blockquote>
		Amanhã, às 10 horas, na praça Saens Pena, o prefeito inaugurará a herma do
		saudoso deputado Bartlett James, figura de destaque nos movimentos
		revolucionários de 22 e 30 e líder da emancipação do Distrito Federal.
	</blockquote>
	<cite>
		— S.n. (17 de outubro de 1952).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_03&pagfis=19752">Herma
		de Bartlett James</a>. <i>Diario de Noticias</i>, p.4, via <i>Hemeroteca
		Digital da Biblioteca Nacional</i>.
	</cite>
	<p>
		O pedestal inicialmente possuía uma placa um pouco mais explicativa.
		Contudo, segundo o IMRJ, o busto foi retirado em 1976 para as obras do metrô
		e consequentemente guardado no depósito da Fundação Parques e Jardins. Só
		foi retornado à praça 20 anos depois, em 1996, com um novo pedestal cuja
		placa só dizia "Bartlet James". Esta, também, foi perdida em algum ponto.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (26 de abril de 2018).
			<a href="https://oglobo.globo.com/rio/bairros/moradores-da-tijuca-desconhecem-personagens-homenageados-em-estatuas-da-regiao-22625602">Moradores
			da Tijuca desconhecem personagens homenageados em estátuas da região</a>.
			<i>O Globo</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1952a-full.jpg" data-llb-src="href">
			<img src="gallery-1952a.jpg">
		</a>
		<figcaption>
			<p>Inauguração do busto</p>
			<p class="credits">
				Foto: "Mário/Agência Nacional" (18 de outubro de 1952).
				[BR RJANRIO EH.0.FOT, PPU.4054 d0002de0002], via <i>Arquivo Nacional</i>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1952b-full.jpg" data-llb-src="href">
			<img src="gallery-1952b.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (19 de outubro de 1952).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_03&pesq=%22Bartlett%20James%22%20%22busto%22&pagfis=19810">A
				Memória do Deputado Bartlett James</a>. <i>Diario de Noticias</i>, p.3,
				via <i>Hemeroteca Digital da Biblioteca Nacional</i>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2014-full.jpg" data-llb-src="href">
			<img src="gallery-2014.jpg">
		</a>
		<figcaption>
			<p>Busto em 2014, ainda com placa</p>
			<p class="credits">
				Foto: Leandro Rocha (13 de novembro de 2014),
				<a href="https://creativecommons.org/licenses/by/3.0/deed.en">CC-BY-3.0</a>,
				via <a href="https://commons.wikimedia.org/wiki/File:2014-11-13_-_Pra%C3%A7a_Saens_Pe%C3%B1a.JPG">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Havia uma placa no monumento, contendo o seguinte texto:
	</p>
	<pre class="inscription-text">Bartlet James</pre>
	<p>
		Anteriormente, a placa continha o seguinte texto:
	</p>
	<pre class="inscription-text">
Ao Dr. Bartlett James
O Movimento Libertador
da Terra Carioca

A Comiss[ão?]
Ariosto [Berna]
Vict[or Mariano?]</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]) %>
