---
layout: monument.ejs
name: Busto de Carlos Chagas
categoria: busto
tags: [
	possui escrita
]
series: [
	"UFRJ (Ilha do Fundão)"
]

data_inaug: 1946-09-14
altura: 
largura: 
material: 
autores: []
homenageados: Carlos Chagas

local: Centro de Ciências da Saúde
bairro: Cidade Universitária
lat: -22.84186
lon: -43.23358

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Giulia Rasga (30 de junho de 2023).
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
			Arquivo pessoal.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem a Carlos Chagas (09/07/1878–08/11/1934), influente cientista e
		infectologista brasileiro, responsável pela descoberta da Doença de Chagas.
	</p>
	<p>
		Um dos filhos de Carlos Chagas, Carlos Chagas Filho, discursou na
		inauguração do busto,<sup>1</sup> instalado na Praia de Botafogo em 14 de
		setembro de 1946. Atualmente se encontra em uma das entradas do Centro de
		Ciências da Saúde, no campus Ilha do Fundão da UFRJ.
	</p>
	<p>
		A fotografia histórica abaixo não é da inauguração do busto, mas de uma
		visita posterior:
	</p>
	<blockquote>
		No seu programa de homenagens aos grandes da medicina brasileira, o I
		Congresso Pan-Americano e o III Congresso Brasileiro de História da
		Medicina, [...] consta uma especial visita á herma de professor Carlos
		Chagas, á Praia de Botafogo, marcada para as 11.30 horas do proximo dia 13.
	</blockquote>
	<cite>
		— S.n. (30 de março de 1958).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=110523_05&pagfis=61164">Flores
		na Herma de Carlos Chagas</a>. <i>O Jornal</i>, p.20 [via Hemeroteca Digital
		da Biblioteca Nacional].
	</cite>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (22 de setembro de 1946).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=364568_13&pagfis=32477">A
			Homenagem a Carlos Chagas</a>. <i>Jornal do Commercio</i>, p.5 [via
			Hemeroteca Digital da Biblioteca Nacional].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1946-full.jpg" data-llb-src="href">
			<img src="gallery-1946.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (14 de setembro de 1946).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_02&pagfis=29658">Inauguração
				da Herma do Professor Carlos Chagas</a>. <i>Diario de Noticias</i>, p.4
				[via Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1958-full.jpg" data-llb-src="href">
			<img src="gallery-1958.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: "Ulisses" (13 de abril de 1958).
				"<i>Homenagem dos membros do Congresso da História da Medicina a Carlos
				Chagas</i>". <i>Agência Nacional</i>. [BR RJANRIO EH.0.FOT, EVE.4328,
				d0002de0002; via <a href="https://sian.an.gov.br/">Arquivo Nacional</a>].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Carlos Chagas
  Homenagem
     do
 1º Congresso
Inter-Americano
     de
   Medicina
7 a 15-IX-1946</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>