---
layout: monument.ejs
name: Busto de Sarah Kubitschek
categoria: busto
tags: [
	"possui escrita",
	"sem descrição",
	"removido",
	"imagem não-livre"
]

data_inaug: 1999-06-27
data_remov: 2023-03-24
motiv_remov: furtado

altura: 
largura: 
material: [
	Bronze,
	Resimármore
]

autores: [
	Marli Mazeredo
]

local: Praça Sarah Kubitschek
bairro: Copacabana
lat: -22.9794
lon: -43.1912

imrj: 327
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Osmar Valença Lima (24 de agosto de 2018), via
			<a href="https://goo.gl/maps/bJARqGvQocSfsGuv5">Google Maps</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		O busto foi furtado em 24 de março de 2023, deixando somente as ondas em
		resina.<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Carmélio Dias (25 de março de 2023).
			<a href="https://oglobo.globo.com/rio/noticia/2023/03/ladroes-levam-busto-de-bronze-em-homenagem-a-ex-primeira-dama-sarah-kubitschek-de-praca-em-copacabana.ghtml">Ladrões
			levam busto de bronze em homenagem à ex-primeira-dama Sarah Kubitschek de praça em Copacabana</a>.
			<i>O Globo</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2023-full.jpg" data-llb-src="href">
			<img src="gallery-2023.jpg">
		</a>
		<figcaption>
			<p>Pedestal sem busto, em 2023</p>
			<p class="credits">
				Foto: Cyro Neves (25 de março de 2023),
				via
				<a href="https://www.tupi.fm/rio/busto-de-sarah-kubitschek-e-furtado-na-zona-sul-o-rio/">Super
				Rádio Tupi</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento, contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Prefeitura
da Cidade do Rio de Janeiro

Sara Kubitschek
1909 - 1996

Primeira dama de 1956 a 1961, esposa
do Presidente da República Juscelino kubitschek

Autoria de Mazeredo
Inaugurado em junho de 1999

Secretaria Municipal de Conservação e Serviços Públicos</pre>
</section>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol>
	</ol> -->
</section>
