---
layout: monument.ejs
name: Busto de Marechal Ramón Castilla
categoria: busto
tags: [
	"possui escrita",
	"sem galeria"
]
series: []

data_inaug: 1988-12-19
altura: 
largura: 
material: 
autores: []

local: 
bairro: Botafogo
lat: -22.95656
lon: -43.17603

imrj: 296
wikidata: Q67210338
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (22 de julho de 2023),
			<a href="https://commons.wikimedia.org/wiki/File:Busto_de_Marechal_Ram%C3%B3n_Castilla_(julho_2023).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem a Ramón Castilla y Marquezado (31/08/1797–30/05/1867),
		revolucionário peruano e presidente do Peru em 3 ocasiões. Foi doação do
		senado do Peru, e inaugurado em celebração ao centenário da abolição da
		escravidão no Brasil (1888–1988), em 19 de dezembro de 1988.<sup>1</sup>
	</p>
	<p>
		Está instalado na esquina rua que leva seu nome, Rua Marechal Ramon
		Castilla, com a Rua Lauro Muller, em Botafogo.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (20 de dezembro de 1988).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=364568_17&pagfis=85071">Peru
			prefere aproximação</a>. <i>Jornal do Commercio</i>, p.8 [via Hemeroteca
			Digital da Biblioteca Nacional].
		</li>
	</ol>
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há duas placas no pedestal do monumento. A placa superior contém o seguinte
		texto:
	</p>
	<pre class="inscription-text">
El Senado del Peru
a la Ciudad de
Rio de Janeiro
MCMLXXXVIII</pre>
	<p>
		A placa inferior contém o seguinte texto:
	</p>
	<pre class="inscription-text">
No ano do centenário da abolição da escravatura no Brasil
A Prefeitura do Rio de Janeiro homenageia o primeiro
libertador de Escravos no continente americano
                Marechal Ramón Castilla
                  Dezembro de 1988
          Prefeito Roberto Saturnino Braga</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Veja mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>