---
layout: monument.ejs
name: Busto de Bartolomeu Mitre
categoria: busto
tags: [
	possui escrita,
	escrita ilegível
]
series: [ Praia de Botafogo ]

data_inaug: 1961-08-14
altura: 
largura: 
material: [
	Bronze
]
autores: [
	José Luis Zorrilla de San Martín
]

local: Praia de Botafogo
bairro: Botafogo
lat: -22.94263
lon: -43.1808

imrj: 284
wikidata: Q67203923
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (2 de junho de 2023), via
			<a href="https://commons.wikimedia.org/wiki/File:Busto_de_Bartolomeu_Mitre_da_Praia_de_Botafogo.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Homenagem a Bartolomé Mitre Martínez (26/06/1821–19/01/1906), presidente da
		Argentina entre 1862 e 1868 e importante figura histórica para o país.
	</p>
	<p>
		O busto esculpido pelo uruguaio Zorrilla de San Martín,<sup>1</sup> e
		oferecido ao Brasil pelo governo argentino. Ele foi inaugurado em frente à
		então Embaixada (atual Consulado Geral) da Argentina no Rio de Janeiro, na
		presença dos descendentes do homenageado.
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			S.n. (15 de agosto de 1961).
			<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=221961_04&pagfis=14088">Mitre
			em Botafogo</a>. <i>Diário da Noite</i>, p.4 [via Hemeroteca Digital da
			Biblioteca Nacional].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1961a-full.jpg" data-llb-src="href">
			<img src="gallery-1961a.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Reportagem: S.n. (15 de agosto de 1961).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_07&pagfis=21393">Monumento
				a Mitre na Praia de Botafogo</a>. <i>Correio da Manhã</i>, p.9,
				[via Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1961b-full.jpg" data-llb-src="href">
			<img src="gallery-1961b.jpg">
		</a>
		<figcaption>
			<p>
				Cerimônia de inauguração do busto
			</p>
			<p class="credits">
				Reportagem: S.n. (15 de agosto de 1961).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_04&pagfis=15928">Monumento
				a Bartolomeu Mitre</a>. <i>Diario de Noticias</i>, p.2,
				[via Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-1961c-full.jpg" data-llb-src="href">
			<img src="gallery-1961c.jpg">
		</a>
		<figcaption>
			<p>
				Busto em 1961
			</p>
			<p class="credits">
				Foto: S.n. (14 de setembro de 1961).
				"Herma de Bartolomeu Mitre - Praia de Botafogo".
				[BR RJ AGCRJ<wbr>.ICO<wbr>.HER<wbr>.BMI<wbr>.267<wbr>.03<wbr>.01, via
				<a href="http://wpro.rio.rj.gov.br/arquivovirtual/web/">Arquivo Geral da
				Cidade do Rio de Janeiro</a>].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Havia uma inscrição no pedestal contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Bartolome[?]
Mitre</pre>
	<p>
		Além disso, o pedestal também possuía uma placa, da qual não consegui
		determinar o texto.
	</p>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]) %>