---
layout: monument.ejs
name: Minerva na entrada do Campus Fundão/UFRJ
categoria: escultura
tags: [
	"preliminar"
]
series: [
	"UFRJ (Ilha do Fundão)"
]

data_inaug: 1996
data_circa: true
altura: 
largura: 
material: 
autores: [
	Joaquim de Lemos e Sousa
]

local: Praça Edson Abdalla Saad
bairro: Cidade Universitária
lat: -22.84544
lon: -43.23815

imrj: 
wikidata: 
---

<figure>
	<!-- <a href="photo.jpg" data-llb-src="href"> -->
		<img src="thumb.jpg">
	<!-- </a> -->
	<figcaption>
		<p class="credits">
			Foto: <a href="https://maps.app.goo.gl/zpC8ofQdXp52hQgu8">Google Street
			View</a> (setembro de 2022).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Um de múltiplos emblemas idênticos em homenagem à deusa romana Minerva.
		Um deles está no exterior do Centro de Tecnologia <%- refID("T155") -%>.
		Dois outros encontram-se dentro dos prédios do Centro de Ciências da Saúde
		(CCS-UFRJ) e do Edifício Jorge Machado Moreira (JMM-UFRJ, popularmente
		conhecido como "prédio da Reitoria").
	</p>
	<p>
		Supondo que foram todas produzidas de uma vez, pode-se inferir que esta
		foi esculpida pelo professor Joaquim de Lemos e Sousa em 1996, como
		<a href="https://commons.wikimedia.org/wiki/File:Minerva_no_Centro_de_Ci%C3%AAncias_da_Sa%C3%BAde_-_UFRJ_(julho_2023)_(detalhe).jpg">escrito
		na escultura do CCS</a>.
	</p>
</section>
<section class="gallery">
	<!-- <h2>Galeria</h2> -->
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma inscrição no pedestal do monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>