---
layout: monument.ejs
name: Chafariz Dança das Águas
alt_names: [
	"As Ninfas – Dança das Águas"
]
categoria: chafariz
tags: [
	"preliminar"
]
series: [
	"Praça Irmãos Bernadelli"
]

data_inaug: 1964
data_circa: yes
altura: 
largura: 
material: []
autores: [ "Remo Bernucci" ]

local: Praça Irmãos Bernadelli
bairro: Cidade Nova
lat: -22.91089
lon: -43.20645

imrj: 207
wikidata: Q67203477
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (22 de abril de 2024), via
			<a href="https://commons.wikimedia.org/wiki/File:Chafariz_Dan%C3%A7a_das_%C3%81guas_(2024-04-22).jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<blockquote>
		Inspirado na Grécia antiga, o chafariz Dança das Águas é feito em concreto e
		tem três figuras femininas em bronze, representando Oceania, Nereida e
		Náiade, ninfas que simbolizam, respectivamente, as águas do oceano, dos
		mares e as águas doces. O monumento, criado pelo escultor Remo Bernucci, foi
		inaugurado na Glória, em 1964, e transferido para a Cidade Nova em 2002.<br>
		Cada uma das figuras femininas em bronze mede três metros de altura. Antes
		de ser encomendada pelo governo para adornar o espaço público, a escultura
		de Bernucci foi premiada no Salão de Belas Artes de 1965.
	</blockquote>
	<cite>
		— S.n. (24 de fevereiro de 2022).
		<a href="https://prefeitura.rio/conservacao/chafariz-danca-das-aguas-que-fica-em-frente-a-sede-da-prefeitura-do-rio-volta-a-funcionar/">Chafariz
		Dança das Águas, que fica em frente à sede da Prefeitura do Rio, volta a
		funcionar</a>. <i>Prefeitura do Rio</i>.
	</cite>
	<!-- https://web.archive.org/web/20210811062147/http://ashistoriasdosmonumentosdorio.blogspot.com/2012/07/o-chafariz-danca-das-aguas.html -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2022-full.jpg" data-llb-src="href">
			<img src="gallery-2022.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Estela Neto (6 de setembro de 2022),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>,
				via <a href="https://commons.wikimedia.org/wiki/File:Chafariz_Dan%C3%A7a_das_%C3%81guas_-_Rio_de_Janeiro_-_20220906161537.jpg">Wikimedia Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
<!-- 	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text"></pre> -->
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>