---
layout: monument.ejs
name: Marco de Inauguração da ATI Praça Xavier de Brito
categoria: marco
tags: [
	"possui escrita"
]
series: [
	"Praça Xavier de Brito"
]

data_inaug: 2012-03-14
altura: 
largura: 
material: 
autores: []

local: Praça Comandante Xavier de Brito
bairro: Tijuca
lat: -22.93189
lon: -43.24367

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (22 de outubro de 2024).
		</p>
	</figcaption>
</figure>
<section class="description">
	<!-- <p></p> -->
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2024-full.jpg" data-llb-src="href">
			<img src="gallery-2024.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (22 de outubro de 2024).
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
<small>Prefeitura
da Cidade do Rio de Janeiro</small>

Academia da Terceira Idade (ATI)
Praça Comandante Xavier de Brito

<small>Prefeito da Cidade do Rio de Janeiro</small>
Eduardo Paes

<small>Secretário Municipal de Saúde e Defesa Civil</small>
Hans Dohmann

<small>Secretária Eespecial de Envelhecimento Saudável e Qualidade de Vida</small>
Cristiane Brasil

<small>Rio de Janeirom 14 de Março de 2012</small></pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Veja mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>
