---
layout: monument.ejs
name: Baleia de Lixo
categoria: escultura
tags: [
	"possui escrita",
	"imagem não-livre"
]
series: [
	"Projeto Rio ao Mar",
	"Bosque da Barra"
]

data_inaug: 2021-07-06
data_circa: true
altura: 
largura: 
material: [
	Metalon,
	Lixo
]

autores: [
	Clécio Regis
]

local: Bosque da Barra
bairro: Barra da Tijuca
lat: -22.99557418
lon: -43.36811432

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (4 de junho de 2023),
			via
			<a href="https://commons.wikimedia.org/wiki/File:Baleia_do_Projeto_Rio_ao_Mar.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Escultura feita a partir de lixo coletado de praias do Rio de Janeiro
		como parte do Projeto Rio ao Mar. Foi exposta inicialmente no AquaRio
		durante a Semana da Criança, em outubro de 2020, junto com
		duas outras: uma cavalo marinho e um polvo. Todas foram doadas à Prefeitura,
		que colocou o Cavalo Marinho e a Baleia no Bosque da Barra.
	</p>
	<blockquote>
		Rio ao Mar é um projeto Id Cultural de ação e conscientização sobre o
		descarte incorreto de lixo que e como isso afeta o mar da nossa cidade.<br>
		Na última edição foram coletados 493,32 Kg de lixo nas praias do Rio e o
		material foi transformado em lindas esculturas em formato de animais
		marinhos, produzidas pelo artista plástico Clécio Regis.<br>
		As belas esculturas foram expostas no AquaRio durante a Semana da Criança
		de 2020 e doadas para a Prefeitura.<br>
		Hoje podem ser apreciadas no Parque Natural Bosque da Barra, na Barra da
		Tijuca.
	</blockquote>
	<cite>
		— "ID Cultural" (circa julho de 2022).
		<a href="https://br.linkedin.com/company/id-cultural">Sem título</a>.
		<i>LinkedIn</i> (<a href="https://archive.ph/8tkuO#85%">arquivado</a>).
	</cite>
	<p>
		A escultura possuía uma placa informativa a sua frente, que foi
		eventualmente perdida. Ela foi instalada até, no máximo, 6 de
		julho de 2021, data em que aparece em uma postagem no Instagram pela
		conta oficial do bosque.<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			"@pnmbosquedabarrarj" (6 de julho de 2021).
			<a href="https://www.instagram.com/p/CRAmwiMnZOM/">Sem título</a>.
			<i>Instagram</i>.
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2020-full.jpg" data-llb-src="href">
			<img src="gallery-2020.jpg">
		</a>
		<figcaption>
			<p>
				Placa informativa na exposição do AquaRio, também movida para o Bosque
				da Barra
			</p>
			<p class="credits">
				Foto: Experiência Única Filmes / Id Cultural / AquaRio (13 de outubro de
				2020). <a href="https://youtu.be/wk8OxykNNcQ">Exposição Mar de Lixo e o
				Projeto Rio ao Mar</a>. <i>YouTube</i>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Havia uma placa próxima à estátua contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
<small>Prefeitura da Cidade do Rio de Janeiro, Secretaria Municipal de Cultura e Id Cultural apresentam:</small>

Rio ao Mar

Baleia de resíduos coletados
nas praias do Rio de Janeiro

mínimo de 80 anos
para se decompor

aproximadamente
100kg de lixos que
poderiam ser reciclados

Resíduos coletados por
voluntários em apenas
algumas horas

para saber mais
sobre o nosso
projeto acesse:
[QR code: <a href="https://www.rioaomar.com.br/">rioaomar.com.br</a>]

<small>Realização</small>
IdCultural

<small>Parceria Estratégica</small>
Rio
Eu Amo
Eu Cuido

<small>Patrocínio</small>
Seadrill

<small>Apoio</small>
AquaRio
Porto Maravilha

Prefeitura
da Cidade do
Rio de Janeiro
<small>Secretaria Municipal
de Cultura</small></pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			S.n. (9 de outubro de 2020).
			<a href="https://blog.aquariomarinhodorio.com.br/2020/10/09/dia-das-criancas-no-aquario-2/">Conheça
			as novas exposições do AquaRio!</a>. <i>AquaRio</i>.
		</li>
		<li>
			Natasha Olsen (9 de outubro de 2020).
			<a href="https://ciclovivo.com.br/fique-ligado/eventos/aquario-expoe-esculturas-gigantes-feitas-com-lixo-das-praias-cariocas/">AquaRio
			expõe esculturas gigantes feitas com lixo das praias cariocas</a>.
			<i>CicloVivo</i>.
		</li>
		<li>
			<strong>Vídeo:</strong>
			"Vamos Fugir" (14 de novembro de 2021).
			<a href="https://youtu.be/HutMf9DE7Bo?t=625">O que fazer no Rio de Janeiro
			(Bosque da Barra)</a>. <i>YouTube</i>.
		</li>
	</ol>
</section>
<%- makeOthersFromSeries(arguments[0]); %>