---
layout: monument.ejs
name: Chafariz da Praça São Salvador
alt_names: [
	Chafariz 'A Fonte'
]
categoria: chafariz
tags: [
	"possui escrita"
]
series: [
	Praça São Salvador
]

data_inaug: 1903
data_circa: true
altura: 
largura: 
material: [
	Ferro fundido
]
autores: [
	Louis Sauvageau
]

local: Praça São Salvador
bairro: Laranjeiras
lat: -22.93396
lon: -43.18033

imrj: 279
wikidata: Q69363551
inepac: E-18/001.553/98
inepac_url: http://www.inepac.rj.gov.br/index.php/bens_tombados/detalhar/317
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: "Boaventuravinicius" (22 de maio de 2020),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Chafariz_da_Pra%C3%A7a_San_Salvador_em_Maio_de_2020.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Chafariz localizado no centro da Praça São Salvador, presente desde antes de
		1915. Vera Dias, do IMRJ, estima que o chafariz foi instalado em 1903,
		"quando foi construído o jardim no centro do qual a obra fora
		posicionada".<sup>1</sup> O chafariz é às vezes chamado de "A Fonte", nome
		atribuído à escultura em seu topo; o chafariz é uma combinação de múltiplas
		partes:
	</p>
	<p>
		→ Uma cópia da escultura feminina por Louis Sauvageau
		(compare: <a href="https://www.wikidata.org/wiki/Q117074257">Chafariz
		"Flora"</a>, em São Petersburgo, Rússia;
		<a href="https://www.wikidata.org/wiki/Q106434015">Chafariz da "Fonte"</a>,
		em Limoux, França; sua <a href="https://commons.wikimedia.org/wiki/File:Louis_Sauvageau_-_Deusa_Thetis_-_1862.jpg">gêmea</a>
		no Jardim Botânico), assinada "Sauvageau 1862";
	</p>
	<p>
		→ Uma bacia ornamentada de ferro, creditada às Fundições de Val d'Osne pelo
		IMRJ.
	</p>
	<p>
		Ficou sem água por cerca de 50 anos, desde circa 1915 até algum ponto entre
		outubro de 1963 e março de 1964 (provavelmente novembro de 1963), quando
		foi restaurado.
	</p>
	<blockquote>
		Ficará pronto dentro de 30 dias o chafariz da praça São Salvador, que estava
		sem funcionamento há 50 anos e será restaurado juntamente com a praça, que
		será totalmente recuperada.
	</blockquote>
	<cite>
		— S.n. (1 de outubro de 1963).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=093718_04&pagfis=33256">Avenida
		Evitará Expansão da Favela do Morro do Pasmado</a>.
		<i>Diario de Noticias</i> [via Hemeroteca Digital da Biblioteca Nacional].
	</cite>
	<blockquote>
		Na Praça São Salvador, vê-se hoje o belo e antigo chafariz, que foi
		inteiramente reconstituído.
	</blockquote>
	<cite>
		— S.n. (1 de março de 1964).
		<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=030015_08&pagfis=50294">Jardins
		e parques do Rio serão remodelados para festejos do IV Centenário</a>.
		<i>Jornal do Brasil</i> [via Hemeroteca Digital da Biblioteca Nacional].
	</cite>
</section>
<section class="refs">
	<ol>
		<li>
			Vera Dias (14 de novembro de 2010).
			<a href="https://web.archive.org/web/20221017212551/http://ashistoriasdosmonumentosdorio.blogspot.com/2010/11/praca-sao-salvador-chafariz-de.html">Praça
			São Salvador, Chafariz La Fonte</a>. <i>As histórias dos monumentos do
			Rio de Janeiro</i> [via Wayback Machine].
		</li>
	</ol>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1916-full.jpg" data-llb-src="href">
			<img src="gallery-1916.jpg">
		</a>
		<figcaption>
			<p>
				Reclamação de 1916 sobre a falta de água no chafariz já "há muito
				tempo"
			</p>
			<p class="credits">
				Reportagem: S.n. (27 de março de 1916).
				<a href="https://memoria.bn.br/DocReader/DocReader.aspx?bib=089842_02&pagfis=27452">O
				chafariz da praça São Salvador não tem agua ha muito tempo</a>.
				<i>Correio da Manhã</i> [via Hemeroteca Digital da Biblioteca Nacional].
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-c1915-full.jpg" data-llb-src="href">
			<img src="gallery-c1915.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Augusto Malta (circa 1915).
				<a href="https://acervos.ims.com.br/portals/#/detailpage/17282">Praça
				São Salvador</a> [via Instituto Moreira Salles].
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma inscrição aos pés da escultura contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Sauvageau 1862</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]) %>
