---
layout: monument.ejs
name: Marco de Inauguração do Viaduto Jardel Filho
categoria: marco
tags: [
	"possui escrita"
]
series: [
	
]

data_inaug: 1982-10
altura: 
largura: 
material: 

autores: [  ]

local: 
bairro: Laranjeiras
lat: -22.93491
lon: -43.18562

imrj: 
wikidata: 
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Matheus Avellar (31 de janeiro de 2025).
		</p>
	</figcaption>
</figure>
<section class="description">
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2025-full.jpg" data-llb-src="href">
			<img src="gallery-2025.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Matheus Avellar (31 de janeiro de 2025).
			</p>
		</figcaption>
	</figure>
</section>
<section class="inscription">
	<h2>Inscrição</h2>
	<p>
		Há uma placa no monumento contendo o seguinte texto:
	</p>
	<pre class="inscription-text">
Prefeitura
da Cidade do Rio de Janeiro

Viaduto Jardel Filho

Inaugurado em Outubro de 1982

Governador do Estado do Rio de Janeiro
Chagas Freitas

Prefeito da Cidade do Rio de Janeiro
Julio Coutinho

Secretário de Obras e Serviços Públicos
Renato da Silva Almeida

Diretor do Departamento Geral de Obras Públicas
Josino Coelho de Souza</pre>
</section>
<%- makeMap(arguments[0]); %>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol></ol> -->
</section>
<%- makeOthersFromSeries(arguments[0]); %>