---
layout: monument.ejs
name: Bica da Rainha
categoria: chafariz
tags: [
	sem descrição
]

data_inaug: 1808
altura: 
largura: 
material: 

autores: []

local: Rua das Laranjeiras
bairro: Cosme Velho
lat: -22.9407
lon: -43.1971

imrj: 431
wikidata: Q48862982
iphan: 154-T-1938
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Eugenio Hansen,
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Bica_da_Rainha_2.jpg">Wikimedia
			Commons</a> (1 de agosto de 2019)
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		
	</p>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-1856-full.jpg" data-llb-src="href">
			<img src="gallery-1856.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Ilustração: Pieter Gotfred Bertichen,
				via <a href="https://commons.wikimedia.org/wiki/File:Bica_da_Rainha_(Larangeiras),_da_Cole%C3%A7%C3%A3o_Brasiliana_Iconogr%C3%A1fica.jpg">Wikimedia
				Commons</a> (1856)
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2009-full.jpg" data-llb-src="href">
			<img src="gallery-2009.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Halley Pacheco de Oliveira,
				<a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC-BY-SA-3.0</a>,
				via <a href="https://commons.wikimedia.org/wiki/File:Bica_da_Rainha.jpg">Wikimedia
				Commons</a> (28 de novembro de 2009)
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2019-full.jpg" data-llb-src="href">
			<img src="gallery-2019.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Eugenio Hansen,
				<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
				via <a href="https://commons.wikimedia.org/wiki/File:Bica_da_Rainha_1.jpg">Wikimedia
				Commons</a> (1 de agosto de 2019)
			</p>
		</figcaption>
	</figure>
</section>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			S.n. (1935)
			<a href="https://www.docvirt.com/docreader.net/DocReader.aspx?bib=CRV_RevistaIHGB&pagfis=97530">Chafarizes
			do Largo do Capim, de Catumbi e Bica da Rainha</a>. <i>Revista do
			Instituto Histórico e Geográfico Brasileiro</i>, vol.170, p.78.
		</li>
	</ol>
</section>
